<div class="login" ng-controller="LoginFormController as login">
  <div class="login-header"></div>
  <!-- START panel-->
  <div class="login-body">
    <div class="login-panel-wrap">
      <div>
        <div class="login-logo"></div>
        <div class="panel-body p0">
          <div id="loadingBar" ng-if="login.inProgress" style="width: 100%">
            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
          </div>
          <div class="login-panel" ng-class="{'login-panel-extra': login.servers && login.servers.length === 2}">
            <p class="text-center login-title" translate="{{'login.SIGN_IN'}}"></p>
            <form
              class="form-validate mb-lg login-form" name="login.loginForm" novalidate=""
              role="form"
            >
              <div class="form-group has-feedback">
                <label>{{'login.USERNAME' | translate}}</label>
                <input
                  autocomplete="off" autofocus class="form-control" id="Email1"
                  maxlength="{{'general.FILTER_MAX_LEN' | translate}}" name="account_email"
                  ng-model="login.account.email" required="" type="text"
                />
                <span class="fa fa-user form-control-feedback text-muted login-icon"></span>
                <!--suppress JSUnresolvedVariable -->
                <span
                  class="text-danger login-error"
                  ng-show="login.loginForm.account_email.$dirty &amp;&amp;
                  login.loginForm.account_email.$error.required"
                >{{'login.USER_REQUIRED' | translate}}</span>
              </div>
              <div class="form-group has-feedback">
                <label>{{'login.PASSWORD' | translate}}</label>
                <input
                  class="form-control" id="password1"
                  ng-trim="false"
                  ng-attr-type="{{ showPassword ? 'text':'password'}}"
                  maxlength="{{'general.FILTER_MAX_LEN' | translate}}"
                  name="account_password" ng-model="login.account.password" required
                />
                <span class="fa form-control-feedback login-icon text-muted"
                      ng-show="login.account.password"
                      ng-click="showPassword=!showPassword"
                      ng-class="showPassword ? 'fa-eye-slash' : 'fa-eye'"
                      style="cursor: pointer; pointer-events: all;"
                ></span>
                <!--suppress JSUnresolvedVariable -->
                <span
                  class="text-danger login-error"
                  ng-show="login.loginForm.account_password.$dirty &amp;&amp;
                  login.loginForm.account_password.$error.required"
                >{{'login.PASSWORD_REQUIRED' | translate}}</span>
              </div>
              <div class="mt-xl clearfix" ng-show="login.servers && login.servers.length===1">
                <!--suppress JSUnresolvedVariable -->
                <button
                  ng-click="login.login()" ng-disabled="login.loginForm.$invalid"
                  style="float: left" type="submit"
                >
                  {{'login.LOGIN' | translate}}
                </button>
                <div
                  style="padding: 12px; text-align:center; width: 8%; float: left"
                  translate="{{'login.OR'}}"
                ></div>
                <!--suppress JSUnresolvedVariable -->
                <button
                  ng-click="login.oktaLogin()"
                  ng-show="login.samlEnabled"
                  style="float: left"
                >
                  {{'login.OKTA_LOGIN' | translate}}
                </button>
                <!--suppress JSUnresolvedVariable -->
                <button
                  ng-click="login.oidcLogin()"
                  ng-show="login.oidcEnabled"
                  style="float: left"
                >
                  {{'login.OIDC_LOGIN' | translate}}
                </button>
              </div>
              <div class="mt-xl" ng-show="login.servers && login.servers.length===2">
                <!--suppress JSUnresolvedVariable -->
                <button
                  ng-click="login.login()" ng-disabled="login.loginForm.$invalid"
                  style="width: 100%; margin-bottom: 15px" type="submit"
                >
                  {{'login.LOGIN' | translate}}
                </button>
                <div class="clearfix">
                  <!--suppress JSUnresolvedVariable -->
                  <button
                    ng-click="login.oktaLogin()"
                    ng-show="login.samlEnabled"
                    style="float: left"
                  >
                    {{'login.OKTA_LOGIN' | translate}}
                  </button>
                  <div
                    style="padding: 12px; text-align:center; width: 8%; float: left"
                    translate="{{'login.OR'}}"
                  ></div>
                  <!--suppress JSUnresolvedVariable -->
                  <button
                    ng-click="login.oidcLogin()"
                    ng-show="login.oidcEnabled"
                    style="float: left"
                  >
                    {{'login.OIDC_LOGIN' | translate}}
                  </button>
                </div>
              </div>
              <div class="mt-xl" ng-hide="login.servers && login.servers.length>0">
                <!--suppress JSUnresolvedVariable -->
                <button
                  ng-click="login.login()" ng-disabled="login.loginForm.$invalid"
                  style="width: 100%" type="submit"
                >
                  {{'login.LOGIN' | translate}}
                </button>
              </div>
            </form>
            <div class="text-danger text-center clearfix" ng-class="{'mt': login.servers && login.servers.length === 2}" ng-show="login.authMsg" style="padding: 0 10px; clear:both">
              {{login.authMsg}}
            </div>
          </div>
        </div>
      </div>
      <!-- END panel-->

    </div>
  </div>
  <div class="login-footer">
    <div class="text-center text-muted">
      <span>&copy;</span>
      <span ng-bind="app.year"></span>
      <span>-</span>
      <span ng-bind="app.name"></span>&nbsp;|&nbsp;
      <span ng-bind="app.description"></span>
    </div>
  </div>
</div>
