<div class="d-flex align-items-center justify-content-between">
  <div class="d-flex align-items-center justify-content-start">
    <span class="font-weight-bold text-info">
      <span *ngIf="filtered">
        {{ 'enum.FOUND' | translate }}
        {{ filteredCount }}&nbsp;/
      </span>
      <span *ngIf="!filtered"> {{ 'enum.OUT_OF' | translate }}&nbsp; </span>
      {{ platformsCount }}
    </span>
  </div>
  <div class="d-flex align-items-center justify-content-end">
    <div *ngIf="isScanAuthorized">
      <ng-container *ngIf="selectedPlatform$ | async as selectedPlatform">
        <button
          mat-stroked-button
          aria-label="Scan action"
          type="button"
          class="me-3"
          (click)="scan.emit(selectedPlatform)"
          [disabled]="!selectedPlatform">
          {{ 'scan.SCAN' | translate }}
        </button>
      </ng-container>
    </div>
    <app-quick-filter
      [gridOptions]="gridOptions"
      [gridApi]="gridApi"
      (filterCountChange)="filterCountChanged($event)"
      [showCount]="false"
      class="mt-1">
    </app-quick-filter>
  </div>
</div>
<ag-grid-angular
  (window:resize)="onResize()"
  [ngStyle]="{ height: gridHeight + 'px' }"
  [gridOptions]="gridOptions"
  [rowData]="platformsService.platforms"
  id="platforms-grid"
  style="width: 100%"
  class="ag-theme-balham">
</ag-grid-angular>
