<div
  *ngIf="
    (params.data.cfg_type === CFG_TYPE.FED &&
      isWriteRegistryAuthorized &&
      isFedAdmin) ||
    (params.data.cfg_type === CFG_TYPE.CUSTOMER && isWriteRegistryAuthorized)
  ">
  <button
    (click)="edit()"
    aria-label="Edit button"
    matTooltip="{{ 'registry.TIP.EDIT' | translate }}"
    mat-icon-button>
    <i class="eos-icons">edit</i>
  </button>
  <button
    (click)="delete()"
    aria-label="Delete button"
    matTooltip="{{ 'registry.TIP.DELETE' | translate }}"
    mat-icon-button>
    <i class="eos-icons">delete</i>
  </button>
</div>
<button
  *ngIf="!isWriteRegistryAuthorized"
  (click)="view()"
  aria-label="View button"
  matTooltip="{{ 'registry.TIP.VIEW' | translate }}"
  mat-icon-button>
  <mat-icon fontSet="fa" fontIcon="fa-newspaper"></mat-icon>
</button>
