.dialog-title {
  margin: 10px;
}

.mat-mdc-form-field.no-background {
  --mat-form-field-container-color: transparent;
  --mat-form-field-active-indicator-color: transparent;

  ::ng-deep .mat-mdc-form-field-flex {
    height: 100%;
    align-items: flex-end;
  }
  ::ng-deep .mat-mdc-form-field-hint-wrapper {
    padding-inline-start: 0;
    justify-content: flex-start;
  }

}
