$eos-dark-submenu-background: $eos-bc-dt-gray-100;
$eos-dark-submenu-item-selected-color: $eos-bc-green-500;
$eos-dark-submenu-item-hover-color: $eos-bc-gray-300;
$eos-dark-submenu-item-color: $eos-bc-white;
