<div>
  <div class="d-flex align-items-center justify-content-end">
    <div
      role="button"
      class="hand mr-3 margin-top-s"
      *ngIf="cfgType !== CFG_TYPE.GROUND && isWriteDlpAuthorized"
      (click)="openEditGroupSensorModal()">
      <em class="eos-icons">edit</em>
    </div>
    <mat-slide-toggle
      class="mr-2 margin-top-s"
      id="group-dlp-sensor-status-toggle"
      [disabled]="!isWriteDlpAuthorized || cfgType === CFG_TYPE.GROUND"
      [(ngModel)]="enabled"
      [ngModelOptions]="{standalone: true}"
      (toggleChange)="toggleDLPConfigEnablement(enabled)"
    >
      <span
        [ngClass]="{
          'text-muted': !enabled,
          'text-success': enabled
        }"
      >
        {{
          (enabled
            ? "policy.status.ENABLED"
            : "policy.status.DISABLED") | translate
        }}
      </span>
    </mat-slide-toggle>
    <app-quick-filter
      class="pull-left"
      [gridOptions]="gridOptions4GroupDlpSensors"
      [showCount]="false"
    >
    </app-quick-filter>
  </div>
  <div class="clearfix">
    <ag-grid-angular
      id="group-dlp-sensors-grid"
      style="width: 100%;"
      [ngStyle]="{ height: (resizableHeight - 150) + 'px' }"
      class="ag-theme-balham"
      [gridOptions]="gridOptions4GroupDlpSensors"
      >
    </ag-grid-angular>
  </div>
</div>
