// Width of media queries are from bootstrap

$nv-desktop-width-lg:                           $screen-lg-desktop; // Usually 1200px
$nv-desktop-width:                              $screen-desktop;    // Usually 992px
$nv-tablet-width:                               $screen-sm-min;     // Usually 768px
$nv-mobile-width:                               $screen-phone;      // Usually 480px

// Inverse measured media queries

$nv-desktop-width-max-lg:                           ($screen-lg-desktop - 1); // Usually 1199px
$nv-desktop-width-max:                              ($screen-desktop - 1);    // Usually 991px
$nv-tablet-width-max:                               ($screen-sm-min - 1);     // Usually 767px
$nv-mobile-width-max:                               ($screen-phone - 1);      // Usually 479px
