<div class="score-container">
  <ngx-gauge
    class="score"
    type="arch"
    [max]="100"
    [value]="score"
    [animate]="true"
    [duration]="1"
    [foregroundColor]="gaugeColor"
    [thick]="10"
    cap="round"
    [size]="120">
  </ngx-gauge>
  <div class="score-label" [ngStyle]="{ color: gaugeLabelColor }">
    {{ gaugeLabel }}
  </div>
  <table style="margin: -10px auto 0 auto">
    <tr class="mb-sm text-sm text-center dashboard-summary-title">
      <td>{{ 'dashboard.heading.NODES' | translate }}</td>
      <td>{{ 'dashboard.heading.PODS' | translate }}</td>
    </tr>
    <tr class="mb-sm text-sm text-center dashboard-summary-value">
      <td>{{ nodesCnt }}</td>
      <td>{{ podsCnt }}</td>
    </tr>
  </table>
</div>
