<div class="d-flex align-items-center justify-content-between">
  <div class="d-flex align-items-center justify-content-start">
    <span class="mr-2">
      <span *ngIf="filtered">
        {{ 'enum.FOUND' | translate }}
        {{ filteredCount }}&nbsp;/&nbsp;
      </span>
      {{ roleCount }}
      {{ 'role.COUNT_POSTFIX' | translate }}
    </span>
    <button
      (click)="addRole()"
      *appDisplayControl="'roles'"
      class="d-flex align-items-center justify-content-start px-2"
      id="roles-add-dialog"
      mat-stroked-button>
      <i class="eos-icons mr-2">add_circle</i>{{ 'role.ADD' | translate }}
    </button>
  </div>
  <div class="d-flex align-items-center justify-content-end">
    <app-loading-button
      (btnClick)="refresh()"
      [appearance]="'mat-button'"
      [buttonClasses]="'d-flex justify-content-center align-items-center'"
      [disabled]="!!(refreshing$ | async)"
      [iconClasses]="'eos-icons icon-18'"
      [iconName]="'refresh'"
      [id]="'roles-refresh-button'"
      [loading]="!!(refreshing$ | async)"
      [text]="'network.REFRESH' | translate"
      [type]="'button'"
      class="mr-3">
    </app-loading-button>
    <app-quick-filter
      [gridOptions]="gridOptions"
      (filterCountChange)="filterCountChanged($event)"
      [showCount]="false">
    </app-quick-filter>
  </div>
</div>
<ag-grid-angular
  (window:resize)="onResize()"
  [gridOptions]="gridOptions"
  class="ag-theme-alpine"
  style="width: 100%; height: 300px">
</ag-grid-angular>
