/* Borders variables
   ========================================================================== */
$eos-base-border-radius-size: 0;
$eos-base-selected-items-border: 3px;
$eos-base-border-color: $eos-bc-gray-50;
