/* Primary colors variables. Shades generated at : http://mcg.mbitson.com/
   ========================================================================== */
/* brand color - green */
/* TODO: Add RGB Values */
$eos-bc-green-100: #e4f6ee; //rgb(228, 246, 238);
$eos-bc-green-500: #30ba78; //rgb(48, 186, 120);
$eos-bc-green-900: #0e7e3c; //rgb(14, 126, 60);

/* brand color - Pine */
$eos-bc-pine-500: #0c322c; //rgb(12, 50, 44);

/* brand color - cerulean */
$eos-bc-cerulean-100: #b3e8f6; //rgb(179, 232, 246);
$eos-bc-cerulean-500: #00b2e2; //rgb(0, 178, 226);
$eos-bc-cerulean-900: #008acf; //rgb(0, 138, 207);

/* brand color - red */
$eos-bc-red-100: #f5c2c7; //rgb(245, 194, 199);
$eos-bc-red-500: #dc3545; //rgb(220, 53, 69);
$eos-bc-red-900: #c5161f; //rgb(197, 22, 31);

/* brand color - yellow */
$eos-bc-yellow-100: #ffecb5; //rgb(255, 236, 181);
$eos-bc-yellow-500: #ffc107; //rgb(255, 193, 7);
$eos-bc-yellow-900: #ff9e02; //rgb(255, 158, 2);

/* brand color - blue */
$eos-bc-blue-500: #2453ff; //rgb(36,83,255);

/* brand color - Persimmon */
$eos-bc-persimmon-500: #fe7c3f; //rgb(254,124,63);

/* brand color - gray */
$eos-bc-gray-50: #f2f2f2; //rgb(242, 242, 242);
$eos-bc-gray-100: #e0dfdf; //rgb(224, 223, 223);
$eos-bc-gray-300: #b6b4b4; //rgb(182, 180, 180);
$eos-bc-gray-500: #969494; //rgb(150, 148, 148);
$eos-bc-gray-700: #757575; //rgb(117, 117, 117);
$eos-bc-gray-900: #686565; //rgb(104, 101, 101);
$eos-bc-gray-1000: #141823; //rgb(20, 24, 35);

/* brand color - neutral */
$eos-bc-white: #fff; //rgb(255, 255, 255);

/* brand color - dark theme   */
$eos-bc-dt-gray-100: #2b2e38; //rgb(43, 46, 56);
$eos-bc-dt-gray-200: #1f222b; //rgb(31, 34, 43);

/* brand color - branding */
$eos-bc-waterhole-blue: #2453ff;
