/* Meaningful colors variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss */
$eos-color-main: $eos-bc-green-500;
$eos-color-default: $eos-bc-gray-500;
$eos-color-info: $eos-bc-cerulean-500;
$eos-color-danger: $eos-bc-red-500;
$eos-color-success: $eos-bc-green-500;
$eos-color-warning: $eos-bc-yellow-500;
