/* Media query variables
   ========================================================================== */
/**
* Media query variables for mobile and tablets
*
* $eos-sd-min for Small Devices (mobile) and $eos-md-min for Medium Devices (tablets)
*/
$eos-sd-min: 360px;
$eos-sd-max: 769px;
$eos-md-min: 770px;
$eos-md-max: 1336px;
