/* Paragraph variables
   ========================================================================== */
/* Variables: /assets/stylesheets/eos-base/variables/typography.scss */
$eos-p-margin-top: $eos-font-size-base;
$eos-p-font-size: $eos-font-size-base;
$eos-p-line-height: $eos-line-height;
