/* Spacing variables
   ========================================================================== */
/**
* Spacing variables used for margins and paddings
*
* $eos-space-base: base size from which the rest of the sizes are calculated
*/
$eos-space-base: 16px;

$eos-m: $eos-space-base; // this is the regular size = 16px
$eos-xs: $eos-m * 0.25; // = 4px
$eos-s: $eos-m * 0.5; // = 8px
$eos-l: $eos-m + ($eos-m * 0.5); // = 24px
$eos-xl: $eos-m * 2; // = 32px
$eos-xxl: $eos-m * 3; // = 48px
$eos-xxxl: $eos-m * 4; // = 64px
