/* Card dark theme variables
   ========================================================================== */
/**
* Linked variables
*
* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss
* Shadows variables: /assets/stylesheets/eos-base/variables/shadows.scss
*
* */

$eos-dark-card-color: $eos-bc-white;
$eos-dark-card-header-footer: $eos-bc-dt-gray-100;
$eos-dark-card-body: $eos-bc-dt-gray-200;
$eos-dark-card-subtitle: $eos-bc-gray-300;
