<label [id]="field.templateOptions?.id" class="me-2">{{
  field.templateOptions?.label ?? '' | translate
}}</label>
<mat-slider
  [attr.aria-labelledby]="field.templateOptions?.id"
  [formlyAttributes]="field"
  [max]="field.templateOptions?.max"
  [min]="field.templateOptions?.min"
  [step]="field.templateOptions?.step"
  class="mx-2">
  <input
    matSliderThumb
    [formControl]="formControl"
    (input)="changeValue($event)" />
</mat-slider>
<span>{{
  field.templateOptions?.stepValues
    ? field.templateOptions?.stepValues[interval || formControl.value]
    : interval || formControl.value
}}</span>
