<ng-container *ngIf="field.formControl.hasError(formlyValidators.REQUIRED)">
  {{ 'general.REQUIRED' | translate }}
</ng-container>
<ng-container *ngIf="field.formControl.hasError('maxLength')">
  {{ 'general.FILTER_MAX_LEN' | translate }}
</ng-container>
<ng-container *ngIf="field.formControl.hasError(formlyValidators.URL)">
  {{ 'okta.INVALID_URL' | translate }}
</ng-container>
<ng-container *ngIf="field.formControl.hasError(formlyValidators.ObjName)">
  {{ 'setting.webhook.NAME_NG' | translate }}
</ng-container>
<ng-container *ngIf="field.formControl.hasError(formlyValidators.FedName)">
  {{ 'setting.webhook.NAME_PATTERN_NG' | translate }}
</ng-container>
<ng-container
  *ngIf="field.formControl.hasError(formlyValidators.WebhookUserName)">
  {{ 'setting.webhook.LOCAL_NAME_PATTERN_NG' | translate }}
</ng-container>
<ng-container *ngIf="field.formControl.hasError(formlyValidators.PortRange)">
  {{ 'setting.message.PORT_RANGE' | translate }}
</ng-container>
<ng-container *ngIf="field.formControl.hasError(formlyValidators.EmailFormat)">
  {{ 'setting.message.EMAIL_Format' | translate }}
</ng-container>
