<div class="screen-area">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="font-weight-light">
      {{ 'sidebar.nav.SIGSTORE_VERIFIERS' | translate }}
    </h1>
    <!-- <div class="d-flex align-items-center justify-content-end">
      <button
        mat-button
        aria-label="export sigstore"
        *appDisplayControl="'review_rule'"
        (click)="exportWafSensors()">
        <em class="eos-icons icon-18 me-1">download</em>
        {{ 'admissionControl.EXPORT' | translate }}
      </button>
      <button
        mat-button
        aria-label="import sigstore"
        (click)="openImportSigstoreModal()"
        *appDisplayControl="'write_sigstore'">
        <em class="eos-icons icon-18 me-1">upload</em>
        {{ 'admissionControl.IMPORT' | translate }}
      </button>
    </div> -->
    <div class="d-flex align-items-center justify-content-end">
      <app-loading-button
        (btnClick)="refresh()"
        [appearance]="'mat-button'"
        [buttonClasses]="'d-flex justify-content-center align-items-center'"
        [disabled]="false"
        [iconClasses]="'eos-icons icon-18'"
        [iconName]="'refresh'"
        [id]="'waf-refresh-button'"
        [loading]="false"
        [text]="'network.REFRESH' | translate"
        [type]="'button'">
      </app-loading-button>
    </div>
  </div>
  <ng-container>
    <app-adjustable-div [minHeightOne]="163" [minHeightTwo]="140">
      <ng-container *appContainerOne="let height">
        <mat-card [ngStyle]="{ height: height + 'px' }" class="pt-0">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-start align-items-center">
              <span class="font-weight-bold text-info">
                <span *ngIf="filtered">
                  {{ 'enum.FOUND' | translate }}
                  {{ filteredCount }}&nbsp;/
                </span>
                <span *ngIf="!filtered">
                  {{ 'enum.OUT_OF' | translate }}&nbsp;
                </span>
                {{ signatureCount }}
              </span>
            </div>
            <div class="d-flex justify-content-end align-items-center">
              <button
                mat-stroked-button
                aria-label="add signature"
                class="me-4"
                (click)="openAddEditSignatureModal()"
                *appDisplayControl="'write_sigstore'">
                <em class="eos-icons icon-18">add_circle</em>
                {{ 'admissionControl.INSERT' | translate }}
              </button>
              <app-quick-filter
                class=""
                [gridOptions]="gridOptions4Signatures"
                [gridApi]="gridApi4Signatures"
                (filterCountChange)="filterCountChanged4Signature($event)"
                [showCount]="false">
              </app-quick-filter>
            </div>
          </div>
          <div class="clearfix">
            <ag-grid-angular
              id="certs-grid"
              style="width: 100%"
              [ngStyle]="{ height: height - 90 + 'px' }"
              class="ag-theme-balham"
              [gridOptions]="gridOptions4Signatures"
              [rowData]="signatures"
              [context]="context">
            </ag-grid-angular>
          </div>
        </mat-card>
      </ng-container>
      <ng-container *appContainerTwo="let height">
        <mat-card [ngStyle]="{ height: height + 'px' }" class="pt-0">
          <div class="d-flex justify-content-between align-items-center">
            <label
              class="panel-text-title mt-sm d-flex justify-content-start align-items-center">
              <span *ngIf="selectedSignature">{{
                selectedSignature.name | shortenFromMiddle : 30
              }}</span>
            </label>
            <div class="d-flex justify-content-end align-items-center">
              <button
                mat-stroked-button
                aria-label="add signature"
                class="me-4"
                [disabled]="!selectedSignature"
                (click)="openAddEditVerifierModal()"
                *appDisplayControl="'write_sigstore'">
                <em class="eos-icons icon-18">add_circle</em>
                {{ 'admissionControl.INSERT' | translate }}
              </button>
              <app-quick-filter
                class=""
                [gridOptions]="gridOptions4Verifiers"
                [gridApi]="gridApi4Verifiers"
                [showCount]="false">
              </app-quick-filter>
            </div>
          </div>
          <ag-grid-angular
            id="verifiers-grid"
            style="width: 100%"
            [ngStyle]="{ height: height - 90 + 'px' }"
            class="ag-theme-balham"
            [gridOptions]="gridOptions4Verifiers"
            [context]="context">
          </ag-grid-angular>
        </mat-card>
      </ng-container>
    </app-adjustable-div>
  </ng-container>
</div>
