<div style="position: relative; width: 100%;">
    <div id="summary-droplist" class="summary-list" ng-style="dimension">
        <div class="content" compile="htmlContent" style="height: 100%;" ng-mouseover="toggleSummary($event, true)" ng-mouseleave="toggleSummary($event, false)">

        </div>
        <div ng-if="type==='drag-down'" class="drag-bar" ng-click="toggleSummary($event)" ng-style="top">
            &#9868;
        </div>
    </div>
    <div ng-if="type==='info-click'" class="fa fa-info-circle text-muted" aria-hidden="true" ng-mouseover="toggleSummary($event, true)" ng-mouseleave="toggleSummary($event, false)" ng-style="buttonPosition">
    </div>
</div>