<div
  class="settings-widget"
  ng-class="submenu.disabled"
  ng-controller="settingsWidgetContoller"
  ng-click="goSettingDetails(submenu.link)"
>
  <div ng-if="submenu.imageType==='photo'" class="feature-photo">
    <img
      ng-src="https://secure.gravatar.com/avatar/{{submenu.photo}}?s=80&d=https%3A%2F%2Fui-avatars.com%2Fapi%2F/{{submenu.name}}/80/0D8ABC/fff"
      alt="{{submenu.name}}"
      class="img-thumbnail img-circle"
    />
  </div>
  <div ng-if="submenu.imageType==='image'" class="feature-image">
    <div class="{{submenu.image}}"></div>
  </div>
  <div class="feature-title">
    {{submenu.title}}
  </div>
  <div class="feature-description">
    {{submenu.description}}
  </div>
</div>
