<button
  mat-icon-button
  [matMenuTriggerFor]="dropdown_globalNotifications"
  #notificationMenuTrigger="matMenuTrigger"
  (menuOpened)="menuOpened()"
  [matBadge]="notificationLength"
  [disabled]="!notificationLength"
  class="nav-white">
  <mat-icon>notifications</mat-icon>
</button>
<mat-menu
  #dropdown_globalNotifications="matMenu"
  xPosition="before"
  class="global-notification-list">
  <ng-container *ngFor="let notification of globalNotifications">
    <div
      *ngIf="!notification.accepted"
      class="d-flex align-items-center justify-content-between"
      [class]="'badge-' + notification.labelClass"
      (click)="$event.stopPropagation()"
      mat-menu-item>
      <a
        [href]="notification.link"
        [class]="notification.unClamped ? '' : 'notification-clamped'"
        [id]="notification.name"
        (click)="closeMenu()">
        {{ notification.message }}
      </a>
      <div class="ml-3 d-flex flex-column">
        <em class="eos-icons icon-18" (click)="accept(notification, $event)"
          >check_circle</em
        >
        <em
          class="eos-icons icon-18"
          *ngIf="isClamped(notification.name)"
          (click)="unClamp(notification)"
          >arrow_drop_down</em
        >
      </div>
    </div>
  </ng-container>
</mat-menu>
