.nav-white {
  color: #fff !important;
}

.notification-message {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 12px;
  &.clamped {
    -webkit-line-clamp: 2;
  }
  &.unclamped {
    -webkit-line-clamp: none;
  }
}

