/* Badges variables
   ========================================================================== */
/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
$eos-badge-margin-left: $eos-s;
$eos-badge-font-size: .8em;
$eos-badge-border-radius: 4px;

/* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss */
$eos-badge-dark-background: $eos-bc-gray-900;
$eos-badge-span-background: $eos-bc-white;
$eos-badge-color: $eos-bc-gray-1000;
$eos-badge-color-white: $eos-bc-white;

$eos-badge-primary: $eos-bc-green-500;
$eos-badge-secondary: $eos-bc-gray-500;
$eos-badge-secondary-bg: $eos-bc-gray-100;
$eos-badge-danger: $eos-bc-red-900;
$eos-badge-warning: $eos-bc-yellow-500;
$eos-badge-info: $eos-bc-cerulean-900;
