<mat-card class="margin-bottom-m dashboard-card">
  <mat-card-title >{{'dashboard.body.panel_title.TOP_VULNERABLE_' + assetType.toUpperCase() | translate}}</mat-card-title>
  <mat-card-content>
    <div
      class="row margin-horizon-0"
      *ngIf="dashboardDetailsService.highPriorityVulnerabilities"
    >
      <app-top-vulnerable-assets-chart
        class="col-sm-12"
        [highPriorityVulnerabilities]="dashboardDetailsService.highPriorityVulnerabilities"
        [assetType]="assetType"
      ></app-top-vulnerable-assets-chart>
    </div>
  </mat-card-content>
</mat-card>
