<app-containers-printable-report
  *ngIf="isPrinting && loaded"
  class="printable-area"
  [containers]="quarantinedContainers"></app-containers-printable-report>
<section id="containers-section" class="screen-area">
  <div class="d-flex flew-row align-items-center justify-content-between">
    <h1 class="font-weight-light" id="containers-title">
      {{ 'sidebar.nav.CONTAINERS' | translate }}
    </h1>
    <div class="d-flex align-items-center justify-content-end">
      <ng-container *ngIf="!error">
        <div class="me-3" *ngIf="autoScanAuthorized && containers.length > 0">
          <mat-slide-toggle
            [formControl]="autoScan"
            (change)="configAutoScan(auto_scan || false)">
            {{ 'scan.AUTO' | translate }}
            <em
              class="fa fa-info-circle"
              matTooltip="{{ 'scan.AUTO_TIP_WORKLOAD' | translate }}"
              matTooltipPosition="above">
            </em>
          </mat-slide-toggle>
        </div>
        <app-assets-scan-report-button [assetType]="'container'">
        </app-assets-scan-report-button>
        <button
          *ngIf="quarantinedContainers.length > 0"
          aria-label="Print quarantined container report PDF"
          type="button"
          (click)="print()"
          mat-button>
          {{ 'containers.report.title' | translate }}
          <em class="eos-icons icon-18">print</em>
        </button>
        <button
          mat-button
          [matMenuTriggerFor]="view_menu"
          aria-label="View menu"
          type="menu">
          <i class="eos-icons" style="font-size: 16px">settings</i>
          {{ 'network.SETTING' | translate }}
        </button>
        <mat-menu #view_menu="matMenu">
          <div
            mat-menu-item
            class="mat-menu-checkbox"
            (click)="$event.stopPropagation()">
            <mat-checkbox
              [formControl]="showSystem"
              (change)="nodeFilterChange()">
              {{ 'network.SHOW_SYS_PODS' | translate }}
            </mat-checkbox>
          </div>
        </mat-menu>
      </ng-container>
      <app-loading-button
        (btnClick)="refresh()"
        [appearance]="'mat-button'"
        [buttonClasses]="'d-flex justify-content-center align-items-center'"
        [disabled]="!!(refreshing$ | async)"
        [iconClasses]="'eos-icons icon-18'"
        [iconName]="'refresh'"
        [id]="'containers-refresh-button'"
        [loading]="!!(refreshing$ | async)"
        [text]="'network.REFRESH' | translate"
        [type]="'button'">
      </app-loading-button>
    </div>
  </div>
  <ng-container *ngIf="loaded; else loadingOrErrorTemplate">
    <app-adjustable-div [minHeightOne]="163" [minHeightTwo]="140">
      <ng-container *appContainerOne="let height">
        <mat-card [ngStyle]="{ height: height + 'px' }" class="pt-0">
          <app-containers-grid
            [gridHeight]="height - 85"
            [isScanAuthorized]="isAutoScanAuthorized"
            [linkedContainer]="linkedContainer"
            (scan)="configScan($event)">
          </app-containers-grid>
        </mat-card>
      </ng-container>
      <ng-container *appContainerTwo="let height">
        <mat-card
          *ngIf="selectedContainer"
          style="display: block"
          [ngStyle]="{ height: height + 'px' }"
          class="pt-0">
          <app-container-details
            [gridHeight]="height - 80"
            [container]="selectedContainer">
          </app-container-details>
        </mat-card>
      </ng-container>
    </app-adjustable-div>
  </ng-container>
  <ng-template #loadingOrErrorTemplate>
    <ng-container *ngIf="error; else loadingTemplate">
      <mat-card>
        {{ error | json }}
      </mat-card>
    </ng-container>
    <ng-template #loadingTemplate>
      <app-loading-template></app-loading-template>
    </ng-template>
  </ng-template>
</section>
