<ng-container *ngIf="container">
  <ng-container [ngSwitch]="activeTab">
    <ng-container *ngSwitchCase="'compliance'">
      <div class="filter" [class.filter-icon-1]="!complianceEmpty">
        <div class="d-flex">
          <button
            *ngIf="!complianceEmpty"
            aria-label="Export compliance CSV"
            type="button"
            class="me-3"
            (click)="complianceGrid.exportCSV()"
            mat-icon-button>
            <i class="eos-icons icon-18">csv_file</i>
          </button>
        </div>
        <mat-form-field class="quick-filter">
          <mat-label>{{ 'enum.FILTER' | translate }}</mat-label>
          <input [formControl]="filter" matInput />
        </mat-form-field>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'vulnerabilities'">
      <div class="filter" [class]="'filter-icon-' + visibleIcons">
        <div class="d-flex">
          <button
            [matMenuTriggerFor]="menu"
            class="mx-2 d-flex align-items-center justify-content-center"
            mat-button>
            {{ activeScore }} <i class="eos-icons">arrow_drop_down</i>
          </button>
          <mat-menu #menu="matMenu">
            <button (click)="changeScoreView('V2')" mat-menu-item>
              {{ 'scan.gridHeader.SCORE_V2' | translate }}
            </button>
            <button (click)="changeScoreView('V3')" mat-menu-item>
              {{ 'scan.gridHeader.SCORE_V3' | translate }}
            </button>
          </mat-menu>
          <ng-container *ngIf="isVulsAuthorized">
            <button
              *ngIf="
                isWriteVulsAuthorized &&
                selectedVulnerability &&
                !isAccepted(selectedVulnerability)
              "
              attr.aria-label="{{ 'cveProfile.ACCEPT_VUL' | translate }}"
              matTooltip="{{ 'cveProfile.ACCEPT_VUL' | translate }}"
              matTooltipPosition="above"
              class="me-3"
              (click)="onAcceptVulnerability(selectedVulnerability)"
              mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-check-square"></mat-icon>
            </button>
            <button
              #acceptedTooltip="matTooltip"
              type="button"
              [attr.aria-label]="acceptedVulsMsg"
              [matTooltip]="acceptedVulsMsg"
              matTooltipPosition="above"
              class="me-1"
              (click)="toggleAcceptedVuls()"
              mat-icon-button>
              <mat-icon
                style="font-size: 14px"
                fontSet="fa"
                [fontIcon]="
                  !showAcceptedVuls ? 'fa-eye' : 'fa-eye-slash'
                "></mat-icon>
            </button>
          </ng-container>
          <button
            *ngIf="!vulEmpty"
            aria-label="Export vulnerabilities CSV"
            type="button"
            class="me-3"
            (click)="exportCVE()"
            mat-icon-button>
            <i class="eos-icons icon-18">csv_file</i>
          </button>
        </div>
        <mat-form-field class="quick-filter">
          <mat-label>{{ 'enum.FILTER' | translate }}</mat-label>
          <input [formControl]="filter" matInput />
        </mat-form-field>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'process'">
      <div class="filter filter-icon-1">
        <div class="d-flex">
          <button
            #processHistoryTooltip="matTooltip"
            mat-icon-button
            style="top: 12px"
            [attr.aria-label]="processHistoryMsg"
            [matTooltip]="processHistoryMsg"
            matTooltipPosition="above"
            type="button"
            class="me-3"
            (click)="toggleProcessHistory()">
            <mat-icon
              style="font-size: 14px"
              fontSet="fa"
              [fontIcon]="
                !showProcessHistory ? 'fa-eye' : 'fa-eye-slash'
              "></mat-icon>
          </button>
        </div>
        <mat-form-field class="quick-filter">
          <mat-label>{{ 'enum.FILTER' | translate }}</mat-label>
          <input [formControl]="filter" matInput />
        </mat-form-field>
      </div>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <div class="filter" [style.visibility]="'hidden'">
        <mat-form-field class="quick-filter">
          <mat-label>{{ 'enum.FILTER' | translate }}</mat-label>
          <input matInput disabled />
        </mat-form-field>
      </div>
    </ng-container>
  </ng-container>

  <mat-tab-group
    [class]="
      activeTab === 'vulnerabilities'
        ? 'filter-icon-' + visibleIcons
        : activeTab === 'compliance'
          ? !complianceEmpty
            ? 'filter-icon-1'
            : 'filter-icon-0'
          : activeTab === 'process'
            ? 'filter-icon-1'
            : ''
    "
    class="h-100 detail-tabs container-detail-tab-group"
    mat-align-tabs="start"
    (selectedTabChange)="activateTab($event)">
    <mat-tab>
      <ng-template mat-tab-label>
        <em class="fa fa-address-card pe-1"></em>
        {{ 'containers.detail.TAB_TITLE' | translate }}
      </ng-template>
      <ng-template matTabContent>
        <app-container-detail [container]="container"></app-container-detail>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <em class="fa fa-gavel pe-1"></em>
        {{ 'cis.tab.COMPLIANCE' | translate }}
      </ng-template>
      <ng-template matTabContent>
        <div class="mt-2" *ngIf="containerCompliance">
          <app-compliance-grid
            [path]="container.brief.name"
            [repository]="''"
            [dockerCisVersion]="containerCompliance.docker_cis_version"
            [kubernetesCisVersion]="containerCompliance.kubernetes_cis_version"
            [runAt]="containerCompliance.run_at"
            [rowData]="containerCompliance.items"
            [useQuickFilterService]="true"
            [isContainer]="true"
            [tableHeight]="gridHeight + 'px'">
          </app-compliance-grid>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <em class="fa fa-bug pe-1"></em>
        {{ 'sidebar.nav.SCAN' | translate }}
      </ng-template>
      <ng-template matTabContent>
        <div class="mt-2" *ngIf="containerVuls">
          <app-vulnerabilities-grid
            (vulnerabilitySelected)="vulnerabilitySelected($event)"
            [rowData]="containerVuls"
            [useQuickFilterService]="true"
            [preselect]="false"
            [tableHeight]="gridHeight + 'px'"></app-vulnerabilities-grid>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <em class="fa fa-terminal pe-1"></em>
        {{ 'containers.process.TAB_TITLE' | translate }}
      </ng-template>
      <ng-template matTabContent>
        <div class="mt-2" *ngIf="containerProcess">
          <app-process-grid
            [rowData]="containerProcess"
            [useQuickFilterService]="true"
            [tableHeight]="gridHeight + 'px'"></app-process-grid>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <em class="fa fa-chart-line pe-1"></em>
        {{ 'containers.detail.TAB_STATS' | translate }}
      </ng-template>
      <ng-template matTabContent>
        <app-container-stats></app-container-stats>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  <app-vulnerability-detail-dialog
    [vulnerability]="selectedVulnerability"></app-vulnerability-detail-dialog>
</ng-container>
