.filter {
  position: relative;
  left: calc(100% - 180px);
  top: -4px;
  z-index: 10000;
  display: flex;
  align-items: baseline;
}

.filter-csv {
  left: calc(100% - 286.5px) !important;
}

.filter-icon-1 {
  left: calc(100% - 236px) !important;
}

.filter-icon-2 {
  left: calc(100% - 292px) !important;
}

.filter-icon-3 {
  left: calc(100% - 348px) !important;
}

.container-detail-tab-group {
  margin-top: -62px;
}
