<a [attr.href]="'https://www.whois.com/whois/' + ip" target="_blank">
  <img
    *ngIf="countryCode !== '-'"
    src="{{
      './assets/img/country-flag/' + countryCode.toUpperCase() + '.svg'
    }}"
    width="16px"
    height="12px;"
    class="me-2"
    style="margin-top: -3px"
    [matTooltip]="countryName"
    matTooltipPosition="above" />
  <span *ngIf="fqdn; else no_fqdn">
    <span [matTooltip]="ip">{{ fqdn }}</span>
  </span>
</a>
<ng-template #no_fqdn>
  <span>{{ ip }}</span>
</ng-template>
