<div class="container">
  <div class="row align-items-center">
    <div class="col-md-5">
      <div class="mx-auto score-container">
        <ngx-gauge
          class="score"
          type="arch"
          [max]="100"
          [value]="score"
          [animate]="true"
          [duration]="1"
          [foregroundColor]="gaugeColor"
          [thick]="10"
          cap="round"
          [thick]="10"
          cap="round"
          [size]="120">
        </ngx-gauge>
        <div class="score-label" [ngStyle]="{ color: gaugeLabelColor }">
          {{ gaugeLabel }}
        </div>
      </div>
    </div>
    <div class="col-md-2 text-center">
      <em
        class="fa fa-long-arrow-alt-right fa-4x text-success adm-sample-arrow"></em>
    </div>
    <div class="col-md-5">
      <div class="mx-auto score-container">
        <ngx-gauge
          class="score"
          type="arch"
          [max]="100"
          [value]="fixedScore || 0"
          [animate]="true"
          [duration]="1"
          [foregroundColor]="gaugeLabelColorFixed"
          [size]="40">
        </ngx-gauge>
        <div class="score-label" [ngStyle]="{ color: gaugeLabelColorFixed }">
          {{ gaugeLabelFixed }}
        </div>
      </div>
    </div>
  </div>
  <div class="row align-items-center margin-top-xl">
    <div class="col text-center" [class]="textClass">
      <h1 class="h2 font-weight-normal mb-4">
        {{ title }}
      </h1>
      <span class="mat-h3">{{ statement }}</span>
    </div>
  </div>
</div>
