<div class="rule-actions-expand fade-in-right">
  <em
    class="eos-icons icon-18 hand text-action"
    matTooltip="{{ 'policy.TIP.EDIT' | translate }}"
    matTooltipPosition="above"
    *ngIf="isOperatableRuleType && isWriteResponseRuleAuthorized"
    (click)="editResponseRule($event, params.data.id)">
    edit
  </em>
  <em
    class="eos-icons icon-18 hand text-action"
    matTooltip="{{ 'policy.editPolicy.VIEW' | translate }}"
    matTooltipPosition="above"
    *ngIf="!(isOperatableRuleType && isWriteResponseRuleAuthorized)"
    (click)="editResponseRule($event, params.data.id, true)">
    text_snippet
  </em>
  <em
    class="eos-icons icon-18 hand text-action"
    matTooltip="{{ 'policy.TIP.ADD' | translate }}"
    matTooltipPosition="above"
    *ngIf="isOperatableRuleType && isWriteResponseRuleAuthorized"
    (click)="addResponseRule($event, params.data.id)">
    add
  </em>
  <em
    class="eos-icons icon-18 hand text-action"
    matTooltip="{{ 'policy.TIP.DISABLE' | translate }}"
    matTooltipPosition="above"
    *ngIf="
      !params.data.disable &&
      isOperatableRuleType &&
      isWriteResponseRuleAuthorized
    "
    (click)="toggleRuleItem($event, params.data)">
    highlight_off
  </em>
  <em
    class="eos-icons icon-18 hand text-action"
    matTooltip="{{ 'policy.TIP.ENABLE' | translate }}"
    matTooltipPosition="above"
    *ngIf="
      params.data.disable &&
      isOperatableRuleType &&
      isWriteResponseRuleAuthorized
    "
    (click)="toggleRuleItem($event, params.data)">
    task_alt
  </em>
  <em
    class="eos-icons icon-18 hand text-action"
    matTooltip="{{ 'policy.TIP.DELETE' | translate }}"
    matTooltipPosition="above"
    *ngIf="isOperatableRuleType && isWriteResponseRuleAuthorized"
    (click)="deleteRuleItem($event, params.data.id)">
    delete
  </em>
</div>
<div class="rule-actions-collapse text-action">
  <em class="fa fa-ellipsis-h fa-lg text-action hand"> </em>
</div>
