<div class="d-flex justify-content-between align-items-center flex-wrap">
  <h1 class="font-weight-light">
    <a [routerLink]="['../']" class="font-weight-light">
      {{ 'sidebar.nav.SETTING' | translate }}
    </a>
    > {{ 'okta.head.TITLE' | translate }}
  </h1>
  <span>{{ 'okta.head.GUIDE' | translate }}</span>
</div>
<mat-card>
  <ng-container *ngIf="samlData$ | async as samlData; else loadingOrError">
    <app-saml-form [samlData]="samlData"></app-saml-form>
  </ng-container>
  <ng-template #loadingOrError>
    <ng-container *ngIf="samlError; else loading">
      Error Message Goes Here
    </ng-container>
    <ng-template #loading>
      <div
        class="license__loader d-flex flex-column align-items-center justify-content-center">
        <mat-spinner class="mx-auto"></mat-spinner>
        <span class="ml-2 mt-2">{{ 'enum.LOADING' | translate }}...</span>
      </div>
    </ng-template>
  </ng-template>
</mat-card>
