<div mat-dialog-content>
  <p class="overflow-auto pb-2">{{ data.message }}</p>
  <p class="overflow-auto pb-2" *ngIf="data.supplemental">
    {{ data.supplemental }}
  </p>
</div>
<div class="mt-4" mat-dialog-actions align="end">
  <button
    (click)="onCancel()"
    [disabled]="loading"
    class="me-2"
    color="warn"
    id="cancel-delete"
    mat-button>
    {{ 'general.CANCEL' | translate }}
  </button>
  <app-loading-button
    (btnClick)="onConfirm()"
    [disabled]="loading"
    [loading]="loading"
    appearance="mat-raised-button"
    cdkfocusinitial
    color="primary"
    [id]="data.message + '-confirm-button'"
    text="Ok"
    type="button">
  </app-loading-button>
</div>
