<mat-form-field appearance="fill" class="w-100">
  <mat-label>{{ field.templateOptions.label || '' | translate }}</mat-label>
  <mat-chip-grid
    #chipGrid
    [formControl]="formControl"
    aria-label="Filter selection">
    <mat-chip
      (click)="edit(chip)"
      (removed)="remove(chip)"
      *ngFor="let chip of formControl.value">
      {{ chip }}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
    <input
      (matChipInputTokenEnd)="add($event)"
      [formlyAttributes]="field"
      [matChipInputAddOnBlur]="addOnBlur"
      [matChipInputFor]="chipGrid"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [placeholder]="field.templateOptions.placeholder || '' | translate"
      [required]="field.templateOptions.required" />
  </mat-chip-grid>
  <mat-error *ngIf="formControl.invalid">
    <app-formly-errors [field]="field"></app-formly-errors>
    <mat-hint
      *ngIf="field.templateOptions?.hint && field.templateOptions?.alwaysHint"
      class="float-right"
      align="end">
      {{ field.templateOptions.hint | translate }}
    </mat-hint>
  </mat-error>
  <mat-hint>{{ field.templateOptions.hint || '' | translate }}</mat-hint>
</mat-form-field>
