<ng-container *ngIf="config; else loadingTemplate">
  <mat-card>
    <app-federated-config-form
      [config]="config"
      (refreshConfig)="refreshConfig()">
    </app-federated-config-form>
  </mat-card>
  <br />
  <mat-card *ngIf="isConfigAuthorized || isImportAuthorized">
    <app-export-form
      [source]="GlobalConstant['NAV_SOURCE']['FED_POLICY']"></app-export-form>
  </mat-card>
</ng-container>
<ng-template #errorTemplate let-error>
  {{ error | json }}
</ng-template>
<ng-template #loadingTemplate>
  <app-loading-template></app-loading-template>
</ng-template>
