<app-containers-grid
  *ngIf="kind !== 'node'"
  [gridHeight]="resizableHeight - 90"
  [gridOnly]="true"
  [workloadV2]="false"
  [isMemberData]="true"
  [source]="source"
  [rowData]="memberGridRowData"
  [useQuickFilterService]="useQuickFilterService"
>
</app-containers-grid>
<app-nodes-grid
  *ngIf="kind === 'node'"
  [gridHeight]="resizableHeight - 90"
  [gridOnly]="true"
  [isMemberData]="true"
  [source]="source"
  [rowData]="memberGridRowData"
  [useQuickFilterService]="useQuickFilterService"
>
</app-nodes-grid>
