<mat-tab-group
  (selectedTabChange)="activateTab($event)"
  [(selectedIndex)]="activeTabIndex"
  #detailsTabGroup>
  <mat-tab label="{{ 'enforcers.detail.TAB_TITLE' | translate }}">
    <div class="row w-100 mx-0" *ngIf="currentEnforcer">
      <div class="col-md-4 my-md-4 details-item">
        <mat-icon
          aria-hidden="false"
          aria-label="ID icon"
          class="details-icon"
          fontSet="fa"
          fontIcon="fa-credit-card">
        </mat-icon>
        <div class="ms-3 overflow-hidden">
          {{ 'controllers.detail.ID' | translate }}
          <div class="text-muted text-truncate">
            {{ currentEnforcer.id }}
          </div>
        </div>
      </div>
      <div class="col-md-4 my-md-4 details-item">
        <mat-icon
          aria-hidden="false"
          aria-label="Node icon"
          class="details-icon"
          fontSet="fa"
          fontIcon="fa-server">
        </mat-icon>
        <div class="ms-3 overflow-hidden">
          {{ 'enforcers.detail.HOST_NAME' | translate }}
          <div class="text-muted text-truncate">
            {{ currentEnforcer.host_name }}
          </div>
        </div>
      </div>
      <div class="col-md-4 my-md-4 details-item">
        <mat-icon
          aria-hidden="false"
          aria-label="Namespace icon"
          class="details-icon"
          fontSet="fa"
          fontIcon="fa-building">
        </mat-icon>
        <div class="ms-3 overflow-hidden">
          {{ 'network.legend.DOMAIN' | translate }}
          <div class="text-muted text-truncate">
            {{ currentEnforcer.domain }}
          </div>
        </div>
      </div>
      <div class="col-md-4 my-md-4 details-item">
        <mat-icon
          aria-hidden="false"
          aria-label="Created icon"
          class="details-icon"
          fontSet="fa"
          fontIcon="fa-calendar">
        </mat-icon>
        <div class="ms-3 overflow-hidden">
          {{ 'enforcers.detail.CREATED_AT' | translate }}
          <div class="text-muted text-truncate">
            {{ currentEnforcer.created_at | date : 'MMM dd, y HH:mm:ss' }}
          </div>
        </div>
      </div>
      <div class="col-md-4 my-md-4 details-item">
        <mat-icon
          aria-hidden="false"
          aria-label="Started icon"
          class="details-icon"
          fontSet="fa"
          fontIcon="fa-calendar">
        </mat-icon>
        <div class="ms-3 overflow-hidden">
          {{ 'enforcers.detail.JOINED_AT' | translate }}
          <div class="text-muted text-truncate">
            {{ currentEnforcer.joined_at | date : 'MMM dd, y HH:mm:ss' }}
          </div>
        </div>
      </div>
      <div class="col-md-4 my-md-4 details-item" *ngIf="isDisconnected">
        <mat-icon
          aria-hidden="false"
          aria-label="Disconnected icon"
          class="details-icon"
          fontSet="fa"
          fontIcon="fa-calendar">
        </mat-icon>
        <div class="ms-3 overflow-hidden">
          {{ 'enforcers.detail.DISCONNECTED_AT' | translate }}
          <div class="text-muted text-truncate">
            {{ currentEnforcer.disconnected_at | date : 'MMM dd, y HH:mm:ss' }}
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <em class="fa fa-chart-line pr-1"></em>
      {{ 'enforcers.stats.TAB_TITLE' | translate }}
    </ng-template>
    <ng-template matTabContent>
      <app-container-stats
        *ngIf="!isDisconnected; else noStats"></app-container-stats>
      <ng-template #noStats>
        {{ 'controllers.message.NO_STATE' | translate }}
      </ng-template>
    </ng-template>
  </mat-tab>
</mat-tab-group>
