<ng-container [ngSwitch]="params.node.data.status">
  <mat-menu 
    #menu="matMenu"
    class="error-message"
  >
    <div 
      class="error-message-content" 
      (click)="onMenuClick($event)"
    >
      <span>
        {{ params.node.data.error_message }}
      </span>
    </div>
  </mat-menu>

  <ng-container *ngIf="params.node.data.error_message; else EmptyErrorMessage">
    <span
      *ngSwitchCase="'idle'"
      [matMenuTriggerFor]="menu"
      class="badge text-white"
      style="background-color: #49596e; cursor: pointer;"
    >
      {{ params.node.data.status | titlecase }}
    </span>
  </ng-container>
  <ng-template #EmptyErrorMessage>
    <span
      *ngSwitchCase="'idle'"
      class="badge text-white"
      style="background-color: #49596e;">
      {{ params.node.data.status | titlecase }}
    </span>
  </ng-template>
  <span *ngSwitchCase="'scanning'" class="badge badge-primary text-white">
    {{ params.node.data.status | titlecase }}
  </span>
  <span *ngSwitchDefault>{{ params.node.data.status | titlecase }}</span>
</ng-container>
