<div class="nv-dialog">
  <div class="d-flex justify-content-between align-items-center">
    <h4 mat-dialog-title class="mb-2">
      {{
        (data.opType === opTypeOptions.ADD
          ? 'signatures.signatureModal.ADD'
          : 'signatures.signatureModal.EDIT'
        ) | translate
      }}
    </h4>
    <button
      (click)="onCancel()"
      class="mb-2"
      aria-label="Close dialog"
      mat-icon-button>
      <i class="eos-icons">close</i>
    </button>
  </div>
  <hr class="fancy" />
  <div mat-dialog-content>
    <form [formGroup]="addEditSignatureForm">
      <div class="d-flex justify-content-start align-items-center">
        <mat-form-field class="me-4">
          <mat-label>{{ 'signatures.gridHeader.NAME' | translate }}</mat-label>
          <input
            type="text"
            matInput
            formControlName="name"
            [readonly]="data.opType === opTypeOptions.EDIT" />
          <mat-error
            *ngIf="addEditSignatureForm.controls.name.hasError('required')">
            {{ 'general.REQUIRED' | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="flex-grow-1">
          <mat-label>{{
            'signatures.gridHeader.COMMENT' | translate
          }}</mat-label>
          <input type="text" matInput formControlName="comment" />
        </mat-form-field>
      </div>
      <div class="row">
        <div class="d-flex justify-content-start align-items-center">
          <label class="pull-left margin-right-m">{{
            'signatures.gridHeader.ATTRIBUTE' | translate
          }}</label>
          <mat-radio-group
            class="pull-left margin-right-m"
            aria-label="Select attribute"
            [disabled]="data.opType === opTypeOptions.EDIT"
            (change)="changeAttribute()"
            formControlName="attribute">
            <mat-radio-button value="private" class="margin-right-s">{{
              'signatures.PRIVATE' | translate
            }}</mat-radio-button>
            <mat-radio-button value="public" class="margin-right-s">{{
              'signatures.PUBLIC' | translate
            }}</mat-radio-button>
            <mat-radio-button
              value="rootless_keypairs_only"
              class="margin-right-s"
              >{{
                'signatures.Rootless_keypairs_only' | translate
              }}</mat-radio-button
            >
          </mat-radio-group>
        </div>
      </div>
      <div
        class="row mx-0"
        *ngIf="addEditSignatureForm.controls.attribute.value === 'private'">
        <mat-form-field class="w-100">
          <mat-label>{{
            'signatures.gridHeader.REKOR_PUBLIC_KEY' | translate
          }}</mat-label>
          <textarea
            cdkTextareaAutosize
            style="min-height: 30px"
            formControlName="rekor_public_key"
            matInput></textarea>
        </mat-form-field>
      </div>
      <div
        class="row mx-0"
        *ngIf="addEditSignatureForm.controls.attribute.value === 'private'">
        <mat-form-field class="w-100">
          <mat-label>{{
            'signatures.gridHeader.ROOT_CERT' | translate
          }}</mat-label>
          <textarea
            cdkTextareaAutosize
            style="min-height: 30px"
            formControlName="root_cert"
            matInput></textarea>
          <mat-error
            *ngIf="
              addEditSignatureForm.controls.root_cert.hasError('required')
            ">
            {{ 'general.REQUIRED' | translate }}
          </mat-error>
        </mat-form-field>
      </div>
      <div
        class="row mx-0"
        *ngIf="addEditSignatureForm.controls.attribute.value === 'private'">
        <mat-form-field class="w-100">
          <mat-label
            >{{
              'signatures.gridHeader.SCT_PUBLIC_KEY' | translate
            }}&nbsp;&nbsp;({{
              'signatures.gridHeader.SCT_PUBLIC_KEY_HINT' | translate
            }})</mat-label
          >
          <textarea
            cdkTextareaAutosize
            style="min-height: 30px"
            formControlName="sct_public_key"
            matInput></textarea>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div mat-dialog-actions class="d-flex justify-content-end mt-2">
    <div>
      <button
        mat-stroked-button
        aria-label="cancel"
        class="me-2"
        (click)="onCancel()">
        {{ 'waf.sensorModal.CANCEL' | translate }}
      </button>
      <app-loading-button
        [appearance]="'mat-raised-button'"
        [color]="'primary'"
        [loading]="submittingUpdate"
        [disabled]="addEditSignatureForm.invalid"
        [text]="
          (data.opType === opTypeOptions.EDIT
            ? 'waf.sensorModal.UPDATE'
            : 'waf.sensorModal.ADD'
          ) | translate
        "
        (btnClick)="updateSigstore()">
      </app-loading-button>
    </div>
  </div>
</div>
