/* Badges variables
   ========================================================================== */
/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
/* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss */

$eos-pagination-left-margin: $eos-m;
$eos-pagination-item-margin: $eos-xs;
$eos-pagination-item-radius: 0;
$eos-pagination-item-background: $eos-bc-cerulean-500;
$eos-pagination-item-color: $eos-bc-white;
$eos-pagination-item-disabled: $eos-bc-gray-50;
$eos-pagination-item-disabled-link: $eos-bc-gray-1000;
$eos-pagination-link-color: $eos-bc-gray-1000;
$eos-pagination-link-padding: $eos-xs $eos-s;
$eos-pagination-link-hover: $eos-bc-white;
$eos-pagination-actions-spacing: 0 16px;
$eos-pagination-actions-border: $eos-bc-gray-1000;
$eos-pagination-goto-input-m: $eos-s;
$eos-pagination-goto-width: $eos-xl;
$eos-pagination-actions-dropdown-m: $eos-s;
$eos-pagination-text-spacing: 16px;
