<div>
  <div class="rule-actions-expand fade-in-right">
    <em
      class="eos-icons icon-18 hand text-action"
      *ngIf="
        !isReadonlyRule &&
        !params.data.reserved &&
        !isAddressGroupAndNamespaceUser &&
        params.context.componentParent.isWriteGroupAuthorized
      "
      matTooltip="{{ 'group.TIP.EDIT' | translate }}"
      matTooltipPosition="above"
      (click)="editGroup(params.data)">
      edit
    </em>
    <em
      class="eos-icons icon-18 hand text-action"
      *ngIf="
        isReadonlyRule ||
        params.data.reserved ||
        isAddressGroupAndNamespaceUser ||
        !params.context.componentParent.isWriteGroupAuthorized
      "
      matTooltip="{{ 'group.TIP.VIEW' | translate }}"
      matTooltipPosition="above"
      (click)="viewGroup(params.data)">
      text_snippet
    </em>
    <em
      class="eos-icons icon-18 hand text-action"
      *ngIf="
        isRemovableGroup &&
        !isAddressGroupAndNamespaceUser &&
        params.context.componentParent.isWriteGroupAuthorized
      "
      matTooltip="{{ 'group.TIP.DELETE' | translate }}"
      matTooltipPosition="above"
      (click)="deleteGroup(params.data)">
      delete
    </em>
  </div>
  <div class="rule-actions-collapse text-action">
    <em class="fa fa-ellipsis-h fa-lg  text-action hand"> </em>
  </div>
</div>
