/* Links
   ========================================================================== */
/*
 * Colors variables: /assets/stylesheets/eos-base/variables/branding.scss
*/
$eos-link-default-color: $eos-bc-blue-500;
$eos-link-default-color-hover: $eos-bc-pine-500;
$eos-link-dark-color: $eos-bc-gray-1000;
$eos-link-light-color: $eos-bc-white;
$eos-link-dark-theme-color: $eos-bc-cerulean-100;

$eos-anchor-link-position: -18px;
