<div class="d-flex align-items-center justify-content-between">
  <h4 mat-dialog-title class="mb-2">
    {{ 'scan.report.PRINT_REPORT' | translate }} ({{ data.pdf_name }})
  </h4>
  <button
    (click)="onNoClick()"
    class="mb-2"
    aria-label="Close dialog"
    mat-icon-button>
    <i class="eos-icons">close</i>
  </button>
</div>
<hr class="fancy" />
<form (ngSubmit)="submit()" [formGroup]="form">
  <div class="last_modified_field">
    <mat-icon
      aria-hidden="false"
      aria-label="Modified icon"
      class="me-3 last_modified_icon"
      fontSet="fa"
      fontIcon="fa-calendar-times">
    </mat-icon>
    <mat-form-field>
      <mat-label>{{ 'scan.LAST_MODIFIED' | translate }}</mat-label>
      <mat-select
        formControlName="dateOption"
        (selectionChange)="changeDateOption(selectedDateOption)">
        <mat-option
          *ngFor="let modifiedDateOption of dateOptions"
          [value]="modifiedDateOption">
          {{
            'scan.report.from.' + modifiedDateOption.toUpperCase() | translate
          }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <ng-container *ngIf="selectedDateOption === 'custom'">
      <mat-form-field class="ml-2">
        <input matInput [matDatepicker]="picker" formControlName="customDate" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </ng-container>
  </div>
  <div *ngIf="data.isPdf">
    <mat-checkbox
      class="mt-1"
      style="margin-left: 12px"
      formControlName="withoutAppendix"
      labelPosition="after">
      {{ 'scan.WITHOUT_APPENDIX' | translate }}
    </mat-checkbox>
  </div>
  <div class="d-flex justify-content-end">
    <app-loading-button
      [disabled]="form.invalid || !!(saving$ | async)"
      [loading]="!!(saving$ | async)"
      [text]="'general.SUBMIT' | translate"
      appearance="mat-raised-button"
      buttonClasses="me-1"
      color="primary"
      id="pdf-generation-dialog-submit"
      type="submit">
    </app-loading-button>
  </div>
</form>
