<div class="row mx-0">
  <form
    [formGroup]="customCheckForm"
    *ngIf="!isRefreshingForm"
    class="col-sm-6">
    <mat-form-field class="col-12">
      <mat-label>{{ 'group.script.NAME' | translate }}</mat-label>
      <input
        matInput
        [readonly]="
          cfgType === CFG_TYPE.GROUND ||
          !isWriteScriptAuthorized ||
          opType === modalOp.EDIT
        "
        (blur)="blurOnName()"
        [attr.maxlength]="'general.FILTER_MAX_LEN' | translate"
        formControlName="name" />
      <mat-error *ngIf="customCheckForm.controls.name.hasError('required')">
        {{ 'general.REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-12">
      <mat-label>{{ 'group.script.SCRIPT' | translate }}</mat-label>
      <textarea
        matInput
        [readonly]="cfgType === CFG_TYPE.GROUND || !isWriteScriptAuthorized"
        formControlName="script"
        [ngStyle]="{ height: resizableHeight - 245 + 'px' }">
      </textarea>
    </mat-form-field>
    <div class="clearfix">
      <app-loading-button
        *ngIf="
          cfgType !== CFG_TYPE.GROUND && isWriteScriptAuthorized;
          else configWarningTemplate
        "
        [appearance]="'mat-raised-button'"
        [color]="'primary'"
        [loading]="submittingUpdate"
        [text]="
          (opType === modalOp.EDIT ? 'group.script.UPDATE' : 'group.script.ADD')
            | translate
        "
        (btnClick)="updateScript()"
        class="pull-right">
      </app-loading-button>
      <ng-template #configWarningTemplate>
        <div
          class="text-danger ms-3 me-3"
          style="margin-top: -10px"
          *ngIf="hasConfigurationWarning">
          {{ 'group.script.CUSTOM_CHECK_CONFIG_HINT' | translate }}
        </div>
      </ng-template>
    </div>
  </form>
  <div class="col-sm-6 px-0" style="position: relative">
    <div
      role="button"
      *ngIf="cfgType !== CFG_TYPE.GROUND && isWriteScriptAuthorized"
      style="position: absolute; z-index: 10; right: 14px; top: 5px"
      (click)="switch2Add()">
      <em class="eos-icons">add</em>
    </div>
    <ag-grid-angular
      #customCheckGrid
      *ngIf="isCustomCheckPromiseCompleted"
      id="custom-check-grid"
      style="width: 100%"
      [ngStyle]="{ height: resizableHeight - 90 + 'px' }"
      class="ag-theme-balham"
      [gridOptions]="gridOptions4CustomCheck"
      [context]="context">
    </ag-grid-angular>
  </div>
</div>
