<div class="nv-frame">
  <!-- top navbar-->
  <app-header class="topnavbar-wrapper"></app-header>
  <!-- sidebar-->
  <app-sidebar class="left-side-container"></app-sidebar>
  <!-- Main section-->
  <main class="section-container" id="main-content" [ngStyle]="customStyle">
    <!-- Page content-->
    <div class="nv-section">
      <!-- Preload images of report cover page-->
      <div
        class="page-cover"
        style="visibility: hidden; position: absolute; width: 0; height: 0">
        <div class="page-cover-decro"></div>
        <div class="page-cover-logo"></div>
      </div>
      <!-- Angular view-->
      <router-outlet></router-outlet>
    </div>
  </main>
  <!-- Page footer-->
  <!-- <footer class="footer-container" app-footer></footer> -->
</div>
<app-custom-footer></app-custom-footer>
