<div mat-dialog-content>
  <p>{{ 'registry.REGISTRY_DELETE_CONFIRMATION' | translate }}</p>
</div>
<div class="justify-content-end mt-4" mat-dialog-actions>
  <button
    (click)="onNoClick()"
    [disabled]="!!(deleting$ | async)"
    class="mr-2"
    color="warn"
    id="registries-cancel-delete"
    mat-button>
    {{ 'general.CANCEL' | translate }}
  </button>
  <app-loading-button
    (btnClick)="confirm()"
    [disabled]="!!(deleting$ | async)"
    [loading]="!!(deleting$ | async)"
    appearance="mat-raised-button"
    cdkfocusinitial
    color="primary"
    id="registries-confirm-delete"
    text="Ok"
    type="button">
  </app-loading-button>
</div>
