<div class="nv-dialog">
  <div class="d-flex align-items-center justify-content-between">
    <h4 mat-dialog-title class="mb-2">
      {{
        (type === 'add' ? 'service.ADD_RULE' : 'service.EDIT_RULE') | translate
      }}
    </h4>
    <div class="d-flex align-items-center justify-content-center mb-1">
      <button mat-button [matMenuTriggerFor]="aboveMenu" class="rule-sample-btn text-muted">
        <em class="eos-icons icon-18">info</em>
        Sample
      </button>
      <mat-menu id="rule-sample" #aboveMenu="matMenu" yPosition="above">
        <div class="p-4">
          <table>
            <tr class="sample-table-header">
              <th class="sample-table-border">{{ 'service.gridHeader.FILTER' | translate }}</th>
            </tr>
            <tr>
              <td class="sample-table-border">/dir/xxx</td>
            </tr>
            <tr>
              <td class="sample-table-border">/dir/xxx.*</td>
            </tr>
            <tr>
              <td class="sample-table-border">/dir/*.xxx</td>
            </tr>
            <tr>
              <td class="sample-table-border">/dir/*/abc/*</td>
            </tr>
          </table>
          <div class="text-bold">not support [] () regexp</div>
        </div>
      </mat-menu>
      <button
        mat-icon-button
        aria-label="close"
        (click)="onCancel()"
      >
        <i class="eos-icons">close</i>
      </button>
    </div>
  </div>
  <hr class="fancy mb-2" />
  <div mat-dialog-content class="dialog-content p0 m0">
    <form [formGroup]="fileAccessRuleForm">
      <div class="d-flex justify-content-start align-items-start mt-2">
        <mat-form-field appearance="fill">
          <mat-label>{{ 'group.GROUP' | translate }}</mat-label>
          <mat-select matNativeControl required formControlName="group">
            <mat-option
              *ngFor="let groupOption of groupOptions"
              [value]="groupOption"
              >{{ groupOption }}</mat-option
            >
          </mat-select>
          <mat-error>Group is required!</mat-error>
        </mat-form-field>
      </div>
      <div class="d-flex justify-content-end align-items-center mt-2">
        <div class="d-flex mr-2">
          <mat-form-field appearance="fill">
            <mat-label>{{ 'service.gridHeader.FILTER' | translate }}</mat-label>
            <input
              matInput
              name="filter"
              formControlName="filter"
              required
              [attr.maxlength]="'general.FILTER_MAX_LEN' | translate"
              [readonly]="type === 'edit'" />
            <mat-error
              *ngIf="fileAccessRuleForm.get('filter')?.hasError('required')"
              >Filter is required!</mat-error
            >
            <mat-error
              *ngIf="fileAccessRuleForm.get('filter')?.hasError('pattern')"
              >Format is not right!</mat-error
            >
          </mat-form-field>
          <div style="margin: 25px 5px 0 5px">
            <mat-checkbox
              name="recursive"
              formControlName="recursive"
              class="example-ripple-checkbox mr">
              {{ 'service.gridHeader.RECURSIVE' | translate }}
            </mat-checkbox>
          </div>
        </div>

        <div class="d-flex flex-column mb-2">
          <div>
            <mat-label class="mr-1">{{
              'service.ALLOW_ALERT' | translate
            }}</mat-label>
          </div>
          <div>
            <label class="radio-inline c-radio mr-2">
              <input
                id="monitor-change"
                type="radio"
                name="behavior"
                formControlName="behavior"
                required
                [value]="actionEnum.MONITOR" />
              <span class="fa fa-binoculars text-discover ml-1"></span>
              {{ 'enum.MONITOR_CHANGE' | translate }}
            </label>
            <label class="radio-inline c-radio">
              <input
                id="block-access"
                type="radio"
                name="behavior"
                formControlName="behavior"
                required
                [value]="actionEnum.BLOCK" />
              <span class="fa fa-shield-alt text-protect ml-1"></span>
              {{ 'enum.BLOCK_ACCESS' | translate }}
            </label>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-start align-items-start mt-2">
        <mat-form-field appearance="fill" class="flex-grow-1">
          <mat-chip-grid #chipGrid aria-label="Apps selection">
            <mat-chip
              *ngFor="let app of applicationChipsArray"
              [disabled]="false"
              [removable]="true"
              (removed)="removeAppFromChip(app)">
              {{ app }}
              <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
            </mat-chip>
            <input
              matInput
              placeholder="{{ 'service.gridHeader.APPLICATIONS' | translate }}"
              #AppsInput
              name="apps"
              formControlName="applications"
              [attr.maxlength]="'general.FILTER_MAX_LEN' | translate"
              [matChipInputFor]="chipGrid"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="true"
              (matChipInputTokenEnd)="addAppIntoChip($event)" />
          </mat-chip-grid>
          <em matSuffix class="icon-puzzle input-icon"></em>
          <mat-error>Criterion is required!</mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div mat-dialog-actions class="d-flex justify-content-end align-items-center">
    <button mat-stroked-button class="modal-cancel-button" (click)="onCancel()">
      {{ 'group.editGroup.CANCEL' | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="addEditFileAccessRule()"
      [disabled]="fileAccessRuleForm.invalid">
      {{ 'policy.portlet.SUBMIT' | translate }}
    </button>
  </div>
</div>
