<div class="nv-dialog">
  <div mat-dialog-title class="dialog-header">
    <div class="pull-left">
      {{
        (type === 'add' ? 'service.ADD_RULE' : 'service.EDIT_RULE') | translate
      }}
    </div>
    <div class="pull-right">
      <em class="icon-close hand" (click)="onCancel()"></em>
    </div>
  </div>
  <div mat-dialog-content class="dialog-content p0 m0">
    <form
      fxLayout="column"
      fxLayoutAlign="start"
      [formGroup]="fileAccessRuleForm"
      fxFlex="1 0 auto"
      class="pt-lg">
      <div
        fxLayout="row"
        fxLayoutAlign="start center"
        fxFlex="1 0 auto"
        class="pl-4">
        <mat-form-field appearance="fill">
          <mat-label>{{ 'group.GROUP' | translate }}</mat-label>
          <mat-select matNativeControl formControlName="group">
            <mat-option
              *ngFor="let groupOption of groupOptions"
              [value]="groupOption"
              >{{ groupOption }}</mat-option
            >
          </mat-select>
          <mat-error>Group is required!</mat-error>
        </mat-form-field>
      </div>
      <div
        fxLayout="row"
        fxLayoutAlign="start center"
        fxFlex="1 0 auto"
        class="pl-4">
        <mat-form-field appearance="outline" fxFlex="25" class="pr-4">
          <mat-label>{{ 'service.gridHeader.FILTER' | translate }}</mat-label>
          <input matInput name="filter" formControlName="filter" [readonly]="type === 'edit'"/>
          <em matSuffix class="icon-paper-clip input-icon"></em>
          <mat-error
            *ngIf="fileAccessRuleForm.get('filter')?.hasError('required')"
            >Filter is required!</mat-error
          >
          <mat-error
            *ngIf="fileAccessRuleForm.get('filter')?.hasError('pattern')"
            >Format is not right!</mat-error
          >
        </mat-form-field>
        <div fxFlex="25" class="pr-4" style="margin-top: -10px">
          <mat-checkbox
            name="recursive"
            formControlName="recursive"
            class="example-ripple-checkbox mr">
            {{ 'service.gridHeader.RECURSIVE' | translate }}
          </mat-checkbox>
        </div>
        <div fxFlex="50" class="pr-4" style="margin-top: -5px">
          <mat-label class="mr">{{
            'service.ALLOW_ALERT' | translate
          }}</mat-label>
          <label class="radio-inline c-radio">
            <input
              id="monitor-change"
              type="radio"
              name="behavior"
              formControlName="behavior"
              value="{{ actionEnum.MONITOR }}" />
            <span class="fa fa-binoculars text-discover"></span>
            {{ 'enum.MONITOR_CHANGE' | translate }}
          </label>
          <label class="radio-inline c-radio">
            <input
              id="block-access"
              type="radio"
              name="behavior"
              formControlName="behavior"
              value="{{ actionEnum.BLOCK }}" />
            <span class="fa fa-shield-alt text-protect"></span>
            {{ 'enum.BLOCK_ACCESS' | translate }}
          </label>
        </div>
      </div>
      <div
        fxLayout="row"
        fxLayoutAlign="start center"
        fxFlex="1 0 auto"
        class="pl-4">
        <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
          <mat-chip-list #chipList aria-label="Apps selection">
            <mat-chip
              *ngFor="let app of applicationChipsArray"
              [selectable]="true"
              [removable]="true"
              (removed)="removeAppFromChip(app)">
              {{ app }}
              <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
            </mat-chip>
            <input
              matInput
              placeholder="{{ 'service.gridHeader.APPLICATIONS' | translate }}"
              #AppsInput
              name="apps"
              formControlName="applications"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="true"
              (matChipInputTokenEnd)="addAppIntoChip($event)" />
          </mat-chip-list>
          <em matSuffix class="icon-puzzle input-icon"></em>
          <mat-error>Criterion is required!</mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div
    mat-dialog-actions
    class="dialog-actions pull-right"
    style="margin-right: 24px">
    <a class="modal-cancel-button" (click)="onCancel()">
      {{ 'group.editGroup.CANCEL' | translate }}
    </a>
    <button
      mat-button
      class="modal-submit-button"
      (click)="addEditFileAccessRule()">
      {{ 'policy.portlet.SUBMIT' | translate }}
    </button>
  </div>
</div>
