<div class="d-flex align-items-center justify-content-between">
  <h4 mat-dialog-title class="mb-2">
    {{ 'user.resetPassword.CHANGE_REQUIRED' | translate }}
  </h4>
  <button
    (click)="onClose()"
    class="mb-2"
    aria-label="Close dialog"
    mat-icon-button>
    <i class="eos-icons">close</i>
  </button>
</div>
<hr class="fancy" />
<div class="username__container">
  <div class="username__field">
    <mat-icon
      aria-hidden="false"
      aria-label="User icon"
      class="me-3 mb-3 username__icon"
      >person
    </mat-icon>
    <mat-form-field class="w-100">
      <mat-label>{{ 'user.addUser.USER_NAME' | translate }}</mat-label>
      <input matInput disabled [(ngModel)]="data.username" />
    </mat-form-field>
  </div>
</div>
<div class="password__formGroup">
  <app-password-panel
    [passwordForm]="passwordForm"
    [resetProfile]="pwdProfile"
    [resetError]="resetError"
    [isReset]="true"></app-password-panel>
</div>
<div class="d-flex justify-content-end">
  <button
    (click)="onClose()"
    class="me-2"
    id="reset-password-dialog-cancel"
    mat-button
    type="button">
    {{ 'user.addUser.CANCEL' | translate }}
  </button>
  <app-loading-button
    (btnClick)="submitReset()"
    [disabled]="
      passwordForm.invalid || !passwordForm.dirty || !!(saving$ | async)
    "
    [loading]="!!(saving$ | async)"
    [text]="'setting.SUBMIT' | translate"
    appearance="mat-raised-button"
    buttonClasses="me-1"
    color="primary"
    id="reset-password-dialog-submit"
    type="submit">
  </app-loading-button>
</div>
