<mat-card style="height: calc(100vh - 115px); display: block">
  <div *ngIf="loaded; else loadingTemplate" class="h-100">
    <mat-tab-group
      id="compliance-profile"
      (selectedTabChange)="resize()"
      class="h-100">
      <mat-tab [label]="'cis.profile.TEMPLATES' | translate" class="h-100">
        <ng-container *ngIf="!refreshingProfile">
          <app-compliance-profile-templates
            [hideSystemInit]="
              complianceProfileData.profile.profiles[0].disable_system || false
            "
            [templates]="complianceProfileData.template.list.compliance"
            [availableFilters]="complianceProfileData.filters"
            [cfgType]="
              complianceProfileData.profile.profiles[0].cfg_type || ''
            "></app-compliance-profile-templates>
        </ng-container>
      </mat-tab>
      <mat-tab
        [label]="'sidebar.nav.RESOURCE' | translate"
        *ngIf="!isNamespaceUser">
        <ng-container *ngIf="!refreshingProfile">
          <app-compliance-profile-assets
            [domains]="
              complianceProfileData.domains
            "></app-compliance-profile-assets>
        </ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>
  <ng-template #loadingTemplate>
    <app-loading-template></app-loading-template>
  </ng-template>
</mat-card>
