<div class="d-flex flex-column justify-content-between">
  <ng-container *appDisplayControl="'write_compliance_profile'">
    <div
      class="d-flex flex-row justify-content-between align-items-center pt-2">
      <div>
        <mat-checkbox
          (change)="updateSystem()"
          [(ngModel)]="hideSystem"
          [disabled]="cfgType === 'ground'"
          class="mx-3"
          >{{ 'cis.profile.HIDE_SYSTEM' | translate }}</mat-checkbox
        >
      </div>
      <div class="d-flex flex-row align-items-center" *ngIf="!isNamespaceUser">
        <span *ngIf="totalChanges > 0" class="d-block"
          >{{ totalChanges }}&nbsp;{{ 'cis.profile.PENDING' | translate
          }}{{ 'cis.profile.CHANGES' | translate }}</span
        >
        <button
          (click)="saveChanges()"
          *ngIf="totalChanges > 0"
          class="mx-2"
          mat-stroked-button>
          {{ 'general.SUBMIT' | translate }}
        </button>
        <button
          (click)="reset()"
          *ngIf="cfgType !== 'ground'"
          mat-stroked-button>
          {{ 'cis.profile.RESET' | translate }}
        </button>
      </div>
    </div>
    <div class="d-flex flex-row align-items-center cis-filter mx-3">
      <span class="d-block me-4">{{
        'cis.profile.COMPLIANCE_TEMPLATE' | translate
      }}</span>
      <div class="d-flex flex-row align-items-center me-2">
        <mat-checkbox
          (change)="filterChange('ALL')"
          [(ngModel)]="all"
          [disabled]="all"
          aria-label="All"
          class="me-2"></mat-checkbox>
        <span class="d-block" style="font-size: 28px; font-weight: bold"
          >ALL</span
        >
      </div>
      <div
        *ngFor="let filter of filterForm | keyvalue"
        class="d-flex flex-row align-items-center me-2">
        <mat-checkbox
          (change)="filterChange(filter.key)"
          [(ngModel)]="filterForm[filter.key]"
          [aria-label]="filter.key"
          class="me-2"></mat-checkbox>
        <ng-container *ngIf="filter.key !== 'PCIv4'; else pciv4">
          <img
            [alt]="filter.key"
            [src]="'assets/img/icons/' + filter.key.toLowerCase() + '.png'" />
        </ng-container>
        <ng-template #pciv4>
          <img alt="pci" src="assets/img/icons/pci.png" />
          <p class="font-weight-bold">v4</p>
        </ng-template>
      </div>
    </div>
  </ng-container>
  <div class="d-flex flex-row justify-content-between align-items-center">
    <span class="d-block font-weight-bold text-info">
      <div class="type-label px-1 me-2" [class]="cfgTypeClass">
        {{
          (cfgType === 'ground'
            ? 'cveProfile.type.GROUND'
            : 'cveProfile.type.CUSTOM'
          ) | translate
        }}
      </div>
      <span *ngIf="filtered$ | async">
        {{ 'enum.FOUND' | translate }} {{ filteredCount }}&nbsp;/
      </span>
      <span
        *ngIf="
          (filtered$ | async) === false ||
          (filtered$ | async) === null ||
          (filtered$ | async) === undefined
        ">
        {{ 'enum.OUT_OF' | translate }}&nbsp;
      </span>
      {{ rowData.length }}
    </span>
    <div class="d-flex align-items-center">
      <button
        (click)="exportProfile()"
        *appDisplayControl="'read_compliance_profile'"
        aria-label="Export Compliance Profile"
        mat-button>
        <em class="eos-icons icon-18">download</em>
        {{ 'setting.EXPORT' | translate }}
      </button>
      <button
        (click)="openImportProfileModal()"
        *appDisplayControl="'write_compliance_profile'"
        aria-label="Import Compliance Profile"
        class="me-2"
        mat-button>
        <em class="eos-icons icon-18">upload</em>
        {{ 'setting.IMPORT' | translate }}
      </button>
      <app-quick-filter
        (filterCountChange)="filterCountChanged($event)"
        [gridOptions]="gridOptions"
        [gridApi]="gridApi"
        [showCount]="false">
      </app-quick-filter>
    </div>
  </div>
</div>
<ag-grid-angular
  (window:resize)="onResize()"
  [gridOptions]="gridOptions"
  class="ag-theme-alpine"
  style="width: 100%"
  [style.height]="
    isWriteComplianceProfileAuthorized
      ? 'calc(100% - 160px)'
      : 'calc(100% - 80px)'
  ">
</ag-grid-angular>
