<mat-card
  [ngClass]="[this.to.severity?.toLowerCase() ?? '']"
  [ngStyle]="to.isPlainOutfitMode && { 'box-shadow': 'none' }"
  style="border: none"
  appearance="outlined">
  <mat-card-header *ngIf="to.header" style="margin-bottom: 1rem">{{
    to.header | translate
  }}</mat-card-header>
  <mat-card-content *ngIf="to.content">
    <ng-container *ngIf="isArrayContent(to.content); else OtherDiplay">
      <ng-container *ngIf="to.isBulletMode; else NormalListDiplay">
        <ul>
          <li *ngFor="let c of to.content">{{ c | translate }}</li>
        </ul>
      </ng-container>
      <ng-template #NormalListDiplay>
        <div *ngFor="let c of to.content">
          {{ c | translate }}
        </div>
      </ng-template>
    </ng-container>
    <ng-template #OtherDiplay>
      <ng-container
        *ngIf="isObjectContent(to.content); else NormalStringDiplay">
        <ng-container *ngIf="to.isBulletMode; else NormalObjectDiplay">
          <ul>
            <li *ngFor="let c of getObjectContentKeys(to.content)">
              {{ c | translate }} - {{ to.content[c] }}
            </li>
          </ul>
        </ng-container>
        <ng-template #NormalObjectDiplay>
          <div *ngFor="let c of getObjectContentKeys(to.content)">
            {{ c | translate }} - {{ to.content[c] }}
          </div>
        </ng-template>
      </ng-container>
      <ng-template #NormalStringDiplay>
        <pre>{{ to.content }}</pre>
      </ng-template>
    </ng-template>
  </mat-card-content>
</mat-card>
