<ng-container [ngSwitch]="type">
  <span *ngSwitchCase="'url'">
    {{ content }}
  </span>
  <span *ngSwitchCase="'response'" class="text-muted">
    {{
      content.length < concat
        ? content
        : viewMore
          ? content
          : content.substring(0, concat)
    }}
    <button
      (click)="viewMore = !viewMore"
      *ngIf="content.length > concat"
      id="test-connection-details-cell-view-button"
      mat-button>
      {{
        viewMore
          ? ('general.VIEW_LESS' | translate)
          : ('general.VIEW_MORE' | translate)
      }}
    </button>
  </span>
  <span *ngSwitchCase="'stopped'" class="font-weight-bold text-danger">
    {{ content }}
  </span>
  <span *ngSwitchCase="'images'">
    <span *ngFor="let image of contentArr" class="d-block">{{ image }}</span>
  </span>
  <span *ngSwitchDefault class="font-weight-bold">
    {{ content }}
  </span>
</ng-container>
