<mat-card class="margin-bottom-m dashboard-card">
  <mat-card-title class="d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center justify-content-start">
      {{
        'dashboard.body.panel_title.' +
          assetType.substring(0, assetType.length - 1).toUpperCase() +
          '_MODE' | translate
      }}
    </div>
    <app-panel-instruction-curtain
      class="d-flex align-items-center justify-content-end"
      [instructions]="instructions">
    </app-panel-instruction-curtain>
  </mat-card-title>
  <mat-card-content>
    <div
      class="row margin-horizon-0"
      style="height: 300px"
      *ngIf="details?.containers && details?.services">
      <app-policy-mode-chart
        class="col-sm-7"
        [assetsInfo]="details[assetType]"
        [assetType]="assetType"
        [scoreInfo]="scoreInfo"></app-policy-mode-chart>
      <app-policy-mode-caution class="col-sm-5" [assetType]="assetType">
      </app-policy-mode-caution>
    </div>
  </mat-card-content>
</mat-card>
