$eos-dt-pagination-page-link-color: $eos-bc-white;
$eos-dt-pagination-page-item-active-bg: $eos-bc-cerulean-500;
$eos-dt-pagination-page-item-active-color: $eos-bc-gray-1000;

$eos-dt-pagination-item-disabled-bg: $eos-bc-gray-900;
$eos-dt-pagination-item-disabled-color: $eos-bc-gray-100;
