<div
  cdkDrag
  cdkDragHandle
  cdkDragRootElement=".cdk-overlay-pane"
  class="d-flex align-items-center justify-content-between"
  style="cursor: move; margin-top: -24px; padding-top: 10px">
  <div class="d-flex align-items-center justify-content-center">
    <i class="eos-icons me-2">storage</i
    ><span class="d-block">{{ data.name }}</span>
  </div>
  <button
    aria-label="Close icon button"
    class="d-flex align-items-center justify-content-center"
    mat-icon-button>
    <i (click)="onNoClick()" class="eos-icons">close</i>
  </button>
</div>
<hr class="fancy mx-0 my-0" />
<app-node-brief [host]="data"></app-node-brief>
