<mat-card class="margin-bottom-m dashboard-card">
  <mat-card-title class="d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center justify-content-start">
      {{ 'dashboard.body.panel_title.TOP_SEC_EVENTS' | translate }} - {{ 'threat.gridHeader.' + direction.toUpperCase() | translate }}
    </div>
    <app-panel-instruction-curtain
      class="d-flex align-items-center justify-content-end"
      [instructions]="instructions"
    >
    </app-panel-instruction-curtain>
  </mat-card-title>
  <mat-card-content>
    <div
      *ngIf="securityEvents?.criticalSecurityEvents.top_security_events"
      class="row margin-horizon-0"
    >
      <app-top-security-events-chart
        class="col-sm-12"
        [topSecurityEvents]="securityEvents.criticalSecurityEvents.top_security_events"
        [direction]="direction"
      ></app-top-security-events-chart>
    </div>
  </mat-card-content>
</mat-card>
