<form (ngSubmit)="submitForm()" [formGroup]="fedConfigForm">
  <formly-form
    [model]="config"
    [fields]="fedConfigFields"
    [form]="fedConfigForm"></formly-form>
  <div class="d-flex justify-content-end align-items-center mt-2">
    <app-loading-button
      [appearance]="'mat-raised-button'"
      [color]="'primary'"
      [disabled]="!fedConfigForm.valid || !fedConfigForm.dirty || submittingForm"
      [loading]="submittingForm"
      [text]="'setting.SUBMIT' | translate"
      [type]="'submit'">
    </app-loading-button>
  </div>
</form>
