/* Text area variables
   ========================================================================== */
/**
*
*  Color variables: /assets/stylesheets/eos-base/variables/branding.scss
*
*/
$eos-textarea-count-color: $eos-bc-gray-500;
$eos-textarea-height: 190px;
$eos-textarea-radius: 2px;
