<div class="nv-dialog">
  <div class="d-flex justify-content-between align-items-center">
    <h4 mat-dialog-title class="mb-2">
      <span *ngIf="data.opType === modalOp.ADD">{{
        'group.addGroup.TITLE' | translate
      }}</span>
      <span *ngIf="data.opType === modalOp.EDIT">{{
        'group.editGroup.TITLE' | translate
      }}</span>
      <span *ngIf="data.opType === modalOp.VIEW">{{
        'group.VIEW_GROUP' | translate
      }}</span>
    </h4>
    <button
      (click)="onCancel()"
      class="mb-2"
      aria-label="Close dialog"
      mat-icon-button>
      <i class="eos-icons">close</i>
    </button>
  </div>
  <hr class="fancy mb-2" />
  <div mat-dialog-content>
    <form [formGroup]="addEditGroupForm">
      <div class="row">
        <mat-form-field class="col-sm-3">
          <mat-label>{{ 'group.editGroup.GROUP_NAME' | translate }}</mat-label>
          <input
            type="text"
            matInput
            formControlName="name"
            (keyup)="checkGroupName()"
            (keydown)="suppressInvalidTyping($event)"
            [readonly]="data.opType !== modalOp.ADD"
            [attr.maxlength]="'general.FILTER_MAX_LEN' | translate" />
          <mat-error
            *ngIf="addEditGroupForm.controls.name.hasError('required')">
            {{ 'general.REQUIRED' | translate }}
          </mat-error>
          <mat-error *ngIf="addEditGroupForm.controls.name.hasError('fedName')">
            {{ 'group.NAME_VALID' | translate }} "fed."
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-sm-9">
          <mat-label>{{ 'policy.addPolicy.COMMENT' | translate }}</mat-label>
          <input
            type="text"
            matInput
            formControlName="comment"
            [readonly]="
              data.opType === modalOp.VIEW ||
              data.cfgType === GlobalConstant.CFG_TYPE.LEARNED
            "
            [attr.maxlength]="'general.FILTER_MAX_LEN' | translate" />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-12 col-md-12">
          <mat-label>{{
            'responsePolicy.gridHeader.CRITERIA' | translate
          }}</mat-label>
          <mat-chip-grid
            #chipList
            aria-label="Criteria"
            formControlName="criteriaCtrl">
            <mat-chip-row
              *ngFor="let criterion of criteria"
              (removed)="removeCriterion(criterion)"
              (click)="editCriterion(criterion)">
              {{ criterion.name }}
              <button matChipRemove>
                <mat-icon class="eos-icons icon-18">cancel</mat-icon>
              </button>
            </mat-chip-row>
            <input
              placeholder="{{
                (data.opType !== modalOp.VIEW
                  ? 'group.editGroup.ADD_CRITERIA'
                  : ''
                ) | translate
              }}"
              #criteriaInput
              [readonly]="data.opType === modalOp.VIEW"
              [attr.maxlength]="'general.FILTER_MAX_LEN' | translate"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              matChipInputAddOnBlur="true"
              (matChipInputTokenEnd)="addCriterion($event)" />
          </mat-chip-grid>
        </mat-form-field>
        <ng-container *ngIf="data.opType !== modalOp.VIEW">
          <mat-hint align="start" class="px-3">
            {{ 'partner.group.CRITERIA_HINT' | translate }}
          </mat-hint>
        </ng-container>
        <ng-container
          *ngIf="isShowingWarning && data.opType !== modalOp.VIEW"
          class="apikey__field full">
          <mat-hint class="type-label px-1 ml-3 mt-2 view-permission">
            {{ 'group.K8S_NAME_WARNING' | translate }}
          </mat-hint>
        </ng-container>
      </div>
      <div *ngIf="showMonitorMetric">
        <div class="row mt-2">
          <div class="col-lg-12 col-md-12">
            <label class="nv-modal-item-title margin-right-m">{{
              'group.editGroup.MONITOR_METRIC' | translate
            }}</label>
            <mat-slide-toggle
              class="padding-top-s"
              id="metric_monitor-toggle"
              [disabled]="data.opType === modalOp.VIEW"
              formControlName="monitor_metric">
              <span
                [ngClass]="{
                  'text-muted': !addEditGroupForm.controls.monitor_metric.value,
                  'text-success': addEditGroupForm.controls.monitor_metric.value
                }">
                {{
                  (addEditGroupForm.controls.monitor_metric.value
                    ? 'policy.status.ENABLED'
                    : 'policy.status.DISABLED'
                  ) | translate
                }}
              </span>
            </mat-slide-toggle>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-lg-4 col-md-4">
            <mat-form-field class="pull-left" style="width: 120px">
              <mat-label>{{
                'group.editGroup.GROUP_SESS_CUR' | translate
              }}</mat-label>
              <input
                type="number"
                min="0"
                step="1"
                pattern="\d+"
                matInput
                formControlName="group_sess_cur"
                [readonly]="
                  data.opType === modalOp.VIEW ||
                  !addEditGroupForm.controls.monitor_metric.value
                " />
              <mat-error
                *ngIf="
                  addEditGroupForm.controls.group_sess_cur.hasError('required')
                ">
                {{ 'general.REQUIRED' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-md-4">
            <mat-form-field class="pull-left" style="width: 120px">
              <mat-label>{{
                'group.editGroup.GROUP_SESS_RATE' | translate
              }}</mat-label>
              <input
                type="number"
                min="0"
                step="1"
                pattern="\d+"
                matInput
                formControlName="group_sess_rate"
                [readonly]="
                  data.opType === modalOp.VIEW ||
                  !addEditGroupForm.controls.monitor_metric.value
                " />
              <mat-error
                *ngIf="
                  addEditGroupForm.controls.group_sess_rate.hasError('required')
                ">
                {{ 'general.REQUIRED' | translate }}
              </mat-error>
            </mat-form-field>
            <div class="pull-left mt-4">
              {{ 'group.editGroup.CPS' | translate }}
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <mat-form-field class="pull-left" style="width: 120px">
              <mat-label>{{
                'group.editGroup.GROUP_BAND_WIDTH' | translate
              }}</mat-label>
              <input
                type="number"
                min="0"
                step="1"
                pattern="\d+"
                matInput
                formControlName="group_band_width"
                [readonly]="
                  data.opType === modalOp.VIEW ||
                  !addEditGroupForm.controls.monitor_metric.value
                " />
              <mat-error
                *ngIf="
                  addEditGroupForm.controls.group_band_width.hasError(
                    'required'
                  )
                ">
                {{ 'general.REQUIRED' | translate }}
              </mat-error>
            </mat-form-field>
            <div class="pull-left mt-4">
              {{ 'group.editGroup.MBPS' | translate }}
            </div>
          </div>
        </div>
      </div>
      <div
        class="d-flex justify-content-end align-items-center"
        *ngIf="data.opType !== modalOp.VIEW">
        <button mat-stroked-button class="mr-2" (click)="onCancel()">
          {{ 'group.editGroup.CANCEL' | translate }}
        </button>
        <app-loading-button
          [appearance]="'mat-raised-button'"
          [color]="'primary'"
          [loading]="submittingUpdate"
          [disabled]="addEditGroupForm.invalid"
          [text]="
            (data.opType === modalOp.EDIT
              ? 'group.editGroup.UPDATE'
              : 'group.addGroup.ADD'
            ) | translate
          "
          (btnClick)="updateGroup()">
        </app-loading-button>
      </div>
    </form>
  </div>
</div>
