<form (ngSubmit)="submitForm()" [formGroup]="profileForm">
  <formly-form
    [model]="passwordProfile"
    [fields]="profileFields"
    [form]="profileForm"
    [options]="profileOptions"></formly-form>
  <div class="d-flex justify-content-end align-items-center mt-2">
    <app-loading-button
      [appearance]="'mat-raised-button'"
      [color]="'primary'"
      [disabled]="
        !profileOptions.formState.isUpdatePwdProfileAuthorized ||
        !profileForm.valid ||
        !profileForm.dirty ||
        !pwdFormatValid ||
        submittingForm
      "
      [loading]="submittingForm"
      [text]="'setting.SUBMIT' | translate"
      [type]="'submit'">
    </app-loading-button>
  </div>
</form>
