.topLeftFloat {
  position: absolute;
  left: 20px;
  top: 72px;
  width: 800px;
  height: auto;
  max-height: 70vh;
}

.cveInfo {
  position: absolute;
  left: 200px;
  top: 272px;
  width: 900px;
  height: auto;
  max-height: 70vh;
  max-width: 80vw;
}

ul li::marker {
  content: '>';
  color: #0e7e3c;
  animation: color-change 3s ease-in-out infinite;
}

li div span {
  color: #909fa7;
}

.mat-icon {
  transform: scale(0.8);
}

.mat-icon-button {
  width: 24px;
  height: 24px;
}
