.filter {
  position: relative;
  left: calc(100% - 336px);
  top: -4px;
  z-index: 10000;
  display: flex;
  align-items: baseline;
}

.filter-actions {
  display: flex;
}

.filter-csv {
  left: calc(100% - 396.5px) !important;
}

.filter-view {
  left: calc(100% - 428.5px) !important;
}

.filter-view-csv {
  left: calc(100% - 489px) !important;
}

.filter-container {
  left: calc(100% - 346px) !important;
}

.node-detail-tab-group {
  margin-top: -62px;
}
