<h4>BY EITHER (A) CLICKING TO ACCEPT THIS NEUVECTOR END USER LICENSE AGREEMENT (THE “AGREEMENT”),
    (B) DOWNLOADING, INSTALLING AND/OR USING THE NEUVECTOR PROPRIETARY CONTAINER SECURITY SOFTWARE
    SOLUTION (COLLECTIVELY, THE “SOFTWARE”), OR (C) ENTERING INTO AN ORDERING DOCUMENT EXECUTED OR
    OTHERWISE AGREED TO BY THE PARTIES (WHICH MAY BE IN THE FORM OF A QUOTE) OR YOU AND NEUVECTOR’S
    AUTHORIZED RESALE PARTNER (“RESELLER”) AND REFERENCING THIS AGREEMENT (“ORDER FORM”) YOU AGREE
    TO THE TERMS AND CONDITIONS OF THIS END USER LICENSE AGREEMENT (THE “AGREEMENT”), AND YOU AGREE
    THAT YOU ARE BOUND BY AND ARE A PARTY TO THIS AGREEMENT. THE “CUSTOMER” HEREUNDER IS THE
    CUSTOMER IDENITIFIED ON AN ORDER FORM OR OTHER ONLINE ORDERING AGREEMENT. YOU WARRANT THAT YOU
    HAVE THE
    LEGAL CAPACITY TO ENTER INTO CONTRACTS ON BEHALF OF THE ORGANIZATION YOU REPRESENT.
    YOUR USE OF THE SOFTWARE IS EXPRESSLY CONDITIONED ON YOUR ACCEPTANCE OF THE TERMS AND CONDITIONS
    OF THIS AGREEMENT. IF YOU DO NOT AGREE TO ALL OF THE TERMS AND CONDITIONS OF THIS AGREEMENT,
    YOU MAY NOT INSTALL OR USE THE SOFTWARE.
</h4>

<ol>
  <li><strong>NeuVector Software.</strong>
<ol>
      <li>
        Paid License. Customer may obtain a license to the Software under one or more Order Forms.
        Conditioned upon your compliance with the terms and conditions of this Agreement, including
        the applicable payment terms agreed upon between NeuVector and you or you and a Reseller,
        NeuVector grants you a revocable, non-exclusive, non-sublicensable and non-transferable
        license to install and use the Software in order to benefit from its functionality as
        designed by NeuVector, solely for your internal business purposes for the term stated on the
        applicable Order Form (<strong>"Paid License"</strong>).
      </li>
      <li>
        <u>Paid License Methods</u>. The Software license may be issued using the following methods:
        <ol>
          <li>
            Standard. Licenses are purchased for the number of nodes or vCPUs on which the
                         Software will be deployed. Licenses are tied to specific cluster(s).
          </li>
          <li>
            Auto-Scaling*. Licenses are purchased based on the estimated average nodes or vCPUs
               on which the Software will be deployed. Licenses will allow scaling up to a maximum number of nodes or vCPUs (# for average and maximum for each cluster to be provided by customer)
          </li>
          <li>
            Multi-Use*. Licenses are purchased based on the number of nodes or vCPUs on which
               the Software will be deployed. Licenses may be applied to a maximum number of clusters (# provided by customer), with total number of nodes or vCPUs across all clusters not to exceed the licensed number of nodes or vCPUs.
          </li>
        </ol>
        <strong>*Usage Reporting and True-Ups.</strong> Monthly usage reporting and quarterly true-ups
        are required for <u>Auto-Scaling</u> and <u>Multi-Use</u> licenses. Customer will run a
        NeuVector Usage Report for all NeuVector deployments and submit to NeuVector’s Service Desk
        via a trouble ticket. License overages are subject to additional purchases which can be
        co-terminated to the original license date.
      </li>
      <li>Trial License. If you are downloading and using the Software for the sole purpose of
          completing a free trial of the Software, in addition to the other terms and conditions
          contained
          herein, and conditioned upon your compliance with the terms and conditions of this
          Agreement, NeuVector grants you a revocable, non-exclusive, non-sublicensable and
          non-transferable license to install and use the Software, for the number of instances of
          use or virtual machine(s) agreed upon between NeuVector and you or you and NeuVector’s
          authorized reseller, strictly for your internal evaluation and review purposes and not for
          production purposes (<strong>"Trial License"</strong>). After you have purchased a Paid
          License
          to the
          Software, NeuVector shall remove all limitations in the Trial License. The Trial License
          granted hereunder is effective for the period of time communicated to Customer by
          NeuVector or the Reseller for the trial when Customer accepted this Agreement for
          evaluation and review purposes (<strong>“Trial Period”</strong>) starting from the date
          Customer downloads
          the Software. Customer’s right to use the Software under the Trial License will
          immediately terminate upon the earlier of (i) the expiration of the Trial Period, or (ii)
          such time that Customer purchases a Paid License to the Software. You acknowledge that
          Software used under a Trial License during the Trial Period may contain limited
          functionality or function for a limited period of time and that NeuVector is licensing the
          Software under the Trial License on an "AS IS" basis without warranties or indemnities of
          any kind and NeuVector disclaims any liability to Customer of any kind. NeuVector may
          provide limited technical support during the Trial Period at NeuVector’s own discretion.
      </li>
      <li> License to Documentation. Subject to the terms and conditions of this Agreement,
           NeuVector
           grants Customer a worldwide, limited, non-sublicensable, non-exclusive, non-transferable,
           revocable license to use and make a reasonable number of copies of the Documentation for
           Customer’s internal business purposes and training. For the purposes of this Agreement,
        <strong>“Documentation”</strong> means NeuVector’s generally published technical
           documentation
           regarding
           the Software. The Documentation does not include advertising, marketing materials,
           information disseminated via mailing lists, and other forms of public communication from
           NeuVector, even if such public communications are regarding the Software.
      </li>
      <li> Limitations. The licenses set forth above may be limited by the number of instances of
           use or virtual machines or other license mechanisms described in the Order Form. Customer
           also agrees to comply with any other limitations on use, download, installation or access
           to the Software contained in an Order Form.
      </li>
      <li> Restrictions. Except as expressly permitted under this Agreement, Customer agrees that it
           will not, and will not allow third parties to, directly or indirectly (a) modify,
           translate, copy
           or create derivative works based on the Software, (b) reverse assemble, reverse compile,
           reverse engineer, or decompile the Software or otherwise attempt to discover the object
           code, source code, except as and only to the extent this restriction is prohibited by
           law, (c) license, sublicense, sell, resell, rent, lease, transfer, assign, distribute,
           time share or otherwise commercially exploit or make the Software available to any third
           party, (d) remove or obscure any copyright, trademark or other proprietary notices,
           legends or branding of NeuVector contained in or on the Software, (e) use the Software in
           any way that violates any applicable federal, state, local or international law or
           regulation, (f) attempt to gain unauthorized access to, interfere with, damage or disrupt
           any parts of the Software, or (g) use or access the Software to build or support and/or
           assist a third party in building or supporting products or services competitive with the
           Software or (h) combine or distribute any of the Software with any software that is
           licensed under terms that seek to require that any of the Software (or any associated
           intellectual property rights) be provided in source code form (e.g., as “open source”),
           licensed to others to allow the creation or distribution of derivative works, or
           distributed without charge. NeuVector reserves the right to take action (including
           suspending Customer’s use of or access to Software), if it deems it reasonably
           appropriate or if it believes Customer is violating applicable law or there is a credible
           risk of harm to NeuVector, its Software or any of NeuVector’s other customers. For the
           avoidance of doubt, Customer’s installation of the Software shall not be deemed a
           derivative work and is authorized by the license grants above (as applicable).
      </li>
      <li> Beta Products. NeuVector may occasionally make new services or new features of its
           existing
           services available to Customer for evaluation and testing (each, a “Beta Product(s)”).
           Beta
           Products will only be made available if Customer agrees to test such products in writing
           (email acceptable). For the avoidance of doubt, whether you choose to use the Beta
           Products is completely within Customer’s control. If Customer chooses to use a Beta
           Product, Customer understands and agrees that Beta Products are made available on an “AS
           IS,” and “AS AVAILABLE” basis and without any warranties, indemnities, or support
           commitments of any kind.
      </li>
    </ol>
  </li>
  <li><strong>Open Source Software</strong>. The Software may contain software or other material
                                           that is
                                           distributed as "open source software" or under similar
                                           licensing or distribution terms (<strong>"Open
                                                                                    Source
                                                                                    Software"</strong>),
                                           which requires notices and/or additional terms and
                                           conditions. Such
                                           required notices and/or additional terms and conditions
                                           are found at
    <a href="http://neuvector.com/license.html">http://neuvector.com/license.html</a>. Nothing in
                                           this Agreement limits your rights
                                           under, or
                                           grants you rights that supersede, the terms and
                                           conditions of any applicable open source
                                           license for such Open Source Software.
  </li>

  <li><strong>Maintenance and Support Services</strong>. Maintenance and support services will be
                                                       provided by
                                                       NeuVector for the Software licensed under
                                                       this Agreement as set forth at
    <a href="https://neuvector.com/sw-support-agreement/">https://neuvector.com/sw-support-agreement/</a>
                                                       (<strong>“Support Services”</strong>) Support
                                                       may
                                                       also be provided
                                                       by a Reseller under separate terms agreed
                                                       upon by such Reseller and Customer. NeuVector
                                                       shall
                                                       have no obligation to provide Support
                                                       Services for Software that has been modified
                                                       by Customer
                                                       or a third party at Customer’s direction,
                                                       except as otherwise agreed to by NeuVector in
                                                       writing.

  <li><strong>Fees and Payment.</strong>
    <ol>
      <li> Fees. Customer will pay all fees as specified in the Order Form (“Fees”). Payment</li>
      obligations to NeuVector are non-cancelable and, except as expressly stated in this Agreement,
      non-refundable. NeuVector may modify Fees or introduce new Fees in its sole discretion;
      Customer understands that revised or new Fees may be required by changes in NeuVector business
      or offerings. NeuVector may modify or add new fees in NeuVector’s sole discretion provided
      that NeuVector gives you at least thirty (30) days’ advance written notice and that any new or
      revised fees for the Software will only become effective upon renewal of your subscription.
      <li> Payment Terms. All Fees shall be paid in United States dollars and shall be due thirty
           (30) days from the date of invoice. Unless otherwise agreed to by NeuVector, all payments
           shall
           be made by wire transfer of immediately available funds to an account designated by
           NeuVector, all wire transfer fees prepaid. Notwithstanding any other rights of NeuVector,
           in the event of late payment by Customer (other than a payment that is not made when due
           as a result of a bona fide dispute between the parties), NeuVector shall be entitled to
           interest on the amount owing at a rate of 1% per month or the highest rate allowed by
           applicable law, whichever is less, compounded on a daily basis from the due date of
           payment until the date of actual payment. If you are purchasing a license to the Software
           through a Reseller, then the applicable fees will be paid directly to the Reseller. Fees
           will be invoiced in arrears and otherwise in accordance with the relevant ordering
           documentation you have entered into with NeuVector or a Reseller.
      </li>
      <li> Taxes. Any and all payments made by Customer to NeuVector in accordance with this
           Agreement
           are exclusive of any taxes that might be assessed against Customer by any jurisdiction.
           Customer
           shall pay or reimburse NeuVector for all value-added, sales, use, property and similar
           taxes; all customs duties, import fees, stamp duties, license fees and similar charges;
           and all other mandatory payments to government agencies of whatever kind, except taxes
           imposed on the net or gross income of NeuVector. All amounts payable to NeuVector under
           this Agreement shall be without set-off and without deduction of any taxes, levies,
           imposts, charges, withholdings and/or duties of any nature which may be levied or
           imposed, including without limitation, value added tax, customs duty and withholding tax.
           In the event of foreign withholding taxes, Customer agrees to provide NeuVector with the
           necessary withholding certificates or other documentation as requested.
      </li>
    </ol>
  </li>
  <li><strong>Term and Termination.</strong>
    <ol>
      <li> Agreement Term. The term of this Agreement will begin on the start date of Customer’s
           initial Paid License term and shall continue for as long as any Order Form remains in
           effect, unless and until this Agreement is earlier terminated by either party pursuant to
           this “Term and Termination” section (<strong>“Term”</strong>). Each Order Form will have
           the
           term stated
           on such Order Form (<strong>“Initial Order Term”</strong>). Unless otherwise stated
           therein,
           each Order
           Form (and any included Paid License term) will automatically renew for periods equal to
           the Initial Order Term (<strong>“Renewal Order Term”</strong>) unless either party gives
           written notice to
           the other party of its intent not to renew within thirty days of the end of the Initial
           Order Term or the then-current Renewal Order Term. In the event of Customer termination,
           the Customer will provide at least thirty (30) days’ notice of its intent to not renew.
           Collectively, the Initial Term and Renewal Term shall be the <strong>“Term.”</strong>
      </li>
      <li> Termination. Either party may also terminate this Agreement upon written notice to the
           other party if the other party materially breaches this Agreement and such breach is not
           cured within thirty (30) days after the non-breaching party provides written notice of
           such breach.
      </li>
      <li> Effect of Termination. Upon any termination for cause by NeuVector, Customer will pay any
           unpaid Fees covering the remainder of the then-current term stated on the Order Form. In
           no event will any termination relieve Customer of the obligation to pay any Fees payable
           to NeuVector or its authorized reseller for the period prior to the effective date of
           termination. Upon any termination or expiration of this Agreement: (a) any Paid License
           shall terminate and Customer shall cease all use of Software, (b) upon termination,
           Customer must, at NeuVector’s option, either promptly destroy or return to NeuVector all
           copies of the Software in Customer’s possession or control.
      </li>
      <li> Survival. The terms of the “Restrictions”, “Term and Termination”, “Intellectual
           Property”, “Disclaimer”, “Limitation of Liability”, “Indemnification”, “Confidentiality”,
           and “General Terms” sections and any rights to payments already accrued will survive any
           termination or expiration of this Agreement.
      </li>
    </ol>
  </li>
  <li><strong>Intellectual Property.</strong>
    <ol>
      <li> Ownership. NeuVector owns the Software and the Documentation (collectively the <strong>“NeuVector
                                                                                                  Materials”</strong>).
           NeuVector Software is licensed, not sold. The Software is protected by
           United
           States copyright law and international treaties. Customer will not delete or in any
           manner
           alter the copyright, trademark, and other proprietary rights notices or markings
           appearing on or within the Software. NeuVector retains all right, title and interest
           (including, without limitation, all patent, copyright, trademarks, trade secret and other
           intellectual property rights) in and to the NeuVector Materials, all related and
           underlying technology and any updates, enhancements, upgrades, modifications, patches,
           workarounds, and fixes thereto and all derivative works of or modifications to any of the
           foregoing. There are no implied licenses under this Agreement and any rights not
           expressly set forth in this Agreement are hereby expressly reserved by NeuVector.
      </li>
      <li> Feedback. Customer may from time to time provide suggestions, comments or other feedback
           with
           respect to the Software or any services provided hereunder (“Feedback”). NeuVector may
           want
           to incorporate this Feedback into its Software or services and this clause provides
           NeuVector with the necessary license to do so. Customer hereby grants to NeuVector and
           our assigns a royalty-free, worldwide, perpetual, irrevocable, fully transferable and
           sub-licensable right and license to use, disclose, reproduce, modify, create derivative
           works from, distribute, display and otherwise distribute and exploit any Feedback as
           NeuVector sees fit, entirely without obligation or restriction of any kind, except that
           NeuVector will not identify Customer as the provider of such Feedback.
      </li>
    </ol>
  </li>
  <li><strong>Warranties and Disclaimers.</strong>
    <ol>
      <li> Performance Warranty.
        <ol>
          <li> NeuVector’s Warranty. NeuVector warrants that during the Term that the Software will
               perform
               in all material respects in accordance with the Documentation. In the event of a
               breach of
               the foregoing warranty, NeuVector’s sole obligation, and Customer’s exclusive remedy
               shall
               be for NeuVector to (i) correct any failure(s) of the Software to perform in all
               material respects in accordance with the Documentation or (ii) if NeuVector is unable
               to provide such a correction within thirty (30) days of receipt of notice of the
               applicable non-conformity, then upon request from Customer, NeuVector will promptly
               refund to Customer if purchased directly or via the authorized reseller from whom
               Customer has purchased NeuVector’s Software, the unused portion (on a pro-rata basis
               based on the number of months remaining in the then current term of Agreement) any
               pre-paid Fees paid by Customer to NeuVector or its authorized reseller for the
               applicable Software, provided that, upon payment of such refund, all licenses granted
               in this Agreement with respect to such Software shall immediately terminate. The
               warranty set forth in this Section does not apply if the applicable Software or any
               portion thereof: (a) has been altered, except by or on behalf NeuVector; (b) has not
               been used, installed, operated, repaired, or maintained in accordance with this
               Agreement and/or the Documentation; (c) has been subjected to abnormal physical or
               electrical stress, misuse, negligence, or accident; or (d) is used on equipment,
               products, or systems not meeting specifications identified by NeuVector in the
               Documentation. Additionally, the warranties set forth herein do not apply to any bug,
               defect or error caused by or attributable to software or hardware not supplied by
               NeuVector.
          </li>
          <li> Disclaimer. EXCEPT AS EXPRESSLY PROVIDED FOR HEREIN, THE SOFTWARE, AND ANY SERVICES
               AND ALL
               RELATED COMPONENTS AND INFORMATION ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE”
               BASIS
               WITHOUT ANY WARRANTIES OF ANY KIND, AND NEUVECTOR EXPRESSLY DISCLAIMS ANY AND ALL
               WARRANTIES, WHETHER EXPRESS OR IMPLIED, INCLUDING THE IMPLIED WARRANTIES OF
               MERCHANTABILITY, TITLE, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT.
               NEUVECTOR ALSO DOES NOT WARRANT THAT THE SOFTWARE WILL MEET YOUR REQUIREMENTS, OR
               THAT THE SOFTWARE WILL OPERATE IN COMBINATION WITH YOUR SOFTWARE. CUSTOMER
               ACKNOWLEDGES THAT NEUVECTOR DOES NOT WARRANT THAT THE SOFTWARE WILL BE UNINTERRUPTED,
               TIMELY, SECURE, OR ERROR-FREE OR THAT ALL ERRORS WILL BE CORRECTED. SOME
               JURISDICTIONS DO NOT ALLOW THE DISCLAIMER OF CERTAIN TYPES OF WARRANTIES, SO THE
               ABOVE DISCLAIMERS MAY NOT APPLY TO CUSTOMER. THIS AGREEMENT GRANTS SPECIFIC LEGAL
               RIGHTS, AND CUSTOMER MAY ALSO HAVE OTHER RIGHTS THAT VARY FROM JURISDICTION TO
               JURISDICTION. THE FOREGOING DISCLAIMERS WILL NOT APPLY TO THE EXTENT PROHIBITED BY
               APPLICABLE LAW.
          </li>
        </ol>
      </li>
    </ol>
  </li>
  <li><strong>Limitation of Liability.</strong>
    <ol>
      <li> Disclaimer of Certain Damages. IN NO EVENT SHALL NEUVECTOR OR ITS LICENSORS BE LIABLE FOR
           ANY
           LOSS OF PROFITS, LOSS OF USE, BUSINESS INTERRUPTION, LOSS OF DATA, COST OF SUBSTITUTE
           GOODS
           OR SERVICES, OR FOR ANY PUNITIVE, INDIRECT, SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES
           OF
           ANY KIND IN CONNECTION WITH OR ARISING OUT OF THE USE OR INABILITY TO USE THE SOFTWARE,
           OR THE PERFORMANCE OF OR FAILURE TO PERFORM THIS AGREEMENT, WHETHER ALLEGED AS A BREACH
           OF CONTRACT OR TORTIOUS CONDUCT, INCLUDING NEGLIGENCE, EVEN IF A PARTY HAS BEEN ADVISED
           OF THE POSSIBILITY OF SUCH DAMAGES.
      </li>
      <li> Damages Cap. IN NO EVENT SHALL NEUVECTOR’S OR ITS LICENSORS’ AGGREGATE, CUMULATIVE
           LIABILITY
           UNDER THIS AGREEMENT EXCEED THE TOTAL FEES CUSTOMER WAS REQUIRED TO PAY NEUVECTOR UNDER
           THIS
           AGREEMENT IN THE TWELVE (12) MONTHS IMMEDIATELY PRIOR TO THE EVENT GIVING RISE TO
           LIABILITY.
      </li>
      <li> Basis of the Bargain. CUSTOMER AGREES THAT THE FOREGOING LIMITATIONS, EXCLUSIONS AND
           DISCLAIMERS ARE A REASONABLE ALLOCATION OF THE RISK BETWEEN THE PARTIES AND WILL APPLY TO
           THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, EVEN IF ANY REMEDY FAILS IN ITS ESSENTIAL
           PURPOSE.
      </li>
    </ol>
  </li>
  <li><strong>Indemnification.</strong>
    <ol>
      <li> NeuVector Indemnification. NeuVector will, at its expense (i) defend, or at its option
           settle, a claim brought against Customer by an unaffiliated third party alleging that the
           distribution or use by Customer of the Software infringes such party’s patent registered
           as
           of the Effective Date, or any copyright or trademark of such party, or makes unlawful use
           of such party’s trade secret (each a <strong>“Claim”</strong>) and (ii) indemnify
           Customer against and pay
           (a) any settlement of such Infringement Claim consented to by NeuVector or (b) any
           damages finally awarded by a court of competent jurisdiction to such third party as
           relief or remedy in such Infringement Claim. NeuVector will have no obligation to
           Customer to the extent any Infringement Claim or resulting award is based upon or results
           from: (i) Customer’s distribution or use of the Software in a country that is not a
           contracting state to the Patent Cooperation Treaty; (ii) the failure of Customer to use
           and/or distribute an update of the Software made available by NeuVector that would have
           avoided the Infringement Claim; (iii) a modification of the Software that is not
           performed by NeuVector; (iv) the combination, operation, or use of the Software with any
           other software, services or equipment not provided by NeuVector where there would be no
           Infringement Claims but for such combination; (v) specifications Customer provides to
           NeuVector; (vi) use or distribution of the Software other than in accordance with the
           terms and conditions of this Agreement, (vii) damages attributable to the value of the
           use of a non-NeuVector Software or service or (viii) any third party open source
           software.
      </li>
      <li> NeuVector Remedies. If, during the Term of this Agreement, the Software is, or in
           NeuVector’s reasonable opinion is likely to become, the subject of an Infringement Claim,
           and/or an injunction as the result of an Infringement Claim, NeuVector may, at its
           expense
           and option: (i) obtain the right for Customer to continue to exercise the rights granted
           in the “Paid License” section above; (ii) modify the Software so that it becomes
           non-infringing but substantially functionally equivalent; or (iii) in the event that
           neither (i) or (ii) are commercially reasonable options, terminate Customer’s licenses
           with respect to the Software.
      </li>
      <li> Indemnification by Customer. Customer agrees to defend and indemnify NeuVector, at
           Customer’s expense, against (a) any introduction of malicious code or malware into
           NeuVector’s Software or (b) a claim from a third party that the Device in whole or in
           part,
           or any software, hardware, materials or technology therein and/or Security Application
           with any other software, hardware, materials or technology used by Customer as part of
           the Device, infringes a patent, copyright or trademark of such third party or makes
           unlawful use of such party’s trade secret or (c) any claim that a Device harmed or caused
           damage to a third party (each of (a), (b) and (c) above, will also be considered a
           Claim), and Customer shall pay any settlement of such Claim or final judgment against
           NeuVector in any such Claim.
      </li>
      <li> Conditions. The obligations of the indemnifying party (the <strong>“Indemnifying
                                                                              Party”</strong>) in
           this “Indemnification” section are conditioned upon the indemnified party (<strong>“Indemnified
                                                                                              Party”</strong>)
           (i) notifying the Indemnifying Party promptly in writing of any threatened or
           pending Claim, provided that failure to provide such notice will only relieve the
           Indemnifying Party of its obligations under this “Indemnification” section to the extent
           its ability to defend or settle an applicable Claim is materially prejudiced by such
           failure to provide notice; (ii) giving Indemnifying Party, at Indemnifying Party expense,
           reasonable assistance and information requested by Indemnifying Party in connection with
           the defense and/or settlement of the Claim and (iii) tendering to Indemnifying Party sole
           control over the defense and settlement of the Claim. The Indemnified Party’s counsel
           will have the right to participate in the defense of the Claim, at Indemnified Party’s
           own expense. Indemnified Party will not, without the prior written consent of
           Indemnifying Party, make any prejudicial statement, settle, compromise or consent to the
           entry of any judgment with respect to any pending or threatened Claim.
      </li>
    </ol>
  </li>
  <li><strong>Confidentiality.</strong>
    <ol>
      <li> Definition. Each party (“Disclosing Party”) may disclose “Confidential Information”
           to the other party (“Receiving Party”) in connection with this Agreement, which is
           anything that reasonably should be understood to be confidential given the nature of the
           information and the circumstances of disclosure including all Order Forms, as well as
           non-public business, product, technology and marketing information. Notwithstanding the
           above, Confidential Information does not include information that (a) is or becomes
           generally available to the public without breach of any obligation owed to the Disclosing
           Party; (b) was known to the Receiving Party prior to its disclosure by the Disclosing
           Party; (c) is received from a third party without any obligation of confidentiality; or
           (d) was independently developed by the Receiving Party without use or reference to the
           Disclosing Party’s Confidential Information.
  </li>
      <li> Protection and Use of Confidential Information. The Receiving Party will (a) protect
           the Disclosing Party’s Confidential Information using the same degree of care its
           uses to protect its own confidential or proprietary information of like importance, but
           in any case using no less than a reasonable degree of care, (b) limit access to the
           Confidential Information to those employees, affiliates, agents, consultants, legal
           advisors, financial advisors, and contractors (“Representatives”) who need to know such
           information in connection with this Agreement and who are bound by confidentiality and
           non-use obligations just as protective of the Disclosing Party’s Confidential Information
           as the terms of this Agreement; (c) except as expressly set forth herein, will not
           disclose any of Disclosing Party’s Confidential Information to any third parties without
           the Disclosing Party’s prior written consent; and (d) will not use the Disclosing Party’s
           Confidential Information for any purpose other than to fulfill its obligations under this
           Agreement. Nothing above will prevent either party from sharing Confidential Information
           with financial and legal advisors; provided, however, that the advisors are bound to
           confidentiality obligations at least as protective of the Disclosing Party as those in
           this Agreement.
      </li>
      <li> Compelled Access or Disclosure. The Receiving Party may access or disclose
           Confidential Information of the Disclosing Party if it is required by law; provided,
           however, that the Receiving Party gives the Disclosing Party prior notice of the
           compelled access or disclosure (to the extent legally permitted) and reasonable
           assistance, at the Disclosing Party's cost, if the Disclosing Party wishes to contest the
           access or disclosure.
      </li>
    </ol>
  </li>
  <li> Export. Customer acknowledges NeuVector’s products are subject to U.S. export control
       laws and regulations, including but not limited to Section 740.17(A) under the Export
       Administration Regulations (EAR) and is described in Section 740.17(B)(1). You agree to
       comply fully with all U.S. export laws and regulations to ensure that neither the Software
       nor any technical data related thereto nor any direct product thereof are exported or
       re-exported directly or indirectly in violation of, or used for any purposes prohibited by,
       such laws and regulations, including export limitations to countries subject to
       embargo/comprehensive trade sanctions or identified in Country Group E:1 or E:2 at Supp. No.
       1 to 15 CFR part 740.
  </li>
  <li><strong>General Terms.</strong>
    <ol>
      <li> Publicity. Customer grants NeuVector the right to use Customer’s company name and
           logo as a reference for marketing or promotional purposes on NeuVector’s website and
           in other public or private communications with NeuVector existing or potential customers,
           subject to Customer’s standard trademark usage guidelines as provided to NeuVector from
           time-to-time.
      </li>
      <li> Force Majeure. Neither NeuVector nor Customer will be liable by reason of any failure
           or delay in the performance of its obligations on account of events beyond the
           reasonable control of a party, which may include denial-of-service attacks, a failure by
           a third-party hosting provider or utility provider, strikes, shortages, riots, fires,
           acts of God, war, terrorism, and governmental action.
      </li>
      <li> Relationship of the Parties. The parties are independent contractors. This Agreement
           does not create a partnership, franchise, joint venture, agency, fiduciary, or
           employment relationship between the parties.
      </li>
      <li> No Third-Party Beneficiaries. There are no third-party beneficiaries to this
           Agreement; a person who is not a party to this Agreement may not enforce any of its
           terms under any applicable law.
  </li>
      <li> Notice. Except as otherwise set forth herein, all notices under this Agreement will
           be provided by email. Notices to NeuVector must be sent to
        <a href="mailto:legal@NeuVector.com">legal@NeuVector.com</a> except
           for notices related to breach of contract or indemnification, which must be sent to
           NeuVector, Inc., corporate address, Attention: Chief Executive Officer. Notices will be
           deemed to have been duly given (a) the business day after it is sent, in the case of
           notices through email; and (b) the same day, in the case of notices through the NeuVector
           website.
  </li>
      <li> Anti-Corruption. Customer acknowledges that it is aware of, understands and has
           complied and will comply with, all applicable U.S. and foreign anti-corruption laws,
           including without limitation, the U.S. Foreign Corrupt Practices Act (“FCPA”) and the
           U.K. Bribery Act. Without limiting the foregoing, Customer and its employees and agents
           shall not directly or indirectly make any offer, payment, or promise to pay; authorize
           payment; or offer a gift, promise to give, or authorize the giving of anything of value
           for the purpose of influencing any act or decision of an official of any government
           within the Territory or the United States Government (including a decision not to act) or
           inducing such a person to use his or her influence to affect any such governmental act or
           decision in order to assist Customer in obtaining, retaining or directing any such
           business
  </li>
      <li> Amendment and Waivers. No modification or amendment to this Agreement will be
           effective unless made in writing and signed by an authorized representative of both
           parties. No failure or delay by either party in exercising any right under this Agreement
           will constitute a waiver of that right. No waiver under this Agreement will be effective
           unless made in writing and signed by an authorized representative of the party being
           deemed to have granted the waiver.
  </li>
      <li> Severability. This Agreement will be enforced to the fullest extent permitted under
           applicable law. If any provision of this Agreement is held by a court of competent
           jurisdiction to be contrary to law, the provision will be modified by the court and
           interpreted so as best to accomplish the objectives of the original provision to the
           fullest extent permitted by law, and the remaining provisions of this Agreement will
           remain in effect.
  </li>
      <li> Assignment. Neither party will assign or delegate any of its rights or obligations
           hereunder, whether by operation of law or otherwise, without the prior written
           consent of the other party (not to be unreasonably withheld). Notwithstanding the
           foregoing, NeuVector may assign this Agreement in its entirety (including all Schedules),
           without consent of Customer, in connection with a merger, acquisition, corporate
           reorganization, or sale of all or substantially all of NeuVector’s assets. Any purported
           assignment in violation of this “Assignment” section is void. Subject to the foregoing,
           this Agreement will bind and inure to the benefit of the parties, their respective
           successors and permitted assigns.
  </li>
      <li> Governing Law and Venue. This Agreement, and any disputes arising out of or related
           hereto, will be governed exclusively by the internal laws of the State of California,
           without regard to its conflicts of laws rules or the United Nations Convention on the
           International Sale of Goods. The parties acknowledge that this Agreement evidences a
           transaction involving interstate commerce. Notwithstanding the preceding sentences with
           respect to the substantive law of this Agreement, any arbitration conducted hereunder
           shall be governed by the Federal Arbitration Act (9 U.S.C. §§ 1-16). The state and
           federal courts located in Santa Clara County, California will have exclusive jurisdiction
           to adjudicate any dispute arising out of or relating to this Agreement or its formation,
           interpretation or enforcement, including any appeal of an arbitration award or for trial
           court proceedings if the arbitration provision below is found to be unenforceable. Each
           party hereby consents and submits to the exclusive jurisdiction of such courts. Each
           party also hereby waives any right to jury trial in connection with any action or
           litigation in any way arising out of or related to this Agreement. In any action or
           proceeding to enforce rights under this Agreement, the prevailing party will be entitled
           to recover its reasonable costs and attorney’s fees.
  </li>
      <li> Entire Agreement. This Agreement, including all referenced pages and Schedules, if
           applicable, constitutes the entire agreement between the parties and supersedes all
           prior and contemporaneous agreements, proposals or representations, written or oral,
           concerning its subject matter. Without limiting the foregoing, this Agreement supersedes
           the terms of any online agreement electronically accepted by Customer or any Authorized
           Users. However, to the extent of any conflict or inconsistency between the provisions in
           this Agreement and any other documents or pages referenced in this Agreement, the
           following order of precedence will apply: (1) the terms of any Order Form (if any), (2)
           this Agreement and (3) any other documents or pages referenced in this Agreement.
           Notwithstanding any language to the contrary therein, no terms or conditions stated in a
           Customer purchase order to NeuVector if purchased directly or received by NeuVector from
           its authorized reseller on the Customer’s behalf, vendor onboarding process or web
           portal, or any other Customer order documentation (excluding Schedules) will be
           incorporated into or form any part of this Agreement, and all such terms or conditions
           will be null and void.
  </li>
      <li> U.S. Government End Users. If Customer is a branch or agency of the United States
           Government, the terms of this “U.S. Government End Users” section apply. The Software
           contains “commercial computer software” as that term is described in DFAR
           252.227-7014(a)(1). If acquired by or on behalf of a civilian agency, the U.S. Government
           acquires this commercial computer software and/or the documentation related to such
           commercial computer software subject to the terms of this Agreement as specified in 48
           C.F.R. 12.212 (Computer Software) and 12.11 (Technical Data) of the Federal Acquisition
           Regulations and its successors. If acquired by or on behalf of any agency within the
           Department of Defense, the U.S. Government acquires this commercial computer software
           and/or commercial computer software documentation subject to the terms of this Agreement
           as specified in 48 C.F.R. 227.7202 of the DOD FAR Supplement and its successors.
      </li>
    </ol>
  </li>
</ol>
