<script type="text/ng-template" id="sidebar-renderer.html">
  <span ng-if="item.heading"></span>
  <a ng-if="!item.heading"
     ng-href="{{$state.href(item.stateName, item.params)}}"
     title="{{(item.translate | translate) || item.text}}" md-ink-ripple="md-ink-ripple">
    <div ng-if="item.alert" ng-class="item.label || 'label label-success'" class="pull-right">
      {{item.alert}}
    </div>
    <em id="sidebar-icon" ng-if="item.icon" class="{{item.icon}}"></em>
    <span>{{(item.translate | translate) || item.text}}</span>
    <em ng-if="item.submenu && isCollapse(pIndex)" class="pull-right fa fa-caret-down" style="margin-top: 2px"></em>
    <em ng-if="item.submenu && !isCollapse(pIndex)" class="pull-right fa fa-caret-up" style="margin-top: 2px"></em>
  </a>
  <ul ng-if="item.submenu" uib-collapse="isCollapse(pIndex)"
      ng-init="addSubmenu(pIndex, item)" class="nav sidebar-subnav">
    <li class="sidebar-subnav-header">{{(item.translate | translate) || item.text}}</li>
    <li ng-repeat="item in item.submenu" ng-include="'sidebar-renderer.html'"
        ng-class="getMenuItemClass(item)"
        ng-init="pIndex=(pIndex+'-'+$index); inSubmenu = true" ng-click="toggleSubmenuCollapse(pIndex)"></li>
  </ul>
</script>

<div class="aside-inner" ng-controller="SidebarController" >
  <nav sidebar="" sidebar-anyclick-close="" ng-class="{'show-scrollbar': app.layout.asideScrollbar}" class="sidebar">
    <ul class="nav" ng-hide="hideFrame">
      <li ng-if="!item.heading" ng-class="getMenuItemClass(item)" ng-repeat="item in menuItems"
          ng-init="pIndex = $index" ng-include="'sidebar-renderer.html'" ng-click="toggleSubmenuCollapse(pIndex, true)"></li>
    </ul>
    <div id="copyright" class="hidden-xs nv-copyright" ng-controller="ConfigController">
      &copy; {{app.year}}&nbsp;-&nbsp;
      <a href="{{'partner.general.WEB_URL' | translate}}" target="_blank">{{ app.name}}</a> <br/>
      <span ng-if="!versionErr">{{'general.VERSION' | translate}}&nbsp;-&nbsp;{{version}}</span>
    </div>
  </nav>
</div>
