<div *ngIf="params && params.data['category'] !== 'Global action'">
  <div class="rule-actions-expand fade-in-right">
    <em
      class="eos-icons icon-18 hand text-action"
      matTooltip="{{ 'policy.TIP.EDIT' | translate }}"
      matTooltipPosition="above"
      *ngIf="
        !params.data['critical'] &&
        isOperatableRuleType &&
        isWriteAdmissionRuleAuthorized
      "
      (click)="editAdmissionRule($event, params.node.data)">
      edit
    </em>
    <em
      class="eos-icons icon-18 hand text-action"
      matTooltip="{{ 'policy.TIP.VIEW' | translate }}"
      matTooltipPosition="above"
      *ngIf="
        params.data['critical'] ||
        !isOperatableRuleType ||
        !isWriteAdmissionRuleAuthorized
      "
      (click)="viewRuleItem($event, params.node.data)">
      text_snippet
    </em>
    <em
      class="eos-icons icon-18 hand text-action"
      matTooltip="{{ 'policy.TIP.DISABLE' | translate }}"
      matTooltipPosition="above"
      *ngIf="
        !params.data['disable'] &&
        isOperatableRuleType &&
        isWriteAdmissionRuleAuthorized
      "
      (click)="toggleRuleItem($event, params.node.data, true)">
      highlight_off
    </em>
    <em
      class="eos-icons icon-18 hand text-action"
      matTooltip="{{ 'policy.TIP.ENABLE' | translate }}"
      matTooltipPosition="above"
      *ngIf="
        params.data['disable'] &&
        isOperatableRuleType &&
        isWriteAdmissionRuleAuthorized
      "
      (click)="toggleRuleItem($event, params.node.data, false)">
      task_alt
    </em>
    <em
      class="eos-icons icon-18 hand text-action"
      matTooltip="{{ 'policy.TIP.DELETE' | translate }}"
      matTooltipPosition="above"
      *ngIf="
        !params.data['critical'] &&
        isOperatableRuleType &&
        isWriteAdmissionRuleAuthorized
      "
      (click)="deleteRuleItem($event, params.node.data)">
      delete
    </em>
  </div>
  <div class="rule-actions-collapse">
    <em class="fa fa-ellipsis-h fa-lg  text-action hand text-action"> </em>
  </div>
</div>
