<div class="nv-dialog">
  <div class="d-flex justify-content-between align-items-center">
    <h4 mat-dialog-title>
      {{
        (type === 'add'
          ? 'policy.addPolicy.TITLE'
          : data.isReadonly
          ? 'policy.editPolicy.VIEW'
          : 'policy.editPolicy.TITLE'
        ) | translate
      }}
    </h4>
    <button (click)="onCancel()" aria-label="Close dialog" mat-icon-button>
      <i class="eos-icons">close</i>
    </button>
  </div>
  <hr class="fancy" />
  <div mat-dialog-content class="dialog-content p0 m0">
    <form>
      <div class="d-flex justify-content-between align-items-center mt-2">
        <mat-form-field appearance="fill" class="mr-4" *ngIf="type === 'edit'">
          <mat-label>{{
            'responsePolicy.gridHeader.ID' | translate
          }}</mat-label>
          <input matInput name="id" [(ngModel)]="responseRule.id" disabled />
          <em matSuffix class="icon-tag input-icon"></em>
        </mat-form-field>
        <mat-form-field
          appearance="fill"
          class="flex-grow-1"
          [ngClass]="{
            'mr-4': !EVENT_WITHOUT_GROUP.includes(responseRule.event)
          }">
          <mat-select
            name="event"
            placeholder="{{ 'responsePolicy.gridHeader.TYPE' | translate }}*"
            [disabled]="data.isReadonly"
            [(ngModel)]="responseRule.event"
            (ngModelChange)="changeEvent(responseRule.event)">
            <mat-option *ngFor="let event of events" [value]="event"
              ><span>
                {{
                  'responsePolicy.categories.' + event.toUpperCase() | translate
                }}
              </span>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field
          appearance="fill"
          class="flex-grow-1"
          *ngIf="!EVENT_WITHOUT_GROUP.includes(responseRule.event)">
          <mat-label>{{
            'responsePolicy.gridHeader.GROUP' | translate
          }}</mat-label>
          <input
            tabindex="-1"
            matInput
            name="group"
            [readonly]="data.isReadonly"
            [(ngModel)]="responseRule.group"
            [formControl]="formControl4Group"
            [attr.maxlength]="'general.FILTER_MAX_LEN' | translate"
            [matAutocomplete]="autoFrom" />
          <mat-autocomplete #autoFrom="matAutocomplete">
            <mat-option
              *ngFor="let option of filteredOptions4Group | async"
              [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
          <em matSuffix class="icon-grid input-icon"></em>
        </mat-form-field>
      </div>
      <div class="d-flex justify-content-start align-items-start">
        <mat-form-field appearance="fill" class="flex-grow-1">
          <mat-label>{{ 'admissionControl.COMMENT' | translate }}</mat-label>
          <input
            matInput
            [readonly]="data.isReadonly"
            [(ngModel)]="responseRule.comment"
            [ngModelOptions]="{ standalone: true }"
            [attr.maxlength]="'general.FILTER_MAX_LEN' | translate" />
        </mat-form-field>
      </div>
      <div class="d-flex justify-content-start align-items-start">
        <mat-form-field appearance="fill" class="flex-grow-1">
          <mat-chip-grid
            #chipList
            aria-label="Criteria selection"
            [disabled]="data.isReadonly">
            <mat-chip-row
              *ngFor="let criterion of responseRule.criteria"
              [disabled]="false"
              [removable]="true"
              (removed)="removeCriterionFromChip(criterion)">
              {{ criterion }}
              <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
            </mat-chip-row>
            <input
              tabindex="-1"
              matInput
              placeholder="{{
                'responsePolicy.message.ADD_CRITERIA' | translate
              }}"
              #criteriaInput
              name="criteria"
              [formControl]="formControl4Criteria"
              [attr.maxlength]="'general.FILTER_MAX_LEN' | translate"
              [matAutocomplete]="autoCriteria"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="true"
              (matChipInputTokenEnd)="addCriterionIntoChip($event)"
              required />
          </mat-chip-grid>
          <mat-autocomplete
            #autoCriteria="matAutocomplete"
            (optionSelected)="criterionSelectedInChip($event)">
            <mat-option
              *ngFor="let criterion of filteredOptions4Criteria | async"
              [value]="criterion">
              {{ criterion }}
            </mat-option>
          </mat-autocomplete>
          <em matSuffix class="icon-puzzle input-icon"></em>
          <mat-hint
            >{{ 'responsePolicy.dialog.content.HINT' | translate
            }}{{ conditionPatternSample }}</mat-hint
          >
          <mat-error *ngIf="!isValidCriteria">Invalid criterion</mat-error>
        </mat-form-field>
      </div>
      <div class="d-flex justify-content-start align-items-start mt-4">
        <div class="flex-grow-1">
          <label class="nv-modal-item-title control-label mr-5"
            >{{ 'responsePolicy.gridHeader.ACTION' | translate }}*</label
          >
          <mat-checkbox
            [ngModelOptions]="{ standalone: true }"
            *ngFor="let action of actions; let i = index"
            [attr.data-index]="i"
            [disabled]="data.isReadonly"
            [(ngModel)]="responseRule.actions[i]"
            class="mr-2"
            (change)="onActionsSelected(responseRule.actions)"
            >{{
              'responsePolicy.actions.' + action.toUpperCase() | translate
            }}</mat-checkbox
          >
        </div>
      </div>
      <div
        class="d-flex justify-content-start align-items-start my-2"
        *ngIf="
          isWebhookSelected &&
          webhookOptions.length > 0 &&
          !shouldHideWebhookList
        ">
        <div class="flex-grow-1">
          <label class="nv-modal-item-title control-label mr-4"
            >{{ 'setting.WEBHOOKS' | translate }}
          </label>
          <mat-checkbox
            *ngFor="let webhook of webhookOptions; let i = index"
            class="mr-2"
            [attr.data-index]="i"
            [disabled]="data.isReadonly"
            [(ngModel)]="responseRule.webhooks[i]"
            [ngModelOptions]="{ standalone: true }"
            >{{ webhook }}
          </mat-checkbox>
        </div>
      </div>
      <div class="d-flex justify-content-start align-items-start">
        <div class="flex-grow-1">
          <label class="nv-modal-item-title control-label mr-5"
            >{{ 'responsePolicy.gridHeader.STATUS' | translate }}*</label
          >
          <mat-slide-toggle
            id="network-status-toggle"
            name="status"
            [disabled]="data.isReadonly"
            [(ngModel)]="responseRule.enabled">
            <span
              [ngClass]="{
                'text-muted': !responseRule.enabled,
                'text-success': responseRule.enabled
              }">
              {{
                (responseRule.enabled
                  ? 'policy.status.ENABLED'
                  : 'policy.status.DISABLED'
                ) | translate
              }}
            </span>
          </mat-slide-toggle>
        </div>
      </div>
    </form>
  </div>
  <div
    mat-dialog-actions
    class="d-flex justify-content-end align-items-center"
    *ngIf="!data.isReadonly">
    <button
      mat-stroked-button
      aria-label="cancel"
      class="mr-2"
      (click)="onCancel()">
      {{ 'policy.addPolicy.CANCEL' | translate }}
    </button>
    <button
      mat-raised-button
      aria-label="add rule"
      color="primary"
      [disabled]="
        !responseRule.actions[0] &&
        !responseRule.actions[1] &&
        !responseRule.actions[2]
      "
      (click)="submitRule()">
      {{
        (type === 'add' ? 'policy.addPolicy.ADD' : 'policy.editPolicy.UPDATE')
          | translate
      }}
    </button>
  </div>
</div>
