<app-score-prediction-header
  message="{{
    'dashboard.improveScoreModal.serviceMode.DESCRIPTION' | translate
  }}"
  [score]="score"
  [projectedScore]="projectedScore">
</app-score-prediction-header>
<mat-divider class="mt-2 mb-3"></mat-divider>
<section id="service-risk-groups-section" class="mx-2">
  <div class="d-flex">
    <span class="mat-small font-weight-bold me-3"
      >{{ 'setting.NEW_SERVICE' | translate }}:&nbsp;</span
    >
    <span class="mat-small me-3">{{ 'group.POLICY_MODE' | translate }}</span>
    <mat-radio-group
      [(ngModel)]="newServiceMode"
      (change)="switchNewServiceMode('network')"
      aria-label="New services policy mode"
      class="d-flex">
      <mat-radio-button
        *ngFor="let type of serviceModes"
        [value]="type.value"
        class="me-3 mb-0-sub-label service-risk-radio-label">
        <span class="mat-small font-weight-bold">
          {{ type.viewValue | translate }}
        </span>
      </mat-radio-button>
    </mat-radio-group>
    <span style="margin-left: 50px" class="mat-small me-3">{{
      'group.PROFILE_MODE' | translate
    }}</span>
    <mat-radio-group
      [(ngModel)]="newServiceProfileMode"
      (change)="switchNewServiceMode('profile')"
      aria-label="New services profile mode"
      class="d-flex">
      <mat-radio-button
        *ngFor="let type of serviceModes"
        [value]="type.value"
        class="me-3 mb-0-sub-label service-risk-radio-label">
        <span class="mat-small font-weight-bold">
          {{ type.viewValue | translate }}
        </span>
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="mt-2">
    <app-groups
      [height]="210"
      [isScoreImprovement]="true"
      (selectedGroup)="setSelectedGroup($event)"></app-groups>
    <app-group-details
      *ngIf="selectedGroup"
      [resizableHeight]="120"
      [isScoreImprovement]="true"
      [selectedGroupName]="selectedGroup.name"
      [members]="selectedGroup.members"
      [baselineProfile]="selectedGroup.baseline_profile"
      [kind]="selectedGroup.kind">
    </app-group-details>
  </div>
</section>
