<ng-container
  *ngFor="
    let option of to.options | formlySelectOptions: field | async;
    let i = index
  ">
  <mat-checkbox
    [id]="id + '_' + i"
    [formlyAttributes]="field"
    [tabIndex]="to.tabindex"
    [color]="to.color"
    [labelPosition]="to.labelPosition || 'after'"
    [checked]="isChecked(option)"
    [disabled]="formControl.disabled || to.disabled"
    (change)="onChange(option.value, $event.checked)">
    {{ option.label! | translate }}
  </mat-checkbox>
</ng-container>
