@use 'app/material/colors';

.permission-container {
  overflow-y: scroll;
  height: 400px;
}

.permission-list {
  padding: 0;
  margin: 10px 20px;
  list-style-type: none;
  li:nth-child(even) {
    background: colors.$neuvector-grey-50;
  }
  li:nth-child(odd) {
    background: #ffffff;
  }
}

.permission-checkbox {
  width: 160px;
}
