/* Base variables for icons
   ========================================================================== */
/* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss */

/* Icons */
$eos-icon-new-size: $eos-font-size-base;
$eos-icon-new-color: $eos-bc-green-500;
$eos-icon-new-active-color: $eos-bc-white;
$eos-logo-icon-margin: 8px;
$eos-logo-icon-padding: 6px;
$eos-logo-icon-wrapper-round: 2px;

/* Material icons variables */
// colors
$eos-light: $eos-bc-white;
$eos-light-inactive: $eos-bc-gray-300;
$eos-dark: $eos-bc-gray-1000;
$eos-dark-inactive: $eos-bc-gray-300;
// sizes
$eos-18: 18px;
$eos-24: 24px;
$eos-36: 36px;
$eos-48: 48px;
