<div class="my-md-4 ms-3">
  <div class="d-flex">
    <h1 class="h4 font-weight-normal" id="remote-repository-title">
      {{ 'setting.remote_repository.title' | translate }}
    </h1>
    <div class="d-flex flex-column margin-left-m margin-top-s">
      <span class="text-muted">{{
        'setting.remote_repository.description' | translate
      }}</span>
    </div>
  </div>
  <div class="my-md-2 ms-3">
    <form [formGroup]="remoteRepoForm" (ngSubmit)="submit()">
      <div class="me-3">
        <formly-form
          [fields]="remoteRepoFields"
          [model]="remoteRepoModel"
          [form]="remoteRepoForm">
        </formly-form>
      </div>
      <div class="d-flex justify-content-end align-items-center">
        <!--        <app-loading-button-->
        <!--          *appDisplayControl="'write_config'"-->
        <!--          [appearance]="'mat-raised-button'"-->
        <!--          [color]="'primary'"-->
        <!--          [disabled]="!isEdit || removingRemoteRepo || submittingForm"-->
        <!--          [loading]="removingRemoteRepo"-->
        <!--          (btnClick) = "removeRemoteRepo()"-->
        <!--          [text]="'setting.REMOVE' | translate"-->
        <!--        ></app-loading-button>-->
        <app-loading-button
          *appDisplayControl="'write_config'"
          [buttonClasses]="'ms-3'"
          [appearance]="'mat-raised-button'"
          [color]="'primary'"
          [disabled]="
            remoteRepoForm.invalid ||
            remoteRepoForm.pristine ||
            submittingForm ||
            removingRemoteRepo
          "
          [loading]="submittingForm"
          [text]="'setting.SUBMIT' | translate"
          [type]="'submit'">
        </app-loading-button>
      </div>
    </form>
  </div>
</div>
