<div class="license-info">
  <div class="license__field">
    <i class="eos-icons eos-icons--dark-circle-bg mr-3">person_add</i>
    <mat-form-field class="w-100">
      <mat-label>{{ 'license.register.NAME' | translate }}</mat-label>
      <input [value]="license.info.name || ' '" disabled matInput />
    </mat-form-field>
  </div>
  <div class="license__field">
    <i class="eos-icons eos-icons--dark-circle-bg mr-3">email</i>
    <mat-form-field class="w-100">
      <mat-label>{{ 'license.register.EMAIL' | translate }}</mat-label>
      <input [value]="license.info.email || ' '" disabled matInput />
    </mat-form-field>
  </div>
  <div class="license__field">
    <i class="eos-icons eos-icons--dark-circle-bg mr-3">call</i>
    <mat-form-field class="w-100">
      <mat-label>{{ 'license.register.PHONE' | translate }}</mat-label>
      <input [value]="license.info.phone || ' '" disabled matInput />
    </mat-form-field>
  </div>
</div>
