/* Paragraphs
   ========================================================================== */
/* Colors variables: /assets/stylesheets/eos-base/variables/paragraphs.scss */
p {
  font-size: $eos-p-font-size;
  line-height: $eos-p-line-height;
  margin-top: $eos-p-margin-top;
}
