/* Titles
   ========================================================================== */
/**
* Titles
*
* Typography variables: /assets/stylesheets/eos-base/variables/typography.scss
* Titles variables: /assets/stylesheets/eos-base/variables/titles.scss
* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss
*/

.subheadline, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6
.h6 {
  font-family: $eos-font-type-headlines;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: $eos-font-weight-headers-bold;
  line-height: $eos-line-height;
}

h1, .h1 {
  font-size: $eos-h1-font-size;
}

h2, .h2 {
  font-size: $eos-h2-font-size;
}

h3, .h3 {
  font-size: $eos-h3-font-size;
  line-height: $eos-line-height;
}

h4, .h4 {
  font-size: $eos-h4-font-size;
}

h5, .h5 {
  font-size: $eos-h5-font-size;
}

h6, .h6 {
  font-size: $eos-h6-font-size;
}

.title-underline {
  border-bottom: 1px solid $eos-underline-title;
}

.title-no-margings {
  margin: 0;
}

.subheadline {
  font-size: $eos-h4-font-size;
  font-weight: $eos-font-weight-light-base;
  line-height: $eos-line-height;
}
