<div *ngIf="!isPredefine">
  <div class="rule-actions-expand fade-in-right">
    <em
      class="eos-icons icon-18 hand" matTooltip="{{'waf.TIP.EDIT_RULE' | translate}}"
      (click)="editRule(params.node.data)"
    >
      edit
    </em>
    <em
      class="eos-icons icon-18 hand" matTooltip="{{'waf.TIP.DELETE_RULE' | translate}}"
      (click)="deleteRule(params.node.data)"
    >
      delete
    </em>
  </div>
  <div class="rule-actions-collapse">
    <em class="fa fa-ellipsis-h fa-lg mr-sm text-action hand">
    </em>
  </div>
</div>
