.mat-slide-toggle-fixed-sm {
  width: 80px;
  text-align: right;
}

.mat-slide-toggle-fixed-md {
  width: 180px;
  text-align: right;
}

.toggle-label {
  color: #141823;
  font-size: 14px;
  font-weight: bold;
}

.toggle-tooltip {
  font-size: 18px;
}
