<ng-container *ngIf="!isScoreImprovement; else scoreImprovement">
  <div
    [ngClass]="{ panel: source === navSource['SELF'] }"
    *ngIf="source === navSource['FED_POLICY'] || groupName">
    <div [ngClass]="{ 'panel-body': source === navSource['SELF'] }">
      <div class="clearfix" *ngIf="groupName !== globalConstant4Html.EXTERNAL">
        <div class="pull-left mt-4">
          <span
            *ngIf="baselineProfile === 'zero-drift'"
          >
            <em class="eos-icons icon-18 mr-2">anchor</em>
            <label class="text-gray-label">
              {{'group.ZERO_DRIFT' | translate}}
            </label>
          </span>
        </div>
        <div
          class="pull-right margin-right-m margin-top-l hand"
          *ngIf="selectedProcessProfileRules && isWriteGroupAuthorized && isWriteProcessProfileRuleAuthorized"
          (click)="removeProfile(selectedProcessProfileRules)">
          <em class="eos-icons">delete</em>
        </div>
        <div
          class="pull-right margin-right-s margin-top-l hand"
          *ngIf="selectedProcessProfileRules && isWriteGroupAuthorized && isWriteProcessProfileRuleAuthorized"
          (click)="editProfile(selectedProcessProfileRules)">
          <em class="eos-icons">edit</em>
        </div>
        <div
          class="pull-right margin-right-s margin-top-l hand"
          *ngIf="isWriteGroupAuthorized && isWriteProcessProfileRuleAuthorized"
          (click)="addProfile()">
          <em class="eos-icons">add</em>
        </div>
        <div
          *ngIf="source === navSource['FED_POLICY']"
          class="pull-right margin-right-m margin-top-l">
          <label class="margin-right-m">{{ 'group.GROUP' | translate }}</label>
          <mat-select
            [formControl]="groupSelection"
            style="width: 200px"
            name="group-name"
            (selectionChange)="
              onGroupChanged(groupSelection.value, gridOptions)
            ">
            <mat-option *ngFor="let groupName of groups" [value]="groupName"
              ><span>{{ groupName }}</span>
            </mat-option>
          </mat-select>
        </div>
        <app-quick-filter
          class="pull-right"
          [gridOptions]="gridOptions"
          [filteredCount]="filteredCount"
          [showCount]="false"
          [count]="processProfileRules.length">
        </app-quick-filter>
      </div>
      <div class="mt-sm mb0">
        <ag-grid-angular
          #agGrid
          id="process-profile-rules-grid"
          style="width: 100%"
          [ngStyle]="{
            height:
              (source === navSource['GROUP']
                ? resizableHeight - 150
                : gridHeight) + 'px'
          }"
          class="ag-theme-balham"
          [gridOptions]="gridOptions"
          [rowData]="processProfileRules">
        </ag-grid-angular>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #scoreImprovement>
  <div class="mt-2">
    <ag-grid-angular
      #agGrid
      [ngStyle]="{ height: resizableHeight + 'px' }"
      [gridOptions]="gridOptions"
      [rowData]="processProfileRules"
      id="process-profile-rules-grid"
      style="width: 100%"
      class="ag-theme-balham">
    </ag-grid-angular>
  </div>
</ng-template>
