<ng-container *ngIf="!isScoreImprovement; else scoreImprovement">
  <div
    [ngClass]="{ panel: source === navSource['SELF'] }"
    *ngIf="source === navSource['FED_POLICY'] || groupName">
    <div [ngClass]="{ 'panel-body': source === navSource['SELF'] }">
      <div
        class="clearfix"
        *ngIf="
          groupName !== globalConstant4Html.EXTERNAL && !useQuickFilterService
        ">
        <div class="pull-left">
          <span *ngIf="baselineProfile === 'zero-drift'">
            <em class="eos-icons icon-18 me-2">anchor</em>
            <label class="text-gray-label">
              {{ 'group.ZERO_DRIFT' | translate }}
            </label>
          </span>
        </div>
        <app-quick-filter
          *ngIf="!useQuickFilterService"
          class="pull-right"
          [gridOptions]="gridOptions"
          [gridApi]="gridApi"
          [filteredCount]="filteredCount"
          [showCount]="false"
          [count]="processProfileRules.length">
        </app-quick-filter>
        <div
          class="pull-right margin-right-m hand"
          [ngClass]="{ 'margin-top-l': !useQuickFilterService }"
          *ngIf="
            selectedProcessProfileRules &&
            isWriteGroupAuthorized &&
            isWriteProcessProfileRuleAuthorized
          "
          (click)="removeProfile(selectedProcessProfileRules)">
          <em class="eos-icons">delete</em>
        </div>
        <div
          class="pull-right margin-right-s hand"
          [ngClass]="{ 'margin-top-l': !useQuickFilterService }"
          *ngIf="
            selectedProcessProfileRules &&
            selectedProcessProfileRules.length === 1 &&
            isWriteGroupAuthorized &&
            isWriteProcessProfileRuleAuthorized
          "
          (click)="editProfile(selectedProcessProfileRules[0])">
          <em class="eos-icons">edit</em>
        </div>
        <div
          class="pull-right margin-right-s hand"
          [ngClass]="{ 'margin-top-l': !useQuickFilterService }"
          *ngIf="isWriteGroupAuthorized && isWriteProcessProfileRuleAuthorized"
          (click)="addProfile()">
          <em class="eos-icons">add</em>
        </div>
        <div
          *ngIf="source === navSource['FED_POLICY']"
          class="pull-right margin-right-m margin-top-l">
          <label class="margin-right-m">{{ 'group.GROUP' | translate }}</label>
          <mat-select
            [formControl]="groupSelection"
            style="width: 200px"
            name="group-name"
            (selectionChange)="
              onGroupChanged(groupSelection.value || '', gridOptions)
            ">
            <mat-option *ngFor="let groupName of groups" [value]="groupName"
              ><span>{{ groupName }}</span>
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div class="mt-sm mb0">
        <ag-grid-angular
          id="process-profile-rules-grid"
          style="width: 100%"
          [ngStyle]="{
            height:
              (source === navSource['GROUP']
                ? resizableHeight - 90
                : gridHeight) + 'px'
          }"
          class="ag-theme-balham"
          [gridOptions]="gridOptions"
          [rowData]="processProfileRules"
          [context]="context">
        </ag-grid-angular>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #scoreImprovement>
  <div class="mt-2">
    <ag-grid-angular
      [ngStyle]="{ height: resizableHeight + 'px' }"
      [gridOptions]="gridOptions"
      [rowData]="processProfileRules"
      [context]="context"
      id="score-process-profile-rules-grid"
      style="width: 100%"
      class="ag-theme-balham">
    </ag-grid-angular>
  </div>
</ng-template>
