<app-score-prediction-header
  message="{{
    'dashboard.improveScoreModal.privilege.DESCRIPTION' | translate
  }}"
  [score]="score"
  [projectedScore]="projectedScore">
</app-score-prediction-header>
<mat-divider class="mt-2"></mat-divider>
<section id="score-improvement-run-as-privileged-containers-section">
  <div class="d-flex align-items-baseline justify-content-end">
    <button
      mat-icon-button
      aria-label="Export run-as-privileged containers CSV"
      type="button"
      class="mr-3"
      (click)="exportCSV()">
      <i class="eos-icons icon-18">csv_file</i>
    </button>
    <mat-form-field>
      <mat-label>{{ 'enum.FILTER' | translate }}</mat-label>
      <input [formControl]="filter" matInput />
    </mat-form-field>
  </div>
  <app-containers-grid
    [gridHeight]="163"
    [useQuickFilterService]="true"
    [gridOnly]="true"></app-containers-grid>
  <div class="container-details mt-2" *ngIf="selectedContainer">
    <app-container-detail
      [container]="selectedContainer"></app-container-detail>
  </div>
</section>
