<div ng-controller="FederalPolicyGroupController" ng-cloak>
<!--    <div class="clearfix">-->
<!--        <div>-->
<!--            <div class="pull-right mt-sm" ng-click="refresh()">-->
<!--                <em class="fa fa-refresh text-action"/>-->
<!--                <label class="text-gray-label hand">{{'general.REFRESH' | translate}}</label>-->
<!--            </div>-->
<!--            <div class="pull-right mt-sm mr-lg" ng-click="togglePanel()" ng-show="groups.length>8">-->
<!--                <em class="fa text-action" ng-class="onMax ? 'fa-window-restore' : 'fa-window-maximize'"/>-->
<!--                <label class="text-gray-label hand">{{onMax ? 'general.COLLAPSE_GRID' : 'general.EXPAND_GRID'| translate}}</label>-->
<!--            </div>-->
<!--            <div class="pull-right mt-sm mr-lg"-->
<!--                 ng-hide="group.members.length || group.reserved"-->
<!--                 ng-if="isWriteGroupAuthorized && !isGroundRule" ng-click="remove(group)">-->
<!--                <em class="fa fa-trash text-action"/>-->
<!--                <label class="text-gray-label hand">{{'group.DELETE_ITEM_TITLE' | translate}}</label>-->
<!--            </div>-->
<!--            <div class="pull-right mt-sm mr-lg" ng-click="editGroup($event)"-->
<!--                 ng-hide="group.reserved || group.learned || !isWriteGroupAuthorized" ng-if="!isGroundRule">-->
<!--                <em class="fa fa-edit text-action"/>-->
<!--                <label class="text-gray-label hand">{{'group.editGroup.TITLE' | translate}}</label>-->
<!--            </div>-->
<!--            <div class="pull-right mt-sm mr-lg" ng-click="editGroup($event)"-->
<!--                 ng-show="(group.reserved || group.learned || !isWriteGroupAuthorized)" ng-if="hasSelectedGroups">-->
<!--                <em class="fa fa-newspaper-o text-action"/>-->
<!--                <label class="text-gray-label hand">{{'group.VIEW_GROUP' | translate}}</label>-->
<!--            </div>-->
<!--            <div class="pull-right mt-sm mr-lg"-->
<!--                 ng-show="isWriteGroupAuthorized && !onMax"-->
<!--                 ng-click="addGroup($event)">-->
<!--                <em class="fa fa-plus text-action" />-->
<!--                <label class="text-gray-label hand">{{'group.ADD_ITEM_TITLE' | translate}}</label>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="pull-right mt-sm mr-lg"-->
<!--             ng-click="hideSystemGroup = !hideSystemGroup; toggleSystemGroup(hideSystemGroup)">-->
<!--            <em class="fa text-action" ng-class="hideSystemGroup ? 'fa-eye' : 'fa-eye-slash'"/>-->
<!--            <label class="text-gray-label hand">{{hideSystemGroup ? 'group.SHOW_SYS_GROUPS' : 'group.HIDE_SYS_GROUPS' | translate}}</label>-->
<!--        </div>-->
<!--    </div>-->


<!--    <div class="panel">-->
<!--        <div class="panel-body">-->
            <div class="clearfix">
                <label class="text-primary pull-left" ng-show="!groupErr" style="position: relative;">{{count}}
                  <div ng-if="groups.length>0 && !eof" class="loader5" style="position: absolute; top: 6px; right: 20px;"></div>
                </label>
                <div class="left-inner-addon pull-right" style="margin-bottom: 10px">
                    <em class="fa fa-filter text-filter"/>
                    <input class="search form-control" placeholder="{{'general.FILTER' | translate}}" type="text" maxlength="{{'general.FILTER_MAX_LEN' | translate}}"
                           ng-model="search"
                           ng-disabled="!eof"
                           ng-paste="onFilterChanged(search)"
                           ng-keyup="onFilterChanged(search)"/>
                </div>
                <div ng-if="eof">
                    <div class="pull-right mt-sm mr-lg" ng-click="refresh()" ng-show="eof || groupErr">
                        <em class="fa fa-refresh text-action"/>
                        <label class="text-gray-label hand">{{'general.REFRESH' | translate}}</label>
                    </div>
                    <div class="pull-right mt-sm mr-lg"
                         ng-hide="group.reserved"
                         ng-if="isWriteGroupAuthorized && !isGroundRule" ng-click="remove(group)">
                        <em class="fa fa-trash text-action"/>
                        <label class="text-gray-label hand">{{'group.DELETE_ITEM_TITLE' | translate}}</label>
                    </div>
                    <div class="pull-right mt-sm mr-lg" ng-click="editGroup($event, true)"
                         ng-hide="group.reserved || !isWriteGroupAuthorized" ng-if="!isGroundRule">
                        <em class="fa fa-edit text-action"/>
                        <label class="text-gray-label hand">{{'group.editGroup.TITLE' | translate}}</label>
                    </div>
                    <div class="pull-right mt-sm mr-lg" ng-click="editGroup($event, false)"
                         ng-show="(group.reserved || !isWriteGroupAuthorized)" ng-if="hasSelectedGroups">
                        <em class="fa fa-newspaper-o text-action"/>
                        <label class="text-gray-label hand">{{'group.VIEW_GROUP' | translate}}</label>
                    </div>
                    <div class="pull-right mt-sm mr-lg"
                         ng-show="isWriteGroupAuthorized"
                         ng-click="addGroup($event)">
                        <em class="fa fa-plus text-action" />
                        <label class="text-gray-label hand">{{'group.ADD_ITEM_TITLE' | translate}}</label>
                    </div>
                </div>
            </div>
            <div ag-grid="gridGroup" class="ag-grid mt-sm" style="width: 100%; position: relative;"
                 ng-style="{ height: gridHeight + 'px'}">
                 <div ng-class="{'sorting-mask': !eof}"></div>
<!--                <div class="policy-select-all" style="top: 8px; left: 7px;" ng-if="hasGroups && isWriteGroupAuthorized">-->
<!--                    <input id="global-checkbox" type="checkbox">-->
<!--                    <span class="toggle" ng-click="checkAll()"></span>-->
<!--                </div>-->
            </div>
<!--        </div>-->
<!--    </div>-->


<!--    <div class="panel mb0" ng-show="hasGroups && hasSelectedGroups">-->
<!--        <div class="panel-heading panel-default clearfix">-->
<!--            <div class="panel-title pull-left mt-sm">-->
<!--                <label class="panel-text-title mt-sm" ng-show="!isMultipleSelecting">-->
<!--                    {{group.name}}-->
<!--                </label>-->
<!--                <label class="panel-text-title mt-sm" ng-show="isMultipleSelecting">-->
<!--                    {{"group.GROUP_LIST" | translate}}-->
<!--                </label>-->
<!--            </div>-->
<!--            <div class="pull-right mr-lg mt-sm" ng-if="group.cap_change_mode || forAll">-->
<!--                <div uib-dropdown dropdown-append-to-body class="mt-sm">-->
<!--                    <div uib-dropdown-toggle>-->
<!--                        <div>-->
<!--                            <label class="text-gray-label">{{'service.SWITCH_MODE' | translate}}</label>-->
<!--                            <em class="fa fa-caret-down text-action" ng-click="toggleCollapse()"/>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">-->
<!--                        <li role="menuitem">-->
<!--                            <a ng-click="switchServiceMode('Discover')">-->
<!--                                <em class="fa fa-binoculars fa-fw text-discover mr-sm"/>{{'enum.DISCOVER' |-->
<!--                                translate}}-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li role="menuitem">-->
<!--                            <a ng-click="switchServiceMode('Monitor')">-->
<!--                                <em class="fa fa-bell fa-fw text-monitor mr-sm"/>{{'enum.MONITOR' | translate}}-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="menuitem">-->
<!--                            <a type="button" ng-click="switchServiceMode('Protect')">-->
<!--                                <em class="fa fa-shield fa-fw text-protect mr-sm"/>{{'enum.PROTECT' | translate}}-->
<!--                            </a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="panel-body" ng-hide="onMax" ng-show="!isMultipleSelecting">-->
<!--            <md-tabs md-no-ink md-dynamic-height="" md-border-bottom-->
<!--                     md-selected="selectedIndex" class="ph0">-->
<!--                <div class="clearfix">-->
<!--                    <div class="pull-right mr-lg" style="margin-top: 4px"-->
<!--                         ng-if="isWriteGroupAuthorized && selectedIndex===1"-->
<!--                         ng-show="profile.length && profileEntry"-->
<!--                         ng-click="editProfile(profileEntry)">-->
<!--                        <em class="fa fa-lg fa-edit text-action mr-sm"/>-->
<!--                    </div>-->
<!--                    <div class="pull-right mr-lg" style="margin-top: 4px"-->
<!--                         ng-if="isWriteGroupAuthorized && selectedIndex===1"-->
<!--                         ng-show="profile.length && profileEntry"-->
<!--                         ng-click="removeProfile(profileEntry)">-->
<!--                        <em class="fa fa-lg fa-trash text-action mr-sm"/>-->
<!--                    </div>-->
<!--                    <div class="pull-right mr-lg" style="margin-top: 4px"-->
<!--                         ng-if="isWriteGroupAuthorized && selectedIndex===1"-->
<!--                         ng-click="addProfile()">-->
<!--                        <em class="fa fa-lg fa-plus text-action mr-sm"/>-->
<!--                    </div>-->

<!--                    <div class="pull-right mr-lg" style="margin-top: 4px"-->
<!--                         ng-if="isWriteGroupAuthorized && selectedIndex===2"-->
<!--                         ng-show="fileProfile.length && fileEntry"-->
<!--                         ng-click="editFilter(filter)">-->
<!--                        <em class="fa fa-lg fa-edit text-action mr-sm"/>-->
<!--                    </div>-->
<!--                    <div class="pull-right mr-lg" style="margin-top: 4px"-->
<!--                         ng-if="isWriteGroupAuthorized && selectedIndex===2"-->
<!--                         ng-show="fileProfile.length && fileEntry"-->
<!--                         ng-click="removeFilter(fileEntry)">-->
<!--                        <em class="fa fa-lg fa-trash text-action mr-sm"/>-->
<!--                    </div>-->
<!--                    <div class="pull-right mr-lg" style="margin-top: 4px"-->
<!--                         ng-if="isWriteGroupAuthorized && selectedIndex===2"-->
<!--                         ng-click="addFilter()">-->
<!--                        <em class="fa fa-lg fa-plus text-action mr-sm"/>-->
<!--                    </div>-->
<!--                    <div class="pull-right mr-lg" style="margin-top: 4px"-->
<!--                         ng-if="selectedIndex===2"-->
<!--                         ng-click="showPredefinedFilters()">-->
<!--                        <em class="fa fa-info-circle text-action"/>-->
<!--                        <label class="text-gray-label hand">-->
<!--                            {{'service.PREDEFINED_FILTERS' | translate}}</label>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <md-tab label="{{'group.gridHeader.MEMBERS' | translate}}"-->
<!--                        ng-click="getProcessProfile(service.name)">-->
<!--                    <md-content class="pb0 mt-lg mb0">-->
<!--                        <div class="col-sm-12 ph0">-->
<!--                            <div ag-grid="memberGridOptions" class="ag-grid" style="width: 100%;"-->
<!--                                 ng-style="{ height: memberGridHeight + 'px'}">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </md-content>-->
<!--                </md-tab>-->
<!--                <md-tab label="{{'service.PROCESS_PROFILE' | translate}}" ng-if="group.cap_change_mode"-->
<!--                        ng-click="getProcessProfile(group.name)">-->
<!--                    <md-content class="pb0 mt-lg mb0">-->
<!--                        <div ag-grid="gridProfile" class="ag-grid" style="width: 100%;"-->
<!--                             ng-style="{ height: ruleGridHeight + 'px'}">-->
<!--                        </div>-->
<!--                    </md-content>-->
<!--                </md-tab>-->
<!--                <md-tab label="{{'service.FILE_PROFILE' | translate}}" ng-if="group.cap_change_mode"-->
<!--                        ng-click="getFileProfile(group.name)">-->
<!--                    <md-content class="pb0 mt-lg mb0">-->
<!--                        <div ag-grid="gridFile" class="ag-grid" style="width: 100%;"-->
<!--                             ng-style="{ height: ruleGridHeight + 'px'}">-->
<!--                        </div>-->
<!--                    </md-content>-->
<!--                </md-tab>-->
<!--                <md-tab label="{{'service.POLICY_RULES' | translate}}" ng-if="group.cap_change_mode"-->
<!--                        ng-click="getServiceRules(group.name)">-->
<!--                    <md-content class="pb0 mt-lg mb0">-->
<!--                        <div ag-grid="gridRules" class="ag-grid" style="width: 100%;"-->
<!--                             ng-style="{ height: ruleGridHeight + 'px'}">-->
<!--                        </div>-->
<!--                    </md-content>-->
<!--                </md-tab>-->
<!--            </md-tabs>-->
<!--        </div>-->
<!--        <div class="panel-body" ng-hide="onMax" ng-show="isMultipleSelecting">-->
<!--            <div class="multi-group-list" ng-style="{ height: (ruleGridHeight + 80) + 'px'}">-->
<!--        <span ng-repeat="group in displayedMultiGroup" class="{{'mr mb ph-sm action-label nv-label ' + group.policy_mode.toLowerCase()}}">-->
<!--          {{group.name}}-->
<!--        </span>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <div id="rulePreview" class="dataBox middleRight longBoxLimited pl-sm" ng-if="onRulePreview">
        <em class="fa fa-times text-muted pull-right pr-sm pt-sm" ng-click="onRulePreview=false"/>
        <div class="p-sm pt-lg">
            <div class="col-sm-6">
                <md-input-container class="md-block mb0">
                    <label>{{'policy.addPolicy.FROM' | translate}}</label>
                    <input disabled value="{{rule.from}}"/>
                </md-input-container>
            </div>
            <div class="col-sm-6">
                <md-input-container class="md-block mb0">
                    <label>{{'policy.addPolicy.TO' | translate}}</label>
                    <input disabled value="{{rule.to}}"/>
                </md-input-container>
            </div>
            <div class="col-sm-6">
                <md-input-container class="md-block mb0">
                    <label>{{'policy.addPolicy.APP' | translate}}</label>
                    <input disabled value="{{rule.applications.join(', ')}}"/>
                </md-input-container>
            </div>
            <div class="col-sm-6">
                <md-input-container class="md-block mb0">
                    <label>{{'policy.addPolicy.PORT' | translate}}</label>
                    <input disabled value="{{rule.ports}}"/>
                </md-input-container>
            </div>

            <div class="col-sm-4">
                <md-input-container class="md-block mb0">
                    <label>{{'controllers.detail.CREATED_AT' | translate}}</label>
                    <input disabled value="{{rule.created_timestamp * 1000 | date:'MMM dd, y HH:mm:ss'}}"/>
                </md-input-container>
            </div>
            <div class="col-sm-4">
                <md-input-container class="md-block mb0">
                    <label>{{'policy.gridHeader.UPDATE_AT' | translate}}</label>
                    <input disabled value="{{rule.last_modified_timestamp * 1000 | date:'MMM dd, y HH:mm:ss'}}"/>
                </md-input-container>
            </div>

            <div class="col-sm-4">
                <md-input-container class="md-block mb0">
                    <label>{{'policy.ACTIONS' | translate}}</label>
                    <input disabled value="{{rule.action}}">
                </md-input-container>
            </div>


        </div>
    </div>

    <div id="responseRulePreview" class="dataBox middleRight longBoxLimited pl-sm" ng-if="onResponseRulePreview">
        <em class="fa fa-times text-muted pull-right pr-sm pt-sm" ng-click="onResponseRulePreview=false"/>
        <div class="p-sm pt-lg">
            <div class="col-sm-9" style="margin-top: 5px">
                <md-input-container class="md-block mb0">
                    <label>{{'responsePolicy.gridHeader.GROUP' | translate}}</label>
                    <input disabled value="{{responseRule.group}}"/>
                </md-input-container>
            </div>
            <div class="col-sm-3">
                <md-input-container class="md-block mb0">
                    <label>{{'responsePolicy.gridHeader.TYPE' | translate}}</label>
                    <input disabled value="{{'responsePolicy.categories.' + responseRule.event.toUpperCase() | translate}}"/>
                </md-input-container>
            </div>
            <div class="col-sm-12">
                <md-input-container class="md-block mb0">
                    <label>{{'responsePolicy.gridHeader.CRITERIA' | translate}}</label>
                    <input disabled value="{{responseRule.conditions}}"/>
                </md-input-container>
            </div>
            <div class="col-sm-12">
                <md-input-container class="md-block mb0">
                    <label>{{'responsePolicy.gridHeader.ACTION' | translate}}</label>
                    <input disabled value="{{responseRule.actions}}"/>
                </md-input-container>
            </div>
        </div>
    </div>

    <div>
        <script type="text/ng-template" id="dialog.addGroup.html">
            <md-dialog aria-label="Add group" class="dialog-lg" style="overflow: visible">
                <form name="addGroupForm" ng-submit="$event.preventDefault()" novalidate="" class="form-validate" style="overflow: visible">
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h2 class="text-dark">{{'group.addGroup.TITLE' | translate}}</h2>
                            <span flex></span>
                            <md-button class="md-icon-button" ng-click="cancel()">
                                <md-icon md-svg-src="app/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                            </md-button>
                        </div>
                    </md-toolbar>
                    <md-dialog-content style="overflow: visible">
                        <div>
                            <div class="card-body">
                                <div>
                                    <div class="row m0" style="min-height: 95px;">
                                        <div class="col-sm-4">
                                            <md-input-container class="md-block mb0" >
                                                <label>{{'group.editGroup.GROUP_NAME' | translate}}</label>
                                                <input ng-model="group.name"  required name="groupName" ng-pattern="nameRegex"
                                                       class="mda-form-control" maxlength="{{'general.FILTER_MAX_LEN' | translate}}"/>
                                                <div ng-messages="addGroupForm.groupName.$error">
                        <span ng-show="addGroupForm.groupName.$dirty &amp;&amp; addGroupForm.groupName.$error.required"
                              class="text-danger">Group name is required</span>
                                                    <span ng-show="addGroupForm.groupName.$dirty &amp;&amp; addGroupForm.groupName.$error.pattern"
                                                          class="text-danger">
                        {{'group.NAME_VALID' | translate}} "fed." </span>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <div class="col-sm-8">
                                          <md-input-container class="md-block mb0" >
                                            <label>{{'policy.addPolicy.COMMENT' | translate}}</label>
                                            <input ng-model="group.comment" name="groupComment"
                                                   class="mda-form-control" maxlength="{{'general.FILTER_MAX_LEN' | translate}}"/>
                                          </md-input-container>
                                        </div>
                                    </div>
                                    <div class="row m0">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="col-sm-2 nv-modal-item-title control-label pl0" style="padding-left: 36px;">
                                                  {{'responsePolicy.gridHeader.CRITERIA' | translate}}
                                                  <div class="text-sm text-muted">{{'group.editGroup.CONDITION_HINT' | translate}}</div>
                                                </label>
                                                <div class="col-sm-9">
                                                    <tags-input ng-model="group.criteria" name="condition"
                                                                ng-disabled="group.reserved || group.learned"
                                                                placeholder="{{'group.editGroup.ADD_CRITERIA' | translate}} {{'group.editGroup.CRITERIA_RELATIONSHIP' | translate}}"
                                                                replace-spaces-with-dashes="false" add-on-comma="false"
                                                                display-property="name" ng-required="!group.reserved" template="my-custom-template"
                                                                on-tag-clicked="showTagDetail($tag)"
                                                                on-tag-adding="tagAdding($tag)"
                                                                on-tag-removing="tagRemoving($tag)"
                                                                max-length="{{'general.FILTER_MAX_LEN' | translate}}">
                                                    </tags-input>
                                                    <div ng-show="isShowingEditCriterion">
                                                      <div class="col-sm-11 pl0">
                                                        <div class="md-block mb0">
                                                          <input id="tagEditor" ng-model="singleCriterion.value" placeholder="{{'group.SINGLE_CRITERION_HINT' | translate}}"
                                                                 class="mda-form-control" maxlength="{{'general.FILTER_MAX_LEN' | translate}}" ng-keyup="checkDuplicated()"/>
                                                        </div>
                                                      </div>
                                                      <div class="col-sm-1 pr0">
                                                        <md-button class="fa fa-pencil-square-o md-raised md-primary pull-right mr0" aria-hidden="true" style="min-width: 36px; margin-top: -3px;" aria-hidden="true" ng-click="editCriterion(singleCriterion)"
                                                                   ng-disabled="singleCriterion.value.length===0 || isInvalidTag">
                                                        </md-button>
                                                      </div>
                                                    </div>
                                                    <div>
                                                      <span class="help-block" translate="{{'partner.group.CRITERIA_HINT'}}"/>
                                                      <span ng-show="onFormatError" class="text-danger" >{{errorMessage}}</span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-1" style="margin-top: 10px;">
                                                    <div ng-if="group.reserved" class="label label-inverse ml-sm"  translate="{{'group.RESERVED'}}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row m0">
                                        <div ng-show="duplicatedPolicy" style="color:#ff0000;" class="col-sm-12" ng-cloak>
                                            {{'policy.addPolicy.DUPLICATED_POLICY' | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-dialog-content>
                    <div class="md-actions" layout="row" style="border: 0;">
                        <md-button ng-click="addGroup()" class="md-raised md-primary"
                                   ng-disabled="addGroupForm.$invalid || group.criteria.length===0">
                            {{'group.addGroup.ADD' | translate}}
                        </md-button>
                        <a ng-click="cancel()" class="nv-link">
                            {{'group.editGroup.CANCEL' | translate}}
                        </a>
                    </div>
                </form>
            </md-dialog>
        </script>
    </div>

    <div>
        <script type="text/ng-template" id="dialog.editGroup.html">
            <md-dialog aria-label="Add group" class="dialog-lg" style="overflow: visible">
                <form name="groupForm" ng-submit="$event.preventDefault()" novalidate="" class="form-validate" style="overflow: visible">
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                          <h2 class="text-dark" ng-if="isEditable">{{'group.editGroup.TITLE' | translate}}</h2>
                          <h2 class="text-dark" ng-if="!isEditable">{{'group.VIEW_GROUP' | translate}}</h2>
                            <span flex></span>
                            <md-button class="md-icon-button" ng-click="cancel()">
                                <md-icon md-svg-src="app/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                            </md-button>
                        </div>
                    </md-toolbar>
                    <md-dialog-content style="overflow: visible" ng-class="{'mb-lg': group.reserved || group.learned}">
                        <div>
                            <div class="card-body">
                                <div>
                                    <div class="row m0">
                                        <div class="col-sm-4">
                                            <md-input-container class="md-block mb0" >
                                                <label>{{'group.editGroup.GROUP_NAME' | translate}}</label>
                                                <input ng-model="group.name"  name="groupName"
                                                       class="mda-form-control" maxlength="{{'general.FILTER_MAX_LEN' | translate}}" disabled/>
                                            </md-input-container>
                                        </div>
                                        <div class="col-sm-8">
                                          <md-input-container class="md-block mb0" >
                                            <label>{{'policy.addPolicy.COMMENT' | translate}}</label>
                                            <input ng-model="group.comment" name="groupComment"
                                                   class="mda-form-control" maxlength="{{'general.FILTER_MAX_LEN' | translate}}" ng-disabled="!isEditable"/>
                                          </md-input-container>
                                        </div>
                                    </div>
                                    <div class="row m0">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="col-sm-2 nv-modal-item-title control-label pl0" style="padding-left: 36px;">
                                                  {{'responsePolicy.gridHeader.CRITERIA' | translate}}
                                                  <div class="text-sm text-muted" ng-if="isEditable">{{'group.editGroup.CONDITION_HINT' | translate}}</div>
                                                </label>
                                                <div class="col-sm-9">
                                                    <tags-input ng-model="group.criteria" name="condition"
                                                                ng-disabled="group.reserved || group.learned || !isEditable"
                                                                placeholder="{{isEditable ? 'group.editGroup.ADD_CRITERIA' : '' | translate}} {{'group.editGroup.CRITERIA_RELATIONSHIP' | translate}}"
                                                                replace-spaces-with-dashes="false" add-on-comma="false"
                                                                display-property="name" ng-required="!group.reserved" template="my-custom-template"
                                                                on-tag-clicked="showTagDetail($tag)"
                                                                on-tag-adding="tagAdding($tag)"
                                                                on-tag-removing="tagRemoving($tag)"
                                                                max-length="{{'general.FILTER_MAX_LEN' | translate}}">
                                                    </tags-input>
                                                    <div ng-show="isShowingEditCriterion">
                                                      <div class="col-sm-11 pl0">
                                                        <div class="md-block mb0">
                                                          <input id="tagEditor" ng-model="singleCriterion.value" placeholder="{{'group.SINGLE_CRITERION_HINT' | translate}}"
                                                                 class="mda-form-control" maxlength="{{'general.FILTER_MAX_LEN' | translate}}" ng-keyup="checkDuplicated()"/>
                                                        </div>
                                                      </div>
                                                      <div class="col-sm-1 pr0">
                                                        <md-button class="fa fa-pencil-square-o md-raised md-primary pull-right mr0" aria-hidden="true" style="min-width: 36px; margin-top: -3px;" aria-hidden="true" ng-click="editCriterion(singleCriterion)"
                                                                   ng-disabled="singleCriterion.value.length===0 || isInvalidTag">
                                                        </md-button>
                                                      </div>
                                                    </div>
                                                    <div>
                                                      <span ng-show="!group.reserved && !group.learned" class="help-block" translate="{{'partner.group.CRITERIA_HINT'}}"/>
                                                      <span ng-show="onFormatError" class="text-danger" >{{errorMessage}}</span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-1" style="margin-top: 10px;">
                                                    <div ng-if="group.reserved" class="label label-inverse ml-sm"  translate="{{'group.RESERVED'}}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-dialog-content>
                    <div class="md-actions" layout="row" style="border: 0;" ng-if="!group.reserved && !group.learned">
                        <md-button ng-click="editGroup(group)" class="md-raised md-primary"
                                   ng-disabled=groupForm.$invalid || group.criteria.length===0">
                            {{'group.editGroup.UPDATE' | translate}}
                        </md-button>
                        <a ng-click="cancel()" class="nv-link">
                            {{'group.editGroup.CANCEL' | translate}}
                        </a>
                    </div>
                </form>
            </md-dialog>
        </script>
    </div>

    <div>
        <script type="text/ng-template" id="my-custom-template">
            <div class="tag-template" uib-tooltip="{{$getDisplayText()}}">
                <div>
                    <em class="fa text-primary"
                        ng-class="data.name.indexOf('image') === 0 ? 'fa-archive': (
                    data.name.indexOf('node') === 0 ? 'fa-server': (
                    data.name.indexOf('container') === 0 ? 'fa-square-o': (
                    data.name.indexOf('service') === 0 ? 'fa-gears': (
                    data.name.indexOf('domain') === 0 ? 'fa-building-o': (
                    data.name.indexOf('address') === 0 ? 'fa-map-marker': 'fa-tag')))))">
                    </em>
                </div>
                <div>
                    <span>{{$getDisplayText().length > 40 ? $getDisplayText().substring(0, 40) + '...' : $getDisplayText()}}</span>
                    <a class="remove-button" ng-click="$removeTag()">&#10005;</a>
                </div>
            </div>
        </script>

    </div>

<!--    <div id="predefinedFilter" class="dataBox middleRight longBoxLimited pl-sm"-->
<!--         ng-show="onPredefinedFilterView">-->
<!--        <button class="btn btn-xs btn-link pull-right" ng-click="onPredefinedFilterView=false">-->
<!--            <em class="fa fa-times fa-lg text-muted"></em>-->
<!--        </button>-->
<!--        <h4>{{'service.PREDEFINED_FILTERS_TITLE' | translate}}</h4>-->
<!--        <div class="">-->
<!--            <div ag-grid="gridFilePre" class="ag-grid" style="width: 700px; height: 295px;">-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <script type="text/ng-template" id="modeTemplate.html">-->
<!--        <dl class="dl">-->
<!--            <dt><em class="fa fa-binoculars text-info mr-sm"></em>{{'topbar.mode.LEARNING' | translate}}-->
<!--            </dt>-->
<!--            <dd translate="{{'topbar.tip.LEARNING'}}"></dd>-->
<!--            <dt><em class="fa fa-bell text-primary mr-sm"></em>{{'topbar.mode.EVALUATION' | translate}}-->
<!--            </dt>-->
<!--            <dd translate="{{'topbar.tip.EVALUATING'}}"></dd>-->
<!--            <dt><em class="fa fa-shield text-green mr-sm"></em>{{'topbar.mode.ENFORCE' | translate}}</dt>-->
<!--            <dd translate="{{'topbar.tip.ENFORCING'}}"></dd>-->
<!--        </dl>-->
<!--    </script>-->

<!--    <script type="text/ng-template" id="profile.add.html">-->
<!--        <md-dialog aria-label="Add profile rule">-->
<!--            <form name="profileForm" novalidate="" class="form-validate">-->
<!--                <md-toolbar>-->
<!--                    <div class="md-toolbar-tools">-->
<!--                        <h2 class="text-dark">{{'service.ADD_RULE' | translate}}</h2>-->
<!--                        <span flex/>-->
<!--                        <md-button class="md-icon-button" ng-click="cancel()">-->
<!--                            <md-icon md-svg-src="app/img/icons/ic_close_24px.svg" aria-label="Close dialog"/>-->
<!--                        </md-button>-->
<!--                    </div>-->
<!--                </md-toolbar>-->
<!--                <md-dialog-content>-->
<!--                    <div class="mt-sm">-->
<!--                        <div class="col-sm-6">-->
<!--                            <md-input-container class="md-block mb0">-->
<!--                                <label>{{'service.gridHeader.NAME' | translate}}</label>-->
<!--                                <input ng-model="rule.name" maxlength="{{'general.FILTER_MAX_LEN' | translate}}"-->
<!--                                       required/>-->
<!--                            </md-input-container>-->
<!--                        </div>-->
<!--                        <div class="col-sm-6">-->
<!--                            <md-input-container class="md-block mb0">-->
<!--                                <label>{{'service.gridHeader.PATH' | translate}}</label>-->
<!--                                <input ng-model="rule.path" maxlength="{{'general.FILTER_MAX_LEN' | translate}}"/>-->
<!--                            </md-input-container>-->
<!--                        </div>-->

<!--                        <div class="col-sm-6 mb0">-->
<!--                            <label class="nv-modal-item-title">{{'service.ALLOW_ALERT' | translate}}</label>-->
<!--                            <div>-->
<!--                                <div class="md-switch4" style="width: 100px;">-->
<!--                                    <label class="nv-modal-item-title">-->
<!--                                        <input type="checkbox" ng-model="rule.allowed" required>-->
<!--                                        <span class="toggle"></span>-->
<!--                                        <span ng-class="{'text-deny': !rule.allowed,'text-success': rule.allowed}">{{(rule.allowed ? "policy.action.ALLOW" : "policy.action.DENY") | translate}}</span>-->
<!--                                    </label>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="col-sm-12 pb-sm">-->
<!--                            <button class="btn btn-wide btn-default pull-right"-->
<!--                                    ng-click="addProfile(rule)">-->
<!--                                <em class="fa fa-save mr-sm"></em>{{'policy.portlet.SUBMIT' | translate}}-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </md-dialog-content>-->
<!--            </form>-->
<!--        </md-dialog>-->
<!--    </script>-->

<!--    <script type="text/ng-template" id="profile.edit.html">-->
<!--        <md-dialog aria-label="Edit profile rule">-->
<!--            <form name="profileEditForm" novalidate="" class="form-validate">-->
<!--                <md-toolbar>-->
<!--                    <div class="md-toolbar-tools">-->
<!--                        <h2 class="text-dark">{{'service.EDIT_RULE' | translate}}</h2>-->
<!--                        <span flex/>-->
<!--                        <md-button class="md-icon-button" ng-click="cancel()">-->
<!--                            <md-icon md-svg-src="app/img/icons/ic_close_24px.svg" aria-label="Close dialog"/>-->
<!--                        </md-button>-->
<!--                    </div>-->
<!--                </md-toolbar>-->
<!--                <md-dialog-content>-->
<!--                    <div class="mt-sm">-->
<!--                        <div class="col-sm-6">-->
<!--                            <md-input-container class="md-block mb0">-->
<!--                                <label>{{'service.gridHeader.NAME' | translate}}</label>-->
<!--                                <input disabled ng-model="rule.name"/>-->
<!--                            </md-input-container>-->
<!--                        </div>-->
<!--                        <div class="col-sm-6">-->
<!--                            <md-input-container class="md-block mb0">-->
<!--                                <label>{{'service.gridHeader.PATH' | translate}}</label>-->
<!--                                <input ng-model="rule.path" maxlength="{{'general.FILTER_MAX_LEN' | translate}}"/>-->
<!--                            </md-input-container>-->
<!--                        </div>-->

<!--                        <div class="col-sm-6 mb0">-->
<!--                            <label class="nv-modal-item-title">{{'service.ALLOW_ALERT' | translate}}</label>-->
<!--                            <div>-->
<!--                                <div class="md-switch4" style="width: 100px;">-->
<!--                                    <label class="nv-modal-item-title">-->
<!--                                        <input type="checkbox" ng-model="rule.allowed" required>-->
<!--                                        <span class="toggle"></span>-->
<!--                                        <span ng-class="{'text-deny': !rule.allowed,'text-success': rule.allowed}">{{(rule.allowed ? "policy.action.ALLOW" : "policy.action.DENY") | translate}}</span>-->
<!--                                    </label>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="col-sm-12 pb-sm">-->
<!--                            <button class="btn btn-wide btn-default pull-right"-->
<!--                                    ng-click="updateProfile(rule)">-->
<!--                                <em class="fa fa-save mr-sm"></em>{{'policy.portlet.SUBMIT' | translate}}-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </md-dialog-content>-->
<!--            </form>-->
<!--        </md-dialog>-->
<!--    </script>-->

<!--    <script type="text/ng-template" id="filter.add.html">-->
<!--        <md-dialog aria-label="Add file monitor profile rule">-->
<!--            <form name="fileForm" novalidate="" class="form-validate">-->
<!--                <md-toolbar>-->
<!--                    <div class="md-toolbar-tools">-->
<!--                        <h2 class="text-dark">{{'service.ADD_RULE' | translate}}</h2>-->
<!--                        <span flex/>-->
<!--                        <md-button class="md-icon-button" ng-click="cancel()">-->
<!--                            <md-icon md-svg-src="app/img/icons/ic_close_24px.svg" aria-label="Close dialog"/>-->
<!--                        </md-button>-->
<!--                    </div>-->
<!--                </md-toolbar>-->
<!--                <md-dialog-content>-->
<!--                    <div class="mt-sm">-->
<!--                        <div class="col-sm-4">-->
<!--                            <md-input-container class="md-block">-->
<!--                                <label>{{'service.gridHeader.FILTER' | translate}}</label>-->
<!--                                <input ng-model="rule.filter" style="min-width:200px;width:auto;"-->
<!--                                       maxlength="{{'general.FILTER_MAX_LEN' | translate}}"-->
<!--                                       ng-pattern="/^\/(\S)*/" required/>-->
<!--                            </md-input-container>-->
<!--                        </div>-->

<!--                        <div class="col-sm-2">-->
<!--                            <md-input-container class="md-block">-->
<!--                                <md-checkbox class="md-primary" ng-model="rule.recursive">-->
<!--                                    {{'service.gridHeader.RECURSIVE' | translate}}-->
<!--                                </md-checkbox>-->
<!--                            </md-input-container>-->
<!--                        </div>-->

<!--                        <div class="col-sm-6 mb0" style="margin-top: 18px">-->
<!--                            <label class="nv-modal-item-title mr-sm">{{'service.ALLOW_ALERT' | translate}}</label>-->
<!--                            <div class="radio-inline c-radio mr-lg" ng-class="inputMaskDisabledClass">-->
<!--                                <label class="text-gray-label" ng-class="inputMaskDisabledClass">-->
<!--                                    <input type="radio" name="behavior" value="monitor_change"-->
<!--                                           ng-init="rule.behavior='monitor_change'"-->
<!--                                           ng-model="rule.behavior" required-->
<!--                                    />-->
<!--                                    <span class="fa fa-binoculars text-discover"-->
<!--                                          ng-class="inputMaskDisabledClass"></span>-->
<!--                                    {{'enum.MONITOR_CHANGE' | translate}}-->
<!--                                </label>-->
<!--                            </div>-->
<!--                            <div class="radio-inline c-radio pl-sm mr-lg" ng-class="inputMaskDisabledClass">-->
<!--                                <label class="text-gray-label" ng-class="inputMaskDisabledClass">-->
<!--                                    <input type="radio" name="behavior" value="block_access"-->
<!--                                           ng-model="rule.behavior" required-->
<!--                                    />-->
<!--                                    <span class="fa fa-shield text-protect" ng-class="inputMaskDisabledClass"></span>-->
<!--                                    {{'enum.BLOCK_ACCESS' | translate}}-->
<!--                                </label>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="col-sm-12 mb-sm mt-sm">-->
<!--                            <div class="form-group">-->
<!--                                <label class="col-sm-2 nv-modal-item-title control-label pl0"-->
<!--                                       style="padding-left: 36px;">-->
<!--                                    {{'service.gridHeader.APPLICATIONS' | translate}}-->
<!--                                    <div class="text-sm text-muted">{{'policy.addPolicy.APP_TIP' | translate}}</div>-->
<!--                                </label>-->
<!--                                <div class="col-sm-10  pr0">-->
<!--                                    <tags-input ng-model="rule.apps"-->
<!--                                                placeholder="{{'policy.message.ADD_APP' | translate}}"-->
<!--                                                display-property="name" class="nv-input-text"-->
<!--                                                max-length="{{'general.FILTER_MAX_LEN' | translate}}"-->
<!--                                                min-length="2">-->
<!--                                    </tags-input>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="col-sm-12 pb-sm">-->
<!--                            <button class="btn btn-wide btn-default pull-right"-->
<!--                                    ng-disabled="fileForm.$invalid || !fileForm.$dirty"-->
<!--                                    ng-click="addFilter(rule)" >-->
<!--                                <em class="fa fa-save mr-sm"></em>{{'policy.portlet.SUBMIT' | translate}}-->
<!--                            </button>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </md-dialog-content>-->
<!--            </form>-->
<!--        </md-dialog>-->
<!--    </script>-->

<!--    <script type="text/ng-template" id="filter.edit.html">-->
<!--        <md-dialog aria-label="Edit file profile rule">-->
<!--            <form name="fileEditForm" novalidate="" class="form-validate">-->
<!--                <md-toolbar>-->
<!--                    <div class="md-toolbar-tools">-->
<!--                        <h2 class="text-dark">{{'service.EDIT_RULE' | translate}}</h2>-->
<!--                        <span flex/>-->
<!--                        <md-button class="md-icon-button" ng-click="cancel()">-->
<!--                            <md-icon md-svg-src="app/img/icons/ic_close_24px.svg" aria-label="Close dialog"/>-->
<!--                        </md-button>-->
<!--                    </div>-->
<!--                </md-toolbar>-->
<!--                <md-dialog-content>-->
<!--                    <div class="mt-sm">-->
<!--                        <div class="col-sm-4">-->
<!--                            <md-input-container class="md-block">-->
<!--                                <label>{{'service.gridHeader.FILTER' | translate}}</label>-->
<!--                                <input ng-model="rule.filter" style="min-width:200px;width:auto;"-->
<!--                                       disabled/>-->
<!--                            </md-input-container>-->
<!--                        </div>-->

<!--                        <div class="col-sm-2">-->
<!--                            <md-input-container class="md-block mb0">-->
<!--                                <md-checkbox class="md-primary" ng-model="rule.recursive">-->
<!--                                    {{'service.gridHeader.RECURSIVE' | translate}}-->
<!--                                </md-checkbox>-->
<!--                            </md-input-container>-->
<!--                        </div>-->

<!--                        <div class="col-sm-6 mb0" style="margin-top: 18px">-->
<!--                            <label class="nv-modal-item-title mr-sm">{{'service.ALLOW_ALERT' | translate}}</label>-->
<!--                            <div class="radio-inline c-radio mr-lg" ng-class="inputMaskDisabledClass">-->
<!--                                <label class="text-gray-label" ng-class="inputMaskDisabledClass">-->
<!--                                    <input type="radio" name="behavior" value="monitor_change"-->
<!--                                           ng-model="rule.behavior" required-->
<!--                                    />-->
<!--                                    <span class="fa fa-binoculars text-discover"-->
<!--                                          ng-class="inputMaskDisabledClass"></span>-->
<!--                                    {{'enum.MONITOR_CHANGE' | translate}}-->
<!--                                </label>-->
<!--                            </div>-->
<!--                            <div class="radio-inline c-radio pl-sm mr-lg" ng-class="inputMaskDisabledClass">-->
<!--                                <label class="text-gray-label" ng-class="inputMaskDisabledClass">-->
<!--                                    <input type="radio" name="behavior" value="block_access"-->
<!--                                           ng-model="rule.behavior" required-->
<!--                                    />-->
<!--                                    <span class="fa fa-shield text-protect" ng-class="inputMaskDisabledClass"></span>-->
<!--                                    {{'enum.BLOCK_ACCESS' | translate}}-->
<!--                                </label>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="col-sm-12 mb-sm mt-sm">-->
<!--                            <div class="form-group">-->
<!--                                <label class="col-sm-2 nv-modal-item-title control-label pl0"-->
<!--                                       style="padding-left: 36px;">-->
<!--                                    {{'service.gridHeader.APPLICATIONS' | translate}}-->
<!--                                    <div class="text-sm text-muted">{{'policy.addPolicy.APP_TIP' | translate}}</div>-->
<!--                                </label>-->
<!--                                <div class="col-sm-10  pr0">-->
<!--                                    <tags-input ng-model="rule.apps"-->
<!--                                                placeholder="{{'policy.message.ADD_APP' | translate}}"-->
<!--                                                display-property="name" class="nv-input-text"-->
<!--                                                max-length="{{'general.FILTER_MAX_LEN' | translate}}"-->
<!--                                                min-length="2">-->
<!--                                    </tags-input>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="col-sm-12 pb-sm">-->
<!--                            <button class="btn btn-wide btn-default pull-right"-->
<!--                                    ng-disabled="fileEditForm.$invalid || !fileEditForm.$dirty"-->
<!--                                    ng-click="updateFilter(rule)">-->
<!--                                <em class="fa fa-save mr-sm"></em>{{'policy.portlet.SUBMIT' | translate}}-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </md-dialog-content>-->
<!--            </form>-->
<!--        </md-dialog>-->
<!--    </script>-->

</div>
