<div ng-controller="FederalPolicyNetworkRulesController">
    <div class="nv-scroll-mask" ng-show="isAllPortsShown" ng-click="hideAllPorts()"></div>
    <div>
        <div class="clearfix" style="height: 44.5px;">
            <div class="pull-left mt-sm mr-lg" ng-show="!rulesErr">
                <label class="text-primary" style="position: relative;">{{count}}
                  <div ng-if="groups.length>0 && !eof" class="loader5" style="position: absolute; top: 6px; right: 20px;"></div>
                </label>
            </div>
            <div class="nv-global-policy-operation pull-left" ng-if="eof">
                <ul class="list-inline" ng-show="!rulesErr" style="height: 34px;">
                    <li class="policy-top-button" ng-click="addPolicy($event, -1)" ng-if="isWriteRuleAuthorized && (search === undefined || search.length == 0)">
                        <div class="button">
                            <em class="fa fa-share mr-sm text-action" ></em>
                            {{'policy.toolBar.INSERT_TO_TOP' | translate}}
                        </div>
                    </li>
                    <li ng-if="isWriteRuleAuthorized && removable && !isAllPortsShown && !isDialogOpen"  class="policy-top-button"  ng-click="deleteRuleItem($event)">
                        <div id="remove-selected-row" class="button fade-in-left">
                            <em class="fa fa-trash mr-sm text-action"></em>
                            {{'policy.toolBar.REMOVE' | translate}}
                        </div>
                    </li>
                    <li ng-if="isWriteRuleAuthorized && removable && !search && !isAllPortsShown && !isDialogOpen"  class="policy-top-button" id="policy-move-list" style="top: -1.31px;">
                        <div class="btn-group fade-in-left" uib-dropdown keyboard-nav auto-close="outsideClick" on-toggle="toggled(open)">
                            <button id="simple-btn-keyboard-nav" type="button" class="settings-arrow button" uib-dropdown-toggle>
                                <em class="fa fa-arrows mr-sm text-action"></em>
                                {{'policy.toolBar.MOVE_TO' | translate}}...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <em class="pull-right fa fa-caret-down mt3"></em>
                            </button>
                            <div class="dropdown-menu policy-move pull-down" uib-dropdown-menu>
                                <ul role="menu" aria-labelledby="simple-btn-keyboard-nav">
                                    <li>
                                        <em class="fa fa-chevron-up text-muted" aria-hidden="true"></em>
                                        {{'policy.toolBar.BEFORE_ROWS' | translate}}
                                        <input id="before" type="text" ng-keydown="numericOnly($event)" ng-model="before" ng-disabled="after" ng-class="user.token.locale === 'zh_cn' ? 'floatFree' : '' " maxlength="6">
                                        {{'policy.toolBar.BEFORE_ROWS_ZH' | translate}}
                                    </li>
                                    <li>
                                        <em class="fa fa-chevron-down text-muted" aria-hidden="true"></em>
                                        <strong>{{'policy.toolBar.OR' | translate}}</strong>{{'policy.toolBar.AFTER_ROWS' | translate}}
                                        <input id="after" type="text" ng-keydown="numericOnly($event)" ng-model="after" ng-disabled="before" ng-class="user.token.locale === 'zh_cn' ? 'floatFree' : '' " maxlength="6">
                                        {{'policy.toolBar.AFTER_ROWS_ZH' | translate}}
                                    </li>
                                    <li class="move-btn">
                                        <div class="policy-move-instruction" ng-class="invalid ? 'text-danger' : 'text-muted'">{{invalid ? 'policy.toolBar.ERROR' : 'policy.toolBar.INSTRUCTION' | translate}}</div>
                                        <md-button id="move-btn" ng-click="moveRules()" class="md-raised md-primary ml0"
                                                   ng-disabled="!before && !after || invalid">
                                            {{'policy.toolBar.MOVE' | translate}}
                                        </md-button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li ng-if="isWriteRuleAuthorized && isPolicyDirty() && !isDialogOpen"   class="policy-top-button"  ng-click="submit($event)">
                        <div class="hightlighted-button fade-in-left">
                            <em class="fa fa-save mr-sm text-action"></em>
                            {{'policy.toolBar.SAVE' | translate}}
                        </div>
                    </li>
                    <li ng-if="isWriteRuleAuthorized && isPolicyDirty() && !isDialogOpen"   class="policy-top-button"  ng-click="reset()">
                        <div class="button fade-in-left">
                            <em class="fa fa-undo mr-sm text-action"></em>
                            {{'policy.toolBar.UNDO' | translate}}
                        </div>
                    </li>
                </ul>
            </div>
            <div class="left-inner-addon pull-right">
                <em class="fa fa-filter text-filter"></em>
                <input class="search form-control" placeholder="{{'general.FILTER' | translate}}" ng-disabled="!eof"
                       ng-model="search" ng-keyup="onFilter(search)" ng-paste="onFilter(search)" maxlength="{{'general.FILTER_MAX_LEN' | translate}}"/>
            </div>
            <div class="pull-right mr-lg" style="padding-top: 5px; margin-left: 10px; width: 100px; text-align: right;" ng-show="!isPolicyDirty() && (eof || rulesErr)" ng-click="reset()">
                <em class="fa fa-refresh text-action hand"/>
                <label class="text-gray-label hand">{{'general.REFRESH' | translate}}</label>
            </div>
        </div>
        <div id="policy-grid" ag-grid="gridOptions" class="ag-grid mt-sm nv-policy-type"
             style="width: 100%;" ng-style="{ height: graphHeight + 'px'}">
            <div id="all-ports" class="ports-panel-wrap" ng-show="isAllPortsShown" ng-style="panelPosition">
                <div class="row m0">
                    <div class="pull-left"><h4>{{'policy.ALL_PORTS' | translate}}:</h4></div><div class="pull-right"><em class="fa fa-times all-ports-close" aria-hidden="true" ng-click="hideAllPorts()"></em></div>
                </div>
                <div class="row m0" style="position: relative;">
                    <div class="ports-panel">{{currPorts}}</div>
                    <div ng-show="isGradientTopBottomShown" class="top-mask"></div>
                    <div ng-show="isGradientTopBottomShown" class="bottom-mask"></div>
                </div>
            </div>
            <div class="server-error" style="z-index: 99;position: absolute; width: 100%; top: 70px;" ng-show="rulesErr">
                <div>
                    <em class="fa fa-times-circle error-signal" aria-hidden="true"></em>
                </div>
                <div>
                    <span class="error-text">{{rulesErrMSG}}</span>
                </div>
            </div>
        </div>
        <div>
            <script type="text/ng-template" id="dialog.addPolicy.html">
                <md-dialog aria-label="Add rule" class="dialog-lg" style="overflow: visible">
                    <form name="addPolicyForm" ng-submit="$event.preventDefault()" novalidate="" class="form-validate" style="overflow: visible">
                        <md-toolbar>
                            <div class="md-toolbar-tools">
                                <h2 class="text-dark">{{'policy.addPolicy.TITLE' | translate}}</h2>
                                <span flex></span>
                                <md-button class="md-icon-button" ng-click="cancel()">
                                    <md-icon md-svg-src="app/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                                </md-button>
                            </div>
                        </md-toolbar>
                        <md-dialog-content ng-show="groupErr || policyAppErr" style="min-height: 300px;">
                            <div class="server-error">
                                <div>
                                    <em class="fa fa-times-circle error-signal" aria-hidden="true"></em>
                                </div>
                                <div>
                                    <div class="error-text" ng-show="groupErr">Group autocomplete Error: {{groupErrMSG}}</div>
                                    <div class="error-text" ng-show="policyAppErr">Policy application autocomplete Error: {{policyAppErrMSG}}</div>
                                </div>
                            </div>
                        </md-dialog-content>
                        <md-dialog-content style="overflow: visible;" ng-show="!groupErr && !policyAppErr">
                            <div>
                                <div class="card-body mt-sm">
                                    <div>
                                        <div class="col-sm-12">
                                            <md-input-container class="md-block mb0" >
                                                <label>{{'policy.addPolicy.COMMENT' | translate}}</label>
                                                <input ng-model="newRule.comment"
                                                       class="mda-form-control" maxlength="{{'general.FILTER_MAX_LEN' | translate}}"/>
                                            </md-input-container>
                                        </div>
                                        <div class="col-sm-6">
                                            <md-autocomplete required="true" ng-disabled="isDisabled" md-no-cache="noCache"
                                                             md-input-name="autocompleteFrom"
                                                             md-selected-item="selectedItemFrom" md-search-text="searchTextFrom"
                                                             md-items="item in groups | filter: searchTextFrom"
                                                             md-item-text="item.display"
                                                             md-floating-label="{{'policy.addPolicy.FROM' | translate}}"
                                                             md-search-text-change="cutStringByMaxLength(searchTextFrom, 'searchTextFrom')">
                                                <md-item-template>
                                                    <span md-highlight-text="searchTextFrom">{{item.display}}</span>
                                                </md-item-template>
                                                <md-not-found>
                                                    No matches found.
                                                </md-not-found>
                                                <div ng-messages="addPolicyForm.autocompleteFrom.$error"
                                                     ng-if="addPolicyForm.autocompleteFrom.$touched">
                                                    <div ng-message="required">{{'policy.message.FROM_GROUP_REQUIRED' | translate}}</div>
                                                </div>
                                            </md-autocomplete>
                                        </div>
                                        <div class="col-sm-6">
                                            <md-autocomplete required="true" ng-disabled="isDisabled" md-no-cache="noCache"
                                                             md-input-name="autocompleteTo"
                                                             md-selected-item="selectedItemTo" md-search-text="searchTextTo"
                                                             md-items="item in groups | filter: searchTextTo" md-item-text="item.display"
                                                             md-floating-label="{{'policy.addPolicy.TO' | translate}}"
                                                             md-search-text-change="cutStringByMaxLength(searchTextTo, 'searchTextTo')">
                                                <md-item-template>
                                                    <span md-highlight-text="searchTextTo">{{item.display}}</span>
                                                </md-item-template>
                                                <md-not-found>
                                                    No matches found.
                                                </md-not-found>
                                                <div ng-messages="addPolicyForm.autocompleteTo.$error"
                                                     ng-if="addPolicyForm.autocompleteTo.$touched">
                                                    <div ng-message="required">{{'policy.message.TO_GROUP_REQUIRED' | translate}}</div>
                                                </div>
                                            </md-autocomplete>
                                        </div>
                                        <div class="col-sm-12 mb-sm mt-sm">
                                            <div class="form-group" >
                                                <label class="col-sm-2 nv-modal-item-title control-label pl0" style="padding-left: 36px;">
                                                    {{'policy.addPolicy.APP' | translate}}
                                                    <div class="text-sm text-muted">{{'policy.addPolicy.APP_TIP' | translate}}</div>
                                                </label>
                                                <div class="col-sm-10  pr0">
                                                    <tags-input ng-model="newRule.apps" placeholder="{{'policy.message.ADD_APP' | translate}}"
                                                                display-property="name" add-from-autocomplete-only="true" class="nv-input-text"
                                                                max-length="{{'general.FILTER_MAX_LEN' | translate}}">
                                                        <auto-complete source="loadTags($query)" min-length="1" ></auto-complete>
                                                    </tags-input>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <md-input-container class="md-block mb0">
                                                <label>{{'policy.addPolicy.PORT' | translate}}</label>
                                                <input ng-model="newRule.ports"
                                                       placeholder="{{'policy.message.PORT_SAMPLE' | translate}}" maxlength="{{'general.FILTER_MAX_LEN' | translate}}"/>
                                            </md-input-container>
                                        </div>
                                        <div class="col-sm-2">
                                            <label class="nv-modal-item-title">{{'policy.addPolicy.DENY_ALLOW' | translate}}</label>
                                            <div>
                                                <div class="md-switch4">
                                                    <label class="nv-modal-item-title">
                                                        <input type="checkbox" ng-model="newRule.allowed">
                                                        <span class="toggle"></span>
                                                        <span ng-class="{'text-deny': !newRule.allowed,'text-success': newRule.allowed}">{{(newRule.allowed ? "policy.action.ALLOW" : "policy.action.DENY") | translate}}</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-show="duplicatedPolicy" style="color:#ff0000;" class="col-sm-12" ng-cloak>
                                            {{'policy.addPolicy.DUPLICATED_POLICY' | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </md-dialog-content>
                        <div style="min-height: 50px;" ng-show="groupErr || policyAppErr"></div>
                        <div class="md-actions" layout="row" style="border: 0;" ng-show="!groupErr && !policyAppErr">
                            <md-button ng-click="addNewRule($event)" class="md-raised md-primary"
                                       ng-disabled="addPolicyForm.$invalid">
                                {{'policy.addPolicy.ADD' | translate}}
                            </md-button>
                            <a ng-click="cancel()" class="nv-link">
                                {{'policy.addPolicy.CANCEL' | translate}}
                            </a>
                        </div>
                    </form>
                </md-dialog>
            </script>
        </div>
        <div>
            <script type="text/ng-template" id="dialog.editPolicy.html">
                <md-dialog aria-label="Edit policy" class="dialog-lg" style="overflow: visible">
                    <form name="editPolicyForm" novalidate="" class="form-validate" style="overflow: visible">
                        <md-toolbar>
                            <div class="md-toolbar-tools">
                                <h2 class="text-dark">{{'policy.editPolicy.TITLE' | translate}}</h2>
                                <span flex></span>
                                <md-button class="md-icon-button" ng-click="cancel()">
                                    <md-icon md-svg-src="app/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                                </md-button>
                            </div>
                        </md-toolbar>
                        <md-dialog-content ng-show="groupErr || policyAppErr" style="min-height: 300px;">
                            <div class="server-error">
                                <div>
                                    <em class="fa fa-times-circle error-signal" aria-hidden="true"></em>
                                </div>
                                <div>
                                    <div class="error-text" ng-show="groupErr">Group autocomplete Error: {{groupErrMSG}}</div>
                                    <div class="error-text" ng-show="policyAppErr">Policy application autocomplete Error: {{policyAppErrMSG}}</div>
                                </div>
                            </div>
                        </md-dialog-content>
                        <md-dialog-content style="overflow: visible;" ng-show="!groupErr && !policyAppErr" >
                            <div>
                                <div class="card-body mt-sm">
                                    <div>
                                        <div class="col-sm-4">
                                            <md-input-container class="md-block mb0">
                                                <label>{{'policy.editPolicy.POLICY_ID' | translate}}</label>
                                                <input disabled="disabled" ng-model="editId"/>
                                            </md-input-container>
                                        </div>
                                        <div class="col-sm-8">
                                            <md-input-container class="md-block mb0">
                                                <label>{{'policy.editPolicy.COMMENT' | translate}}</label>
                                                <input ng-model="editComment" maxlength="{{'general.FILTER_MAX_LEN' | translate}}"/>
                                            </md-input-container>
                                        </div>
                                        <div class="col-sm-6">
                                            <md-autocomplete required="true" ng-disabled="isDisabled" md-no-cache="noCache"
                                                             md-input-name="autocompleteEditFrom"
                                                             md-selected-item="selectedItemFrom" md-search-text="searchTextFrom"
                                                             md-items="item in groups | filter: searchTextFrom"
                                                             md-item-text="item.display"
                                                             md-floating-label="{{'policy.editPolicy.FROM' | translate}}"
                                                             md-search-text-change="cutStringByMaxLength(searchTextFrom, 'searchTextFrom')">
                                                <md-item-template>
                                                    <span md-highlight-text="searchTextFrom">{{item.display}}</span>
                                                </md-item-template>
                                                <div ng-messages="editPolicyForm.autocompleteEditFrom.$error"
                                                     ng-if="editPolicyForm.autocompleteEditFrom.$touched">
                                                    <div ng-message="required">{{'policy.message.FROM_GROUP_REQUIRED' | translate}}</div>
                                                </div>
                                            </md-autocomplete>
                                        </div>
                                        <div class="col-sm-6">
                                            <md-autocomplete required="true" ng-disabled="isDisabled" md-no-cache="noCache"
                                                             md-input-name="autocompleteEditTo"
                                                             md-selected-item="selectedItemTo" md-search-text="searchTextTo"
                                                             md-items="item in groups | filter: searchTextTo"
                                                             md-item-text="item.display"
                                                             md-floating-label="{{'policy.editPolicy.TO' | translate}}"
                                                             md-search-text-change="cutStringByMaxLength(searchTextTo, 'searchTextTo')">
                                                <md-item-template>
                                                    <span md-highlight-text="searchTextTo">{{item.display}}</span>
                                                </md-item-template>
                                                <div ng-messages="editPolicyForm.autocompleteEditTo.$error"
                                                     ng-if="editPolicyForm.autocompleteEditTo.$touched">
                                                    <div ng-message="required">{{'policy.message.TO_GROUP_REQUIRED' | translate}}</div>
                                                </div>
                                            </md-autocomplete>
                                        </div>
                                        <div class="col-sm-12 mb-sm">
                                            <div class="form-group">
                                                <label class="col-sm-2 nv-modal-item-title control-label pl0">
                                                    {{'policy.addPolicy.APP' | translate}}
                                                    <div class="text-sm text-muted">{{'policy.addPolicy.APP_TIP' | translate}}</div>
                                                </label>
                                                <div class="col-sm-10 pr0">
                                                    <tags-input ng-model="editApps" placeholder="{{'policy.message.ADD_APP' | translate}}"
                                                                display-property="name" add-from-autocomplete-only="true" class="nv-input-text"
                                                                max-length="{{'general.FILTER_MAX_LEN' | translate}}">
                                                        <auto-complete source="loadTags($query)" min-length="1" ></auto-complete>
                                                    </tags-input>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-8 mb-sm">
                                            <md-input-container class="md-block mb0">
                                                <label>{{'policy.editPolicy.PORT' | translate}}</label>
                                                <input ng-model="editPorts"
                                                       placeholder="{{'policy.message.PORT_SAMPLE' | translate}}" maxlength="{{'general.FILTER_MAX_LEN' | translate}}"/>
                                            </md-input-container>
                                        </div>
                                        <div class="col-sm-2">
                                            <label class="nv-modal-item-title">{{'policy.editPolicy.DENY_ALLOW' | translate}}</label>
                                            <div>
                                                <div class="md-switch4">
                                                    <label class="nv-modal-item-title">
                                                        <input type="checkbox" ng-model="editAllowed">
                                                        <span class="toggle"></span>
                                                        <span ng-class="{'text-deny': !editAllowed,'text-success': editAllowed}">{{(editAllowed ? "policy.action.ALLOW" : "policy.action.DENY") | translate}}</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <label class="nv-modal-item-title">{{'policy.editPolicy.STATUS' | translate}}</label>
                                            <div>
                                                <div class="md-switch2">
                                                    <label class="nv-modal-item-title">
                                                        <input type="checkbox" ng-model="editStatus">
                                                        <span class="toggle"></span>
                                                        {{(editStatus ? "policy.status.ENABLED" : "policy.status.DISABLED") | translate}}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-show="duplicatedPolicy" style="color:#ff0000;" class="col-sm-12" >
                                            {{'policy.addPolicy.DUPLICATED_POLICY' | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </md-dialog-content>
                        <div style="min-height: 50px;" ng-show="groupErr || policyAppErr"></div>
                        <div class="md-actions" layout="row" style="border: 0;" ng-show="!groupErr && !policyAppErr">
                            <md-button ng-click="editRule($event)" class="md-raised md-primary"
                                       ng-disabled="editPolicyForm.$invalid">
                                {{'policy.editPolicy.UPDATE' | translate}}
                            </md-button>
                            <a ng-click="cancel()" class="nv-link">
                                {{'policy.editPolicy.CANCEL' | translate}}
                            </a>
                        </div>
                    </form>
                </md-dialog>
            </script>
        </div>
    </div>
</div>
