<app-dashboard-printable-report
  #dashboardReport
  *ngIf="isPrinting"
  class="printable-area"
  [domain]="reportDomain"
  [reportInfo]="reportInfo"
  [details]="details">
</app-dashboard-printable-report>
<div class="screen-area">
  <div class="clearfix">
    <app-loading-button
      (btnClick)="iskube ? openDashboardReportList() : printDashboardReport()"
      appearance="mat-button"
      buttonClasses="mt-3 me-1 d-flex justify-content-center align-items-center pull-right"
      iconClasses="eos-icons"
      iconName="print">
    </app-loading-button>
    <h1 class="font-weight-light" id="events-title">
      {{ 'dashboard.TITLE' | translate }}
    </h1>
  </div>
  <app-security-risk-panel
    *ngIf="scoreInfo && summaryInfo && isShowingScore"
    [scoreInfo]="scoreInfo"
    [details]="details"
    [summaryInfo]="summaryInfo">
  </app-security-risk-panel>
  <app-exposure-panel *ngIf="scoreInfo" [scoreInfo]="scoreInfo">
  </app-exposure-panel>
  <app-security-events-panel [securityEvents]="securityEvents">
  </app-security-events-panel>
  <div class="row">
    <app-top-security-events-panel
      class="col-lg-6"
      direction="source"
      [securityEvents]="securityEvents">
    </app-top-security-events-panel>
    <app-top-security-events-panel
      class="col-lg-6"
      direction="destination"
      [securityEvents]="securityEvents">
    </app-top-security-events-panel>
  </div>
  <div
    class="row"
    *ngIf="
      details &&
        !details.autoScanConfig &&
        details.highPriorityVulnerabilities &&
        details.highPriorityVulnerabilities.containers.top5Containers.length ===
          0 &&
        details.highPriorityVulnerabilities.nodes.top5Nodes.length === 0;
      else topVulnerableAssets
    ">
    <app-top-vulnerable-assets-panel
      class="col-lg-12"
      assetType="assets"
      [isScanOff]="!details.autoScanConfig"
      [details]="details">
    </app-top-vulnerable-assets-panel>
  </div>
  <div class="row">
    <app-policy-mode-panel
      *ngIf="scoreInfo"
      class="col-xl-6"
      assetType="services"
      [scoreInfo]="scoreInfo"
      [details]="details">
    </app-policy-mode-panel>
    <app-policy-mode-panel
      *ngIf="scoreInfo"
      class="col-xl-6"
      assetType="containers"
      [scoreInfo]="scoreInfo"
      [details]="details">
    </app-policy-mode-panel>
  </div>
  <app-application-protocols-panel [details]="details">
  </app-application-protocols-panel>
</div>

<ng-template #topVulnerableAssets>
  <div class="row">
    <app-top-vulnerable-assets-panel
      class="col-lg-6"
      assetType="containers"
      [details]="details">
    </app-top-vulnerable-assets-panel>
    <app-top-vulnerable-assets-panel
      class="col-lg-6"
      assetType="nodes"
      [details]="details">
    </app-top-vulnerable-assets-panel>
  </div>
</ng-template>
