@use 'app/material/colors';

@media (min-width: 950px) {
  .password__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.password__container {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 2rem;
}

.password__field {
  display: flex;
  justify-content: center;
  align-items: center;
}

.password__icon {
  color: white;
  background-color: #30ba78;
  border-radius: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.password__requirement {
  padding-left: 4.5rem;

  &:nth-child(odd) {
    flex: 0 0 25%;
    max-width: 25%;
  }
  &:nth-child(even) {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

.text-success-tran {
  color: colors.$mdc-green-100;
}

.text-light-grey {
  color: colors.$mdc-grey-300;
}
