<div class="d-flex align-items-center justify-content-between">
  <div class="d-flex align-items-center justify-content-start">
    <span class="font-weight-bold text-info">
      <span *ngIf="filtered">
        {{ 'enum.FOUND' | translate }}
        {{ filteredCount }}&nbsp;/
      </span>
      <span *ngIf="!filtered"> {{ 'enum.OUT_OF' | translate }}&nbsp; </span>
      {{ userCount }}
    </span>
  </div>
  <div class="d-flex align-items-center justify-content-end">
    <button
      (click)="deleteUser()"
      class="d-flex align-items-center justify-content-start me-2"
      id="users-remove-dialog"
      mat-stroked-button
      *ngIf="removable && isWriteUserAuthorized">
      <i class="eos-icons me-2">delete</i>{{ 'role.REMOVE' | translate }}
    </button>
    <button
      (click)="addUser()"
      *appDisplayControl="'write_users'"
      class="d-flex align-items-center justify-content-start px-2 me-2"
      id="users-add-dialog"
      mat-stroked-button>
      <i class="eos-icons me-2">add_circle</i>{{ 'role.ADD' | translate }}
    </button>

    <app-loading-button
      (btnClick)="refresh()"
      [appearance]="'mat-button'"
      [buttonClasses]="'d-flex justify-content-center align-items-center'"
      [disabled]="!!(refreshing$ | async)"
      [iconClasses]="'eos-icons icon-18'"
      [iconName]="'refresh'"
      [id]="'users-refresh-button'"
      [loading]="!!(refreshing$ | async)"
      [text]="'network.REFRESH' | translate"
      [type]="'button'"
      class="me-3">
    </app-loading-button>
    <app-quick-filter
      [gridOptions]="gridOptions"
      [gridApi]="gridApi"
      (filterCountChange)="filterCountChanged($event)"
      [showCount]="false">
    </app-quick-filter>
  </div>
</div>
<ag-grid-angular
  (window:resize)="onResize()"
  [gridOptions]="gridOptions"
  class="ag-theme-alpine"
  style="width: 100%; height: calc(100vh - 330px)">
</ag-grid-angular>
<div class="timeline"></div>
