.mat-menu-panel.global-notification-list {
  width: 350px;
  max-width: 350px;
  min-height: auto;
  .mat-menu-item {
    white-space: normal;
    font-size: 12px;
    line-height: 20px;
    height: auto;
  }
}
