<div class="d-flex flex-row align-items-center justify-content-between">
  <div class="d-flex">
    <h1 class="font-weight-light" id="response rules title">
      {{ 'responsePolicy.head.TITLE' | translate }}</h1>
  </div>
  <app-loading-button
    (btnClick)="refresh()"
    [appearance]="'mat-button'"
    [buttonClasses]="'d-flex justify-content-center align-items-center'"
    [disabled]="false"
    [iconClasses]="'eos-icons icon-18'"
    [iconName]="'refresh'"
    [id]="'response-rule-refresh-button'"
    [loading]="false"
    [text]="'network.REFRESH' | translate"
    [type]="'button'">
  </app-loading-button>
</div>
<div>
  <div
    [ngClass]="{
      panel: source === navSource['SELF'],
      mb0: source === navSource['SELF']
    }">
    <div [ngClass]="{ 'panel-body': source === navSource['SELF'] }">
      <div class="clearfix" *ngIf="source !== navSource['GROUP']">
        <app-quick-filter
          class="pull-left"
          [gridOptions]="gridOptions"
          [filteredCount]="filteredCount"
          [count]="responseRulesService.responseRules.length">
        </app-quick-filter>
        <div class="pull-left margin-top-m margin-left-l">
          <ul class="list-inline" *ngIf="!responsePolicyErr">
            <li
              class="policy-top-button"
              (click)="addResponseRule2Top($event)"
              *ngIf="isWriteResponseRuleAuthorized">
              <!--Authorization-->
              <button class="primary-button">
                <em class="fa fa-share mr-sm"></em>
                {{ 'policy.toolBar.INSERT_TO_TOP' | translate }}
              </button>
            </li>
          </ul>
        </div>
      </div>
      <ag-grid-angular
        #agGrid
        id="response-rule-grid"
        style="width: 100%"
        [ngStyle]="{ height: (source === navSource['GROUP'] ? resizableHeight - 85 : gridHeight) + 'px' }"
        class="ag-theme-balham"
        [gridOptions]="gridOptions"
        [rowData]="responseRulesService.responseRules"
        [context]="context">
      </ag-grid-angular>
    </div>
  </div>
</div>
