.detail-header {
  height: 50px;
}

.filter {
  position: relative;
  left: calc(100% - 180px);
  top: -4px;
  z-index: 10000;
  display: flex;
  align-items: baseline;
}

.filter-icon-1 {
  left: calc(100% - 236px) !important;
}

.detail-tabs {
  margin-top: -62px;
}
