<div class="nv-dialog">
  <div class="d-flex align-items-center justify-content-between">
    <h4 mat-dialog-title class="mb-1">
      {{'group.dlp.setting.TITLE' | translate}}
    </h4>
    <div class="d-flex align-items-center justify-content-center mb-1">
      <button
        mat-icon-button
        aria-label="close"
      >
        <i class="eos-icons" (click)="onCancel()">close</i>
      </button>
    </div>
  </div>
  <hr class="fancy mb-0" />
  <div class="clearfix">
    <div class="d-flex justify-content-between align-items-center">
      <div class="font-weight-bold text-info">
        <span *ngIf="filtered">
          {{ 'enum.FOUND' | translate }}
          {{ filteredCount }}&nbsp;/
        </span>
        <span *ngIf="!filtered" >
          {{ 'enum.OUT_OF' | translate }}&nbsp;
        </span>
        {{ dlpSensorOption.length }}
      </div>
      <app-quick-filter
        (filterCountChange)="filterCountChanged($event)"
        [gridOptions]="gridOptions4DlpSensorOption"
        [showCount]="false">
      </app-quick-filter>
    </div>
    <ag-grid-angular
      #groupDlpSensorOptionGrid
      id="group-dlp-sensor-option-grid"
      style="width: 100%; height: 400px;"
      class="ag-theme-balham"
      [gridOptions]="gridOptions4DlpSensorOption"
      >
    </ag-grid-angular>
  </div>
  <div
    mat-dialog-actions
    class="d-flex justify-content-end align-content-center">
    <app-loading-button
      [appearance]="'mat-raised-button'"
      [color]="'primary'"
      [disabled]="selectedDlpSensors.length === 0"
      [loading]="submittingUpdate"
      [text]="'group.dlp.setting.ADOPT' | translate"
      (btnClick)="adoptSensors()"
      class="pull-right"
    >
    </app-loading-button>
  </div>
</div>
