<div class="nv-dialog">
  <div mat-dialog-title class="dialog-header">
    <div class="pull-left">
      <span>{{'group.dlp.setting.TITLE' | translate}}</span>
    </div>
    <div class="pull-right">
      <em class="icon-close hand" (click)="onCancel()"></em>
    </div>
  </div>
  <div mat-dialog-content>
    <div class="clearfix">
      <app-quick-filter
        class="pull-left"
        [gridOptions]="gridOptions4DlpSensorOption"
        [filteredCount]="filteredCount"
        [count]="dlpSensorOption.length">
      </app-quick-filter>
      <div class="pull-left mt-4 text-warning" *ngIf="data.warning">
        {{data.warning}}
      </div>
    </div>
    <div class="clearfix">
      <ag-grid-angular
        #groupDlpSensorOptionGrid
        id="group-dlp-sensor-option-grid"
        style="width: 100%; height: 400px;"
        class="ag-theme-balham"
        [gridOptions]="gridOptions4DlpSensorOption"
        >
      </ag-grid-angular>
    </div>
    <div class="clearfix mt-2">
      <app-loading-button
        [appearance]="'mat-raised-button'"
        [color]="'primary'"
        [loading]="submittingUpdate"
        [text]="'group.dlp.setting.ADOPT' | translate"
        (click)="adoptSensors()"
        class="pull-right"
      >
      </app-loading-button>
    </div>
  </div>
</div>
