<div
  *ngIf="
    !isPredefine &&
    ((params.context.componentParent.source !== navSource.FED_POLICY &&
      params.data.cfg_type !== CFG_TYPE.FED) ||
      (params.context.componentParent.source === navSource.FED_POLICY &&
        params.data.cfg_type === CFG_TYPE.FED))
  ">
  <div class="rule-actions-expand fade-in-right">
    <em
      class="eos-icons icon-18 hand text-action"
      matTooltip="{{ 'waf.TIP.EDIT_RULE' | translate }}"
      matTooltipPosition="above"
      (click)="editRule(params.node.data)">
      edit
    </em>
    <em
      class="eos-icons icon-18 hand text-action"
      matTooltip="{{ 'waf.TIP.DELETE_RULE' | translate }}"
      matTooltipPosition="above"
      (click)="deleteRule(params.node.data)">
      delete
    </em>
  </div>
  <div class="rule-actions-collapse text-action">
    <em class="fa fa-ellipsis-h fa-lg  text-action hand"> </em>
  </div>
</div>
