$sidebar-bg:                      $left-side-bg;

$sidebar-item-color:              #515253;
$sidebar-item-color-active:       #30ba78;
$sidebar-item-bg-active:          darken($sidebar-bg, 3%);
$sidebar-subitem-bg-active:       darken($sidebar-bg, 10%);

$sidebar-icon-color:              #141823;
$sidebar-icon-color-active:       #30ba78;

$sidebar-bullet-color:            rgba(0,0,0,.25);
$sidebar-bullet-color-active:     $nav-top-bg;

$sidebar-heading-color:           #919DA8;
$sidebar-label-color:             $sidebar-item-color;

$submenu-header-hg:               40px;   // Submenu header when hover collapse sidebar
$sidebar-item-border-wd:          5px;
$scrollbar-wd:                    17px;

.sidebar {
    margin-top: 30px;
    height: 100%;
    padding-bottom: 20px;
    background-color: $sidebar-bg;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    &:after {
        content: "";
        background: rgba(0, 0, 0, .15);
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        right: 0;
        width: 0;
        -webkit-transform: translateZ(0px);
    }

    .nav-heading {
        padding: 12px 15px;
        color: $sidebar-heading-color;
        font-size: 13px;
        letter-spacing: .035em;
        pointer-events: none;
        cursor: default;
    }
}

.sidebar-nav {
    position: relative;
    font-size: 14px;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    overflow-y: scroll;
    height: calc(100vh - 160px);
    >.nav-heading:first-child {
        padding-top: 20px;
    }

    >li {
        display: block;
        border-left: $sidebar-item-border-wd solid transparent;
        @include transition(border-left-color 0.4s ease);

        >a,
        >.nav-item {
            position: relative;
            display: block;
            padding: 12px 24px;
            color: $sidebar-item-color;
            letter-spacing: .025em;
            font-weight: bold;
            cursor: pointer;

            &:focus,
            &:hover {
                text-decoration: none;
                outline: none;
                color: $sidebar-bullet-color-active;
                >em {
                  color: $sidebar-bullet-color-active;
                }
            } // Item icon
            >em {
                width: 1.8em;
                display: inline-block;
                font-style: normal;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                color: $sidebar-icon-color;
            }
        } // Active item state
        &.active,
        &.open {
            &,
            >a,
            >.nav-item,
            .sidebar-nav {
                background-color: $sidebar-item-bg-active;
                color: $sidebar-bullet-color-active;
            }
            >.nav-item>em,
            >a>em {
                color: $sidebar-bullet-color-active;
            }
        }

        &.active {
            border-left-color: $sidebar-item-color-active;
        }
    }
    .badge {
        display: block;
    }
}

$tablet-landscape: 1025px;
@media only screen and (min-width: $tablet-landscape) {
    .sidebar:not(.show-scrollbar) {
        margin-right: -$scrollbar-wd;
        overflow-y: scroll;
    }
}

.sidebar-subnav {
    background-color: $sidebar-bg;

    >.sidebar-subnav-header {
        color: $sidebar-item-color;
        display: none;
        padding: 10px 20px;
        font-weight: bold;
    }

    >li {
        border-left: 0 !important;
        >a,
        >.nav-item {
            display: block;
            position: relative;
            padding: 10px 20px;
            padding-left: 53px;
            font-weight: normal;
            background-color: transparent;
            color: $sidebar-item-color;
            &:focus,
            &:hover {
                color: $sidebar-bullet-color-active;
            } // submenu icons
            >em {
                display: inline-block;
                width: 1.8em;
                margin: 0 0 0 -2em;
            }
        }

        &.active {
            >a,
            >.nav-item {
                color: $sidebar-bullet-color-active;
                background-color: $sidebar-subitem-bg-active;
                border-color: $sidebar-subitem-bg-active;
            }
        } // Nested levels
        .sidebar-nav>li {
            padding-left: 5px;
        }
    }

    &.sidebar-floating {
        @include material-shadow();
        border: 1px solid rgba(0, 0, 0, 0.15);
        margin-left: -1px;
        &,
        .collapse, .sidebar-subnav {
            height: auto !important;
            display: block !important;
            visibility: visible !important;
            &.opening {
                animation: none !important;
            }
        }
        >.sidebar-subnav-header {
            display: block;
        }
        li>a,
        li>.nav-item {
            padding-left: 20px;
            em {
                margin-left: 0;
            }
        }
    }
}

// Desktop styles
// ---------------------------------
@include media-breakpoint-up(md) {

    .sidebar>.sidebar-nav {

        .badge {
            margin: 2px 0 0 0;
        }
    }
}

.left-side-collapsed,
.left-side-collapsed-text {

    .sidebar {
        overflow-x: hidden;
        >.sidebar-nav {

            .sidebar-nav,
            >.nav-heading,
            >li>.nav-item>span,
            >li>a>span {
                display: none !important;
            }

            >li {
                width: $left-side-wd-collapsed - 1;
                >a,
                >.nav-item {
                    text-indent: -$sidebar-item-border-wd;
                    padding: 20px 0;
                    text-align: center;
                    >em {
                        font-size: 1.6em;
                        width: auto;
                    }
                    &:focus {
                        background-color: transparent;
                        >em {
                            color: inherit;
                        }
                    }
                }
            }
        }
        .sidebar-nav {
            .badge {
                position: absolute;
                top: 10px;
                right: 5px;
                text-indent: 0;
            }
        }
    }
}
.left-side-collapsed-text {

    .sidebar {
        >.sidebar-nav {

            >li>.nav-item>span,
            >li>a>span {
                display: block !important;
                font-size: 12px;
            }

            >li {
                width: $left-side-wd-collapsed-text - 2;
                >a {
                    padding: 14px 0;
                    >em {
                        font-size: 1.4em;
                    }
                }
            }
        }
    }
}

.sidebar-subnav {
    height: 0;
    overflow: hidden;
    transition: height .2s ease;
    &.opening {
        height: auto;
        transition: height .2s ease;
        animation: fadeInLeft .5s;
    }
}
