<div class="nv-dialog">
  <div class="d-flex justify-content-between align-items-center">
    <h4 mat-dialog-title class="mb-2">
      {{ 'service.PREDEFINED_FILTERS_TITLE' | translate }}
    </h4>
    <button (click)="onCancel()" class="mb-2" aria-label="Close dialog" mat-icon-button>
      <i class="eos-icons ">close</i>
    </button>
  </div>
  <hr class="fancy" />
  <div mat-dialog-content class="dialog-content ph pv m0 fresh-bg">
    <ag-grid-angular
      #agGrid
      id="predefined-file-access-rules-grid"
      style="width: 100%"
      [ngStyle]="{ height: gridHeight + 'px' }"
      class="ag-theme-balham"
      [gridOptions]="gridOptions4PredefinedFileAccessRules"
      [rowData]="predefinedFileAccessRules">
    </ag-grid-angular>
  </div>
</div>
