<header ng-include="topNav" class="topnavbar-wrapper"></header>
<aside ng-include="sideBar" class="aside"></aside>
<section ng-if="sidebarDone && versionDone && isFooterReady">
   <div ui-view="" autoscroll="false" ng-class="app.viewAnimation" class="content-wrapper">
   </div>
</section>
<section ng-if="!(sidebarDone && versionDone && isFooterReady) && hideFrame">
  <div style="height: 100vh; width: 100vw; display: table-cell; vertical-align: middle;">
    <div class="text-center">
      <em class="fa fa-exclamation-circle fa-lg text-warning"></em>
      <h4 class="text-bold text-muted">{{ "logout.SIGN_OUT" | translate }}</h4>
      <p class="text-muted">{{ "logout.SIGN_OUT_DESC" | translate }}</p>
    </div>
  </div>
</section>
<footer ng-if="versionDone" class="visible-xs" ng-include="footer" style="z-index: 999;"></footer>
