<div
  ng-controller="ComplianceProfileController"
>
  <div class="panel mb0">
    <div class="panel-body">
      <md-content style="padding-bottom: 0;">
        <md-tabs
          md-no-ink
          md-dynamic-height=""
          md-border-bottom=""
          md-selected="selectedIndex"
          class="p0"
        >
          <md-tab
            label="{{'cis.profile.TEMPLATES' | translate}}"
            ng-click="onTemplates()"
          >
            <md-content class="pb0">
              <div
                class="clearfix mt"
                display-control="write_compliance_profile"
              >
                <div class="col-sm-12 pl0 pr-sm">
                  <md-checkbox
                    class="md-primary mh-lg"
                    ng-checked="profile.disable_system"
                    ng-disabled="onEdit || !canConfigProfile || benches.length === 0"
                    ng-click="profile.disable_system = !profile.disable_system; onToggleSys()"
                  >
                    <label class="text-action mt-sm"
                      >{{'cis.profile.HIDE_SYSTEM' | translate}}
                    </label>
                  </md-checkbox>
                  <div class="pull-right" style="margin-top: 2px;">
                    <button
                      type="button"
                      style="padding: 3px 15px;"
                      class="btn btn-default btn-wide"
                      ng-disabled="onEdit || !canConfigProfile || benches.length === 0"
                      ng-click="resetTemplate()"
                    >
                      <em class="icon-action-undo text-action mr-sm"></em>
                      {{'cis.profile.RESET' | translate}}
                    </button>
                  </div>
                  <div class="pull-right mr" style="margin-top: 2px;">
                    <label
                      class="text-primary mr-lg"
                      ng-show="updatedBenchSet.size"
                    >
                      {{'cis.profile.PENDING' | translate}}
                      {{updatedBenchSet.size}} {{'cis.profile.CHANGES' |
                      translate}}
                      <em class="fa fa-hand-o-right"></em>
                    </label>
                    <button
                      type="button"
                      style="padding: 3px 15px;"
                      class="btn btn-default btn-wide mr-lg"
                      ng-show="updatedBenchSet.size"
                      ng-disabled="onEdit || !canConfigProfile"
                      ng-click="accept($event)"
                    >
                      <em class="fa fa-save text-action mr-sm"></em>
                      {{'setting.SUBMIT' | translate}}
                    </button>
                  </div>
                </div>
                <div class="col-sm-12">
                  <label class="text-action">
                    {{'cis.profile.COMPLIANCE_TEMPLATE' | translate}}
                  </label>
                  <md-checkbox
                    class="md-primary mh-lg"
                    ng-checked="templateOption.all"
                    md-indeterminate="!templateOption.all"
                    ng-disabled="onEdit || benches.length === 0"
                    ng-click="templateOption.all = !templateOption.all; filterRegulation(templateOption.all, 'all')"
                  >
                    <label class="text-gray-label text-lg"
                      >{{'setting.ALL' | translate}}
                    </label>
                  </md-checkbox>
                  <md-checkbox
                    class="md-primary mr0 ml-xl"
                    ng-checked="templateOption.pci"
                    ng-disabled="onEdit || benches.length === 0"
                    ng-click="templateOption.pci = !templateOption.pci; filterRegulation(templateOption.pci, 'PCI')"
                  >
                  </md-checkbox>
                  <img src="app/img/icons/pci.png" />
                  <md-checkbox
                    class="md-primary mr0 ml-xl"
                    ng-checked="templateOption.gdpr"
                    ng-disabled="onEdit || benches.length === 0"
                    ng-click="templateOption.gdpr = !templateOption.gdpr; filterRegulation(templateOption.gdpr, 'GDPR')"
                  >
                  </md-checkbox>
                  <img src="app/img/icons/gdpr.svg" />
                  <md-checkbox
                    class="md-primary mr0 ml-xl"
                    ng-checked="templateOption.hipaa"
                    ng-disabled="onEdit || benches.length === 0"
                    ng-click="templateOption.hipaa = !templateOption.hipaa; filterRegulation(templateOption.hipaa, 'HIPAA')"
                  >
                  </md-checkbox>
                  <img src="app/img/icons/hipaa.png" />
                  <md-checkbox
                    class="md-primary mr0 ml-xl"
                    ng-checked="templateOption.nist"
                    ng-disabled="onEdit || benches.length === 0"
                    ng-click="templateOption.nist = !templateOption.nist; filterRegulation(templateOption.nist, 'NIST')"
                  >
                  </md-checkbox>
                  <img src="app/img/icons/nist.png" />
                </div>
              </div>

              <div class="clearfix mt">
                <label class="text-primary" ng-show="!gridErr">{{count}}</label>
                <div
                  class="left-inner-addon pull-right"
                  style="margin-bottom: 10px;"
                >
                  <em class="fa fa-filter text-filter"></em>
                  <input
                    class="search form-control"
                    placeholder="{{'general.FILTER' | translate}}"
                    type="text"
                    maxlength="{{'general.FILTER_MAX_LEN' | translate}}"
                    ng-model="profileSearch"
                    ng-paste="onFilterChanged(profileSearch)"
                    ng-keyup="onFilterChanged(profileSearch)"
                  />
                </div>
              </div>
              <div
                ag-grid="profileGridOptions"
                class="ag-grid compliance-profile-grid"
                style="width: 100%;"
                ng-class="{'has-actions': canConfigProfile, 'no-actions': !canConfigProfile}"
              ></div>
            </md-content>
          </md-tab>
          <md-tab
            label="{{'sidebar.nav.RESOURCE' | translate}}"
            ng-if="!isNamespaceUserOnly"
            ng-click="getDomains()"
          >
            <md-content>
              <div class="">
                <div>
                  <div class="panel-body text-muted text-bold mb-lg" flex="90">
                    {{'cis.profile.DESCRIPTION' | translate}}
                  </div>
                </div>
                <div layout="row" class="mv">
                  <label class="text-action ml-lg" flex="10">
                    <em class="fa fa-lg fa-archive mr-sm text-info"></em>
                    {{'cis.report.data.IMAGES' | translate}}
                  </label>
                  <label class="text-muted pl-xl ml-lg" flex="10">
                    {{'cis.profile.TEMPLATES' | translate}}:
                  </label>
                  <div flex="50" class="pl" layout-align="start ">
                    <div
                      class="label label-primary label-fs"
                      ng-if="images.tags.length === 0"
                    >
                      &#8942;&#8942;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'setting.ALL' | translate}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    <div
                      ng-repeat="tag in images.tags"
                      ng-if="images.tags.length"
                      class="label label-fs mr-xl animatedF fadeInDown"
                      ng-class="getLabelClass(tag)"
                    >
                      &#8942;&#8942;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{tag}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                  </div>
                  <div layout-align="end">
                    <em
                      class="fa fa-edit fa-lg mt-sm pull-left mr-xl"
                      ng-class="{'text-action': !onImage,'text-primary': onImage}"
                      ng-if="canConfigProfile"
                      ng-click="updateAsset(images)"
                    >
                    </em>
                  </div>
                </div>
                <div layout="row" class="mv">
                  <label class="text-action ml-lg" flex="10">
                    <em class="fa fa-lg fa-server mr-sm text-info"></em>
                    {{'cis.report.data.NODES' | translate}}
                  </label>
                  <label class="text-muted pl-xl ml-lg" flex="10">
                    {{'cis.profile.TEMPLATES' | translate}}:
                  </label>
                  <div class="pl" flex="50" layout-align="start ">
                    <div
                      class="label label-primary label-fs"
                      ng-if="nodes.tags.length === 0"
                    >
                      &#8942;&#8942;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'setting.ALL' |translate}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    <div
                      ng-repeat="tag in nodes.tags"
                      ng-if="nodes.tags.length"
                      class="label label-fs mr-xl animatedF fadeInRight"
                      ng-class="getLabelClass(tag)"
                    >
                      &#8942;&#8942;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{tag}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                  </div>
                  <div layout-align="end">
                    <em
                      class="fa fa-edit fa-lg mt-sm mr-xl"
                      ng-class="{'text-action': !onNode,'text-primary': onNode}"
                      ng-if="canConfigProfile"
                      ng-click="updateAsset(nodes)"
                    ></em>
                  </div>
                </div>
                <div layout="row" class="mv">
                  <label class="text-action ml-lg" flex="10">
                    <em class="fa fa-lg fa-square-o mr-sm "
                        ng-class="{'text-info': !onDomain, 'text-muted': onDomain}"
                    ></em>
                    {{'cis.report.data.CONTAINERS' | translate}}
                  </label>
                  <label class="text-muted pl-xl ml-lg" flex="10">
                    {{'cis.profile.TEMPLATES' | translate}}:
                  </label>
                  <div class="pl" flex="50" layout-align="start ">
                    <div
                      class="label label-primary label-fs"
                      ng-if="containers.tags.length === 0"
                    >
                      &#8942;&#8942;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'setting.ALL' |translate}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    <div
                      ng-repeat="tag in containers.tags"
                      ng-if="containers.tags.length"
                      class="label label-fs mr-xl animatedF fadeInUp"
                      ng-class="getLabelColor(tag)"
                    >
                      &#8942;&#8942;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{tag}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                  </div>
                  <div layout-align="end">
                    <em
                      class="fa fa-edit fa-lg mt-sm mr-xl"
                      ng-class="{'text-action': !onWorkload,'text-primary': onWorkload}"
                      ng-if="!onDomain && canConfigProfile"
                      ng-click="updateAsset(containers)"
                    ></em>
                  </div>
                </div>
                <hr class="hr-text" data-content="{{'login.OR' | translate}}" />
                <div>
                  <div class="clearfix">
                    <md-checkbox
                      class="md-primary mh-lg"
                      ng-model="onDomain"
                      ng-disabled="!canConfigProfile || !hasDomain"
                      ng-change="toggleAction()"
                    >
                      <label class="text-action mt-sm"
                        >{{'cis.profile.ENABLE_DOMAIN_TAGGING' | translate}}
                      </label>
                    </md-checkbox>
                    <div class="left-inner-addon pull-right">
                      <em class="fa fa-filter text-filter"></em>
                      <input
                        class="search form-control"
                        placeholder="{{'general.FILTER' | translate}}"
                        maxlength="{{'general.FILTER_MAX_LEN' | translate}}"
                        ng-model="searchDomain"
                        ng-paste="onDomainFilterChanged(searchDomain)"
                        ng-keyup="onDomainFilterChanged(searchDomain)"
                      />
                    </div>
                  </div>

                  <div
                    ag-grid="domainGridOptions"
                    class="ag-grid mb0"
                    style="width: 100%; height: calc(100vh - 472px);"
                  ></div>
                </div>
              </div>
            </md-content>
          </md-tab>
        </md-tabs>
      </md-content>
    </div>
  </div>

  <div
    class="dataBox pt0"
    style="right: 320px; top: 60px;"
    ng-show="onEdit"
    ng-cloak
  >
    <button
      class="btn btn-xs btn-link pull-right mt-sm"
      ng-click="onEdit=!onEdit"
    >
      <em class="fa fa-times fa-lg text-muted"></em>
    </button>
    <h4 class="text-muted">
      Customize regulation for {{bench.test_number}}
    </h4>
    <label class="text-primary mv-lg">{{'cis.profile.APPLY_REG' | translate}}</label>
    <div class="" style="width: 450px;" layout="row" layout-align="start ">
      <div
        ng-repeat="tag in availableTags"
        class="label label-fs mr-xl animatedF fadeInUp"
        ng-class="getLabelClass(tag)"
      >
        &#8942;&#8942;&nbsp;&nbsp;{{tag}}
        <em class="fa fa-plus ml-lg" ng-click="addTag(tag)"></em>
      </div>
    </div>
    <label class="text-primary mv-lg">{{'cis.profile.CURR_REG' | translate}}</label>
    <div class="" style="width: 450px;" layout="row" layout-align="start">
      <div
        ng-repeat="tag in tags"
        class="label label-fs mr-xl animatedF fadeInDown"
        ng-class="getLabelClass(tag)"
      >
        &#8942;&#8942;&nbsp;&nbsp;{{tag}}
        <em class="fa fa-times ml-lg" ng-click="removeTag(tag)"></em>
      </div>
      <div class="text-muted" ng-show="!tags.length">
        {{'cis.profile.ADD_REG' | translate}}
      </div>
    </div>
    <div class="mt-lg" layout="row" layout-align="end">
      <button
        ng-click="save(bench)"
        type="button"
        style="padding: 3px 30px;"
        class="btn btn-default btn-wide mr"
      >
        Ok
      </button>
    </div>
  </div>

  <div
    class="dataBox pt0"
    style="right: 370px"
    ng-style="{'top': (onAsset === true) ? '310px' : '130px'}"
    ng-show="onDomainEdit"
    ng-cloak
  >
    <button
      class="btn btn-xs btn-link pull-right mt-sm"
      ng-click="onDomainEdit=!onDomainEdit"
    >
      <em class="fa fa-times fa-lg text-muted"></em>
    </button>
    <h4 class="text-muted">
      {{'cis.profile.CUSTOMIZE_TEMPLATE' | translate}}
      <em class="fa text-info ml-sm"
          ng-class="getAssetIcon(domain.name)"
      ></em> {{domain.displayName}}
    </h4>
    <label class="text-primary mv-lg">{{'cis.profile.APPLY_TEMPLATES' | translate}}</label>
    <div class="" style="width: 450px;" layout="row" layout-align="start ">
      <div
        ng-repeat="tag in availableTags"
        class="label label-fs mr-xl animatedF fadeInUp"
        ng-class="getLabelClass(tag)"
      >
        &#8942;&#8942;&nbsp;&nbsp;{{tag}}
        <em class="fa fa-plus ml-lg" ng-click="addTag(tag)"></em>
      </div>
    </div>
    <label class="text-primary mv-lg">{{'cis.profile.CURR_TEMPLATES' | translate}}</label>
    <div class="" style="width: 450px;" layout="row" layout-align="start">
      <div
        ng-repeat="tag in tags"
        class="label label-fs mr-xl animatedF fadeInDown"
        ng-class="getLabelClass(tag)"
      >
        &#8942;&#8942;&nbsp;&nbsp;{{tag}}
        <em class="fa fa-times ml-lg" ng-click="removeTag(tag)"></em>
      </div>
      <div class="text-muted" ng-show="!tags.length">
        {{'cis.profile.ADD_TEMPLATE' | translate}}
      </div>
    </div>
    <div class="mt-lg" layout="row" layout-align="end">
      <button
        ng-click="saveTemplate(domain)"
        type="button"
        style="padding: 3px 30px;"
        class="btn btn-default btn-wide mr"
      >
        Ok
      </button>
    </div>
  </div>

</div>
