<div ng-controller="ComplianceAssetController">
  <div class="clearfix">
    <div
      class="text-muted"
      style="
        position: absolute;
        top: 20px;
        right: 95px;
        z-index: 2;
        width: 400px;
      "
      ng-if="complianceList.length > 0 && !complianceErr"
    >
      <div class="col-xs-5 p0">
        <div ng-if="!isPdfPreparing2">
          <div ng-if="progress2<100">
            <em class="fa fa-file-pdf-o disabled" style="margin-left:10px;"></em>
            <span class="text-disabled-label disabled">{{'cis.report.PDF_LINK2' | translate}}</span>
          </div>
          <div
            ng-if="progress2<100"
            class="loader5"
            style="position: absolute; top: 6px; left: 30px;"
          ></div>
          <div
            ng-if="progress2<100"
            style="position: absolute; top: 2px; left: 22px; font-size: 12px; color: #11330f"
          >
            {{progress2}}%
          </div>
          <div ng-click="downloadPdf2()" ng-if="progress2===100">
            <em
              class="fa fa-file-pdf-o pdf-color hand"
              style="margin-left:10px;"
            ></em>
            <span class="text-gray-label link">{{'cis.report.PDF_LINK2' | translate}}</span>
          </div>
        </div>
        <div ng-if="isPdfPreparing2">
          <em class="fa fa-file-pdf-o disabled" style="margin-left:10px;"></em>
          <span class="text-disabled-label disabled">{{'cis.report.PDF_LINK2' | translate}}</span>
          <div
            class="loader5"
            style="position: absolute; top: 6px; left: 30px;"
          ></div>
        </div>
      </div>
      <div class="col-xs-5 p0">
        <div ng-if="!isPdfPreparing">
          <div ng-if="progress<100">
            <em class="fa fa-file-pdf-o disabled" style="margin-left:10px;"></em>
            <span class="text-disabled-label disabled">{{'cis.report.PDF_LINK' | translate}}</span>
          </div>
          <div
            ng-if="progress<100"
            class="loader5"
            style="position: absolute; top: 6px; left: 30px;"
          ></div>
          <div
            ng-if="progress<100"
            style="position: absolute; top: 2px; left: 22px; font-size: 12px; color: #11330f"
          >
            {{progress}}%
          </div>
          <div ng-click="downloadPdf()" ng-if="progress===100">
            <em
              class="fa fa-file-pdf-o pdf-color hand"
              style="margin-left:10px;"
            ></em>
            <span class="text-gray-label link">{{'cis.report.PDF_LINK' | translate}}</span>
          </div>
        </div>
        <div ng-if="isPdfPreparing">
          <em class="fa fa-file-pdf-o disabled" style="margin-left:10px;"></em>
          <span class="text-disabled-label disabled">{{'cis.report.PDF_LINK' | translate}}</span>
          <div
            class="loader5"
            style="position: absolute; top: 6px; left: 30px;"
          ></div>
        </div>
      </div>
      <div
        ng-click="exportCsv()"
        ng-if="complianceList.length && (!isPdfPreparing || !isPdfPreparing2)"
        class="col-xs-2 p0"
      >
        <em
          class="fa fa-file-excel-o xls-color hand"
          style="margin-left:10px;"
        ></em>
        <span class="text-gray-label link">CSV</span>
      </div>
      <!-- <div class="col-xs-6 p0" ng-if="progress<100">
        <em class="fa fa-file-pdf-o disabled" style="margin-left: 10px;"></em>
        <span class="text-disabled-label disabled">PDF</span>
      </div>
      <div
        ng-if="progress<100"
        class="loader5"
        style="position: absolute; top: 6px; left: 30px;"
      ></div>
      <div
        ng-if="progress<100"
        style="
          position: absolute;
          top: 2px;
          left: 22px;
          font-size: 12px;
          color: #11330f;
        "
      >
        {{progress}}%
      </div>
      <div ng-click="downloadPdf()" class="col-xs-6 p0" ng-if="progress===100">
        <em
          class="fa fa-file-pdf-o pdf-color hand"
          style="margin-left: 10px;"
        ></em>
        <span class="text-gray-label link">PDF</span>
      </div>
      <div
        ng-click="exportCsv()"
        ng-if="complianceList.length"
        class="col-xs-6 p0"
      >
        <em
          class="fa fa-file-excel-o xls-color hand"
          style="margin-left: 10px;"
        ></em>
        <span class="text-gray-label link">CSV</span>
      </div> -->
    </div>
    <!-- <div
      style="
        position: absolute;
        top: 20px;
        right: 95px;
        z-index: 2;
        width: 100px;
      "
    >
      <div
        style="color: rgba(144, 159, 167, 0.4); position: relative;"
        ng-if="isPdfPreparing && complianceList.length>0 && !complianceErr"
      >
        <div class="col-xs-6 p0">
          <em class="fa fa-file-pdf-o disabled" style="margin-left: 10px;"></em>
          <span class="text-disabled-label disabled">PDF</span>
        </div>
        <div
          ng-click="exportCsv()"
          ng-if="complianceList.length"
          class="col-xs-6 p0"
        >
          <em
            class="fa fa-file-excel-o xls-color hand"
            style="margin-left: 10px;"
          ></em>
          <span class="text-gray-label link">CSV</span>
        </div>
        <div
          class="loader5"
          style="position: absolute; top: 6px; left: 30px;"
        ></div>
      </div>
    </div> -->
    <div
      ng-click="refresh()"
      style="position: absolute; top: 20px; right: 20px; z-index: 2;"
    >
      <em class="fa fa-refresh text-action"></em>
      <label class="text-gray-label hand"
        >{{'general.REFRESH' | translate}}</label
      >
    </div>
  </div>
  <div class="clearfix">
    <div class="col-sm-6" style="height: 180px; margin-top: 20px;">
      <canvas
        id="bar12"
        class="chart chart-bar"
        chart-data="data"
        chart-labels="labels"
        chart-series="series"
        chart-colors="colors"
        chart-options="options"
        chart-hover="onHover"
      >
      </canvas>
    </div>
    <div class="col-sm-6" style="height: 180px; margin-top: 20px;;">
      <canvas
        id="bar22"
        class="chart chart-bar"
        chart-data="complianceData"
        chart-labels="complianceLabels"
        chart-series="complianceSeries"
        chart-colors="complianceColors"
        chart-options="complianceOptions"
        chart-hover="onHover"
      >
      </canvas>
    </div>
    <div
      style="
        width: 1100px;
        height: 250px;
        position: absolute;
        left: 0px;
        top: 0px;
        visibility: hidden;
      "
    >
      <canvas
        id="bar12PDF"
        class="chart chart-bar"
        chart-data="data"
        chart-labels="labels"
        chart-series="series"
        chart-colors="colors"
        chart-options="options4Pdf"
      >
      </canvas>
    </div>
    <div
      style="
        width: 1100px;
        height: 250px;
        position: absolute;
        left: 0px;
        top: 0px;
        visibility: hidden;
      "
    >
      <canvas
        id="bar22PDF"
        class="chart chart-bar"
        chart-data="complianceData"
        chart-labels="complianceLabels"
        chart-series="complianceSeries"
        chart-colors="complianceColors"
        chart-options="complianceOptions4Pdf"
      >
      </canvas>
    </div>
  </div>
  <div class="panel mb0">
    <div class="panel-body">
      <div class="col-lg-7">
        <div class="clearfix">
          <label class="text-primary" ng-show="!complianceErr">{{count}}</label>
<!--          <div class="pull-right">-->
<!--            <em-->
<!--              class="fa fa-sliders fa-lg text-action ml"-->
<!--              style="margin-top: 8px;"-->
<!--              ng-click="showFilter()"-->
<!--            ></em>-->
<!--          </div>-->
          <div class="left-inner-addon pull-right" style="margin-bottom: 10px;">
            <em class="fa fa-filter text-filter"></em>
            <input
              class="search form-control"
              placeholder="{{'general.FILTER' | translate}}"
              type="text"
              maxlength="{{'general.FILTER_MAX_LEN' | translate}}"
              ng-model="search"
              ng-paste="onFilterChanged(search)"
              ng-keyup="onFilterChanged(search)"
            />
          </div>
          <div
            class="left-inner-addon pull-right ml mr-lg"
            style="margin: 5px auto;"
            ng-click="showFilter()"
            ng-show="complianceList.length>0"
          >
            <i ng-if="!isAdvFilterOn()" class="fa fa-search text-filter"></i>
            <i ng-if="isAdvFilterOn()" class="fa fa-check text-primary"></i>
            <span
              class="ml-sm text-muted"
              ng-class="{'text-primary': isAdvFilterOn()}"
            >{{'general.ADV_FILTER' | translate}}</span
            >
          </div>
          <div class="pull-right" ng-show="compliance">
            <em
              class="fa fa-area-chart fa-lg text-action hand text-right mt-sm mb0 mr"
              ng-click="clearSelection()"
            ></em>
          </div>
        </div>
        <div
          ag-grid="gridOptions"
          class="ag-grid"
          ng-style="{ height: (graphHeight - 140) + 'px'}"
        ></div>
      </div>
      <div
        class="col-lg-5"
        ng-style="{ height: (graphHeight - 140) + 'px'}"
        ng-if="compliance"
      >
        <div layout="row">
          <h4 flex="90" class="mt-sm mb0 text-primary auto-hide">
            {{'cis.REMEDIATION' | translate}}
          </h4>
          <div
            class="label label-info pull-right mt-sm pv0"
            style="height: 16px; width: 76px;"
            ng-click="toggleLegend()"
          >
            <div class="pull-left" style="margin-top:2px;" >
              <svg viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"  width="10" height="12" fill="#fff">
               <path d="M334.016 727.04a32 32 0 1 0 0-64 32 32 0 0 0 0 64z m0-183.04a32 32 0 1 0 0-64 32 32 0 0 0 0 64z m0-182.016a32 32 0 1 0 0-64 32 32 0 0 0 0 64z m478.976-279.04H211.008c-37.568 0.064-67.968 30.528-68.032 68.032v722.048c0.064 37.504 30.464 67.968 68.032 67.968h601.984c37.568 0 67.968-30.464 68.032-67.968V150.976c-0.064-37.504-30.464-67.968-68.032-67.968z m-3.968 786.048H214.976V155.008h594.048v713.984zM414.016 296h307.968c5.376 0 8 2.688 8 8v48c0 5.312-2.624 8-8 8H414.08c-5.376 0-8-2.688-8-8v-48c0-5.312 2.624-8 8-8z m0 184h307.968c5.376 0 8 2.688 8 8v48c0 5.312-2.624 8-8 8H414.08c-5.376 0-8-2.688-8-8v-48c0-5.312 2.624-8 8-8z m0 184h307.968c5.376 0 8 2.688 8 8v48c0 5.312-2.624 8-8 8H414.08c-5.376 0-8-2.688-8-8v-48c0-5.312 2.624-8 8-8z">
               </path>
              </svg>
            </div>
            <div class="pull-left ml-sm" style="margin-top:4px;">{{ 'network.legend.TITLE' | translate}}</div>
          </div>
        </div>
        <hr class="fancy mv-sm" />
        <div style="height: 125px; overflow-y: auto;">
          <p class="mt-sm text-action">{{compliance.description}}</p>
          <p class="mb0 text-muted">
            {{compliance.remediation}}
          </p>
        </div>

        <h4 class="text-warning mb0">
          {{"scan.report.gridHeader.IMPACT" | translate}}
        </h4>
        <hr class="fancy mv-sm" />
        <div
          ng-style="{ height: (graphHeight - 145 - 160) + 'px'}"
          style="overflow: auto;"
        >
          <h5 ng-if="compliance.platforms.length" class="text-bold">
            {{"scan.report.data.PLATFORMS" | translate}}
          </h5>
          <div ng-if="compliance.platforms.length">
            <span
              class="label mr-lg"
              ng-repeat="node in compliance.platforms"
              ng-class="labelType(node.policy_mode)"
              style="display: inline-block; background-color: #f22d3a;"
            >
              <em class="fa fa-building-o mr-sm"></em>
              {{node.display_name}}
            </span>
          </div>
          <h5 ng-if="compliance.images.length" class="text-bold">
            {{"scan.report.data.IMAGES" | translate}}
          </h5>
          <div ng-if="compliance.images.length">
            <span
              class="label mr-lg"
              ng-repeat="node in compliance.images | limitTo : 100"
              ng-class="labelType(node.policy_mode)"
              style="display: inline-block;"
            >
              <em class="fa fa-archive mr-sm"></em>
              {{node.display_name}}
            </span>
          </div>
          <h5 ng-if="compliance.nodes.length" class="text-bold">
            {{"scan.report.data.NODES" | translate}}
          </h5>
          <div ng-if="compliance.nodes.length">
            <span
              class="label mr-lg"
              ng-repeat="node in compliance.nodes | limitTo : 100"
              ng-class="labelType(node.policy_mode)"
              style="display: inline-block;"
              ng-click="showHost(node.id)"
            >
              <em class="fa fa-server mr-sm"></em>
              {{node.display_name}}
            </span>
          </div>
          <h5 ng-if="compliance.workloads.length" class="text-bold">
            {{"scan.report.data.CONTAINERS" | translate}}
          </h5>
          <div ng-if="compliance.workloads.length">
            <span
              class="label mr-lg"
              ng-repeat="workload in compliance.workloads | filter : namespaceFilter | limitTo : 100"
              ng-class="labelType(workload.policy_mode)"
              style="display: inline-block;"
              ng-click="showWorkload(workload.id)"
            >
              <em class="fa fa-square-o mr-sm"></em>
              {{workload.display_name}}
            </span>
          </div>
        </div>
      </div>
      <div
        class="col-lg-4"
        ng-style="{ height: (graphHeight - 140) + 'px'}"
        ng-if="!compliance"
      >
        <div ng-style="{ height: ((graphHeight - 140) / 2) + 'px'}">
          <canvas
            id="severityDis"
            class="chart chart-doughnut"
            chart-colors="sdColors"
            chart-options="sdLegend"
            chart-data="sdData"
            chart-labels="sdName"
            chart-dataset-override="sdOverride"
          >
          </canvas>
        </div>
        <div ng-style="{ height: ((graphHeight - 140) / 2) + 'px'}">
          <canvas
            id="entityDis"
            class="chart chart-doughnut"
            chart-colors="colors"
            chart-options="entLegend"
            chart-data="entData"
            chart-labels="series"
            chart-dataset-override="sdOverride"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>

  <div
    id="filter"
    class="dataBox advFilter"
    ng-show="onAdvFilter"
    style="border: none;"
  >
    <div layout="row" layout-align="space-between center" class="ml0 mr0">
      <h4 class="text-bold mb0 pl-lg">
        {{"general.FILTER_MATCH_ALL" | translate}}
      </h4>
      <div>
        <md-button class="md-icon-button" ng-click="onAdvFilter=false">
          <md-icon
            md-svg-src="app/img/icons/ic_close_24px.svg"
            aria-label="Close dialog"
          ></md-icon>
        </md-button>
      </div>
    </div>
    <hr class="fancy mv-sm" />
    <div layout="row" class="mt-lg">
      <div flex="20" class="text-bold text-muted ph-lg">
        {{"nodes.gridHeader.CATEGORY" | translate}}
      </div>
      <div flex="80">
        <div layout="row">
          <div flex="25">
            <md-checkbox
              class="md-primary mr-lg mb-sm"
              ng-model="advFilter.category.docker"
            >
              <label class="text-muted-label">
                Docker
              </label>
            </md-checkbox>
          </div>
          <div flex="25">
            <md-checkbox
              class="md-primary mh-lg mb-sm"
              ng-model="advFilter.category.kubernetes"
            >
              <label class="text-muted-label">
                Kubernetes
              </label>
            </md-checkbox>
          </div>
          <div flex="25">
            <md-checkbox
              class="md-primary mh-lg mb-sm"
              ng-model="advFilter.category.custom"
            >
              <label class="text-muted-label">
                Custom
              </label>
            </md-checkbox>
          </div>
          <div flex="25">
            <md-checkbox
              class="md-primary mh-lg mb-sm"
              ng-model="advFilter.category.image"
            >
              <label class="text-muted-label">
                Image
              </label>
            </md-checkbox>
          </div>
        </div>
      </div>
    </div>
    <div layout="row" class="mt-lg">
      <div flex="20" class="text-bold text-muted ph-lg">
        {{"cis.profile.REGULATIONS" | translate}}
      </div>
      <div flex="80">
        <div layout="row">
          <div flex="25">
            <md-checkbox
              class="md-primary mr-lg mb-sm"
              ng-model="advFilter.tags.gdpr"
            >
              <label class="text-muted-label">
                GDPR
              </label>
            </md-checkbox>
          </div>
          <div flex="25">
            <md-checkbox
              class="md-primary mh-lg mb-sm"
              ng-model="advFilter.tags.hipaa"
            >
              <label class="text-muted-label">
                HIPAA
              </label>
            </md-checkbox>
          </div>
          <div flex="25">
            <md-checkbox
              class="md-primary mh-lg mb-sm"
              ng-model="advFilter.tags.nist"
            >
              <label class="text-muted-label">
                NIST
              </label>
            </md-checkbox>
          </div>
          <div flex="25">
            <md-checkbox
              class="md-primary mh-lg mb-sm"
              ng-model="advFilter.tags.pci"
            >
              <label class="text-muted-label">
                PCI
              </label>
            </md-checkbox>
          </div>
        </div>
      </div>
    </div>
    <div layout="row" class="mt-lg">
      <div flex="20" class="text-bold text-muted ph-lg">
        {{"cis.report.gridHeader.SCORED" | translate}}
      </div>
      <div flex="80">
        <md-radio-group layout="row" ng-model="advFilter.scoredType">
          <md-radio-button value="all" flex="33" class="md-primary"
            >{{"setting.ALL" | translate}}</md-radio-button
          >
          <md-radio-button value="true" flex="33" class="md-warn">
            True
          </md-radio-button>
          <md-radio-button value="false" flex="33" class="md-accent">
            False
          </md-radio-button>
        </md-radio-group>
      </div>
    </div>
    <div layout="row" class="mt-lg">
      <div flex="20" class="text-bold text-muted ph-lg">
        {{"cis.report.gridHeader.PROFILE" | translate}}
      </div>
      <div flex="80">
        <md-radio-group layout="row" ng-model="advFilter.profileType">
          <md-radio-button value="all" flex="33" class="md-primary"
            >{{"setting.ALL" | translate}}</md-radio-button
          >
          <md-radio-button value="Level 1" flex="33" class="md-warn">
            Level 1
          </md-radio-button>
          <md-radio-button value="Level 2" flex="33" class="md-accent">
            Level 2
          </md-radio-button>
        </md-radio-group>
      </div>
    </div>

    <div layout="row">
      <div flex="20" class="pl-lg mt text-bold text-muted">
        {{"scan.gridHeader.DOMAIN" | translate}}
      </div>
      <div flex="20" uib-dropdown style="margin-top: 10px">
        <div uib-dropdown-toggle>
          <div>
            <label class="text-gray-label hand"
            >{{advFilter.matchType4Ns.name}}</label
            >
            <em
              class="fa fa-caret-down text-action ml-sm"
              ng-click="toggleCollapse()"
            ></em>
          </div>
        </div>
        <ul
          class="dropdown-menu"
          uib-dropdown-menu
          role="menu"
          aria-labelledby="single-button"
        >
          <li role="menuitem" ng-repeat="matchType in matchTypes">
            <a ng-click="setMatchType4Ns(matchType)">{{matchType.name}}</a>
          </li>
        </ul>
      </div>
      <div flex="50" class="fancy-tag-input">
        <tags-input
          id="domain"
          ng-model="advFilter.selectedDomains"
          display-property="name"
          class="auto-complete"
          placeholder="{{'securityEvent.DOMAIN_PLACEHOLDER' | translate}}"
          add-from-autocomplete-only="true"
        >
          <auto-complete
            source="loadTags($query)"
            min-length="1"
            max-results-to-show="128"
            max-length="{{'general.FILTER_MAX_LEN' | translate}}">
          </auto-complete>
        </tags-input>
      </div>
    </div>

    <div layout="row" class="mv-lg">
      <div flex="20" class="pl-lg mt" uib-dropdown>
        <div uib-dropdown-toggle>
          <div>
            <label class="text-muted hand">{{advFilter.entityType}}</label>
            <em
              class="fa fa-caret-down text-action ml-sm"
              ng-click="toggleCollapse()"
            ></em>
          </div>
        </div>
        <ul
          class="dropdown-menu"
          uib-dropdown-menu
          role="menu"
          aria-labelledby="single-button"
        >
          <li role="menuitem" ng-repeat="entity in advFilter.entities">
            <a ng-click="setEntity(entity)">{{entity}}</a>
          </li>
        </ul>
      </div>
      <div flex="20" uib-dropdown style="margin-top: 10px;">
        <div uib-dropdown-toggle>
          <div>
            <label class="text-gray-label hand"
              >{{advFilter.matchType.name}}</label
            >
            <em
              class="fa fa-caret-down text-action ml-sm"
              ng-click="toggleCollapse()"
            ></em>
          </div>
        </div>
        <ul
          class="dropdown-menu"
          uib-dropdown-menu
          role="menu"
          aria-labelledby="single-button"
        >
          <li role="menuitem" ng-repeat="matchType in matchTypes">
            <a ng-click="setMatchType(matchType)">{{matchType.name}}</a>
          </li>
        </ul>
      </div>
      <div
        flex="50"
        class="text-bold text-muted"
        ng-if="advFilter.entityType==='Service'"
      >
        <md-input-container class="md-block mt0 mb0" md-no-float="">
          <input
            ng-model="advFilter.serviceName"
            maxlength="{{'general.FILTER_MAX_LEN' | translate}}"
          />
        </md-input-container>
      </div>
      <div
        flex="50"
        class="text-bold text-muted"
        ng-if="advFilter.entityType==='Image'"
      >
        <md-input-container class="md-block mt0 mb0" md-no-float="">
          <input
            ng-model="advFilter.imageName"
            maxlength="{{'general.FILTER_MAX_LEN' | translate}}"
          />
        </md-input-container>
      </div>
      <div
        flex="50"
        class="text-bold text-muted"
        ng-if="advFilter.entityType==='Node'"
      >
        <md-input-container class="md-block mt0 mb0" md-no-float="">
          <input
            ng-model="advFilter.nodeName"
            maxlength="{{'general.FILTER_MAX_LEN' | translate}}"
          />
        </md-input-container>
      </div>
      <div
        flex="50"
        class="text-bold text-muted"
        ng-if="advFilter.entityType==='Container'"
      >
        <md-input-container class="md-block mt0 mb0" md-no-float="">
          <input
            ng-model="advFilter.containerName"
            maxlength="{{'general.FILTER_MAX_LEN' | translate}}"
          />
        </md-input-container>
      </div>
      <div flex="10" class="mt" style="margin-left: 45px;">
        <em
          class="fa fa-plus pl-lg text-action"
          ng-click="setEntityName()"
        ></em>
      </div>
    </div>
    <span class="help-block" ng-if="!entities.length"
      >{{"scan.CONDITION_HINT" | translate}}</span
    >
    <md-content
      class="mt-sm"
      layout="column"
      style="background-color: transparent;"
      ng-if="entities.length"
    >
      <md-chips ng-model="entities" md-on-remove="removeEntity($chip)">
        <md-chip-template>
          <strong class="text-muted mr-sm">{{$chip.name}}</strong>
        </md-chip-template>
      </md-chips>
    </md-content>
    <button
      ng-click="resetAdvFilter()"
      class="btn btn-wide btn-default pull-right mt-sm"
    >
      {{'enum.RESET' | translate}}
    </button>
    <button
      ng-click="applyAdvFilter()"
      class="btn btn-wide btn-default pull-right mr-lg mt-sm"
    >
      {{'securityEvent.APPLY' | translate}}
    </button>
  </div>
  <div
    id="hostInfo"
    class="dataBox topLeftFloat-host pt0"
    ng-show="onHost"
    ng-cloak
    style="border: none;"
  >
    <div>
      <div class="col-sm-12 ph0" id="hostInfoHeader">
        <div
          class="pull-left auto-hide mt mb"
          uib-tooltip="{{host.name}}"
          tooltip-enable="false"
          show-tooltip-on-text-overflow
          style="display: block; width: 350px;"
        >
          <md-icon
            md-svg-src="app/img/icons/graph/host.svg"
            aria-label="Node"
            style="width:24px;height:24px;"
          ></md-icon>
          {{host.name}}
        </div>
        <button
          class="btn btn-xs btn-link pull-right mt-sm"
          ng-click="onHost=!onHost"
        >
          <em class="fa fa-times fa-lg text-muted"></em>
        </button>
      </div>
      <div style="width: 100%; height: 230px; overflow-y: auto;">
        <div>
          <ul class="mda-list row m0">
            <li class="col-sm-12 p0">
              <div class="mda-list-item-text pb0 pt-sm">
                <span class="text-bold host-item-key">ID</span>
                <span
                  class="ml text-muted auto-hide host-item-value"
                  uib-tooltip="{{host.id}}"
                  tooltip-enable="false"
                  show-tooltip-on-text-overflow
                >
                  {{host.id}}
                </span>
              </div>
            </li>
            <li class="col-sm-6 p0">
              <div class="mda-list-item-text pb0 pt-sm">
                <span class="text-bold host-item-key">
                  {{'nodes.detail.NUM_OF_CPUS' | translate}}
                </span>
                <span
                  class="ml text-muted auto-hide host-item-value"
                  uib-tooltip="{{host.cpus}}"
                  tooltip-enable="false"
                  show-tooltip-on-text-overflow
                >
                  {{host.cpus}}
                </span>
              </div>
            </li>
            <li class="col-sm-6 p0">
              <div class="mda-list-item-text pb0 pt-sm">
                <span class="text-bold host-item-key">
                  {{'nodes.detail.MEMORY' | translate}}
                </span>
                <span
                  class="ml text-muted auto-hide host-item-value"
                  uib-tooltip="{{host.memory | bytes}}"
                  tooltip-enable="false"
                  show-tooltip-on-text-overflow
                >
                  {{host.memory | bytes}}
                </span>
              </div>
            </li>
            <li class="col-sm-6 p0">
              <div class="mda-list-item-text pb0 pt-sm">
                <span class="text-bold host-item-key">
                  {{'nodes.detail.OS' | translate}}
                </span>
                <span
                  class="ml text-muted auto-hide host-item-value"
                  uib-tooltip="{{host.os}}"
                  tooltip-enable="false"
                  show-tooltip-on-text-overflow
                >
                  {{host.os}}
                </span>
              </div>
            </li>
            <li class="col-sm-6 p0">
              <div class="mda-list-item-text pb0 pt-sm">
                <span class="text-bold host-item-key">
                  {{'nodes.detail.KERNEL_VERSION' | translate}}
                </span>
                <span
                  class="ml text-muted auto-hide host-item-value"
                  uib-tooltip="{{host.kernel}}"
                  tooltip-enable="false"
                  show-tooltip-on-text-overflow
                >
                  {{host.kernel}}
                </span>
              </div>
            </li>
            <li class="col-sm-6 p0">
              <div class="mda-list-item-text pb0 pt-sm">
                <span class="text-bold host-item-key">
                  {{host.runtime | capitalize}}&nbsp;{{'nodes.detail.VERSION' |
                  translate}}
                </span>
                <span
                  class="ml text-muted auto-hide host-item-value"
                  uib-tooltip="{{host.runtime}}"
                  tooltip-enable="false"
                  show-tooltip-on-text-overflow
                >
                  {{host.runtime_version}}
                </span>
              </div>
            </li>
            <li class="col-sm-6 p0">
              <div class="mda-list-item-text pb0 pt-sm">
                <span class="text-bold host-item-key">
                  {{host.runtime |
                  capitalize}}&nbsp;{{'nodes.detail.API_VERSION' | translate}}
                </span>
                <span
                  class="ml text-muted auto-hide host-item-value"
                  uib-tooltip="{{host.runtime_version}}"
                  tooltip-enable="false"
                  show-tooltip-on-text-overflow
                >
                  {{host.runtime_api_version}}
                </span>
              </div>
            </li>
            <li class="col-sm-6 p0">
              <div class="mda-list-item-text pb0 pt-sm">
                <span class="text-bold host-item-key">
                  {{'network.hostDetails.CONTAINERS' | translate}}
                </span>
                <span
                  class="ml text-muted auto-hide host-item-value"
                  uib-tooltip="{{host.containers}}"
                  tooltip-enable="false"
                  show-tooltip-on-text-overflow
                >
                  {{host.containers}}
                </span>
              </div>
            </li>
            <li class="col-sm-6 p0" ng-if="!!host.scan_summary.scanned_at">
              <div class="mda-list-item-text pb0 pt-sm">
                <span
                  class="text-bold host-item-key"
                  translate="{{'network.nodeDetails.SCANNED_AT'}}"
                ></span>
                <span
                  class="ml text-muted mr-lg auto-hide host-item-key"
                  style="display: block; width: 150px;"
                >
                  {{host.scan_summary.scanned_at | date:'MMM dd, y HH:mm:ss'}}
                </span>
              </div>
            </li>
            <li class="col-sm-6 p0">
              <div class="mda-list-item-text pb0 pt-sm">
                <span
                  class="text-bold host-item-key"
                  translate="{{'group.gridHeader.VULNERABILITIES'}}"
                />
                <div class="ml host-item-value">
                  <label
                    class="label label-danger mr-sm"
                    ng-if="host.scan_summary.high"
                  >
                    {{host.scan_summary.high}}</label
                  >
                  <label
                    class="label label-warning"
                    ng-if="host.scan_summary.medium"
                  >
                    {{host.scan_summary.medium}}</label
                  >
                  <a
                    ui-sref="app.hosts({nodeId: host.id})"
                    style="
                      display: table-cell;
                      font-size: 11px;
                      line-height: 15px;
                    "
                    ng-if="host.scan_summary.high || host.scan_summary.medium"
                  >
                    <em class="fa fa-external-link ml-lg"></em>
                  </a>

                  <label
                    class="label label-success-tran"
                    ng-if="host.scan_summary.scanned_at && host.scan_summary.high === 0 && host.scan_summary.medium === 0"
                  >
                    <em class="fa fa-smile-o mr-sm"></em> Clean
                  </label>
                </div>
              </div>
            </li>
            <li class="col-sm-12 p0" ng-if="host.interfaces !== {}">
              <div class="mda-list-item-text pb0 pt-sm">
                <div
                  class="text-bold"
                  translate="{{'containers.detail.NETWORK_INTERFACES'}}"
                ></div>
                <div
                  class="row pl"
                  style="width: 380px;"
                  ng-repeat="(name, nets) in host.interfaces"
                >
                  <div class="col-sm-2 text-right pr0">
                    {{name}}
                  </div>
                  <div class="col-sm-1"></div>
                  <div class="col-sm-9 pl0">
                    <div ng-repeat="net in nets" class="text-muted">
                      <div class="col-sm-12">
                        <div class="col-sm-6">
                          IP:{{net.ip}}/{{net.ip_prefix}}
                        </div>
                        <div class="col-sm-6" ng-if="net.gateway">
                          {{"general.GATEWAY" | translate}}:{{net.gateway}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div
    id="containerInfo"
    class="dataBox topLeftFloat pt0"
    ng-show="onContainer"
    style="border: none;"
  >
    <div>
      <div class="col-sm-12 ph0 pv-sm" id="containerInfoHeader">
        <div
          class="pull-left auto-hide mt mb"
          uib-tooltip="{{container.display_name}}"
          tooltip-enable="false"
          show-tooltip-on-text-overflow
          style="display: block; width: 500px;"
        >
          <span>
            <md-icon
              md-svg-src="app/img/icons/graph/container.svg"
              aria-label="Container"
              style="width:24px;height:24px;"
            ></md-icon>
            <span
              >{{container.display_name}}
            </span>
          </span>
        </div>
        <button
          class="btn btn-xs btn-link pull-right mt"
          ng-click="onContainer=!onContainer"
        >
          <em class="fa fa-times fa-lg text-muted"></em>
        </button>
      </div>
      <div style="width: 100%; height: 400px; overflow-y: auto;">
        <ul class="mda-list row m0">
          <li class="col-sm-12 p0">
            <div class="pb0 pt-sm">
              <span class="text-bold pod-item-key">ID</span>
              <span
                class="ml text-muted auto-hide pod-item-value"
                uib-tooltip="{{container.id}}"
                tooltip-enable="false"
                show-tooltip-on-text-overflow
              >
                {{container.id}}
              </span>
            </div>
          </li>
          <li class="col-sm-12 p0">
            <div
              class="pb0 pt-sm"
              ng-if="container.children && container.children.length > 1"
            >
              <div>
                <span
                  class="text-bold pod-item-key"
                  translate="{{'network.nodeDetails.IMAGE'}}"
                ></span>
              </div>
              <div class="ml pod-item-value">
                <div
                  class="row"
                  ng-repeat="child in container.children | filter:{state: '!exit'}"
                >
                  <!-- <div class="pull-left">

                  </div> -->

                  <div
                    style="margin-top: 2px; width: 620px;"
                    class="auto-hide"
                    uib-tooltip="{{child.image}}"
                    show-tooltip-on-text-overflow
                    tooltip-enable="false"
                  >
                    <span
                      class="text-muted text-bold pl-lg"
                      style="display: inline-block;"
                    >
                      <em class="fa fa-square-o text-muted mr-sm"></em>
                      {{child.display_name | limitTo:
                      55}}{{child.display_name.length > 35 ? '...' : ''}}
                    </span>
                    <label
                      style="display: inline-block;"
                      class="label label-info-tran ml-lg mt-sm"
                      ng-if="child.service_mesh_sidecar"
                    >
                      Sidecar
                    </label>
                    <em class="fa fa-archive text-muted pl-lg mr-sm"></em>
                    <span
                      class="text-muted auto-hide"
                      style="margin-top: -2px;"
                    >
                      {{child.image}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="pb0 pt-sm"
              ng-if="!container.children  ||
                       container.children.length <= 1"
            >
              <div>
                <span
                  class="text-bold pod-item-key"
                  translate="{{'network.nodeDetails.IMAGE'}}"
                ></span>
              </div>
              <div class="ml pod-item-value">
                <div class="row m0" ng-repeat="image in container.images">
                  <span
                    class="text-muted auto-hide pod-item-value"
                    style="display: block;"
                    uib-tooltip="{{image}}"
                    tooltip-enable="false"
                    show-tooltip-on-text-overflow
                  >
                    {{image}}
                  </span>
                </div>
              </div>
            </div>
          </li>
          <li class="col-sm-12 p0">
            <div class="pb0 pt-sm">
              <span class="text-bold pod-item-key">
                {{'network.nodeDetails.ENFORCER' | translate}}
              </span>
              <span
                class="ml text-muted auto-hide pod-item-value"
                uib-tooltip="{{container.enforcer_name}}"
                tooltip-enable="false"
                show-tooltip-on-text-overflow
              >
                {{container.enforcer_name}}
              </span>
            </div>
          </li>
          <li class="col-sm-12 p0">
            <div class="col-sm-6 pl0 pb0 pt-sm">
              <span class="text-bold pod-item-key">
                {{'group.gridHeader.DOMAIN' | translate}}
              </span>
              <span
                class="ml text-muted auto-hide pod-item-value"
                uib-tooltip="{{container.domain}}"
                tooltip-enable="false"
                show-tooltip-on-text-overflow
              >
                {{container.domain}}
              </span>
            </div>
            <div class="col-sm-6 pl0 pb0 pt-sm">
              <span class="text-bold pod-item-key">
                {{'network.gridHeader.SERVICE' | translate}}
              </span>
              <span
                class="ml text-muted auto-hide pod-item-value"
                uib-tooltip="{{container.service}}"
                tooltip-enable="false"
                show-tooltip-on-text-overflow
              >
                {{container.service}}
              </span>
            </div>
          </li>
          <li class="col-sm-12 p0">
            <div class="col-sm-6 pl0 pb0 pt-sm">
              <span class="text-bold pod-item-key">
                {{'network.nodeDetails.LOCATION' | translate}}
              </span>
              <span
                class="ml text-muted auto-hide pod-item-value"
                uib-tooltip="{{container.host_name}}"
                tooltip-enable="false"
                show-tooltip-on-text-overflow
              >
                {{container.host_name}}
              </span>
            </div>
            <div class="col-sm-6 pl0 pb0 pt-sm">
              <span class="text-bold pod-item-key">
                {{'network.nodeDetails.STATE' | translate}}
              </span>
              <span class="ml pull-left" ng-bind-html="stateHtml"></span>
              <span
                class="text-danger mr-lg auto-hide pod-item-value"
                ng-if="container.state === 'quarantined'"
                style="display: block; width: 180px;"
              >
                {{container.quarantine_reason}}
              </span>
            </div>
          </li>
          <li class="col-sm-12 p0">
            <div class="col-sm-6 pl0 pb0 pt-sm">
              <span class="text-bold pod-item-key">
                {{'network.nodeDetails.CREATED_AT' | translate}}
              </span>
              <span class="ml text-muted auto-hide pod-item-value">
                {{container.started_at | date:'MMM dd, y HH:mm:ss'}}
              </span>
            </div>
            <div
              class="col-sm-6 pl0 pb0 pt-sm"
              ng-if="!!container.scan_summary.scanned_at"
            >
              <span class="text-bold pod-item-key">
                {{'network.nodeDetails.SCANNED_AT' | translate}}
              </span>
              <span
                class="ml text-muted mr-lg auto-hide pod-item-value"
                style="display: block; width: 150px;"
              >
                {{container.scan_summary.scanned_at | date:'MMM dd, y
                HH:mm:ss'}}
              </span>
            </div>
          </li>
          <li class="col-sm-12 p0">
            <div class="col-sm-6 pl0 mda-list-item-text pb0 pt-sm">
              <span class="text-bold pod-item-key">
                {{'network.nodeDetails.PRIVILEGED' | translate}}
              </span>
              <span class="ml text-muted mr-lg auto-hide pod-item-value">
                {{container.privileged}}
              </span>
            </div>
            <div class="col-sm-6 pl0 mda-list-item-text pb0 pt-sm">
              <span class="text-bold pod-item-key">
                {{'network.nodeDetails.RUN_AS_ROOT' | translate}}
              </span>
              <span class="ml text-muted mr-lg auto-hide pod-item-value">
                {{container.run_as_root}}
              </span>
            </div>
          </li>
          <li class="col-sm-12 p0">
            <div class="pb0 pt-sm">
              <span class="text-bold pod-item-key">
                {{'group.gridHeader.VULNERABILITIES' | translate}}
              </span>
              <div class="pod-item-value">
                <label
                  class="ml label label-danger mr-sm pull-left"
                  ng-if="container.scan_summary.high"
                >
                  {{container.scan_summary.high}}</label
                >
                <label
                  class="label label-warning pull-left"
                  ng-if="container.scan_summary.medium"
                >
                  {{container.scan_summary.medium}}</label
                >
                <a
                  ui-sref="app.workloads({imageId: container.id})"
                  style="
                    display: table-cell;
                    font-size: 11px;
                    line-height: 15px;
                  "
                  ng-if="container.risk.high || container.risk.medium"
                >
                  <em class="fa fa-external-link ml-lg"></em>
                </a>

                <div
                  class="ml mt-sm pull-left"
                  ng-if="container.scan_summary.scanned_at && container.risk.high === 0 && container.risk.medium === 0"
                >
                  <label class="mt-sm label label-success-tran">
                    <em class="fa fa-smile-o mr-sm"></em> Clean
                  </label>
                </div>

                <button
                  type="button"
                  ng-if="!container.scan_summary.scanned_at && !container.scan_summary.status && !isScanStarted4Pod"
                  class="ml btn btn-default btn-wide pt0 pb0"
                  ng-disabled="!isWriteNetworkAuthorized"
                  ng-click="scanPod(container.id)"
                >
                  {{'scan.SCAN' | translate}}
                </button>

                <div class="ml mt-sm pull-left" ng-if="isScanStarted4Pod">
                  <label class="mt-sm label label-info-tran">
                    <em class="fa fa-cog fa-spin mr-sm"></em> Scanning...
                  </label>
                </div>
              </div>
            </div>
          </li>
          <li class="col-sm-6 p0" ng-if="container.network_mode">
            <div class="pb0 pt-sm">
              <span
                class="text-bold pod-item-key"
                translate="{{'network.nodeDetails.NETWORK_MODE'}}"
              ></span>
              <span
                class="ml text-muted auto-hide pod-item-value"
                uib-tooltip="{{container.network_mode}}"
                tooltip-enable="false"
                show-tooltip-on-text-overflow
              >
                {{container.network_mode}}
              </span>
            </div>
          </li>
          <li
            class="col-sm-12 p0"
            ng-if="(!container.children || container.children.length <= 1) && hasApps"
          >
            <div class="pb0 pt-sm">
              <div>
                <span class="text-bold pod-item-key">
                  {{'network.nodeDetails.APPLICATIONS' | translate}}
                </span>
              </div>
              <div
                class="ml text-muted auto-hide pod-item-value"
                uib-tooltip="{{apps}}"
                tooltip-enable="false"
                show-tooltip-on-text-overflow
              >
                {{apps}}
              </div>
            </div>
          </li>
          <li class="col-sm-12 p0" ng-if="hasInterfaces">
            <div class="pb0 pt-sm">
              <div>
                <span
                  class="text-bold"
                  translate="{{'containers.detail.NETWORK_INTERFACES'}}"
                ></span>
              </div>
              <div
                class="row ml"
                style="width: 380px;"
                ng-repeat="(name, nets) in container.interfaces"
              >
                <div class="col-sm-2 text-left pr0">
                  {{name}}
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-9 pl0">
                  <div ng-repeat="net in nets" class="text-muted">
                    <div class="col-sm-12">
                      <div class="col-sm-6">
                        IP:{{net.ip}}/{{net.ip_prefix}}
                      </div>
                      <div class="col-sm-6" ng-if="net.gateway">
                        {{"general.GATEWAY" | translate}}:{{net.gateway}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div id="legend" class="bottomRightLegend p-lg" ng-show="showLegend">
    <ul class="fa-ul">
      <li class="animated fadeInDown anim-delay-10 mv">
        <span class="label label-inverse">
          <em class="fa fa-archive mr-sm"></em>
          {{"scan.IMAGE_NOT_USED" | translate}}
        </span>
      </li>
      <li class="animated fadeInDown anim-delay-20 mv">
        <span class="label label-danger">
          <em class="fa fa-server mr-sm"></em>
          {{"scan.UNPROTECTED_NODE" | translate}}
        </span>
      </li>
      <li class="animated fadeInDown anim-delay-30 mv">
        <span class="label label-success">
          <em class="fa fa-square-o mr-sm"></em>
          {{"scan.PROTECTED_CONTAINER" | translate}}
        </span>
      </li>
    </ul>
  </div>
</div>
