<div class="panel mb0">
  <div class="panel-body" ng-controller="CtlController">
    <md-content class="pb0">
      <md-tabs
        md-no-ink
        md-dynamic-height=""
        md-border-bottom=""
        md-selected="selectedIndex"
        class="p0"
      >
        <md-tab label="{{'sidebar.nav.CONTROLLERS' | translate}}"
                ng-click="onController()">
          <md-content
            class="md-padding no-padding-l no-padding-r no-x-scroll pb0"
          >
            <div >
              <div class="clearfix">
                <label class="text-primary" ng-show="!controllerErr"
                  >{{count}}</label
                >
                <div class="pull-right mt-sm ml-lg" ng-click="refresh()">
                  <em class="fa fa-refresh text-action" />
                  <label class="text-gray-label hand"
                    >{{'general.REFRESH' | translate}}</label
                  >
                </div>
                <div
                  class="left-inner-addon pull-right"
                  style="margin-bottom: 10px;"
                >
                  <em class="fa fa-filter text-filter" />
                  <input
                    class="search form-control"
                    placeholder="{{'general.FILTER' | translate}}"
                    type="text"
                    maxlength="{{'general.FILTER_MAX_LEN' | translate}}"
                    ng-model="search"
                    ng-paste="onFilterChanged(search)"
                    ng-keyup="onFilterChanged(search)"
                  />
                </div>
              </div>
              <div
                ag-grid="gridOptions"
                class="ag-grid"
                style="width: 100%;"
                ng-style="{ height: gridHeight + 'px'}"
              ></div>

              <div class="text-center panel-divider mt-sm">
                <em class="fa fa-align-justify text-muted" aria-hidden="true" ng-mousedown="grabResizeBar4Ctrl($event)"></em>
              </div>

              <div class="pt">
                <md-content class="pb0">
                  <md-tabs
                    md-no-ink
                    md-dynamic-height=""
                    md-border-bottom=""
                    md-selected="selectedController"
                    class="p0"
                  >
                    <md-tab
                      label="{{'controllers.detail.TAB_TITLE' | translate}}"
                      ng-click="stopControllerRefresh(controller.id)"
                    >
                      <div
                        class="containers-detail-sec pt-lg no-x-scroll"
                        ng-style="{height: detailViewHeight + 'px'}"
                      >
                        <div class="row mv-lg">
                          <div class="col-sm-4">
                            <div class="nv-resources-detail">
                              <div>{{'controllers.detail.ID' | translate}}</div>
                              <div class="icon">
                                <em class="fa fa-credit-card text-primary fa-lg" />
                              </div>
                              <div
                                class="auto-hide text-muted"
                                uib-tooltip="{{controller.id}}"
                                tooltip-enable="false"
                                show-tooltip-on-text-overflow
                              >
                                {{controller.id}}
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="nv-resources-detail">
                              <div>
                                {{'controllers.detail.HOST_NAME' | translate}}
                              </div>
                              <div class="icon">
                                <em class="fa fa-server text-primary fa-lg" />
                              </div>
                              <div
                                class="auto-hide text-muted"
                                uib-tooltip="{{controller.host_name}}"
                                tooltip-enable="false"
                                show-tooltip-on-text-overflow
                              >
                                {{controller.host_name}}
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="nv-resources-detail">
                              <div>{{'network.legend.DOMAIN' | translate}}</div>
                              <div class="icon">
                                <em class="fa fa-building-o text-primary fa-lg" />
                              </div>
                              <div
                                class="auto-hide text-muted"
                                uib-tooltip="{{controller.domain}}"
                                tooltip-enable="false"
                                show-tooltip-on-text-overflow
                              >
                                {{controller.domain}}
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row mv-lg">
                          <div class="col-sm-4">
                            <div class="nv-resources-detail">
                              <div>
                                {{'controllers.detail.CREATED_AT' | translate}}
                              </div>
                              <div class="icon">
                                <em class="fa fa-calendar text-primary fa-lg" />
                              </div>
                              <div
                                class="auto-hide text-muted"
                                uib-tooltip="{{controller.created_at | date:'MMM dd, y HH:mm:ss'}}"
                                tooltip-enable="false"
                                show-tooltip-on-text-overflow
                              >
                                {{controller.created_at | date:'MMM dd, y HH:mm:ss'}}
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="nv-resources-detail">
                              <div>
                                {{'controllers.detail.STARTED_AT' | translate}}
                              </div>
                              <div class="icon">
                                <em class="fa fa-calendar text-primary fa-lg" />
                              </div>
                              <div
                                class="auto-hide text-muted"
                                uib-tooltip="{{controller.started_at | date:'MMM dd, y HH:mm:ss'}}"
                                tooltip-enable="false"
                                show-tooltip-on-text-overflow
                              >
                                {{controller.started_at | date:'MMM dd, y HH:mm:ss'}}
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="nv-resources-detail">
                              <div>{{'controllers.detail.JOIN_AT' | translate}}</div>
                              <div class="icon">
                                <em class="fa fa-calendar text-primary fa-lg" />
                              </div>
                              <div
                                class="auto-hide text-muted"
                                uib-tooltip="{{controller.joined_at | date:'MMM dd, y HH:mm:ss'}}"
                                tooltip-enable="false"
                                show-tooltip-on-text-overflow
                              >
                                {{controller.joined_at | date:'MMM dd, y HH:mm:ss'}}
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row mv-lg">
                          <div class="col-sm-4">
                            <div class="nv-resources-detail">
                              <div>
                                {{'controllers.detail.ORCH_CONN_STATUS' | translate}}
                              </div>
                              <div class="icon">
                                <em
                                  class="fa fa-handshake-o text-primary fa-lg"
                                  ng-class="controller.leader ? 'text-primary' : 'text-muted'"
                                />
                              </div>
                              <div
                                class="auto-hide text-muted"
                                uib-tooltip="{{controller.orch_conn_status ? controller.orch_conn_status : 'n/a'}}"
                                tooltip-enable="false"
                                show-tooltip-on-text-overflow
                              >
                                {{controller.orch_conn_status ?
                                controller.orch_conn_status : 'n/a'}}
                              </div>
                            </div>
                          </div>
                          <div
                            ng-if="controller.connection_state === 'disconnected'"
                            class="col-sm-4"
                          >
                            <div class="nv-resources-detail">
                              <div>
                                {{'controllers.detail.DISCONNECTED_AT' | translate}}
                              </div>
                              <div class="icon">
                                <em class="fa fa-calendar text-primary fa-lg" />
                              </div>
                              <div
                                class="auto-hide text-muted"
                                uib-tooltip="{{controller.disconnected_at | date:'MMM dd, y HH:mm:ss'}}"
                                tooltip-enable="false"
                                show-tooltip-on-text-overflow
                              >
                                {{controller.disconnected_at | date:'MMM dd, y
                                HH:mm:ss'}}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </md-tab>
                    <md-tab ng-click="refreshController(controller.id)">
                      <md-label>
                        <em class="fa fa-line-chart"></em>
                        {{'controllers.stats.TAB_TITLE' | translate}}
                      </md-label>
                      <md-tab-body style="padding-bottom: 0;">
                        <md-content
                          class="pb0"
                          ng-style="{height: detailViewHeight + 'px'}"
                        >
                          <div class="nv-chart">
                            <div
                              class="row mt-xl"
                              style="margin-left: 0; margin-right: 0;"
                              ng-show="!statsError && !noStats"
                            >
                              <div
                                style="clear: right;"
                                id="statsChart"
                              >
                                <div class="example">
                                  <i class="fa fa-stop chart-color-4"></i
                                  >&nbsp;&nbsp;<span
                                    >{{'containers.stats.CPU' | translate}}:
                                    {{currCpu}}</span
                                  ><br />
                                  <i class="fa fa-stop chart-color-5"></i
                                  >&nbsp;&nbsp;<span
                                    >{{'containers.stats.MEMORY' | translate}}:
                                    {{currMemory}}</span
                                  >
                                </div>
                                <div style="height: 200px;">
                                  <canvas
                                    id="chart1"
                                    class="chart chart-line"
                                    chart-data="realTimeData1"
                                    chart-options="realTimeOptions1"
                                    chart-labels="labels1"
                                    chart-series="series1"
                                    chart-colors="colors"
                                    chart-dataset-override="datasetOverride1"
                                  ></canvas>
                                </div>
                              </div>
                            </div>
                            <div ng-if="noStats">
                              <div class="nodata-panel">
                                {{'controllers.message.NO_STATE' | translate}}
                              </div>
                            </div>
                            <div ng-show="statsError" class="server-error">
                              <div>
                                <em
                                  class="fa fa-times-circle error-signal"
                                  aria-hidden="true"
                                ></em>
                              </div>
                              <div>
                                <span class="error-text">
                                  {{statsErrMSG}}
                                </span>
                              </div>
                            </div>
                          </div>
                        </md-content>
                      </md-tab-body>
                    </md-tab>
                  </md-tabs>
                </md-content>
              </div>
            </div>
          </md-content>
        </md-tab>
        <md-tab label="{{'sidebar.nav.SCANNERS' | translate}}" ng-click="onScanner()">
          <md-content
            class="md-padding no-padding-l no-padding-r no-x-scroll pb0"
          >
            <div ng-controller="ComponentController">
              <div class="clearfix">
                <label class="text-primary" ng-show="!scannerErr"
                  >{{count}}</label
                >
                <div class="pull-right mt-sm ml-lg" ng-click="refresh()">
                  <em class="fa fa-refresh text-action" />
                  <label class="text-gray-label hand"
                    >{{'general.REFRESH' | translate}}</label
                  >
                </div>
                <div
                  class="left-inner-addon pull-right"
                  style="margin-bottom: 10px;"
                >
                  <em class="fa fa-filter text-filter" />
                  <input
                    class="search form-control"
                    placeholder="{{'general.FILTER' | translate}}"
                    type="text"
                    maxlength="{{'general.FILTER_MAX_LEN' | translate}}"
                    ng-model="search"
                    ng-paste="onFilterChanged(search)"
                    ng-keyup="onFilterChanged(search)"
                  />
                </div>
              </div>
              <div
                ag-grid="gridOptions"
                class="ag-grid"
                style="width: 100%;"
                ng-style="{'height': gridHeight + 'px'}"
              ></div>

              <div class="text-center panel-divider mt-sm">
                <em class="fa fa-align-justify text-muted" aria-hidden="true" ng-mousedown="grabResizeBar4Scanner($event)"></em>
              </div>

              <div class="panel-body pt-xl">
                <div
                  class="containers-detail-sec pt-lg no-x-scroll"
                  ng-style="{'height': detailViewHeight + 'px'}"
                >
                  <div class="row mv-lg">
                    <div class="col-sm-4">
                      <div class="nv-resources-detail">
                        <div>{{'controllers.detail.ID' | translate}}</div>
                        <div class="icon">
                          <em class="fa fa-credit-card text-primary fa-lg" />
                        </div>
                        <div
                          class="auto-hide text-muted"
                          uib-tooltip="{{scanner.id}}"
                          tooltip-enable="false"
                          show-tooltip-on-text-overflow
                        >
                          {{scanner.id}}
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="nv-resources-detail">
                        <div>
                          {{'dashboard.heading.CVE_DB_VERSION' | translate}}
                        </div>
                        <div class="icon">
                          <em class="fa fa-tag text-primary fa-lg" />
                        </div>
                        <div
                          class="auto-hide text-muted"
                          uib-tooltip="{{scanner.cvedb_version}}"
                          tooltip-enable="false"
                          show-tooltip-on-text-overflow
                        >
                          {{scanner.cvedb_version}}
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="nv-resources-detail">
                        <div>{{'registry.CVE_DB_DATE' | translate}}</div>
                        <div class="icon">
                          <em class="fa fa-calendar text-primary fa-lg" />
                        </div>
                        <div
                          class="auto-hide text-muted"
                          uib-tooltip="{{scanner.cvedb_create_time}}"
                          tooltip-enable="false"
                          show-tooltip-on-text-overflow
                        >
                          {{scanner.cvedb_create_time | relativeDate}}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mv-lg">
                    <div class="col-sm-4">
                      <div class="nv-resources-detail">
                        <div>
                          {{'controllers.detail.CLUSTER_IP' | translate}}
                        </div>
                        <div class="icon">
                          <em class="fa fa-server text-primary fa-lg" />
                        </div>
                        <div
                          class="auto-hide text-muted"
                          uib-tooltip="{{scanner.server}}"
                          tooltip-enable="false"
                          show-tooltip-on-text-overflow
                        >
                          {{scanner.server}}
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="nv-resources-detail">
                        <div>
                          {{'multiCluster.grid.port' | translate}}
                        </div>
                        <div class="icon">
                          <em class="fa fa-dot-circle-o text-primary fa-lg" />
                        </div>
                        <div
                          class="auto-hide text-muted"
                          uib-tooltip="{{scanner.port}}"
                          tooltip-enable="false"
                          show-tooltip-on-text-overflow
                        >
                          {{scanner.port}}
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="nv-resources-detail">
                        <div>{{'enforcers.detail.JOINED_AT' | translate}}</div>
                        <div class="icon">
                          <em class="fa fa-calendar text-primary fa-lg" />
                        </div>
                        <div
                          class="auto-hide text-muted"
                          uib-tooltip="{{scanner.joined_timestamp | date:'MMM dd, y HH:mm:ss'}}"
                          tooltip-enable="false"
                          show-tooltip-on-text-overflow
                        >
                          {{scanner.joined_timestamp * 1000 | date:'MMM dd, y HH:mm:ss'}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </md-content>
        </md-tab>
        <md-tab
          label="{{'dashboard.panelItems.ENFORCERS' | translate}}"
          ng-click="onAgent()"
        >
          <md-content
            class="md-padding no-padding-l no-padding-r no-x-scroll pb0"
          >
            <div ng-controller="AgentController">
              <div class="clearfix">
                <label class="text-primary" ng-show="!deviceErr"
                  >{{count}}</label
                >
                <div class="pull-right mt-sm ml-lg" ng-click="refresh()">
                  <em class="fa fa-refresh text-action"></em>
                  <label class="text-gray-label hand"
                    >{{'general.REFRESH' | translate}}</label
                  >
                </div>
                <div
                  class="left-inner-addon pull-right"
                  style="margin-bottom: 10px;"
                >
                  <em class="fa fa-filter text-filter"></em>
                  <input
                    class="search form-control"
                    placeholder="{{'general.FILTER' | translate}}"
                    type="text"
                    maxlength="{{'general.FILTER_MAX_LEN' | translate}}"
                    ng-model="search"
                    ng-paste="onFilterChanged(search)"
                    ng-keyup="onFilterChanged(search)"
                  />
                </div>
              </div>
              <div
                ag-grid="gridOptions"
                class="ag-grid"
                style="width: 100%;"
                ng-style="{'height': gridHeight + 'px'}"
              ></div>

              <div class="text-center panel-divider mt-sm">
                <em class="fa fa-align-justify text-muted" aria-hidden="true" ng-mousedown="grabResizeBar4Enforcer($event)"></em>
              </div>

              <div class="pt-lg">
                <md-content class="pb0">
                  <md-tabs
                    md-no-ink
                    md-dynamic-height=""
                    md-border-bottom=""
                    md-selected="selectedEnforcer"
                    class="p0"
                  >
                    <md-tab
                      label="{{'enforcers.detail.TAB_TITLE' | translate}}"
                      ng-click="stopDeviceRefresh(device.id)"
                    >
                      <md-content
                        class="md-padding no-padding-l no-padding-r no-x-scroll pb0"
                        ng-style="{height: detailViewHeight + 'px'}"
                      >
                        <div
                          class="no-padding-l no-padding-r"
                          style="padding: 5px 22px;"
                        >
                          <div class="containers-detail-sec">
                            <div class="row mv-lg">
                              <div class="col-sm-4">
                                <div class="nv-resources-detail">
                                  <div>
                                    {{'controllers.detail.ID' | translate}}
                                  </div>
                                  <div class="icon">
                                    <em
                                      class="fa fa-credit-card text-primary fa-lg"
                                    ></em>
                                  </div>
                                  <div
                                    class="auto-hide text-muted"
                                    uib-tooltip="{{device.id}}"
                                    tooltip-enable="false"
                                    show-tooltip-on-text-overflow
                                  >
                                    {{device.id}}
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <div class="nv-resources-detail">
                                  <div>
                                    {{'enforcers.detail.HOST_NAME' | translate}}
                                  </div>
                                  <div class="icon">
                                    <em
                                      class="fa fa-server text-primary fa-lg"
                                    ></em>
                                  </div>
                                  <div
                                    class="auto-hide text-muted"
                                    uib-tooltip="{{device.host_name}}"
                                    tooltip-enable="false"
                                    show-tooltip-on-text-overflow
                                  >
                                    {{device.host_name}}
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <div class="nv-resources-detail">
                                  <div>
                                    {{'network.legend.DOMAIN' | translate}}
                                  </div>
                                  <div class="icon">
                                    <em
                                      class="fa fa-building-o text-primary fa-lg"
                                    />
                                  </div>
                                  <div
                                    class="auto-hide text-muted"
                                    uib-tooltip="{{device.domain}}"
                                    tooltip-enable="false"
                                    show-tooltip-on-text-overflow
                                  >
                                    {{device.domain}}
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row mv-lg">
                              <div class="col-sm-4">
                                <div class="nv-resources-detail">
                                  <div>
                                    {{'enforcers.detail.CREATED_AT' |
                                    translate}}
                                  </div>
                                  <div class="icon">
                                    <em
                                      class="fa fa-calendar text-primary fa-lg"
                                    ></em>
                                  </div>
                                  <div
                                    class="auto-hide text-muted"
                                    uib-tooltip="{{device.created_at | date:'MMM dd, y HH:mm:ss'}}"
                                    tooltip-enable="false"
                                    show-tooltip-on-text-overflow
                                  >
                                    {{device.created_at | date:'MMM dd, y
                                    HH:mm:ss'}}
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <div class="nv-resources-detail">
                                  <div>
                                    {{'enforcers.detail.JOINED_AT' | translate}}
                                  </div>
                                  <div class="icon">
                                    <em
                                      class="fa fa-calendar text-primary fa-lg"
                                    ></em>
                                  </div>
                                  <div
                                    class="auto-hide text-muted"
                                    uib-tooltip="{{device.started_at | date:'MMM dd, y HH:mm:ss'}}"
                                    tooltip-enable="false"
                                    show-tooltip-on-text-overflow
                                  >
                                    {{device.started_at | date:'MMM dd, y
                                    HH:mm:ss'}}
                                  </div>
                                </div>
                              </div>
                              <div
                                ng-if="device.connection_state === 'disconnected'"
                                class="col-sm-4"
                              >
                                <div class="nv-resources-detail">
                                  <div>
                                    {{'enforcers.detail.DISCONNECTED_AT' |
                                    translate}}
                                  </div>
                                  <div class="icon">
                                    <em
                                      class="fa fa-calendar text-primary fa-lg"
                                    ></em>
                                  </div>
                                  <div
                                    class="auto-hide text-muted"
                                    uib-tooltip="{{device.disconnected_at | date:'MMM dd, y HH:mm:ss'}}"
                                    tooltip-enable="false"
                                    show-tooltip-on-text-overflow
                                  >
                                    {{device.disconnected_at | date:'MMM dd, y
                                    HH:mm:ss'}}
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </md-content>
                    </md-tab>
                    <md-tab ng-click="refreshDevice(device.id)">
                      <md-label>
                        <em class="fa fa-line-chart"></em>
                        {{'enforcers.stats.TAB_TITLE' | translate}}
                      </md-label>
                      <md-tab-body style="padding-bottom: 0;">
                        <md-content
                          class="pb0"
                          ng-style="{height: detailViewHeight + 'px'}"
                        >
                          <div class="nv-chart">
                            <div
                              class="row mt-xl"
                              style="margin-left: 0; margin-right: 0;"
                              ng-show="!statsError && !noStats"
                            >
                              <div
                                style="clear: right;"
                                id="statsChart"
                                class="col-lg-4"
                              >
                                <div class="example">
                                  <i class="fa fa-stop chart-color-4"></i
                                  >&nbsp;&nbsp;<span
                                    >{{'containers.stats.CPU' | translate}}:
                                    {{currCpu}}</span
                                  ><br />
                                  <i class="fa fa-stop chart-color-5"></i
                                  >&nbsp;&nbsp;<span
                                    >{{'containers.stats.MEMORY' | translate}}:
                                    {{currMemory}}</span
                                  >
                                </div>
                                <div style="height: 200px;">
                                  <canvas
                                    id="chart1"
                                    class="chart chart-line"
                                    chart-data="realTimeData1"
                                    chart-options="realTimeOptions1"
                                    chart-labels="labels1"
                                    chart-series="series1"
                                    chart-colors="colors"
                                    chart-dataset-override="datasetOverride1"
                                  ></canvas>
                                </div>
                              </div>
                              <div
                                style="clear: right;"
                                id="statsChart2"
                                class="col-lg-4"
                              >
                                <div class="example">
                                  <i class="fa fa-stop chart-color-4"></i
                                  >&nbsp;&nbsp;<span
                                    >{{'containers.stats.INCOMING_BYTES' |
                                    translate}}: {{currInByte}}</span
                                  ><br />
                                  <i class="fa fa-stop chart-color-5"></i
                                  >&nbsp;&nbsp;<span
                                    >{{'containers.stats.OUTGOING_BYTES' |
                                    translate}}: {{currOutByte}}</span
                                  >
                                </div>
                                <div style="height: 200px;">
                                  <canvas
                                    id="chart3"
                                    class="chart chart-line"
                                    chart-data="realTimeData3"
                                    chart-options="realTimeOptions3"
                                    chart-labels="labels3"
                                    chart-series="series3"
                                    chart-colors="colors"
                                    chart-dataset-override="datasetOverride3"
                                  ></canvas>
                                </div>
                              </div>
                              <div
                                style="clear: right;"
                                id="statsChart3"
                                class="col-lg-4"
                              >
                                <div class="example">
                                  <i class="fa fa-stop chart-color-4"></i
                                  >&nbsp;&nbsp;<span
                                    >{{'containers.stats.INCOMING_SESSIONS' |
                                    translate}}: {{currInSession}}</span
                                  ><br />
                                  <i class="fa fa-stop chart-color-5"></i
                                  >&nbsp;&nbsp;<span
                                    >{{'containers.stats.OUTGOING_SESSIONS' |
                                    translate}}: {{currOutSession}}</span
                                  >
                                </div>
                                <div style="height: 200px;">
                                  <canvas
                                    id="chart4"
                                    class="chart chart-line"
                                    chart-data="realTimeData4"
                                    chart-options="realTimeOptions4"
                                    chart-labels="labels4"
                                    chart-series="series4"
                                    chart-colors="colors"
                                    chart-dataset-override="datasetOverride4"
                                  ></canvas>
                                </div>
                              </div>
                            </div>
                            <div ng-if="noStats">
                              <div class="nodata-panel">
                                {{'enforcers.message.NO_STATE' | translate}}
                              </div>
                            </div>
                            <div ng-show="statsError" class="server-error">
                              <div>
                                <em
                                  class="fa fa-times-circle error-signal"
                                  aria-hidden="true"
                                ></em>
                              </div>
                              <div>
                                <span class="error-text">
                                  {{statsErrMSG}}
                                </span>
                              </div>
                            </div>
                          </div>
                        </md-content>
                      </md-tab-body>
                    </md-tab>
                  </md-tabs>
                </md-content>
              </div>
            </div>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-content>
  </div>
</div>
