<div ng-controller="RolesController">
    <div class="clearfix">
        <label class="text-primary pull-left mt-sm" ng-show="!rolesErr">{{count}}</label>
        <div ng-if="isWriteRolesAuthorized"  class="nv-global-policy-operation pull-left ml">
            <ul class="list-inline" >
                <li class="policy-top-button" ng-click="addRole()">
                    <div class="button">
                        <em class="fa fa-plus-circle mr-sm text-action" aria-hidden="true"></em>
                        {{'role.ADD' | translate}}
                    </div>
                </li>
            </ul>
        </div>
        <div class="left-inner-addon pull-right">
            <em class="fa fa-filter text-filter" aria-hidden="true"></em>
            <input class="search form-control" placeholder="{{'general.FILTER' | translate}}"
                   ng-model="search"
                   ng-paste="onFilterChanged(search)"
                   ng-keyup="onFilterChanged(search)"
                   maxlength="{{'general.FILTER_MAX_LEN' | translate}}"/>
        </div>
        <div class="pull-right mr" style="padding-top: 5px;" ng-click="reset()">
            <em class="fa fa-refresh text-action hand" aria-hidden="true"/>
            <label class="text-gray-label hand">{{'general.REFRESH' | translate}}</label>
        </div>
    </div>
    <div id="roles-grid" ag-grid="gridOptions" class="ag-grid mt-sm nv-policy-type"
         style="width: 100%;" ng-style="{ height: gridHeight + 'px'}">
    </div>

  <!-- <div class="panel mb0" ng-if="hasSelectedRole">
      <div class="panel-heading panel-default clearfix">
          <div class="panel-title pull-left mt-sm">
              <label class="panel-text-title mt-sm">
                  {{role.name}}
              </label>
          </div>
      </div>
      <div class="panel-body">
          <div ag-grid="gridOptions4Permissions" class="ag-grid mt-sm nv-policy-type"
               style="width: 100%;" ng-style="{ height: detailViewHeight + 'px'}">
          </div>
      </div>
  </div> -->
  <!--AddEditRole modal-->
  <div>
      <script type="text/ng-template" id="dialog.addEditRole.html">
          <md-dialog aria-label="Add edit rule" class="dialog-lg" style="overflow: visible; max-height: none;">
              <form name="addEditRoleForm" ng-submit="$event.preventDefault()" novalidate="" class="form-validate" style="overflow: visible">
                  <md-toolbar>
                      <div class="md-toolbar-tools">
                          <h2 class="text-dark">{{(isEdit ? 'role.roleModal.EDIT_ROLE' : 'role.roleModal.ADD_ROLE') | translate}}</h2>
                          <span flex></span>
                          <md-button class="md-icon-button" ng-click="cancel()">
                              <md-icon md-svg-src="app/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                          </md-button>
                      </div>
                  </md-toolbar>
                  <md-dialog-content style="overflow: visible">
                      <div>
                          <div class="card-body">
                              <div>
                                  <div class="row mr0 ml0 mt-sm">
                                      <div class="col-sm-3">
                                          <md-input-container class="md-block mb0" >
                                              <label>{{'role.roleModal.ROLE_NAME' | translate}}</label>
                                              <input ng-model="role.name" required ng-disabled="isEdit"
                                                     class="mda-form-control" maxlength="{{'general.FILTER_MAX_LEN' | translate}}"/>
                                          </md-input-container>
                                      </div>
                                      <div class="col-sm-9">
                                          <md-input-container class="md-block mb0" >
                                              <label>{{'role.roleModal.COMMENT' | translate}}</label>
                                              <input ng-model="role.comment"
                                                     class="mda-form-control" maxlength="{{'general.FILTER_MAX_LEN' | translate}}"/>
                                          </md-input-container>
                                      </div>
                                  </div>
                                  <div class="row m0">
                                      <div class="col-sm-12 mb-lg">
                                          <div class="form-group" >
                                              <label class="col-sm-1 nv-modal-item-title control-label pl0" style="padding-left: 36px; margin-top: 12px;">
                                                  {{'role.roleModal.PERMISSIONS' | translate}}
                                              </label>
                                              <div class="col-sm-11  pr0">
                                                  <tags-input ng-model="role.permissionTags" placeholder="{{'role.roleModal.PERMISSION_HINT' | translate}}"
                                                              add-on-enter="false" add-on-space="false" add-on-comma="false" add-on-blur="false" add-on-paste="false"
                                                              on-tag-removed="removeTag($tag)" display-property="name" class="nv-input-text" add-from-autocomplete-only="false">
                                                  </tags-input>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="row mb ml0 mr0" style="overflow-y: scroll; height: 400px;">
                                    <ul style="list-style-type: none;" class="permission-list">
                                      <li ng-repeat="permission in permissionOptionList track by $index" class="pb-sm pt-sm clearfix">
                                        <div>
                                          <div class="pull-left pl">
                                            {{permission.displayName}}
                                          </div>
                                          <div class="pull-right pr">
                                            <md-checkbox
                                              class="md-primary mb0"
                                              ng-click="chooseOperation(permission.id, $index)"
                                              ng-disabled="!permission.read_supported"
                                              ng-model="permission.read"
                                              >{{'role.roleModal.VIEW' | translate}}
                                            </md-checkbox>
                                            <md-checkbox
                                              class="md-primary mb0"
                                              ng-click="chooseOperation(permission.id, $index)"
                                              ng-disabled="!permission.write_supported"
                                              ng-model="permission.write"
                                              >{{'role.roleModal.MODIFY' | translate}}
                                            </md-checkbox>
                                          </div>
                                          <div class="clearfix"></div>
                                        </div>
                                        <div class="text-muted pl"><small>{{permission.desc}}</small></div>
                                      </li>
                                    </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </md-dialog-content>
                  <div class="md-actions" layout="row" style="border: 0;">
                      <md-button ng-click="addEditRole(ev)" class="md-raised md-primary"
                                 ng-disabled="addEditRoleForm.$invalid">
                          {{(isEdit? 'role.roleModal.UPDATE' : 'role.ADD') | translate}}
                      </md-button>
                      <a ng-click="cancel()" class="nv-link">
                          {{'role.roleModal.CANCEL' | translate}}
                      </a>
                  </div>
              </form>
          </md-dialog>
      </script>
  </div>
</div>
