<div ng-controller="FedPolicyController">
  <div class="clearfix">
    <div class="content-title">{{'enum.FED_POLICY' | translate}}</div>
  </div>
  <div class="panel mb0">
    <div class="panel-body fed-policy">
      <md-tabs
        md-no-ink
        md-dynamic-height=""
        md-border-bottom
        md-selected="selectedIndex"
        class="ph0"
      >
        <md-tab
          label="{{'sidebar.nav.GROUP' | translate}}"
        >
          <md-content class="pb0 fed-policy-tab"
            >&nbsp;
            <federal-policy-group
              ng-if="selectedIndex===0"
            ></federal-policy-group>
          </md-content>
        </md-tab>
        <md-tab
          label="{{'sidebar.nav.ADMISSION_CONTROL' | translate}}"
        >
          <md-content class="pb0 fed-policy-tab"
            >&nbsp;
            <federal-policy-admission-rules
              ng-if="selectedIndex===1"
            ></federal-policy-admission-rules>
          </md-content>
        </md-tab>
        <md-tab
          label="{{'sidebar.nav.POLICY' | translate}}"
        >
          <md-content class="pb0 fed-policy-tab"
            >&nbsp;
            <federal-policy-network-rules
              ng-if="selectedIndex===2"
            ></federal-policy-network-rules>
          </md-content>
        </md-tab>
        <md-tab
          label="{{'service.PROCESS_PROFILE' | translate}}"
          ng-click="getProcessProfile(service.name)"
        >
          <md-content class="pb0 fed-policy-tab"
            >&nbsp;
            <federal-policy-process-profile-rules
              ng-if="selectedIndex===3"
            ></federal-policy-process-profile-rules>
          </md-content>
        </md-tab>
        <md-tab
          label="{{'service.FILE_PROFILE' | translate}}"
          ng-click="getFileProfile(service.name)"
        >
          <md-content class="pb0 fed-policy-tab"
            >&nbsp;
            <federal-policy-file-access-rules
              ng-if="selectedIndex===4"
            ></federal-policy-file-access-rules>
          </md-content>
        </md-tab>
        <md-tab
          label="{{'sidebar.nav.RESPONSE_POLICY' | translate}}"
        >
          <md-content class="pb0 fed-policy-tab"
            >&nbsp;
            <federal-policy-response-rules
              ng-if="selectedIndex===5"
            ></federal-policy-response-rules>
          </md-content>
        </md-tab>
        <md-tab
          label="{{'sidebar.nav.CONFIGURATION' | translate}}"
        >
          <md-content class="pb0 fed-policy-tab"
            >&nbsp;
            <federal-config
              ng-if="selectedIndex===6"
            ></federal-config>
          </md-content>
        </md-tab>
      </md-tabs>
    </div>
  </div>
</div>
