<div ng-controller="IncidentController">
  <div class="nv-scroll-mask" ng-show="isAllFilesShown" ng-click="hideAllFiles()"></div>
  <div class="clearfix">
    <div ng-show="!incidentsErr">
      <div class="pull-right mt-sm" ng-click="getIncidents()">
        <em class="fa fa-refresh text-action"/>
        <label class="text-gray-label hand">{{'general.REFRESH' | translate}}</label>
      </div>
      <div class="pull-right mt-sm mr-lg" ng-if="incidents.length" ng-click="exportCsv()">
        <em class="fa fa-download text-action"/>
        <label class="text-gray-label hand">{{'general.CSV_DOWNLOAD' | translate}}</label>
      </div>
    </div>
    <div class="content-title">{{'sidebar.nav.INCIDENT' | translate}}</div>
  </div>
  <div class="panel mb0" >
    <div class="panel-body">
      <div class="clearfix">
        <label class="text-primary" ng-show="!incidentsErr">{{count}}</label>
        <div class="left-inner-addon pull-right" style="margin-bottom: 10px">
          <em class="fa fa-filter text-filter"/>
          <input class="search form-control" placeholder="{{'general.FILTER' | translate}}" type="text" maxlength="{{'general.FILTER_MAX_LEN' | translate}}"
                 ng-model="search"
                 ng-paste="onFilterChanged(search)"
                 ng-keyup="onFilterChanged(search)"/>
        </div>
      </div>
      <div ag-grid="gridOptions" class="ag-grid" style="width: 100%;"
           ng-style="{ height: graphHeight + 'px'}">
           <div id="all-files" class="ports-panel-wrap" ng-show="isAllFilesShown" ng-style="panelPosition">
             <div class="row m0">
               <div class="pull-left"><h4>All Files:</h4></div><div class="pull-right"><em class="fa fa-times all-ports-close" aria-hidden="true" ng-click="hideAllFiles()"></em></div>
             </div>
             <div class="row m0" style="position: relative;">
               <div class="ports-panel">{{currFiles}}</div>
               <div ng-show="isGradientTopBottomShown" class="top-mask"></div>
               <div ng-show="isGradientTopBottomShown" class="bottom-mask"></div>
             </div>
           </div>
      </div>
    </div>
  </div>
</div>
