<!-- START panel-->
<div ng-controller="LicenseController">
  <div class="clearfix">
    <div
      class="pull-right mt-lg"
      ng-show="!needLicense"
      ng-click="renew()"
      ng-if="isRenewLicenseAuthorized"
    >
      <em class="fa fa-repeat text-action mr-lg"></em>
      <label class="text-gray-label hand"
        >{{'license.RENEW' | translate}}</label
      >
    </div>
    <div class="content-title">
      <a href="#/app/settings">{{'sidebar.nav.SETTING' | translate}}</a>
      &nbsp;>&nbsp;&nbsp;{{'license.TITLE' | translate}}
    </div>
  </div>
  <div class="panel">
    <div class="panel-body" ng-show="needLicense">
      <form name="codeRequest">
        <fieldset>
          <div class="form-group">
            <div class="help-block ml-lg">
              {{'license.server.PRE_DESC' | translate}}
              <a ng-href="mailto:{{'partner.license.server.EMAIL' | translate}}">
                {{'partner.license.server.EMAIL' | translate}}</a
              >.
            </div>
            <label class="col-sm-2 control-label"
              >{{'license.LICENSE_CODE' | translate}}</label
            >
            <div class="col-sm-10">
              <textarea ng-model="licenseKey" rows="6" class="form-control" />
              <span class="help-block">
                {{'partner.license.server.APPLY_DESC' | translate}}
              </span>
            </div>
            <span
              class="col-sm-10 col-sm-offset-2 text-danger"
              ng-show="loadFailed"
            >
              {{errorMessage}}
            </span>
          </div>
        </fieldset>
        <div class="pull-right">
          <button
            type="submit"
            class="btn btn-primary "
            ng-disabled="!licenseKey"
            ng-click="loadLicense(licenseKey)"
          >
            {{'securityEvent.APPLY' | translate}}
          </button>
          <a ng-click="needLicense=!needLicense" class="nv-link ">
            {{'profile.CANCEL' | translate}}
          </a>
        </div>
      </form>

    </div>

    <div class="panel-body" ng-show="!needLicense">
        <div class="row p-xl">
          <md-input-container class="md-block mt-lg nv-container">
            <label>{{'license.register.NAME' | translate}}</label>
            <md-icon>
              <div class="circle-icon">
                <em class="icon-user-follow fa-lg text-primary" />
              </div>
            </md-icon>
            <input disabled name="company" value="{{license.info.name}}" />
          </md-input-container>
        </div>
        <div class="row p-xl">
          <md-input-container class="md-block mt-lg nv-container">
            <label>{{'license.register.EMAIL' | translate}}</label>
            <md-icon>
              <div class="circle-icon">
                <em class="fa fa-envelope-o fa-lg text-primary" />
              </div>
            </md-icon>
            <input disabled type="email" value="{{license.info.email}}" />
          </md-input-container>
        </div>
        <div class="row p-xl">
          <md-input-container class="md-block mv-lg nv-container">
            <label>{{'license.register.PHONE' | translate}}</label>
            <md-icon>
              <div class="circle-icon">
                <em class="fa fa-phone fa-lg text-primary" />
              </div>
            </md-icon>
            <input disabled value="{{license.info.phone}}" />
          </md-input-container>
        </div>
      </div>
    </div>
  </div>
</div>
