<div
  ng-controller="MultiClusterController as multiClusterCtrl"
  class="cluster-viewport"
>
  <div
    ng-show="!isOrdinary && !isFederal"
    class="loader5"
    style="position: absolute; z-index:999; top: 40vh; left: 40vw;"
  ></div>
  <div
    ng-show="clusterError"
    class="server-error-sm details"
    style="height: 145px; padding-top: 30px;"
  >
    <div>
      <em class="fa fa-times-circle error-signal" aria-hidden="true"></em>
    </div>
    <div>
      <span class="error-text">
        {{'multiCluster.messages.api_failure' | translate }}
      </span>
    </div>
  </div>
  <div ng-if="isOrdinary">
    <div class="panel-body settings-feature-section ">
      <div class="row mh-lg ph-lg">
        <div class="col-md-6 ">
          <div class="settings-widget" ng-click="showPromotionDialog()">
            <div class="feature-image">
              <div class="ldap-image"></div>
            </div>
            <div class="feature-title">
              {{'multiCluster.promotion.title' | translate }}
            </div>
            <div class="feature-description">
              {{'multiCluster.promotion.description' | translate }}
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="settings-widget" ng-click="showJoiningDialog()">
            <div class="feature-image">
              <div class="users-image"></div>
            </div>
            <div class="feature-title">
              {{'multiCluster.joining.title' | translate }}
            </div>
            <div class="feature-description">
              {{'multiCluster.joining.description' | translate }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <script type="text/ng-template" id="dialog.promote.html">
        <md-dialog aria-label="Promote Cluster" ng-cloak>
            <form name="promoteForm" ng-submit="$event.preventDefault()" novalidate="" class="form-validate" style="overflow: visible">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2 class="text-dark">{{'multiCluster.promotion.title' | translate}}</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="cancel()">
                            <md-icon md-svg-src="app/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-dialog-content style="overflow: visible">
                    <div>
                        <div class="card-body">
                            <div>
                                <div class="row m0">
                                    <div class="col-sm-10 col-sm-offset-1 mt-sm">
                                        <md-input-container class="md-block nv-container">
                                            <label>{{'multiCluster.promotion.name' | translate}}</label>
                                            <md-icon >
                                                <div class="circle-icon">
                                                    <em class="fa fa-id-card fa-lg text-primary"/>
                                                </div>
                                            </md-icon>
                                            <input name="name" ng-model="cluster.name" required
                                                   class="mda-form-control" maxlength="{{'general.FILTER_MAX_LEN' | translate}}"/>
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-5 col-sm-offset-1 mt-sm">
                                        <md-input-container class="md-block nv-container">
                                            <label>{{'multiCluster.promotion.server' | translate}}</label>
                                            <md-icon >
                                                <div class="circle-icon">
                                                    <em class="fa fa-server fa-lg text-primary"/>
                                                </div>
                                            </md-icon>
                                            <input name="ip" ng-model="cluster.server" required
                                                   placeholder=" {{'multiCluster.tips.serverType' | translate}} "
                                                   class="mda-form-control" maxlength="{{'general.FILTER_MAX_LEN' | translate}}"/>
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-5 mt-sm">
                                        <md-input-container class="md-block nv-container">
                                            <label>{{'multiCluster.promotion.port' | translate}}</label>
                                            <md-icon >
                                                <div class="circle-icon">
                                                    <em class="fa fa-gear fa-lg text-primary"/>
                                                </div>
                                            </md-icon>
                                            <input name="port" ng-model="cluster.port" required
                                                   ng-pattern="/^([0-9]{1,4}|[1-5][0-9]{4}|6[0-4][0-9]{3}|65[0-4][0-9]{2}|655[0-2][0-9]|6553[0-5])$/"
                                                   placeholder=" 0 ~ 65535 "
                                                   class="mda-form-control" maxlength="{{'general.FILTER_MAX_LEN' | translate}}"/>
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-10 col-sm-offset-1 mt-sm line-breaker">
                                        {{ "multiCluster.promotion.hint" | translate }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-dialog-content>
                <div class="md-actions" layout="row" style="border: 0;">
                    <div ng-show="promotionProcessing">
                        <md-button class="md-raised md-primary clickDisabled">
                            <i class="fa fa-spinner fa-spin"></i>
                            {{'general.PROCESSING' | translate}}
                        </md-button>
                        <a ng-click="cancel()" class="nv-link">
                            {{'general.CANCEL' | translate}}
                        </a>
                    </div>

                    <div ng-show="!promotionProcessing">
                        <md-button ng-click="promote(cluster)" class="md-raised md-primary"
                                   ng-disabled="promoteForm.$invalid">
                            {{'general.SUBMIT' | translate}}
                        </md-button>
                        <a ng-click="cancel()" class="nv-link">
                            {{'general.CANCEL' | translate}}
                        </a>
                    </div>
                </div>
            </form>
        </md-dialog>
      </script>
    </div>

    <div>
      <script type="text/ng-template" id="dialog.join.html">
        <md-dialog aria-label="Edit cluster" ng-cloak>
            <form name="joinForm" ng-submit="$event.preventDefault()" novalidate="" class="form-validate" style="overflow: visible">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2 class="text-dark">{{'multiCluster.joining.title' | translate}}</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="cancel()">
                            <md-icon md-svg-src="app/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-dialog-content style="overflow: visible">
                    <div>
                        <div class="card-body">
                            <div>
                                <div class="row m0">
                                    <div class="col-sm-10 col-sm-offset-1 mt-sm">
                                        <md-input-container class="md-block nv-container">
                                            <label>{{'multiCluster.joining.name' | translate}}</label>
                                            <md-icon >
                                                <div class="circle-icon">
                                                    <em class="fa fa-id-card fa-lg text-primary"/>
                                                </div>
                                            </md-icon>
                                            <input name="name" ng-model="cluster.name" required
                                                   class="mda-form-control" maxlength="{{'general.FILTER_MAX_LEN' | translate}}"/>
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-5 col-sm-offset-1 mt-sm">
                                        <md-input-container class="md-block nv-container">
                                            <label>{{'multiCluster.joining.server' | translate}}</label>
                                            <md-icon >
                                                <div class="circle-icon">
                                                    <em class="fa fa-server fa-lg text-primary"/>
                                                </div>
                                            </md-icon>
                                            <input name="ip" ng-model="cluster.server" required
                                                   placeholder=" {{'multiCluster.tips.serverType' | translate}} "
                                                   class="mda-form-control" maxlength="{{'general.FILTER_MAX_LEN' | translate}}"/>
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-5 mt-sm">
                                        <md-input-container class="md-block nv-container">
                                            <label>{{'multiCluster.joining.port' | translate}}</label>
                                            <md-icon >
                                                <div class="circle-icon">
                                                    <em class="fa fa-gear fa-lg text-primary"/>
                                                </div>
                                            </md-icon>
                                            <input name="port" ng-model="cluster.port" required
                                                   ng-pattern="/^([0-9]{1,4}|[1-5][0-9]{4}|6[0-4][0-9]{3}|65[0-4][0-9]{2}|655[0-2][0-9]|6553[0-5])$/"
                                                   placeholder=" 0 ~ 65535 "
                                                   class="mda-form-control" maxlength="{{'general.FILTER_MAX_LEN' | translate}}"/>
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-10 col-sm-offset-1 mt-sm">
                                        <md-input-container class="md-block nv-container-textarea">
                                            <label>{{'multiCluster.joining.token' | translate}}</label>
                                            <md-icon>
                                                <div class="circle-icon">
                                                    <em class="fa fa-id-card fa-lg text-primary"/>
                                                </div>
                                            </md-icon>
                                            <textarea name="token" ng-model="cluster.token" required
                                                   ng-paste="parseToken()" ng-keyup="parseToken()"
                                                      class="mda-form-control"></textarea>
                                            <div ng-show="invalidToken" class="error-message">
                                                {{'multiCluster.validation.token' | translate}}
                                            </div>
                                        </md-input-container>

                                    </div>
                                    <div class="col-sm-5 col-sm-offset-1 mt-sm">
                                        <md-input-container class="md-block nv-container">
                                            <label>{{'multiCluster.promotion.server' | translate}}</label>
                                            <md-icon >
                                                <div class="circle-icon">
                                                    <em class="fa fa-user-o fa-lg text-primary"/>
                                                </div>
                                            </md-icon>
                                            <input name="master_service" ng-model="cluster.master_server" required
                                                   class="mda-form-control" maxlength="{{'general.FILTER_MAX_LEN' | translate}}"/>
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-5 mt-sm">
                                        <md-input-container class="md-block nv-container">
                                            <label>{{'multiCluster.promotion.port' | translate}}</label>
                                            <md-icon >
                                                <div class="circle-icon">
                                                    <em class="fa fa-key fa-lg text-primary"/>
                                                </div>
                                            </md-icon>
                                            <input name="master_port" ng-model="cluster.master_port" required
                                                   ng-pattern="/^([0-9]{1,4}|[1-5][0-9]{4}|6[0-4][0-9]{3}|65[0-4][0-9]{2}|655[0-2][0-9]|6553[0-5])$/"
                                                   class="mda-form-control" maxlength="{{'general.FILTER_MAX_LEN' | translate}}"/>
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-10 col-sm-offset-1 mt-sm line-breaker">
                                        {{ "multiCluster.joining.hint" | translate }}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </md-dialog-content>

                <div class="md-actions" layout="row" style="border: 0;">
                    <div ng-show="joiningProcessing">
                        <md-button class="md-raised md-primary clickDisabled">
                            <i class="fa fa-spinner fa-spin"></i>
                            {{'general.PROCESSING' | translate}}
                        </md-button>
                        <a ng-click="cancel()" class="nv-link">
                            {{'general.CANCEL' | translate}}
                        </a>
                    </div>

                    <div ng-show="!joiningProcessing">
                        <md-button ng-click="join(cluster)" class="md-raised md-primary"
                                   ng-disabled="joinForm.$invalid">
                            {{'general.SUBMIT' | translate}}
                        </md-button>
                        <a ng-click="cancel()" class="nv-link">
                            {{'general.CANCEL' | translate}}
                        </a>
                    </div>
                </div>
            </form>
        </md-dialog>
      </script>
    </div>
  </div>
  <div ng-if="isFederal">
    <div
      class="pull-right mt-sm"
      style="padding-top: 5px; margin-left: 10px;"
      ng-click="reload()"
    >
      <em class="fa fa-refresh text-action hand" aria-hidden="true" />
      <label class="text-gray-label hand"
        >{{'general.REFRESH' | translate}}</label
      >
    </div>
    <div class="clearfix">
      <div class="content-title">{{'multiCluster.title' | translate}}</div>
    </div>

    <div class="panel">
      <div class="panel-body">
        <div
          id="multi_cluster_grid"
          ag-grid="gridOptions"
          class="ag-grid"
          style=" width: 100%; height: 184px;"
        ></div>
      </div>
    </div>

    <div>
      <script type="text/ng-template" id="dialog.edit.html">
        <md-dialog aria-label="Edit == Cluster" ng-cloak>
            <form name="editClusterForm" ng-submit="$event.preventDefault()" novalidate="" class="form-validate" style="overflow: visible">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2 class="text-dark">{{'multiCluster.edit.title' | translate}}</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="closeDialog()">
                            <md-icon md-svg-src="app/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-dialog-content style="overflow: visible">
                    <div>
                        <div class="card-body">
                            <div>
                                <div class="row m0">
                                    <div class="col-sm-10 col-sm-offset-1 mt-sm">
                                        <md-input-container class="md-block nv-container">
                                            <label>{{'multiCluster.promotion.name' | translate}}</label>
                                            <md-icon >
                                                <div class="circle-icon">
                                                    <em class="fa fa-id-card fa-lg text-primary"/>
                                                </div>
                                            </md-icon>
                                            <input name="name" ng-model="cluster.name" required
                                                   class="mda-form-control" maxlength="{{'general.FILTER_MAX_LEN' | translate}}"/>
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-5 col-sm-offset-1 mt-sm">
                                        <md-input-container class="md-block nv-container">
                                            <label>{{'multiCluster.promotion.server' | translate}}</label>
                                            <md-icon >
                                                <div class="circle-icon">
                                                    <em class="fa fa-server fa-lg text-primary"/>
                                                </div>
                                            </md-icon>
                                            <input name="ip" ng-model="cluster.api_server" required
                                                   placeholder=" {{'multiCluster.tips.serverType' | translate}} "
                                                   class="mda-form-control" maxlength="{{'general.FILTER_MAX_LEN' | translate}}"/>
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-5 mt-sm">
                                        <md-input-container class="md-block nv-container">
                                            <label>{{'multiCluster.promotion.port' | translate}}</label>
                                            <md-icon >
                                                <div class="circle-icon">
                                                    <em class="fa fa-gear fa-lg text-primary"/>
                                                </div>
                                            </md-icon>
                                            <input name="port" ng-model="cluster.api_port" required
                                                   ng-pattern="/^([0-9]{1,4}|[1-5][0-9]{4}|6[0-4][0-9]{3}|65[0-4][0-9]{2}|655[0-2][0-9]|6553[0-5])$/"
                                                   placeholder=" 0 ~ 65535 "
                                                   class="mda-form-control" maxlength="{{'general.FILTER_MAX_LEN' | translate}}"/>
                                        </md-input-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-dialog-content>
                <div class="md-actions" layout="row" style="border: 0;">

                    <md-button ng-click="update(cluster)" class="md-raised md-primary"
                               ng-disabled="editClusterForm.$invalid">
                        {{'general.SUBMIT' | translate}}
                    </md-button>
                    <a ng-click="closeDialog()" class="nv-link">
                        {{'general.CANCEL' | translate}}
                    </a>
                </div>
            </form>
        </md-dialog>
      </script>
    </div>

    <div class="panel mb0" ng-show="isMaster" >
      <div class="panel-heading panel-default clearfix">
        <div class="panel-title">
          <label class="panel-text-title"
            uib-tooltip="{{selectedCluster.name}}"
            tooltip-placement="auto"
            tooltip-enable="{{selectedCluster.name.length >= 20}}">{{selectedCluster.name | shortenName: 20}}
          </label>
        </div>
      </div>
      <div class="panel-body">
        <div class="containers-detail-sec">
          <div class="row mt-lg">
            <div class="col-sm-4">
              <div class="nv-resources-detail">
                <div>{{'nodes.detail.PLATFORM' | translate}}</div>
                <div class="icon">
                  <em class="fa fa-sitemap text-primary fa-lg" />
                </div>
                <div class="auto-hide text-muted" uib-tooltip="{{summary.platform}}" tooltip-enable="false" show-tooltip-on-text-overflow>
                  {{summary.platform}}
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="nv-resources-detail">
                <div>{{'multiCluster.summary.DOMAINS' | translate}}</div>
                <div class="icon">
                  <em class="fa fa-building-o text-primary fa-lg" aria-hidden="true"/>
                </div>
                <div class="auto-hide text-muted" uib-tooltip="{{summary.controllers}}" tooltip-enable="false" show-tooltip-on-text-overflow>
                  {{summary.domains}}
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="nv-resources-detail">
                <div>{{'dashboard.summary.SERVICE' | translate}}</div>
                <div class="icon">
                  <em class="fa fa-cogs text-primary fa-lg" />
                </div>
                <div class="auto-hide text-muted" uib-tooltip="{{summary.services}}" tooltip-enable="false" show-tooltip-on-text-overflow>
                  {{summary.services}}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="nv-resources-detail">
                <div>{{'dashboard.summary.HOST' | translate}}</div>
                <div class="icon">
                  <em class="fa fa-server text-primary fa-lg" />
                </div>
                <div class="auto-hide text-muted" uib-tooltip="{{summary.hosts}}" tooltip-enable="false" show-tooltip-on-text-overflow>
                  {{summary.hosts}}
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="nv-resources-detail">
                <div>
                  {{'multiCluster.summary.RUNNING_POD' | translate}}
                </div>
                <div class="icon">
                  <em class="fa fa-square-o text-primary fa-lg" />
                </div>
                <div class="auto-hide text-muted" uib-tooltip="{{summary.running_pods}}" tooltip-enable="false" show-tooltip-on-text-overflow>
                  {{summary.running_pods}}
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="nv-resources-detail">
                <div>
                  {{'multiCluster.summary.TOTAL_WORKLOAD' | translate}}
                </div>
                <div class="icon">
                  <em class="fa fa-square-o text-primary fa-lg" />
                </div>
                <div class="auto-hide text-muted" uib-tooltip="{{summary.workloads}}" tooltip-enable="false" show-tooltip-on-text-overflow>
                  {{summary.workloads}}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="nv-resources-detail">
                <div>{{'dashboard.summary.CONTROLLER' | translate}}</div>
                <div class="icon">
                  <em class="fa fa-code-fork text-primary fa-lg" />
                </div>
                <div class="auto-hide text-muted" uib-tooltip="{{summary.controllers}}" tooltip-enable="false" show-tooltip-on-text-overflow>
                  {{summary.controllers}}
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="nv-resources-detail">
                <div>{{'dashboard.summary.ENFORCER' | translate}}</div>
                <div class="icon">
                  <em class="fa fa-shield text-primary fa-lg" />
                </div>
                <div class="auto-hide text-muted" uib-tooltip="{{summary.enforcers}}" tooltip-enable="false" show-tooltip-on-text-overflow>
                  {{summary.enforcers}}
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="nv-resources-detail">
                <div>{{'sidebar.nav.SCANNERS' | translate}}</div>
                <div class="icon">
                  <em class="fa fa-heartbeat fa-lg text-primary" aria-hidden="true"/>
                </div>
                <div class="auto-hide text-muted" uib-tooltip="{{summary.enforcers}}" tooltip-enable="false" show-tooltip-on-text-overflow>
                  {{summary.scanners}}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="nv-resources-detail">
                <div>{{'audit.gridHeader.CVE_DB_VERSION' | translate}}</div>
                <div class="icon">
                  <em class="fa fa-tag text-primary fa-lg" />
                </div>
                <div class="auto-hide text-muted" uib-tooltip="{{summary.cvedb_version}}" tooltip-enable="false" show-tooltip-on-text-overflow>
                  {{summary.cvedb_version}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <script type="text/ng-template" id="dialog.token.html">
        <md-dialog aria-label="Token cluster" ng-cloak style="width: 60vw;">
            <form name="tokenForm" style="overflow: visible">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2 class="text-dark">{{'multiCluster.joining.token' | translate}}</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="cancel()">
                            <md-icon md-svg-src="app/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-dialog-content style="overflow: visible">
                                        <md-input-container class="md-block nv-container">
                                            <div class ="row m0">
                                                <div class="col-sm-1">
                                                    <em class="fa fa-key fa-lg text-primary"/>
                                                </div>
                                                <div class="col-sm-9">
                                                    <textarea matInput ng-model="token" name="token"></textarea>
                                                </div>
                                                <div class="col-sm-2">
                                                    <button
                                                            clipboard class="btn btn-default ml-lg" text="token" style="padding: 3px 8px; margin-bottom: 8px;"
                                                            on-copied="success()" uib-tooltip="{{'license.COPY_CODE' | translate}}"><i class="fa fa-clipboard"></i>
                                                    </button>
                                                    <div class="label label-info mt-lg" ng-show="copiedToken">{{'general.COPIED' | translate}}
                                                    </div>
                                                </div>
                                            </div>
                                        </md-input-container>
                </md-dialog-content>

                <div class="md-actions" layout="row" style="border: 0;">
                    <a ng-click="cancel()" class="nv-link">
                        {{'general.CLOSE' | translate}}
                    </a>
                </div>
            </form>
        </md-dialog>
      </script>
    </div>
  </div>
</div>
