<div ng-controller="OpenIdController as openId">
  <div class="clearfix">
    <div class="pull-right mt-lg">
      <div class="text-guide">{{'openId.head.GUIDE' | translate}}</div>
    </div>
    <div class="content-title">
      <!--suppress HtmlUnknownAnchorTarget -->
      <a href="#/app/settings">{{'sidebar.nav.SETTING' | translate}}</a>
      &nbsp;>&nbsp;&nbsp;{{'openId.head.TITLE' | translate}}
    </div>
  </div>

  <div class="panel layout-padding mb0">
    <form>
      <div class="mr-lg">
        <label
          class="control-label ml-lg"
          style="margin-bottom: 0; margin-top: 10px;"
          ><em class="fa fa-lightbulb-o fa-lg mr-xl text-primary"></em>
          {{'openId.CALLBACK_URL' | translate}}
        </label>
        <div style="display: inline" class="text-muted ml-lg">
          {{callbackUrl}}
          <!--suppress HtmlUnknownAttribute -->
          <button
            clipboard
            class="btn btn-default ml-lg"
            text="callbackUrl"
            on-copied="success()"
          >
            <i class="fa fa-clipboard"></i> {{'license.COPY_CODE' | translate}}
          </button>
          <div class="label label-info ml-lg" ng-show="copied">
            {{'general.COPIED' | translate}}
          </div>
        </div>
      </div>
    </form>
    <form name="oktaForm">
      <div layout-gt-sm="row">
        <md-input-container
          class="md-block nv-container"
          md-no-float
          flex-gt-sm
        >
          <label>{{'openId.ISSUER' | translate}}</label>
          <md-icon aria-label=".">
            <div class="circle-icon">
              <em class="fa fa-address-book-o text-primary fa-lg"></em>
            </div>
          </md-icon>
          <input
            name="idpIssuer"
            ng-model="openId.server.issuer"
            required
            type="url"
            ng-disabled="!isSubmitSettingAuthorized"
            maxlength="{{'general.FILTER_MAX_LEN' | translate}}"
          />
          <div
            ng-messages="oktaForm.idpIssuer.$error"
            ng-show="oktaForm.idpIssuer.$dirty"
          >
            <div ng-message="required">{{'general.REQUIRED' | translate}}</div>
            <div ng-message="url">{{'okta.INVALID_URL' | translate}}</div>
          </div>
        </md-input-container>
        <!--suppress JSUnresolvedVariable -->
        <md-input-container
          class="md-block nv-container"
          ng-show="openId.server.authorization_endpoint"
          md-no-float
          flex-gt-sm
        >
          <label>{{'openId.AUTHORIZATION_ENDPOINT' | translate}}</label>
          <md-icon aria-label=".">
            <div class="circle-icon">
              <em class="fa fa-address-book text-primary fa-lg"></em>
            </div>
          </md-icon>
          <input
            name="idpIssuer"
            ng-model="openId.server.authorization_endpoint"
            disabled
          />
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <!--suppress JSUnresolvedVariable -->
        <md-input-container
          class="md-block nv-container"
          ng-show="openId.server.token_endpoint"
          md-no-float
          flex-gt-sm
        >
          <label>{{'openId.TOKEN_ENDPOINT' | translate}}</label>
          <md-icon aria-label=".">
            <div class="circle-icon">
              <em class="fa fa-address-book text-primary fa-lg"></em>
            </div>
          </md-icon>
          <input
            name="idpIssuer"
            ng-model="openId.server.token_endpoint"
            disabled
          />
        </md-input-container>

        <!--suppress JSUnresolvedVariable -->
        <md-input-container
          class="md-block nv-container"
          ng-show="openId.server.user_info_endpoint"
          md-no-float
          flex-gt-sm
        >
          <label>{{'openId.USER_INFO_ENDPOINT' | translate}}</label>
          <md-icon aria-label=".">
            <div class="circle-icon">
              <em class="fa fa-address-book text-primary fa-lg"></em>
            </div>
          </md-icon>
          <input
            name="idpIssuer"
            ng-model="openId.server.user_info_endpoint"
            disabled
          />
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-input-container
          class="md-block nv-container"
          md-no-float
          flex-gt-sm
        >
          <label>{{'openId.CLIENT_ID' | translate}}</label>
          <md-icon aria-label=".">
            <div class="circle-icon">
              <em class="fa fa-id-card-o text-primary fa-lg "></em>
            </div>
          </md-icon>
          <input
            name="oidcId"
            ng-model="openId.server.client_id"
            required
            type="text"
            ng-disabled="!isSubmitSettingAuthorized"
            maxlength="{{'general.FILTER_MAX_LEN' | translate}}"
          />
          <div
            ng-messages="oktaForm.oidcId.$error"
            ng-show="oktaForm.oidcId.$dirty"
          >
            <div ng-message="required">{{'general.REQUIRED' | translate}}</div>
          </div>
        </md-input-container>

        <md-input-container
          class="md-block nv-container md-icon-right"
          md-no-float
          flex-gt-sm
        >
          <label>{{'openId.CLIENT_SECRET' | translate}}</label>
          <md-icon aria-label=".">
            <div class="circle-icon">
              <em class="fa fa-key text-primary fa-lg "></em>
            </div>
          </md-icon>
          <input
            name="oidcSecret"
            placeholder="{{openId.onCreate ? '' : '******'}}"
            ng-model="openId.local.client_secret"
            ng-focus="showPasswordFn()"
            ng-required="openId.onCreate"
            ng-attr-type="{{ showPassword ? 'text':'password'}}"
            ng-disabled="!isSubmitSettingAuthorized"
            maxlength="{{'general.FILTER_MAX_LEN' | translate}}"
          />
          <md-icon
            ng-show="oktaForm.oidcSecret.$dirty"
            ng-click="showPassword=!showPassword"
            class="mt-lg"
            ng-class="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"
            style="cursor: pointer; pointer-events: all;"
          >
          </md-icon>
          <div
            ng-messages="oktaForm.oidcSecret.$error"
            ng-show="oktaForm.oidcSecret.$dirty"
          >
            <div ng-message="required">{{'general.REQUIRED' | translate}}</div>
          </div>
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-input-container
          class="md-block nv-container"
          md-no-float
          flex-gt-sm
        >
          <label>{{'okta.GROUP_CLAIM' | translate}}</label>
          <md-icon aria-label=".">
            <div class="circle-icon">
              <em class="fa fa-users text-primary fa-lg"></em>
            </div>
          </md-icon>
          <input
            name="group_claim"
            ng-model="openId.server.group_claim"
            ng-disabled="!isSubmitSettingAuthorized"
            maxlength="{{'general.FILTER_MAX_LEN' | translate}}"
          />
        </md-input-container>
      </div>
      <div class="col-sm-12 mb-xl ph0">
        <div class="form-group">
          <label class="col-sm-2 control-label ph0"
            >{{'openId.SCOPES' | translate}}
            <!--suppress HtmlUnknownTag -->
            <div class="text-sm text-muted">
              {{'group.editGroup.CONDITION_HINT' | translate}}
            </div>
          </label>
          <div class="col-sm-10 ph0">
            <md-chips
              ng-model="openId.scopes"
              md-on-remove="onRemovedChip($chip)"
              readonly="!isSubmitSettingAuthorized"
            >
              <button
                ng-if="$chip!=='openid'"
                class="md-chip-remove ng-scope"
                md-chip-remove
                type="button"
                aria-hidden="true"
                tabindex="-1"
              >
                <em class="fa fa-times"></em>
                <span class="md-visually-hidden ng-binding">Remove</span>
              </button>
            </md-chips>
          </div>
        </div>
      </div>

      <div class="col-sm-12 ph0">
        <div class="form-group">
          <label
            class="col-sm-2 control-label pv-lg ph0"
            translate="{{'ldap.DEFAULT_ROLE'}}"
            style="margin-bottom: 0; margin-top: 20px;"
          ></label>
          <div class="col-sm-2 mt-xl">
            <md-select
              aria-label="."
              ng-model="openId.server.default_role"
              ng-disabled="!isSubmitSettingAuthorized"
              class="m0"
            >
              <md-option ng-repeat="role in openId.roles" ng-value="role">
                {{role}}
              </md-option>
            </md-select>
          </div>
        </div>
      </div>
      <div class="col-sm-12 mt ph0 mb-lg">
        <group-role-map connection="groupRoleMapData"></group-role-map>
      </div>
      <script type="text/ng-template" id="group-template">
        <div class="tag-template">
          <div>
            <em class="icon-people text-primary"></em>
          </div>
          <div>
            <span>{{$getDisplayText()}}</span>
            <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
          </div>
        </div>
      </script>
      <div class="pull-right">
        <md-button
          class="md-raised md-primary md-small mr0"
          ng-click="openId.addOrUpdate(oktaForm, openId.server); resetEyeIcon();"
          ng-disabled="oktaForm.$invalid"
          ng-if="isSubmitSettingAuthorized"
        >
          {{'setting.SUBMIT' | translate}}
        </md-button>
      </div>
      <div class=" mt-lg">
        <md-checkbox
          ng-model="openId.server.enable"
          ng-disabled="!isSubmitSettingAuthorized"
          class="green"
        >
          {{'ldap.ENABLE_LDAP' | translate}}
        </md-checkbox>
      </div>
    </form>
  </div>
</div>
