<div
  ng-controller="PasswordProfileController as PwdCtrl"
  backdrop="true"
  class="container-fluid"
  ng-cloak
>
  <form name="PwdCtrl.profileForm" novalidate>
    <div class="form-group">
      <div class="ml">
        <div class="text-sm text-muted mb">
          <em class="fa fa-info-circle text-info mr"></em>
          {{'passwordProfile.INSTRUCTION' | translate}}
        </div>
        <div class="row mr0 ml0 mb-lg">
          <div class="form-title">{{'passwordProfile.passwordFormat.TITLE' | translate}}</div>
        </div>
        <!-- <div class="password-profile">
          <div class="item-name">
            <label
              class="mr-lg text-muted" style="margin-top: 8px;"
            >{{'passwordProfile.passwordFormat.MIN_LEN' | translate}}
            </label>
          </div>
          <div class="item-value">
            <md-input-container class="md-block mb0 mt0">
              <input
                type="text"
                maxLength="3"
                ng-disabled="!isUpdatePasswordProfileAuthorized"
                ng-model="PwdCtrl.profile.min_len"
                ng-keydown="PwdCtrl.suppressNonNumber($event)"
                ng-keyup="PwdCtrl.checkNumbersSum('min_len')"
              />
            </md-input-container>
          </div>
        </div>
        <div class="password-profile">
          <div class="item-name">
            <label
              class="mr-lg text-muted" style="margin-top: 8px;"
            >{{'passwordProfile.passwordFormat.MIN_UPPER' | translate}}
            </label>
          </div>
          <div class="item-value">
            <md-input-container class="md-block mb0 mt0">
              <input
                type="text"
                maxLength="3"
                ng-disabled="!isUpdatePasswordProfileAuthorized"
                ng-model="PwdCtrl.profile.min_uppercase_count"
                ng-keydown="PwdCtrl.suppressNonNumber($event)"
                ng-keyup="PwdCtrl.checkNumbersSum('min_uppercase_count')"
              />
            </md-input-container>
          </div>
        </div>
        <div class="password-profile">
          <div class="item-name">
            <label
              class="mr-lg text-muted" style="margin-top: 8px;"
            >{{'passwordProfile.passwordFormat.MIN_LOWER' | translate}}
            </label>
          </div>
          <div class="item-value">
            <md-input-container class="md-block mb0 mt0">
              <input
                type="text"
                maxLength="3"
                ng-disabled="!isUpdatePasswordProfileAuthorized"
                ng-model="PwdCtrl.profile.min_lowercase_count"
                ng-keydown="PwdCtrl.suppressNonNumber($event)"
                ng-keyup="PwdCtrl.checkNumbersSum('min_lowercase_count')"
              />
            </md-input-container>
          </div>
        </div>
        <div class="password-profile">
          <div class="item-name">
            <label
              class="mr-lg text-muted" style="margin-top: 8px;"
            >{{'passwordProfile.passwordFormat.MIN_DIGIT' | translate}}
            </label>
          </div>
          <div class="item-value">
            <md-input-container class="md-block mb0 mt0">
              <input
                type="text"
                maxLength="3"
                ng-disabled="!isUpdatePasswordProfileAuthorized"
                ng-model="PwdCtrl.profile.min_digit_count"
                ng-keydown="PwdCtrl.suppressNonNumber($event)"
                ng-keyup="PwdCtrl.checkNumbersSum('min_digit_count')"
              />
            </md-input-container>
          </div>
        </div>
        <div class="password-profile">
          <div class="item-name">
            <label
              class="mr-lg text-muted" style="margin-top: 8px;"
            >{{'passwordProfile.passwordFormat.MIN_SP_CHAR' | translate}}
            </label>
          </div>
          <div class="item-value">
            <md-input-container class="md-block mb0 mt0">
              <input
                type="text"
                maxLength="3"
                ng-disabled="!isUpdatePasswordProfileAuthorized"
                ng-model="PwdCtrl.profile.min_special_count"
                ng-keydown="PwdCtrl.suppressNonNumber($event)"
                ng-keyup="PwdCtrl.checkNumbersSum('min_special_count')"
              />
            </md-input-container>
          </div>
        </div>
      </div> -->
      <div class="row mr0 ml0">
        <div class="col-sm-6 p0">
          <div class="col-xl-4 col-lg-6 col-md-7 col-sm-8 pr0">
            <label
              class="mr-lg text-muted"
            >{{'passwordProfile.passwordFormat.MIN_LEN' | translate}}
            </label>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4" style="margin-top: -30px">
            <md-input-container class="md-block mb0" flex-gt-sm>
              <input
                name="min_len"
                type="text"
                maxLength="3"
                ng-disabled="!isUpdatePasswordProfileAuthorized"
                ng-model="PwdCtrl.profile.min_len"
                ng-keydown="PwdCtrl.suppressNonNumber($event)"
                ng-keyup="PwdCtrl.checkNumbersSum('min_len')"
                required
              />
              <div ng-messages="PwdCtrl.profileForm.min_len.$error" ng-show="PwdCtrl.profileForm.min_len.$dirty">
                <div ng-message="required">{{'general.REQUIRED_SHORT' | translate}}</div>
              </div>
            </md-input-container>
          </div>
        </div>
      </div>
      <div class="row m0">
        <div class="col-sm-6 p0">
          <div class="col-xl-4 col-lg-6 col-md-7 col-sm-8 pr0">
            <label
              class="mr-lg text-muted"
            >{{'passwordProfile.passwordFormat.MIN_UPPER' | translate}}
            </label>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4" style="margin-top: -30px">
            <md-input-container class="md-block mb0" flex-gt-sm>
              <input
                name="min_uppercase_count"
                type="text"
                maxLength="3"
                ng-disabled="!isUpdatePasswordProfileAuthorized"
                ng-model="PwdCtrl.profile.min_uppercase_count"
                ng-keydown="PwdCtrl.suppressNonNumber($event)"
                ng-keyup="PwdCtrl.checkNumbersSum('min_uppercase_count')"
                required
              />
              <div ng-messages="PwdCtrl.profileForm.min_uppercase_count.$error" ng-show="PwdCtrl.profileForm.min_uppercase_count.$dirty">
                <div ng-message="required">{{'general.REQUIRED_SHORT' | translate}}</div>
              </div>
            </md-input-container>
          </div>
        </div>
        <div class="col-sm-6 p0">
          <div class="col-xl-4 col-lg-6 col-md-7 col-sm-8 pr0">
            <label
              class="mr-lg text-muted"
            >{{'passwordProfile.passwordFormat.MIN_LOWER' | translate}}
            </label>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4" style="margin-top: -30px">
            <md-input-container class="md-block mb0" flex-gt-sm>
              <input
                name="min_lowercase_count"
                type="text"
                maxLength="3"
                ng-disabled="!isUpdatePasswordProfileAuthorized"
                ng-model="PwdCtrl.profile.min_lowercase_count"
                ng-keydown="PwdCtrl.suppressNonNumber($event)"
                ng-keyup="PwdCtrl.checkNumbersSum('min_lowercase_count')"
                required
              />
              <div ng-messages="PwdCtrl.profileForm.min_lowercase_count.$error" ng-show="PwdCtrl.profileForm.min_lowercase_count.$dirty">
                <div ng-message="required">{{'general.REQUIRED_SHORT' | translate}}</div>
              </div>
            </md-input-container>
          </div>
        </div>
        <div class="col-sm-6 p0">
          <div class="col-xl-4 col-lg-6 col-md-7 col-sm-8 pr0">
            <label
              class="mr-lg text-muted"
            >{{'passwordProfile.passwordFormat.MIN_DIGIT' | translate}}
            </label>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4" style="margin-top: -30px">
            <md-input-container class="md-block mb0" flex-gt-sm>
              <input
                name="min_digit_count"
                type="text"
                maxLength="3"
                ng-disabled="!isUpdatePasswordProfileAuthorized"
                ng-model="PwdCtrl.profile.min_digit_count"
                ng-keydown="PwdCtrl.suppressNonNumber($event)"
                ng-keyup="PwdCtrl.checkNumbersSum('min_digit_count')"
                required
              />
              <div ng-messages="PwdCtrl.profileForm.min_digit_count.$error" ng-show="PwdCtrl.profileForm.min_digit_count.$dirty">
                <div ng-message="required">{{'general.REQUIRED_SHORT' | translate}}</div>
              </div>
            </md-input-container>
          </div>
        </div>
        <div class="col-sm-6 p0">
          <div class="col-xl-4 col-lg-6 col-md-7 col-sm-8 pr0">
            <label
              class="mr-lg text-muted"
            >{{'passwordProfile.passwordFormat.MIN_SP_CHAR' | translate}}
            </label>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4" style="margin-top: -30px">
            <md-input-container class="md-block mb0" flex-gt-sm>
              <input
                name="min_special_count"
                type="text"
                maxLength="3"
                ng-disabled="!isUpdatePasswordProfileAuthorized"
                ng-model="PwdCtrl.profile.min_special_count"
                ng-keydown="PwdCtrl.suppressNonNumber($event)"
                ng-keyup="PwdCtrl.checkNumbersSum('min_special_count')"
                required
              />
              <div ng-messages="PwdCtrl.profileForm.min_special_count.$error" ng-show="PwdCtrl.profileForm.min_special_count.$dirty">
                <div ng-message="required">{{'general.REQUIRED_SHORT' | translate}}</div>
              </div>
            </md-input-container>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-sm-12 mb-sm pl0" style="padding-right: 82px;">
        <hr class="dashed"/>
      </div>
      <div class="row mr0 ml0 mb-lg">
        <div class="form-title pull-left">{{'passwordProfile.loginFailureAllowance.TITLE' | translate}}</div>
        <div class="pull-left ml-lg">
          <div class="md-switch2">
            <label class="form-title">
              <input
                type="checkbox"
                ng-model="PwdCtrl.profile.enable_block_after_failed_login"
                ng-change="PwdCtrl.showUserBlockStatus()"
                ng-disabled="!isUpdatePasswordProfileAuthorized"
              />
              <span class="toggle"></span>
            </label>
            <label ng-bind-html="PwdCtrl.userBlockStatus"></label>
          </div>
        </div>
      </div>
      <div>
        <div class="row ml0 mr0">
          <div class="col-sm-6 p0">
            <div class="col-xl-4 col-lg-6 col-md-7 col-sm-8 pr0">
              <label
                class="mr-lg text-muted"
              >{{'passwordProfile.loginFailureAllowance.CNT_ALLOW_FAIL' | translate}}
              </label>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4" style="margin-top: -30px">
              <md-input-container class="md-block mb0" flex-gt-sm>
                <input
                  name="block_after_failed_login_count"
                  type="text"
                  maxLength="2"
                  ng-disabled="!isUpdatePasswordProfileAuthorized || !PwdCtrl.profile.enable_block_after_failed_login"
                  ng-model="PwdCtrl.profile.block_after_failed_login_count"
                  ng-keydown="PwdCtrl.suppressNonNumber($event)"
                  ng-keyup="PwdCtrl.checkNumbersSum('block_after_failed_login_count')"
                  required
                />
                <div ng-messages="PwdCtrl.profileForm.block_after_failed_login_count.$error" ng-show="PwdCtrl.profileForm.block_after_failed_login_count.$dirty">
                  <div ng-message="required">{{'general.REQUIRED_SHORT' | translate}}</div>
                </div>
              </md-input-container>
            </div>
          </div>
          <div class="col-sm-6 p0">
            <div class="col-xl-4 col-lg-6 col-md-7 col-sm-8 pr0">
              <label
                class="mr-lg text-muted"
              >{{'passwordProfile.loginFailureAllowance.BLOCK_TIME' | translate}}
              </label>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4" style="margin-top: -30px">
              <md-input-container class="md-block mb0" flex-gt-sm>
                <input
                  name="block_minutes"
                  type="text"
                  maxLength="4"
                  ng-disabled="!isUpdatePasswordProfileAuthorized || !PwdCtrl.profile.enable_block_after_failed_login"
                  ng-model="PwdCtrl.profile.block_minutes"
                  ng-keydown="PwdCtrl.suppressNonNumber($event)"
                  ng-keyup="PwdCtrl.checkNumbersSum('block_minutes')"
                  required
                />
                <div ng-messages="PwdCtrl.profileForm.block_minutes.$error" ng-show="PwdCtrl.profileForm.block_minutes.$dirty">
                  <div ng-message="required">{{'general.REQUIRED_SHORT' | translate}}</div>
                </div>
              </md-input-container>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-sm-12 mb-sm pl0" style="padding-right: 82px;">
        <hr class="dashed"/>
      </div>
      <div class="row mr0 ml0 mb-lg">
        <div class="form-title pull-left">{{'passwordProfile.passwordExpiring.TITLE' | translate}}</div>
        <div class="pull-left ml-lg">
          <div class="md-switch2">
            <label class="form-title">
              <input
                type="checkbox"
                ng-model="PwdCtrl.profile.enable_password_expiration"
                ng-change="PwdCtrl.showPasswordExpiredStatus()"
                ng-disabled="!isUpdatePasswordProfileAuthorized"
              />
              <span class="toggle"></span>
            </label>
            <label ng-bind-html="PwdCtrl.passwordExpiredStatus"></label>
          </div>
        </div>
      </div>
      <div>
        <div class="row ml0 mr0">
          <div class="col-sm-6 p0">
            <div class="col-xl-4 col-lg-6 col-md-7 col-sm-8 pr0">
              <label
                class="mr-lg text-muted"
              >{{'passwordProfile.passwordExpiring.PASSWORD_EXPIRED_DAYS' | translate}}
              </label>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4" style="margin-top: -30px">
              <md-input-container class="md-block mb0" flex-gt-sm>
                <input
                  name="password_expire_after_days"
                  type="text"
                  maxLength="3"
                  ng-disabled="!isUpdatePasswordProfileAuthorized || !PwdCtrl.profile.enable_password_expiration"
                  ng-model="PwdCtrl.profile.password_expire_after_days"
                  ng-keydown="PwdCtrl.suppressNonNumber($event)"
                  ng-keyup="PwdCtrl.checkNumbersSum('password_expire_after_days')"
                  required
                />
                <div ng-messages="PwdCtrl.profileForm.password_expire_after_days.$error" ng-show="PwdCtrl.profileForm.password_expire_after_days.$dirty">
                  <div ng-message="required">{{'general.REQUIRED_SHORT' | translate}}</div>
                </div>
              </md-input-container>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-sm-12 mb-sm pl0" style="padding-right: 82px;">
        <hr class="dashed"/>
      </div>
      <div class="row mr0 ml0 mb-lg">
        <div class="form-title pull-left">{{'passwordProfile.passwordHistory.TITLE' | translate}}</div>
        <div class="pull-left ml-lg">
          <div class="md-switch2">
            <label class="form-title">
              <input
                type="checkbox"
                ng-model="PwdCtrl.profile.enable_password_history"
                ng-change="PwdCtrl.showPasswordHistoryStatus()"
                ng-disabled="!isUpdatePasswordProfileAuthorized"
              />
              <span class="toggle"></span>
            </label>
            <label ng-bind-html="PwdCtrl.passwordHistoryStatus"></label>
          </div>
        </div>
      </div>
      <div>
        <div class="row ml0 mr0">
          <div class="col-sm-6 p0">
            <div class="col-xl-4 col-lg-6 col-md-7 col-sm-8 pr0">
              <label
                class="mr-lg text-muted"
              >{{'passwordProfile.passwordHistory.NUM_PASSWORD_HISTORY' | translate}}
              </label>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4" style="margin-top: -30px">
              <md-input-container class="md-block mb0" flex-gt-sm>
                <input
                  name="password_keep_history_count"
                  type="text"
                  maxLength="2"
                  ng-disabled="!isUpdatePasswordProfileAuthorized || !PwdCtrl.profile.enable_password_history"
                  ng-model="PwdCtrl.profile.password_keep_history_count"
                  ng-keydown="PwdCtrl.suppressNonNumber($event)"
                  ng-keyup="PwdCtrl.checkNumbersSum('password_keep_history_count')"
                  required
                />
                <div ng-messages="PwdCtrl.profileForm.password_keep_history_count.$error" ng-show="PwdCtrl.profileForm.password_keep_history_count.$dirty">
                  <div ng-message="required">{{'general.REQUIRED_SHORT' | translate}}</div>
                </div>
              </md-input-container>
            </div>
          </div>
        </div>
      </div>
      <div class="row ml0 mr0 mt">
        <div class="pull-left ml">
          <span class="text-danger" ng-if="!isNumbersValid">{{'passwordProfile.msg.NUM_ERR' | translate}}</span>
        </div>
        <button
          type="submit"
          class="btn btn-primary btn-xs pull-right"
          ng-if="isUpdatePasswordProfileAuthorized"
          ng-disabled="!PwdCtrl.profileForm.$dirty || !isNumbersValid || PwdCtrl.profileForm.$invalid"
          ng-click="PwdCtrl.setPwdProfile()"
        >{{'setting.SUBMIT' | translate}}
        </button>
      </div>
    </div>
  </form>
</div>
