<div ng-controller="PlatformController">
  <div class="clearfix">
    <div>
      <div class="pull-right mt-sm" ng-click="refresh()">
        <em class="fa fa-refresh text-action"></em>
        <label class="text-gray-label hand"
          >{{'general.REFRESH' | translate}}</label
        >
      </div>
      <div
        class="pull-right mt-sm mr-lg"
        ng-if="(active===0 && !containersErr && containers.length>0)
        || (active===1 && !nodesErr && hosts.length>0) || (active===2 && !platformsErr && platforms.length>0)"
      >
        <div class="md-switch2">
          <label class="text-gray-label">
            <input
              type="checkbox"
              ng-model="scanConfig.auto_scan"
              display-control="runtime_scan"
              ng-change="configAutoScan(scanConfig)"
            />
            <span class="toggle mr-sm"></span>
            {{'scan.AUTO' | translate}}
          </label>
          <a>
            <em
              class="icon-info text-gray-label"
              uib-tooltip-template="'tooltipTemplate.html'"
              tooltip-placement="bottom"
            ></em>
          </a>
        </div>
      </div>
    </div>
    <div class="content-title">{{'scan.PLATFORM' | translate}}</div>
  </div>

  <div class="panel mb0">
    <div class="panel-body pb">
      <div class="clearfix">
        <label class="text-primary" ng-show="!platformsErr">{{count}} </label>
        <div class="left-inner-addon pull-right mb-sm">
          <em class="fa fa-filter text-filter"></em>
          <input
            class="search form-control"
            placeholder="{{'general.FILTER' | translate}}"
            type="text"
            maxlength="{{'general.FILTER_MAX_LEN' | translate}}"
            ng-model="search"
            ng-paste="onFilterChanged(search)"
            ng-keyup="onFilterChanged(search)"
          />
        </div>
        <div class="pull-right mr" style="margin-top: 2px;">
          <button
            type="button"
            style="padding: 3px 3px;"
            class="btn btn-default pull-right ph"
            ng-disabled="disableScan"
            ng-show="!platformsErr && platforms.length>0"
            display-control="runtime_scan"
            ng-click="scan()"
          >
            {{'scan.SCAN' | translate}}
          </button>
        </div>
      </div>
      <div class="mb-lg">
        <div
          ag-grid="gridOptions"
          class="ag-grid"
          style="width: 100%;"
          ng-style="{ height: gridHeight + 'px'}"
        ></div>
      </div>
    </div>
  </div>
  <div class="text-center panel-divider">
    <em class="fa fa-align-justify text-muted" aria-hidden="true" ng-mousedown="grabResizeBar($event)"></em>
  </div>
  <div class="panel mb0" ng-show="!platformsErr && platforms.length > 0">
    <div class="panel-body">
      <md-content class="pb0">
        <div class="clearfix mv-sm">
          <label
            ng-if="selectedPlatform.scanner_version"
            class="pull-left text-primary mt-sm"
          >
            {{'audit.gridHeader.CVE_DB_VERSION' | translate}}:&nbsp;
            {{selectedPlatform.scanner_version}}&nbsp;&nbsp;
            <em
              ng-if="selectedPlatform.cvedb_create_time"
              class="fa fa-info-circle"
              uib-tooltip="{{'registry.CVE_DB_DATE' | translate}}: {{selectedPlatform.cvedb_create_time | date:'MMM dd, y HH:mm:ss'}}"
            >
            </em>
          </label>
          <div class="left-inner-addon pull-right">
            <em class="fa fa-filter text-filter"></em>
            <input
              class="search form-control"
              placeholder="{{'general.FILTER' | translate}}"
              type="text"
              maxlength="{{'general.FILTER_MAX_LEN' | translate}}"
              ng-model="searchCve"
              ng-paste="onCveFilterChanged(searchCve)"
              ng-keyup="onCveFilterChanged(searchCve)"
            />
          </div>
          <!--<div class="pull-right mr" style="margin-top: 2px;">
            <button
              type="button"
              style="padding: 3px 3px;"
              class="btn btn-default pull-right"
              ng-disabled="disableScan"
              ng-show="!platformsErr && platforms.length>0"
              display-control="runtime_scan"
              ng-click="scan()"
            >
              <em class="fa fa-search mr-sm"></em>{{'scan.SCAN' | translate}}
            </button>
          </div>-->
          <div class="pull-right mr" ng-if="isVulsAuthorized">
            <div uib-dropdown dropdown-append-to-body class="mt-sm">
              <div uib-dropdown-toggle>
                <div>
                  <label class="text-gray-label hand">{{'network.SETTING' | translate}}</label>
                  <em class="fa fa-caret-down text-action"/>
                </div>
              </div>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li role="menuitem" ng-if="isVulsAuthorized">
                  <a ng-click="toggleShowingAcceptedVuls(isShowingAccepted)">
                    <em class="fa mr-sm" ng-class="{'fa-eye': !isShowingAccepted, 'fa-eye-slash': isShowingAccepted}"></em>
                    {{ isShowingAccepted ? 'enum.HIDE_ACCEPTED_VULS' : 'enum.SHOW_ACCEPTED_VULS' | translate}}
                  </a>
                </li>
                <li role="menuitem" ng-if="cve && !isAccepted && isWriteVulsAuthorized">
                  <a ng-click="acceptVulnerability($event, cve)">
                    <em class="fa fa-check mr"></em>{{ 'cveProfile.ACCEPT_VUL' | translate}}
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- <div class="pull-right mr" style="margin-top: 2px;" display-control="vuls_profile" ng-show="!isSimpleButton">
            <button
              type="button"
              style="padding: 3px 3px;"
              class="btn btn-default pull-right"
              ng-click="toggleShowingAcceptedVuls(isShowingAccepted)"
            >
              <em class="fa mr-sm" ng-class="{'fa-eye': !isShowingAccepted, 'fa-eye-slash': isShowingAccepted}"></em>
              {{ isShowingAccepted ? 'enum.HIDE_ACCEPTED_VULS' : 'enum.SHOW_ACCEPTED_VULS' | translate}}
            </button>
          </div>
          <div
            class="pull-right mr mt-sm text-muted hand" display-control="vuls_profile" ng-show="isSimpleButton"
            ng-click="toggleShowingAcceptedVuls(isShowingAccepted)"
          >
            <em class="fa" uib-tooltip="{{ isShowingAccepted ? 'enum.HIDE_ACCEPTED_VULS' : 'enum.SHOW_ACCEPTED_VULS' | translate }}"
              ng-class="{'fa-eye': !isShowingAccepted, 'fa-eye-slash': isShowingAccepted}"
              ></em>
          </div>
          <div class="pull-right mr" style="margin-top: 2px;" ng-show="cve && !isAccepted && !isSimpleButton" display-control="write_vuls_profile">
            <button
              type="button"
              style="padding: 3px 3px;"
              class="btn btn-default pull-right"
              ng-click="acceptVulnerability($event, cve)"
            >
              <em class="fa fa-check-square-o mr-sm"></em>{{ 'cveProfile.ACCEPT' | translate}}
            </button>
          </div>
          <div role="button"  ng-show="cve && !isAccepted && isSimpleButton" display-control="write_vuls_profile"
            class="pull-right text-muted mr mt-sm"
            ng-click="acceptVulnerability($event, cve)"
          >
            <em class="fa fa-check-square-o" uib-tooltip="{{ 'cveProfile.ACCEPT' | translate }}"></em>
          </div> -->
          <div
            class="pull-right mr-lg mt-sm"
            ng-show="vulnerabilities.length"
            ng-click="exportCvs()"
          >
            <em
              class="fa fa-file-excel-o xls-color hand"
              style="margin-left:10px;"
            ></em>
            <span class="text-gray-label link">CSV</span>
          </div>
        </div>
        <div
          ag-grid="cveGridOptions"
          class="ag-grid mb0 pt"
          style="width: 100%;"
          ng-style="{height: (detailViewHeight - 40) + 'px'}"
        ></div>
      </md-content>
    </div>
  </div>

  <div id="cve" class="dataBox middleLeft pl-sm" ng-show="onCVE">
    <em class="fa fa-times pull-right pr-sm pt-sm" ng-click="onCVE=false"></em>
    <h4>
      {{cveName}}
      <a ng-href="{{cveLink}}" target="_blank" ng-if="cveLink"
        ><em class="fa fa-external-link"></em
      ></a>
    </h4>
    <blockquote style="font-size: 13px;">
      <p>{{cveDescription}}</p>
    </blockquote>
  </div>

  <div
    class="dataBox pt0"
    style="right: 320px; top: 60px;"
    ng-show="onEdit"
    ng-cloak
  >
    <button
      class="btn btn-xs btn-link pull-right mt-sm"
      ng-click="onEdit=!onEdit"
    >
      <em class="fa fa-times fa-lg text-muted"></em>
    </button>
    <h4 class="text-muted">
      Customize regulation for {{domain.name}}
    </h4>
    <label class="text-primary mt-lg">Apply regulations</label>
    <div class="" style="width: 450px;" layout="row" layout-align="start ">
      <div
        ng-repeat="tag in availableTags"
        class="label label-fs mr-xl animatedF fadeInUp"
        ng-class="getLabelClass(tag)"
      >
        &#8942;&#8942;&nbsp;&nbsp;{{tag}}
        <em class="fa fa-plus ml-lg" ng-click="addTag(tag)"></em>
      </div>
    </div>
    <label class="text-primary mt-lg">Current regulations</label>
    <div class="" style="width: 450px;" layout="row" layout-align="start">
      <div
        ng-repeat="tag in tags"
        class="label label-fs mr-xl animatedF fadeInDown"
        ng-class="getLabelClass(tag)"
      >
        &#8942;&#8942;&nbsp;&nbsp;{{tag}}
        <em class="fa fa-times ml-lg" ng-click="removeTag(tag)"></em>
      </div>
      <div class="text-muted" ng-show="!tags.length">
        Add regulations
      </div>
    </div>
    <div class="mt-lg" layout="row" layout-align="end">
      <button
        ng-click="save(domain)"
        type="button"
        style="padding: 3px 30px;"
        class="btn btn-default btn-wide mr"
      >
        Ok
      </button>
    </div>
  </div>

  <script type="text/ng-template" id="tooltipTemplate.html">
    <div >
      {{'scan.AUTO_TIP' | translate}}
    </div>
  </script>
</div>
