<div ng-controller="ProfileController">
  <div class="clearfix">
    <div>
      <div class="pull-right" ng-click="openEdit()">
        <em
          class="fa fa-edit text-action fa-lg mt-sm"
          ng-class="{onEdit: editMode}"
        />
        <label class="text-gray-label mt-sm hand"
          >{{'profile.EDIT' | translate}}
        </label>
      </div>
    </div>
    <div class="content-title">
      {{'profile.TITLE' | translate}}
    </div>
  </div>
  <div class="panel" ng-class="{onEdit: editMode}">
    <form name="profileForm" novalidate="" class="form-validate">
      <div class="panel-body">
        <div style="height: 100px">
          <img
            ng-src="{{getAvatar()}}"
            alt="{{user.username}}"
            ng-class="{'remote-user-icon-profile': user.server}"
            class="img-thumbnail img-circle profile"
          />
        </div>

        <div class="col-sm-4 col-sm-offset-2">
          <md-input-container class="md-block mr-xl nv-container">
            <label>{{'profile.USER_NAME' | translate}}</label>
            <md-icon>
              <div class="circle-icon">
                <em class="fa fa-user-o text-primary fa-lg " />
              </div>
            </md-icon>
            <input disabled="" ng-model="user.username" required />
          </md-input-container>
        </div>
        <div class="col-sm-4 ">
          <md-input-container class="md-block ml-xl nv-container">
            <label>{{'profile.EMAIL' | translate}}</label>
            <md-icon>
              <div class="circle-icon">
                <em class="fa fa-envelope-o text-primary fa-lg " />
              </div>
            </md-icon>
            <input
              ng-disabled="!editMode"
              type="email"
              ng-model="user.email"
              maxlength="{{'general.FILTER_MAX_LEN' | translate}}"
            />
          </md-input-container>
        </div>
        <div class="row m0">
          <div class="col-sm-4 col-sm-offset-2">
            <md-input-container class="md-block mr-xl nv-container">
              <label>{{'profile.ROLE' | translate}}</label>
              <md-icon>
                <div class="circle-icon">
                  <em class="fa fa-user-secret text-primary fa-lg" />
                </div>
              </md-icon>
              <input
                disabled=""
                type="text"
                value="{{user.role}}"
              />
            </md-input-container>
          </div>
          <div class="col-sm-4 ">
            <md-input-container
              class="md-block ml-xl nv-container-textarea mt-xl"
            >
              <label>{{'profile.TIMEOUT' | translate}}</label>
              <md-icon>
                <div class="circle-icon">
                  <em class="fa fa-hourglass-half text-primary fa-lg" />
                </div>
              </md-icon>
              <input
                name="timeout"
                ng-disabled="!editMode"
                type="text"
                pattern="\d*"
                maxlength="10"
                ng-model="user.timeout"
                ui-validate="'$value &gt;= 30 && $value &lt;=3600'"
              />
              <div ng-show="profileForm.timeout.$invalid" class="error-message">
                {{'profile.TIMEOUT_VALIDATION' | translate}}
              </div>
            </md-input-container>
          </div>
        </div>
        <div class="col-sm-4 col-sm-offset-2 pb-lg">
          <md-input-container class="md-block mr-xl nv-container">
            <label class="ml0" translate="{{'profile.LOCALE'}}"></label>
            <md-icon>
              <div class="circle-icon">
                <em class="fa fa-language text-primary fa-lg" />
              </div>
            </md-icon>
            <md-select
              class="ml0"
              ng-model="user.locale"
              ng-disabled="!editMode"
              style="width: 160px; max-width: 300px"
            >
              <md-option
                ng-repeat="(localeId, langName) in language.languageOptions"
                value="{{localeId}}"
                >{{langName}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        <div ng-if="isLocalUser">
          <hr class="solid" ng-show="editMode" />
          <div class="col-sm-4 col-sm-offset-2" ng-show="editMode">
            <md-input-container
              class="md-block mr-xl nv-container md-icon-right mt0"
            >
              <label>{{'profile.OLD_PASSWORD' | translate}}</label>
              <md-icon>
                <div class="circle-icon">
                  <em class="icon-key text-primary fa-lg" />
                </div>
              </md-icon>
              <input
                name="oldPassword"
                ng-disabled="!editMode"
                ng-trim="false"
                ng-attr-type="{{ showOldPassword ? 'text':'password'}}"
                ng-model="user.password"
                maxlength="{{'general.FILTER_MAX_LEN' | translate}}"
              />
              <md-icon
                ng-show="profileForm.oldPassword.$dirty"
                ng-click="showOldPassword=!showOldPassword"
                class="mt-lg"
                ng-class="showOldPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"
                style="cursor: pointer; pointer-events: all;"
              >
              </md-icon>
            </md-input-container>
          </div>

          <div class="col-sm-4" ng-if="editMode">
            <md-input-container
              class="md-block ml-xl nv-container md-icon-right mt0"
            >
              <label>{{'profile.PASSWORD' | translate}}</label>
              <md-icon>
                <div class="circle-icon">
                  <em class="icon-key text-primary fa-lg" />
                </div>
              </md-icon>
              <input
                ng-disabled="!editMode"
                name="password"
                ng-trim="false"
                ng-attr-type="{{ showPassword ? 'text':'password'}}"
                ng-model="user.new_password"
                ng-keyup="checkPassword(user.new_password)"
                maxlength="{{'general.FILTER_MAX_LEN' | translate}}"
              />
              <md-icon
                ng-show="profileForm.password.$dirty"
                ng-click="showPassword=!showPassword"
                class="mt-lg"
                ng-class="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"
                style="cursor: pointer; pointer-events: all;"
              >
              </md-icon>
              <div
                ng-messages="profileForm.password.$error"
                ng-show="profileForm.password.$touched"
              >
                <div ng-message="minlength">
                  {{'user.PASSWORD_TOO_SHORT' | translate}}
                </div>
              </div>
            </md-input-container>
          </div>
          <div class="col-sm-4 col-sm-offset-2 mt-lg" ng-show="editMode">
            <small class="text-muted mr-xl">
              {{'profile.PASSWORD_HINT' | translate}}</small
            >
          </div>
          <div class="col-sm-4" ng-if="editMode">
            <md-input-container class="md-block ml-xl nv-container">
              <label>{{'profile.CONFIRM_PASSWORD' | translate}}</label>
              <md-icon>
                <div class="circle-icon">
                  <em class="icon-key text-primary fa-lg" />
                </div>
              </md-icon>
              <input
                ng-disabled="!editMode"
                type="password"
                name="confirm_match"
                ng-trim="false"
                ng-model="passwordMatch"
                ui-validate="'$value==user.new_password'"
                maxlength="{{'general.FILTER_MAX_LEN' | translate}}"
                ui-validate-watch="'user.new_password'"
              />
              <div
                ng-messages="profileForm.password.$error"
                ng-show="profileForm.confirm_match.$touched"
              >
                <span
                  ng-show="profileForm.confirm_match.$error.validator"
                  class="text-danger"
                >
                  {{'profile.PASSWORD_ALERT' | translate}}</span
                >
              </div>
            </md-input-container>
          </div>
          <div class="col-sm-8 col-sm-offset-2" ng-show="editMode" ng-if="!isPasswordValid">
            <div class="col-sm-6" ng-if="passwordProfile.min_len > 0">
              <em class="fa" ng-class="{'fa-check text-success-tran': isReachingMinLength, 'fa-times text-danger pl-xs': !isReachingMinLength}"></em>
              <span class="pl-lg" ng-class="{'text-light-grey': isReachingMinLength, 'text-dark': !isReachingMinLength}">{{minLengthTxt}}</span>
            </div>
            <div class="col-sm-6" ng-if="passwordProfile.min_uppercase_count > 0">
              <em class="fa" ng-class="{'fa-check text-success-tran': isCharReqValid.isReachingMinUpper, 'fa-times text-danger pl-xs': !isCharReqValid.isReachingMinUpper}"></em>
              <span class="pl-lg" ng-class="{'text-light-grey': isCharReqValid.isReachingMinUpper, 'text-dark': !isCharReqValid.isReachingMinUpper}">{{minUpperTxt}}</span>
            </div>
            <div class="col-sm-6" ng-if="passwordProfile.min_lowercase_count > 0">
              <em class="fa" ng-class="{'fa-check text-success-tran': isCharReqValid.isReachingMinLower, 'fa-times text-danger pl-xs': !isCharReqValid.isReachingMinLower}"></em>
              <span class="pl-lg" ng-class="{'text-light-grey': isCharReqValid.isReachingMinLower, 'text-dark': !isCharReqValid.isReachingMinLower}">{{minLowerTxt}}</span>
            </div>
            <div class="col-sm-6" ng-if="passwordProfile.min_digit_count > 0">
              <em class="fa" ng-class="{'fa-check text-success-tran': isCharReqValid.isReachingMinDigit, 'fa-times text-danger pl-xs': !isCharReqValid.isReachingMinDigit}"></em>
              <span class="pl-lg" ng-class="{'text-light-grey': isCharReqValid.isReachingMinDigit, 'text-dark': !isCharReqValid.isReachingMinDigit}">{{minDigitTxt}}</span>
            </div>
            <div class="col-sm-12" ng-if="passwordProfile.min_special_count > 0">
              <em class="fa" ng-class="{'fa-check text-success-tran': isCharReqValid.isReachingMinSpChar, 'fa-times text-danger pl-xs': !isCharReqValid.isReachingMinSpChar}"></em>
              <span class="pl-lg" ng-class="{'text-light-grey': isCharReqValid.isReachingMinSpChar, 'text-dark': !isCharReqValid.isReachingMinSpChar}">{{minSpCharTxt}}</span>
            </div>
          </div>
          <div class="col-sm-10 col-sm-offset-1 password-confirm-alert text-center" ng-show="editMode" ng-if="user.new_password && isPasswordValid && profileForm.confirm_match.$error.validator">
            {{"user.passwordRequirement.PASSWORD_SECURE" | translate}}
          </div>
          <div class="col-sm-10 col-sm-offset-1 password-success text-center" ng-show="editMode" ng-if="isPasswordValid && !profileForm.confirm_match.$error.validator">
            {{"user.passwordRequirement.ALL_SET" | translate}}
          </div>
        </div>
        <div class="col-sm-12">
          <div class="pull-right" ng-show="editMode">
            <md-button
              ng-disabled="profileForm.email.$invalid || profileForm.timeout.$invalid || !profileForm.$dirty || (user.password && (!user.new_password || (user.new_password && (!isPasswordValid || profileForm.$invalid))) || (profileForm.confirm_match.$touched && profileForm.confirm_match.$error.validator))"
              ng-click="updateProfile(user)"
              class="md-raised md-primary"
            >
              {{'profile.SUBMIT' | translate}}
            </md-button>
            <a ng-click="cancel()" class="nv-link">
              {{'profile.CANCEL' | translate}}
            </a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
