<div ng-controller="ServiceController as SvrCtrl" ng-cloak>
  <div class="clearfix">
    <div class="pull-right mt-sm" ng-click="refresh()">
      <em class="fa fa-refresh text-action"/>
      <label class="text-gray-label hand">{{'general.REFRESH' | translate}}</label>
    </div>
    <div class="pull-right mt-sm mr-lg"
         ng-click="hideSystemService = !hideSystemService; toggleSystemService(hideSystemService)">
      <em class="fa text-action" ng-class="hideSystemService ? 'fa-eye' : 'fa-eye-slash'"/>
      <label class="text-gray-label hand">{{hideSystemService ? 'service.SHOW_SYS_SERVICES' :
        'service.HIDE_SYS_SERVICES' | translate}}</label>
    </div>
    <div class="content-title">{{'sidebar.nav.SERVICES' | translate}}</div>
  </div>

  <div class="panel">
    <div class="panel-body">
      <div class="clearfix" ng-show="!serviceErr">
        <label class="text-primary">{{count}}</label>
      </div>
      <div class="clearfix">
        <div class="left-inner-addon pull-right ">
          <em class="fa fa-filter text-filter"></em>
          <input class="search form-control" placeholder="{{'general.FILTER' | translate}}"
                 type="text"
                 maxlength="{{'general.FILTER_MAX_LEN' | translate}}"
                 ng-model="search"
                 ng-paste="onFilterChanged(search)"
                 ng-keyup="onFilterChanged(search)"/>
        </div>
        <div class="pull-left mr-lg"
             ng-show="isSwitchModeAuthorized && !ServicesErr && hasSelectedService">
          <div uib-dropdown dropdown-append-to-body class="mt-sm">
            <div uib-dropdown-toggle>
              <div>
                <label class="text-gray-label">{{'service.SWITCH_MODE' | translate}}</label>
                <em class="fa fa-caret-down text-action" ng-click="toggleCollapse()"/>
              </div>
            </div>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
              <li role="menuitem">
                <a ng-click="switchServiceMode('Discover')">
                  <em class="fa fa-binoculars fa-fw text-discover mr-sm"/>{{'enum.DISCOVER' |
                  translate}}
                </a>
              </li>
              <li role="menuitem">
                <a ng-click="switchServiceMode('Monitor')">
                  <em class="fa fa-bell fa-fw text-monitor mr-sm"/>{{'enum.MONITOR' | translate}}
                </a>
              </li>
              <li class="menuitem">
                <a type="button" ng-click="switchServiceMode('Protect')">
                  <em class="fa fa-shield fa-fw text-protect mr-sm"/>{{'enum.PROTECT' | translate}}
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="pull-left mr-lg" style="margin-top: 5px;"
             ng-show="isSwitchModeAuthorized && !ServicesErr && hasSelectedService">
          <em class="fa fa-hand-o-left fa-lg hightlight-hand"></em>
        </div>

      </div>
      <div ag-grid="gridService" class="ag-grid" style="width: 100%; margin-top: 10px"
           ng-style="{ height: serviceGridHeight + 'px'}"></div>
    </div>
  </div>

  <div class="panel mb0" ng-if="hasService">
    <div class="panel-body">
      <md-tabs md-no-ink md-dynamic-height="" md-border-bottom
               md-selected="SvrCtrl.selectedIndex" class="ph0">
        <div class="clearfix">
          <div class="pull-right mr-lg" style="margin-top: 4px"
               ng-if="isWriteRuleAuthorized && SvrCtrl.selectedIndex===0"
               ng-show="profile.length && profileEntry"
               ng-click="editProfile(profileEntry)">
            <em class="fa fa-lg fa-edit text-action mr-sm"/>
          </div>
          <div class="pull-right mr-lg" style="margin-top: 4px"
               ng-if="isWriteRuleAuthorized && SvrCtrl.selectedIndex===0"
               ng-show="profile.length && profileEntry"
               ng-click="removeProfile(profileEntry)">
            <em class="fa fa-lg fa-trash text-action mr-sm"/>
          </div>
          <div class="pull-right mr-lg" style="margin-top: 4px"
               ng-if="isWriteRuleAuthorized && SvrCtrl.selectedIndex===0"
               ng-click="addProfile()">
            <em class="fa fa-lg fa-plus text-action mr-sm"/>
          </div>

          <div class="pull-right mr-lg" style="margin-top: 4px"
               ng-if="isWriteRuleAuthorized && SvrCtrl.selectedIndex===1"
               ng-show="fileProfile.length && fileEntry"
               ng-click="editFilter(filter)">
            <em class="fa fa-lg fa-edit text-action mr-sm"/>
          </div>
          <div class="pull-right mr-lg" style="margin-top: 4px"
               ng-if="isWriteRuleAuthorized && SvrCtrl.selectedIndex===1"
               ng-show="fileProfile.length && fileEntry"
               ng-click="removeFilter(fileEntry)">
            <em class="fa fa-lg fa-trash text-action mr-sm"/>
          </div>
          <div class="pull-right mr-lg" style="margin-top: 4px"
               ng-if="isWriteRuleAuthorized && SvrCtrl.selectedIndex===1"
               ng-click="addFilter()">
            <em class="fa fa-lg fa-plus text-action mr-sm"/>
          </div>
          <div class="pull-right mr-lg" style="margin-top: 4px"
               ng-if="SvrCtrl.selectedIndex===1"
               ng-click="showPredefinedFilters()">
            <em class="fa fa-info-circle text-action"/>
            <label class="text-gray-label hand">
              {{'service.PREDEFINED_FILTERS' | translate}}</label>
          </div>

        </div>
        <md-tab label="{{'service.PROCESS_PROFILE' | translate}}"
                ng-click="getProcessProfile(service.name)">
          <md-content class="pb0">
            <div class="mt-sm mb0">
              <div ag-grid="gridProfile" class="ag-grid" style="width: 100%;"
                   ng-style="{ height: ruleGridHeight + 'px'}">
              </div>
            </div>
          </md-content>
        </md-tab>
        <md-tab label="{{'service.FILE_PROFILE' | translate}}"
                ng-click="getFileProfile(service.name)">
          <md-content class="pb0">
            <div class="mt-sm mb0">
              <div ag-grid="gridFile" class="ag-grid" style="width: 100%;"
                   ng-style="{ height: ruleGridHeight + 'px'}">
              </div>
            </div>
          </md-content>
        </md-tab>
        <md-tab label="{{'service.POLICY_RULES' | translate}}"
                ng-click="getServiceRules(service.name)">
          <md-content class="pb0">
            <div class="mt-sm mb0">
              <div ag-grid="gridRules" class="ag-grid" style="width: 100%;"
                   ng-style="{ height: ruleGridHeight + 'px'}">
              </div>
            </div>
          </md-content>
        </md-tab>
      </md-tabs>
    </div>
  </div>

  <div id="predefinedFilter" class="dataBox middleRight longBoxLimited pl-sm"
       ng-show="onPredefinedFilterView">
    <button class="btn btn-xs btn-link pull-right" ng-click="onPredefinedFilterView=false">
      <em class="fa fa-times fa-lg text-muted"></em>
    </button>
    <h4>{{'service.PREDEFINED_FILTERS_TITLE' | translate}}</h4>
    <div class="">
      <div ag-grid="gridFilePre" class="ag-grid" style="width: 700px; height: 295px;">
      </div>
    </div>
  </div>

  <script type="text/ng-template" id="modeTemplate.html">
    <dl class="dl">
      <dt><em class="fa fa-binoculars text-info mr-sm"></em>{{'topbar.mode.LEARNING' | translate}}
      </dt>
      <dd translate="{{'topbar.tip.LEARNING'}}"></dd>
      <dt><em class="fa fa-bell text-primary mr-sm"></em>{{'topbar.mode.EVALUATION' | translate}}
      </dt>
      <dd translate="{{'topbar.tip.EVALUATING'}}"></dd>
      <dt><em class="fa fa-shield text-green mr-sm"></em>{{'topbar.mode.ENFORCE' | translate}}</dt>
      <dd translate="{{'topbar.tip.ENFORCING'}}"></dd>
    </dl>
  </script>

  <script type="text/ng-template" id="profile.add.html">
    <md-dialog aria-label="Add profile rule">
      <form name="profileForm" novalidate="" class="form-validate">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2 class="text-dark">{{'service.ADD_RULE' | translate}}</h2>
            <span flex/>
            <md-button class="md-icon-button" ng-click="cancel()">
              <md-icon md-svg-src="app/img/icons/ic_close_24px.svg" aria-label="Close dialog"/>
            </md-button>
          </div>
        </md-toolbar>
        <md-dialog-content>
          <div class="mt-sm">
            <div class="col-sm-6">
              <md-input-container class="md-block mb0">
                <label>{{'service.gridHeader.NAME' | translate}}</label>
                <input ng-model="rule.name" maxlength="{{'general.FILTER_MAX_LEN' | translate}}"
                       required/>
              </md-input-container>
            </div>
            <div class="col-sm-6">
              <md-input-container class="md-block mb0">
                <label>{{'service.gridHeader.PATH' | translate}}</label>
                <input ng-model="rule.path" maxlength="{{'general.FILTER_MAX_LEN' | translate}}"/>
              </md-input-container>
            </div>

            <div class="col-sm-6 mb0">
              <label class="nv-modal-item-title">{{'service.ALLOW_ALERT' | translate}}</label>
              <div>
                <div class="md-switch4" style="width: 100px;">
                  <label class="nv-modal-item-title">
                    <input type="checkbox" ng-model="rule.allowed" required>
                    <span class="toggle"></span>
                    <span ng-class="{'text-deny': !rule.allowed,'text-success': rule.allowed}">{{(rule.allowed ? "policy.action.ALLOW" : "policy.action.DENY") | translate}}</span>
                  </label>
                </div>
              </div>
            </div>

            <div class="col-sm-12 pb-sm">
              <button class="btn btn-wide btn-default pull-right"
                      ng-click="addProfile(rule)">
                <em class="fa fa-save mr-sm"></em>{{'policy.portlet.SUBMIT' | translate}}
              </button>
            </div>
          </div>
        </md-dialog-content>
      </form>
    </md-dialog>
  </script>

  <script type="text/ng-template" id="profile.edit.html">
    <md-dialog aria-label="Edit profile rule">
      <form name="profileEditForm" novalidate="" class="form-validate">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2 class="text-dark">{{'service.EDIT_RULE' | translate}}</h2>
            <span flex/>
            <md-button class="md-icon-button" ng-click="cancel()">
              <md-icon md-svg-src="app/img/icons/ic_close_24px.svg" aria-label="Close dialog"/>
            </md-button>
          </div>
        </md-toolbar>
        <md-dialog-content>
          <div class="mt-sm">
            <div class="col-sm-6">
              <md-input-container class="md-block mb0">
                <label>{{'service.gridHeader.NAME' | translate}}</label>
                <input disabled ng-model="rule.name"/>
              </md-input-container>
            </div>
            <div class="col-sm-6">
              <md-input-container class="md-block mb0">
                <label>{{'service.gridHeader.PATH' | translate}}</label>
                <input ng-model="rule.path" maxlength="{{'general.FILTER_MAX_LEN' | translate}}"/>
              </md-input-container>
            </div>

            <div class="col-sm-6 mb0">
              <label class="nv-modal-item-title">{{'service.ALLOW_ALERT' | translate}}</label>
              <div>
                <div class="md-switch4" style="width: 100px;">
                  <label class="nv-modal-item-title">
                    <input type="checkbox" ng-model="rule.allowed" required>
                    <span class="toggle"></span>
                    <span ng-class="{'text-deny': !rule.allowed,'text-success': rule.allowed}">{{(rule.allowed ? "policy.action.ALLOW" : "policy.action.DENY") | translate}}</span>
                  </label>
                </div>
              </div>
            </div>

            <div class="col-sm-12 pb-sm">
              <button class="btn btn-wide btn-default pull-right"
                      ng-click="updateProfile(rule)">
                <em class="fa fa-save mr-sm"></em>{{'policy.portlet.SUBMIT' | translate}}
              </button>
            </div>
          </div>
        </md-dialog-content>
      </form>
    </md-dialog>
  </script>

  <script type="text/ng-template" id="filter.add.html">
    <md-dialog aria-label="Add file monitor profile rule">
      <form name="fileForm" novalidate="" class="form-validate">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2 class="text-dark">{{'service.ADD_RULE' | translate}}</h2>
            <span flex/>
            <md-button class="md-icon-button" ng-click="cancel()">
              <md-icon md-svg-src="app/img/icons/ic_close_24px.svg" aria-label="Close dialog"/>
            </md-button>
          </div>
        </md-toolbar>
        <md-dialog-content>
          <div class="mt-sm">
            <div class="col-sm-4">
              <md-input-container class="md-block">
                <label>{{'service.gridHeader.FILTER' | translate}}</label>
                <input ng-model="rule.filter" style="min-width:200px;width:auto;"
                       maxlength="{{'general.FILTER_MAX_LEN' | translate}}"
                       ng-pattern="/^\/(\S)*/" required/>
              </md-input-container>
            </div>

            <div class="col-sm-2">
              <md-input-container class="md-block">
                <md-checkbox class="md-primary" ng-model="rule.recursive">
                  {{'service.gridHeader.RECURSIVE' | translate}}
                </md-checkbox>
              </md-input-container>
            </div>

            <div class="col-sm-6 mb0" style="margin-top: 18px">
              <label class="nv-modal-item-title mr-sm">{{'service.ALLOW_ALERT' | translate}}</label>
              <div class="radio-inline c-radio mr-lg" ng-class="inputMaskDisabledClass">
                <label class="text-gray-label" ng-class="inputMaskDisabledClass">
                  <input type="radio" name="behavior" value="monitor_change"
                         ng-init="rule.behavior='monitor_change'"
                         ng-model="rule.behavior" required
                  />
                  <span class="fa fa-binoculars text-discover"
                        ng-class="inputMaskDisabledClass"></span>
                  {{'enum.MONITOR_CHANGE' | translate}}
                </label>
              </div>
              <div class="radio-inline c-radio pl-sm mr-lg" ng-class="inputMaskDisabledClass">
                <label class="text-gray-label" ng-class="inputMaskDisabledClass">
                  <input type="radio" name="behavior" value="block_access"
                         ng-model="rule.behavior" required
                  />
                  <span class="fa fa-shield text-protect" ng-class="inputMaskDisabledClass"></span>
                  {{'enum.BLOCK_ACCESS' | translate}}
                </label>
              </div>
            </div>

            <div class="col-sm-12 mb-sm mt-sm">
              <div class="form-group">
                <label class="col-sm-2 nv-modal-item-title control-label pl0"
                       style="padding-left: 36px;">
                  {{'service.gridHeader.APPLICATIONS' | translate}}
                  <div class="text-sm text-muted">{{'policy.addPolicy.APP_TIP' | translate}}</div>
                </label>
                <div class="col-sm-10  pr0">
                  <tags-input ng-model="rule.apps"
                              placeholder="{{'policy.message.ADD_APP' | translate}}"
                              display-property="name" class="nv-input-text"
                              max-length="{{'general.FILTER_MAX_LEN' | translate}}"
                              min-length="2">
                  </tags-input>
                </div>
              </div>
            </div>

            <div class="col-sm-12 pb-sm">
              <button class="btn btn-wide btn-default pull-right"
                      ng-disabled="fileForm.$invalid || !fileForm.$dirty"
                      ng-click="addFilter(rule)" >
                <em class="fa fa-save mr-sm"></em>{{'policy.portlet.SUBMIT' | translate}}
              </button>
            </div>

          </div>
        </md-dialog-content>
      </form>
    </md-dialog>
  </script>

  <script type="text/ng-template" id="filter.edit.html">
    <md-dialog aria-label="Edit file profile rule">
      <form name="fileEditForm" novalidate="" class="form-validate">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2 class="text-dark">{{'service.EDIT_RULE' | translate}}</h2>
            <span flex/>
            <md-button class="md-icon-button" ng-click="cancel()">
              <md-icon md-svg-src="app/img/icons/ic_close_24px.svg" aria-label="Close dialog"/>
            </md-button>
          </div>
        </md-toolbar>
        <md-dialog-content>
          <div class="mt-sm">
            <div class="col-sm-4">
              <md-input-container class="md-block">
                <label>{{'service.gridHeader.FILTER' | translate}}</label>
                <input ng-model="rule.filter" style="min-width:200px;width:auto;"
                       disabled/>
              </md-input-container>
            </div>

            <div class="col-sm-2">
              <md-input-container class="md-block mb0">
                <md-checkbox class="md-primary" ng-model="rule.recursive">
                  {{'service.gridHeader.RECURSIVE' | translate}}
                </md-checkbox>
              </md-input-container>
            </div>

            <div class="col-sm-6 mb0" style="margin-top: 18px">
              <label class="nv-modal-item-title mr-sm">{{'service.ALLOW_ALERT' | translate}}</label>
              <div class="radio-inline c-radio mr-lg" ng-class="inputMaskDisabledClass">
                <label class="text-gray-label" ng-class="inputMaskDisabledClass">
                  <input type="radio" name="behavior" value="monitor_change"
                         ng-model="rule.behavior" required
                  />
                  <span class="fa fa-binoculars text-discover"
                        ng-class="inputMaskDisabledClass"></span>
                  {{'enum.MONITOR_CHANGE' | translate}}
                </label>
              </div>
              <div class="radio-inline c-radio pl-sm mr-lg" ng-class="inputMaskDisabledClass">
                <label class="text-gray-label" ng-class="inputMaskDisabledClass">
                  <input type="radio" name="behavior" value="block_access"
                         ng-model="rule.behavior" required
                  />
                  <span class="fa fa-shield text-protect" ng-class="inputMaskDisabledClass"></span>
                  {{'enum.BLOCK_ACCESS' | translate}}
                </label>
              </div>
            </div>

            <div class="col-sm-12 mb-sm mt-sm">
              <div class="form-group">
                <label class="col-sm-2 nv-modal-item-title control-label pl0"
                       style="padding-left: 36px;">
                  {{'service.gridHeader.APPLICATIONS' | translate}}
                  <div class="text-sm text-muted">{{'policy.addPolicy.APP_TIP' | translate}}</div>
                </label>
                <div class="col-sm-10  pr0">
                  <tags-input ng-model="rule.apps"
                              placeholder="{{'policy.message.ADD_APP' | translate}}"
                              display-property="name" class="nv-input-text"
                              max-length="{{'general.FILTER_MAX_LEN' | translate}}"
                              min-length="2">
                  </tags-input>
                </div>
              </div>
            </div>

            <div class="col-sm-12 pb-sm">
              <button class="btn btn-wide btn-default pull-right"
                      ng-disabled="fileEditForm.$invalid || !fileEditForm.$dirty"
                      ng-click="updateFilter(rule)">
                <em class="fa fa-save mr-sm"></em>{{'policy.portlet.SUBMIT' | translate}}
              </button>
            </div>
          </div>
        </md-dialog-content>
      </form>
    </md-dialog>
  </script>

</div>
