<div ng-controller="settingsHomeController">
  <div class="settings-title">{{'enum.SETTINGS' | translate}}</div>
  <div ng-if="!isRemote" class="panel settings-panel" >
    <div class="visible-lg panel-body settings-feature-section">
      <div class="row">
        <div class="col-sm-4">
          <settings-widget submenu="license"></settings-widget>
        </div>
        <div class="col-sm-4">
          <settings-widget submenu="users"></settings-widget>
        </div>
        <div class="col-sm-4">
          <settings-widget submenu="configuration"></settings-widget>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <settings-widget submenu="ldapSettings"></settings-widget>
        </div>
        <div class="col-sm-4">
          <settings-widget submenu="samlSettings"></settings-widget>
        </div>
        <div class="col-sm-4">
          <settings-widget submenu="openid"></settings-widget>
        </div>
      </div>
    </div>
    <div class="visible-md visible-sm visible-xs panel-body settings-feature-section">
      <div class="row ">
        <div class="col-sm-6">
          <settings-widget submenu="license"></settings-widget>
        </div>
        <div class="col-sm-6">
          <settings-widget submenu="users"></settings-widget>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <settings-widget submenu="configuration"></settings-widget>
        </div>
        <div class="col-sm-6">
          <settings-widget submenu="ldapSettings"></settings-widget>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <settings-widget submenu="samlSettings"></settings-widget>
        </div>
        <div class="col-sm-6">
          <settings-widget submenu="openid"></settings-widget>
        </div>
      </div>
    </div>
    <div class="visible-md visible-sm visible-xs panel-body panel-body external-resource-section">
      <div class=""></div>
    </div>
  </div>
  <div ng-if="isRemote" class="panel settings-panel">
    <div class="panel-body settings-feature-section">
      <div class="row ">
        <div class="col-sm-6">
          <settings-widget submenu="license"></settings-widget>
        </div>
        <div class="col-sm-6">
          <settings-widget submenu="users"></settings-widget>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <settings-widget submenu="configuration"></settings-widget>
        </div>
        <div class="col-sm-6">
          <settings-widget submenu="ldapSettings"></settings-widget>
        </div>
      </div>
    </div>
  </div>
</div>
