<div
  ng-controller="SystemSettingController as sysCtrl"
  nv-file-drop
  uploader="sysCtrl.uploader"
  filters="queueLimit, customFilter"
>
  <div class="content-title">
    <a href="#/app/settings">{{'sidebar.nav.SETTING' | translate}}</a>
    &nbsp;>&nbsp;&nbsp;{{'sidebar.nav.CONFIGURATION' | translate}}
  </div>

  <div class="panel">
    <div class="panel-body">
      <form name="sysCtrl.configForm2" novalidate>
        <div ng-show="isOpenShift" class="col-sm-12 mt-lg mb-sm pl0">
          <div class="col-sm-8">
            <div class="md-switch2">
              <label class="form-title">
                {{'setting.AUTH_BY_OPENSHIFT' | translate}}
                <input
                  type="checkbox"
                  ng-model="sysCtrl.config.authByOpenshift.enabled"
                  ng-change="sysCtrl.showOpenShiftStatus()"
                  ng-disabled="!isAuthenticateRBACAuthorized"
                />
                <span class="toggle"></span>
              </label>
              <label ng-bind-html="sysCtrl.openShiftStatus"></label>
            </div>
          </div>
        </div>
        <div ng-show="isOpenShift" class="col-sm-12 mb-sm sub-line">
          <hr class="dashed"/>
        </div>

        <div class="form-group">
          <div class="col-sm-12 mb-lg">
            <div class="form-title">{{'setting.NEW_SERVICE' | translate}}</div>
          </div>
          <div class="col-sm-12">
            <div class="col-sm-10">
              <div class="pull-left" style="width: 240px; margin-right: 4px;">
                <div
                  class="radio-inline c-radio mr-lg"
                  ng-class="inputMaskDisabledClass"
                >
                  <label
                    class="text-gray-label"
                    ng-class="inputMaskDisabledClass"
                  >
                    <input
                      type="radio"
                      name="mode"
                      value="Discover"
                      ng-model="sysCtrl.config.newServiceMode"
                      ng-if="isNewServiceModeAuthorized"
                      ng-change="sysCtrl.changeFieldValue()"
                      ng-disabled="!isNewServiceModeAuthorized"
                    />
                    <span
                      class="fa fa-binoculars text-discover"
                      ng-class="inputMaskDisabledClass"
                    />{{'topbar.mode.LEARNING' | translate}}
                  </label>
                </div>
                <div
                  class="radio-inline c-radio pl-sm mr-lg"
                  ng-class="inputMaskDisabledClass"
                >
                  <label
                    class="text-gray-label"
                    ng-class="inputMaskDisabledClass"
                  >
                    <input
                      type="radio"
                      name="mode"
                      value="Monitor"
                      ng-model="sysCtrl.config.newServiceMode"
                      ng-if="isNewServiceModeAuthorized"
                      ng-change="sysCtrl.changeFieldValue()"
                      ng-disabled="!isNewServiceModeAuthorized"
                    />
                    <span
                      class="fa fa-bell text-monitor"
                      ng-class="inputMaskDisabledClass"
                    />{{'topbar.mode.EVALUATION' | translate}}
                  </label>
                </div>
                <div
                  class="radio-inline c-radio pl-sm"
                  ng-class="inputMaskDisabledClass"
                >
                  <label
                    class="text-gray-label"
                    ng-class="inputMaskDisabledClass"
                  >
                    <input
                      type="radio"
                      name="mode"
                      value="Protect"
                      ng-model="sysCtrl.config.newServiceMode"
                      ng-if="isNewServiceModeAuthorized"
                      ng-change="sysCtrl.changeFieldValue()"
                      ng-disalbed="!isNewServiceModeAuthorized"
                    />
                    <span
                      class="fa fa-shield text-protect"
                      ng-class="inputMaskDisabledClass"
                    />{{'topbar.mode.ENFORCE' | translate}}
                  </label>
                </div>
              </div>
              <div class="text-muted text-sm mb ml-lg pull-left">
                {{'setting.NEW_SERVICE_COMMENT' | translate}}
              </div>
            </div>
            <div class="col-sm-12 mt-lg">
              <div
                class="radio-inline c-radio pl-sm md-switch2 pull-left ml-lg mb" style="width: 240px;"
                ng-class="inputMaskDisabledClass"
              >
                <label class="text-gray-label">
                  {{'audit.gridHeader.ZERO_DRIFT' | translate}}
                  <input
                    type="checkbox"
                    ng-model="sysCtrl.config.newServiceProfileBaseline"
                    ng-disabled="!isNewServiceModeAuthorized"
                    ng-true-value="'zero-drift'"
                    ng-false-value="'basic'"
                    ng-click="sysCtrl.changeFieldValue()"
                  />
                  <span class="toggle hand" ng-disabled="!isNewServiceModeAuthorized"></span>
                </label>
              </div>
              <div class="text-muted text-sm mb pull-left">
                {{'setting.ZERODRIFT_COMMENT' | translate}}
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 mb-sm sub-line">
          <hr class="dashed"/>
        </div>

        <div class="form-group">
          <div class="col-sm-12 mb-lg md-switch2">
            <label class="form-title">
              {{'setting.NET_SERVICE_POLICY_MODE' | translate}}
              <input
                type="checkbox"
                ng-model="sysCtrl.config.netServiceStatus"
                ng-if="isNewServiceModeAuthorized"
                ng-change="sysCtrl.changeFieldValue()"
              />
              <span class="toggle" style="margin-left: 3px;" ng-if="isRegHttpProxyAuthorized"></span>
            </label>
          </div>
          <div class="col-sm-12 ">
            <div class="pull-left ml-lg mr-xl mb">
              <div
                class="radio-inline c-radio mr-lg"
                ng-class="inputMaskDisabledClass"
              >
                <label
                  class="text-gray-label"
                  ng-class="inputMaskDisabledClass"
                >
                  <input
                    type="radio"
                    name="netServiceMode"
                    value="Discover"
                    ng-model="sysCtrl.config.netServicePolicyMode"
                    ng-if="isNewServiceModeAuthorized"
                    ng-change="sysCtrl.changeFieldValue()"
                    ng-disabled="!isNewServiceModeAuthorized"
                  />
                  <span
                    class="fa fa-binoculars text-discover"
                    ng-class="inputMaskDisabledClass"
                  />{{'topbar.mode.LEARNING' | translate}}
                </label>
              </div>
              <div
                class="radio-inline c-radio pl-sm mr-lg"
                ng-class="inputMaskDisabledClass"
              >
                <label
                  class="text-gray-label"
                  ng-class="inputMaskDisabledClass"
                >
                  <input
                    type="radio"
                    name="netServiceMode"
                    value="Monitor"
                    ng-model="sysCtrl.config.netServicePolicyMode"
                    ng-if="isNewServiceModeAuthorized"
                    ng-change="sysCtrl.changeFieldValue()"
                    ng-disabled="!isNewServiceModeAuthorized"
                  />
                  <span
                    class="fa fa-bell text-monitor"
                    ng-class="inputMaskDisabledClass"
                  />{{'topbar.mode.EVALUATION' | translate}}
                </label>
              </div>
              <div
                class="radio-inline c-radio pl-sm"
                ng-class="inputMaskDisabledClass"
              >
                <label
                  class="text-gray-label"
                  ng-class="inputMaskDisabledClass"
                >
                  <input
                    type="radio"
                    name="netServiceMode"
                    value="Protect"
                    ng-model="sysCtrl.config.netServicePolicyMode"
                    ng-if="isNewServiceModeAuthorized"
                    ng-change="sysCtrl.changeFieldValue()"
                    ng-disabled="!isNewServiceModeAuthorized"
                  />
                  <span
                    class="fa fa-shield text-protect"
                    ng-class="inputMaskDisabledClass"
                  />{{'topbar.mode.ENFORCE' | translate}}
                </label>
              </div>
            </div>
            <div class="text-muted text-sm mb ml-lg pull-left" ng-if="sysCtrl.config.netServiceStatus">
              {{ 'setting.description.ENABLED_NET_POLICY_MODE' | translate }}
            </div>
            <div class="text-muted text-sm mb ml-lg pull-left" ng-if="!sysCtrl.config.netServiceStatus">
              {{ 'setting.description.DISABLED_NET_POLICY_MODE' | translate }}
            </div>
          </div>
        </div>

        <div class="col-sm-12 mb-sm sub-line">
          <hr class="dashed"/>
        </div>
        <div class="col-sm-12">
          <label class="form-title">
            {{'setting.MODE_AUTO_SWITCH' | translate}}
          </label>
          <div class="text-muted text-sm mb-lg">
            {{'setting.MODE_AUTO_SWITCH_HINT' | translate}}
          </div>
        </div>
        <div class="col-sm-12 mt-lg">
          <div class="col-sm-3">
            <div style="margin-top: -10px">
              <div class="md-switch2">
                <label class="text-muted">
                  {{'setting.D2M' | translate}}
                  <em class="fa fa-info-circle text-muted" uib-tooltip="{{ 'setting.D2M_HINT' | translate }}"></em>
                  <input
                    type="checkbox"
                    ng-model="sysCtrl.config.mode_auto_d2m"
                    ng-disabled="!isSyslogAuthorized"
                    ng-click="sysCtrl.toggleD2M(sysCtrl.config.mode_auto_d2m)"
                  />
                  <span class="toggle hand" ng-disabled="!isSyslogAuthorized"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="col-sm-8" style="margin-top: -30px">
            <rzslider
              class="custom-slider"
              rz-slider-model="sysCtrl.autoD2MDuration.hours"
              rz-slider-options="sysCtrl.autoD2MDuration.options"
            >
            </rzslider>
          </div>
        </div>
        <div class="col-sm-12 mt-lg">
          <div class="col-sm-3">
            <div style="margin-top: -10px">
              <div class="md-switch2">
                <label class="text-muted">
                  {{'setting.M2P' | translate}}
                  <em class="fa fa-info-circle text-muted" uib-tooltip="{{ 'setting.M2P_HINT' | translate }}"></em>&nbsp;&nbsp;
                  <input
                    type="checkbox"
                    ng-model="sysCtrl.config.mode_auto_m2p"
                    ng-disabled="!isSyslogAuthorized"
                    ng-click="sysCtrl.toggleM2P(sysCtrl.config.mode_auto_m2p)"
                  />
                  <span class="toggle hand" ng-disabled="!isSyslogAuthorized"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="col-sm-8" style="margin-top: -30px">
            <rzslider
              class="custom-slider"
              rz-slider-model="sysCtrl.autoM2PDuration.hours"
              rz-slider-options="sysCtrl.autoM2PDuration.options"
            >
            </rzslider>
          </div>
        </div>

        <div class="col-sm-12 mb-sm sub-line">
          <hr class="dashed"/>
        </div>

        <div class="col-sm-12">
          <label class="form-title" translate="{{'setting.CLUSTER'}}"/>
          <div class="text-muted text-sm mb-lg">
            {{'setting.CLUSTER_COMMENT' | translate}}
          </div>
        </div>
        <div class="col-sm-12">
          <div class="col-sm-2">
            <label
              class="mr-lg text-muted"
            >{{'setting.CLUSTER_NAME' | translate}}
            </label>
          </div>
          <div class="col-sm-6" style="margin-top: -30px">
            <md-input-container class="md-block mb0" flex-gt-sm>
              <input
                ng-model="sysCtrl.config.clusterName"
                ng-disabled="!isClusterAuthorized"
                name="clusterName"
                maxlength="{{'general.FILTER_MAX_LEN' | translate}}"
                ng-change="sysCtrl.changeFieldValue()"
              />
            </md-input-container>
          </div>
        </div>

        <div class="col-sm-12 mb-sm sub-line">
          <hr class="dashed"/>
        </div>
        <div class="col-sm-12">
          <label class="form-title">
            {{'setting.UNUSED_GROUP_AGE' | translate}}
          </label>
          <div class="text-muted text-sm mb-lg">
            {{'setting.UNUSED_GROUP_HINT' | translate}}
          </div>
        </div>
        <div class="col-sm-12 mt-lg">
          <div class="col-sm-3">
            <div style="margin-top: -10px">
              <div class="md-switch2">
                <label class="text-muted">
                  {{'audit.gridHeader.DURATION' | translate}}
                  <input
                    type="checkbox"
                    ng-model="sysCtrl.groupAge.enabled"
                    ng-disabled="!isSyslogAuthorized"
                    ng-click="sysCtrl.toggleGroupAge(sysCtrl.groupAge.enabled)"
                  />
                  <span class="toggle hand" ng-disabled="!isSyslogAuthorized"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="col-sm-8" style="margin-top: -30px">
            <rzslider
              class="custom-slider"
              rz-slider-model="sysCtrl.groupAge.hours"
              rz-slider-options="sysCtrl.groupAge.options"
            >
            </rzslider>
          </div>
        </div>

        <div class="col-sm-12 mb-sm sub-line">
          <hr class="dashed"/>
        </div>
        <div class="col-sm-12" layout-gt-sm="row">
          <div class="col-sm-12 col-md-12 md-switch2 pl0">
            <label class="form-title">
              {{'setting.XFF_MATCH' | translate}}&nbsp;&nbsp;
              <input
                type="checkbox"
                ng-model="sysCtrl.config.xff_enabled"
                ng-if="isRegHttpProxyAuthorized"
                ng-change="sysCtrl.changeFieldValue()"
              />
              <span class="toggle" style="margin-left: 3px;" ng-if="isRegHttpProxyAuthorized"></span>
            </label>
          </div>
        </div>
      </form>

      <div class="col-sm-12 mb-sm sub-line">
        <hr class="dashed"/>
      </div>
      <div class="col-sm-12">
        <label class="form-title">
          {{'setting.WEBHOOKS' | translate}}
        </label>
      </div>
      <div class="col-sm-11">
        <table class="table table-bordered table-hover bg-white">
          <tr style="font-weight: bold; background-color: #edf3f7;">
             <td style="width:20%" translate="{{'setting.webhook.NAME'}}"></td>
             <td style="width:30%" translate="{{'setting.webhook.URL'}}"></td>
             <td style="width:17%" translate="{{'setting.webhook.WH_TYPE'}}"></td>
             <td style="width:10%" translate="{{'setting.webhook.STATUS'}}"></td>
             <td style="width:13%" translate="{{'setting.webhook.TYPE'}}"></td>
             <td style="width:10%" ng-show="isWebhookAuthorized" translate="{{group.dlp.gridHeader.ACTION}}"></td>
          </tr>
          <tr ng-repeat="webhook in sysCtrl.webhooks">
            <td class="webhook-text-box-1">
              <span editable-text="webhook.name" e-name="name" e-form="webhookForm" e-ng-style="{'width': widthOfUrlBox1}" onbeforesave="sysCtrl.checkName($data, $index)" e-required="">{{ webhook.name || &apos;empty&apos; }}</span>
            </td>
            <td class="auto-hide webhook-text-box-2" style="max-width: 220px;" uib-tooltip="{{webhook.url}}" tooltip-enable="false" show-tooltip-on-text-overflow>
              <span editable-text="webhook.url" e-name="url" e-form="webhookForm" e-ng-style="{'width': widthOfUrlBox2}" onbeforesave="sysCtrl.checkUrl($data, $index)" e-required="">{{ webhook.url || &apos;empty&apos; }}</span>
            </td>
            <td>
              <span editable-select="webhook.type" e-name="type" onshow="sysCtrl.loadTypes()" e-form="webhookForm" e-ng-options="type.id as type.text for type in webhookTypes">
                <span ng-if="sysCtrl.showType(webhook) === 'Slack'" class="label label-info"><em class="fa fa-slack"></em>Slack</span>
                <span ng-if="sysCtrl.showType(webhook) === 'JSON'" class="label label-info">JSON</span>
                <span ng-if="sysCtrl.showType(webhook) === 'Teams'" class="label label-info">Teams</span>
                <span ng-if="sysCtrl.showType(webhook) !== 'Teams' && sysCtrl.showType(webhook) !== 'JSON' && sysCtrl.showType(webhook) !== 'Slack'">{{sysCtrl.showType(webhook)}}</span>
              </span>
            </td>
            <td>
              <div class="md-switch2 pull-left">
                <label class="nv-modal-item-title">
                  <input type="checkbox" ng-model="webhook.enable" ng-change="sysCtrl.changeStatus()" ng-disabled="!isWebhookAuthorized || webhook.cfg_type === CFG_TYPE.FED">
                  <span class="toggle"></span>
                </label>
              </div>
            </td>
            <td>
              <span class="action-label nv-label {{webhook.typeClass}}">{{webhook.displayType}}</span>
            </td>
            <td style="white-space: nowrap" ng-show="isWebhookAuthorized">
                <!-- form-->
              <form class="form-buttons form-inline" editable-form="" name="webhookForm" onbeforesave="sysCtrl.saveWebhook($data, webhook.id, webhook.type)" ng-show="webhookForm.$visible" shown="sysCtrl.inserted == webhook">
                <button class="btn btn-sm btn-success" type="submit" ng-disabled="webhookForm.$waiting" title="Save">
                  <em class="fa fa-check"></em>
                </button>
                <button class="btn btn-sm btn-danger" type="button" ng-disabled="webhookForm.$waiting" ng-click="webhookForm.$cancel(); sysCtrl.cancel($index);" title="Cancel">
                  <em class="fa fa-times"></em>
                </button>
              </form>
              <div class="buttons" ng-show="!webhookForm.$visible && webhook.cfg_type !== CFG_TYPE.FED">
                <button class="btn btn-sm btn-info" ng-click="webhookForm.$show(); sysCtrl.enableEditWebhook();" title="Edit">
                  <em class="fa fa-edit"></em>
                </button>
                <button class="btn btn-sm btn-default" ng-click="sysCtrl.removeWebhook($index)" title="Delete">
                  <em class="fa fa-trash"></em>
                </button>
              </div>
            </td>
          </tr>
        </table>
        <button class="btn btn-default mt" ng-show="isWebhookAuthorized" ng-click="sysCtrl.addRow()">{{ 'setting.webhook.NEW' | translate}}</button>
      </div>

      <form name="sysCtrl.configForm" novalidate>
        <div class="col-sm-12 mb-sm sub-line">
          <hr class="dashed"/>
        </div>
        <div class="col-sm-12 sub-line">
          <label class="form-title">
            {{'setting.REG_PROXY' | translate}}
          </label>
          <div class="text-muted text-sm mb-lg">
            {{'setting.PROXY_HINT' | translate}}
          </div>
        </div>
        <div class="col-sm-12" layout-gt-sm="row">
          <div class="col-sm-2 col-md-2 md-switch2">
            <label class="text-muted" style="margin-top: 20px;">
              {{'setting.REG_HTTP_PROXY' | translate}}&nbsp;&nbsp;
              <input
                type="checkbox"
                ng-model="sysCtrl.config.registry_http_proxy_status"
                ng-if="isRegHttpProxyAuthorized"
                ng-change="sysCtrl.changeFieldValue()"
              />
              <span class="toggle" ng-if="isRegHttpProxyAuthorized"></span>
            </label>
          </div>
          <div class="col-sm-3 col-md-3">
            <md-input-container class="md-block mb0" flex-gt-sm>
              <label translate="{{'setting.URL'}}"/>
              <input
                ng-model="sysCtrl.config.regHttpProxy.url"
                maxlength="{{'general.FILTER_MAX_LEN' | translate}}"
                name="regHttpProxyUrl"
                ng-required="sysCtrl.config.registry_http_proxy_status"
                ng-disabled="!isRegHttpProxyAuthorized || !sysCtrl.config.registry_http_proxy_status"
                type="url"
                ng-change="sysCtrl.changeFieldValue()"
              />
            </md-input-container>
          </div>
          <div class="col-sm-3 col-md-3">
            <md-input-container class="md-block mb0" flex-gt-sm>
              <label translate="{{'setting.USERNAME'}}"/>
              <input
                ng-model="sysCtrl.config.regHttpProxy.username"
                maxlength="{{'general.FILTER_MAX_LEN' | translate}}"
                name="regHttpProxyUsername"
                ng-disabled="!isRegHttpProxyAuthorized || !sysCtrl.config.registry_http_proxy_status"
                type="text"
                ng-change="sysCtrl.changeFieldValue()"
              />
            </md-input-container>
          </div>
          <div class="col-sm-3 col-md-3">
            <md-input-container class="md-block mb0" flex-gt-sm>
              <label translate="{{'setting.PASSWORD'}}"/>
              <input
                placeholder="{{sysCtrl.config.regHttpProxy.isEdit ? '******' : '' }}"
                ng-model="sysCtrl.config.local.regHttpProxy.password"
                ng-focus="showHttpPasswordFn()"
                maxlength="{{'general.FILTER_MAX_LEN' | translate}}"
                name="regHttpProxyPassword"
                ng-disabled="!isRegHttpProxyAuthorized || !sysCtrl.config.registry_http_proxy_status"
                ng-attr-type="{{ showHttpPassword ? 'text':'password'}}"
                ng-change="sysCtrl.changeFieldValue()"
              />

              <md-icon
                ng-show="sysCtrl.configForm.regHttpProxyPassword.$dirty"
                ng-click="showHttpPassword=!showHttpPassword"
                class="mt-sm"
                ng-class="showHttpPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"
                style="cursor: pointer; pointer-events: all;"
              >
              </md-icon>
            </md-input-container>
          </div>
        </div>
        <div class="col-sm-12" layout-gt-sm="row">
          <div class="col-sm-2 col-md-2 md-switch2">
            <label class="text-muted" style="margin-top: 20px;">
              {{'setting.REG_HTTPS_PROXY' | translate}}
              <input
                type="checkbox"
                ng-model="sysCtrl.config.registry_https_proxy_status"
                ng-if="isRegHttpsProxyAuthorized"
                ng-change="sysCtrl.changeFieldValue()"
              />
              <span class="toggle" ng-if="isRegHttpsProxyAuthorized"></span>
            </label>
          </div>
          <div class="col-sm-3 col-md-3">
            <md-input-container class="md-block mb0" flex-gt-sm>
              <label translate="{{'setting.URL'}}"/>
              <input
                ng-model="sysCtrl.config.regHttpsProxy.url"
                maxlength="{{'general.FILTER_MAX_LEN' | translate}}"
                name="regHttpsProxyUrl"
                ng-required="sysCtrl.config.registry_https_proxy_status"
                ng-disabled="!isRegHttpsProxyAuthorized || !sysCtrl.config.registry_https_proxy_status"
                type="url"
                ng-change="sysCtrl.changeFieldValue()"
              />
            </md-input-container>
          </div>
          <div class="col-sm-3 col-md-3">
            <md-input-container class="md-block mb0" flex-gt-sm>
              <label translate="{{'setting.USERNAME'}}"/>
              <input
                ng-model="sysCtrl.config.regHttpsProxy.username"
                maxlength="{{'general.FILTER_MAX_LEN' | translate}}"
                name="regHttpsProxyUsername"
                ng-disabled="!isRegHttpsProxyAuthorized || !sysCtrl.config.registry_https_proxy_status"
                type="text"
                ng-change="sysCtrl.changeFieldValue()"
              />
            </md-input-container>
          </div>
          <div class="col-sm-3 col-md-3">
            <md-input-container class="md-block mb0" flex-gt-sm>
              <label translate="{{'setting.PASSWORD'}}"/>
              <input
                placeholder="{{sysCtrl.config.regHttpsProxy.isEdit ? '******' : ''}}"
                ng-model="sysCtrl.config.local.regHttpsProxy.password"
                maxlength="{{'general.FILTER_MAX_LEN' | translate}}"
                name="regHttpsProxyPassword"
                ng-focus="showHttpsPasswordFn()"
                ng-disabled="!isRegHttpsProxyAuthorized || !sysCtrl.config.registry_https_proxy_status"
                ng-attr-type="{{ showHttpsPassword ? 'text':'password'}}"
                ng-change="sysCtrl.changeFieldValue()"
              />
              <md-icon
                ng-show="sysCtrl.configForm.regHttpsProxyPassword.$dirty"
                ng-click="showHttpsPassword=!showHttpsPassword"
                class="mt-sm"
                ng-class="showHttpsPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"
                style="cursor: pointer; pointer-events: all;"
              >
              </md-icon>
            </md-input-container>
          </div>
        </div>

        <div class="col-sm-12 mb-sm sub-line">
          <hr class="dashed"/>
        </div>
        <div class="col-sm-12">
          <div class="md-switch2">
            <label class="form-title">
              {{'setting.SYSLOG' | translate}}
              <input
                type="checkbox"
                ng-model="sysCtrl.config.syslogEnabled"
                ng-if="isSyslogAuthorized"
                ng-change="sysCtrl.changeFieldValue()"
              />
              <span class="toggle" ng-if="isSyslogAuthorized"></span>
            </label>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="col-sm-4">
            <md-input-container class="md-block" flex-gt-sm>
              <label translate="{{'setting.SERVER'}}"/>
              <input
                ng-model="sysCtrl.config.syslogIp"
                name="ip"
                maxlength="{{'general.FILTER_MAX_LEN' | translate}}"
                ng-required="sysCtrl.config.syslogEnabled"
                ng-disabled="!sysCtrl.config.syslogEnabled || !isSyslogAuthorized"
                ng-change="sysCtrl.changeFieldValue()"
              />
              <div
                ng-messages="sysCtrl.syslogForm.ip.$error"
                role="alert"
                multiple
              >
                <div ng-message="required" class="my-message">
                  {{'setting.message.IP_REQUIRED' | translate}}
                </div>
                <div ng-message="pattern" class="my-message">
                  {{'setting.message.IP_INVALID' | translate}}
                </div>
              </div>
            </md-input-container>
          </div>

          <div class="col-sm-2">
            <md-input-container flex-gt-sm>
              <label translate="{{'setting.PROTOCOL'}}"/>
              <md-select
                ng-model="sysCtrl.syslogIpProto"
                ng-disabled="!sysCtrl.config.syslogEnabled || !isSyslogAuthorized"
                ng-change="sysCtrl.changeFieldValue()"
              >
                <md-option
                  ng-repeat="protocol in sysCtrl.protocols"
                  value="{{protocol}}"
                >{{protocol}}
                </md-option>
              </md-select>
            </md-input-container>
          </div>

          <div class="col-sm-3">
            <md-input-container class="md-block" flex-gt-sm>
              <label translate="{{'setting.PORT'}}"/>
              <input
                name="port"
                type="text"
                pattern="\d*"
                maxlength="10"
                ng-model="sysCtrl.config.syslogPort"
                ng-disabled="!sysCtrl.config.syslogEnabled || !isSyslogAuthorized"
                required
                min="1"
                max="65535"
                ng-change="sysCtrl.changeFieldValue()"
              />
              <div
                ng-messages="sysCtrl.syslogForm.port.$error"
                role="alert"
                multiple
                md-auto-hide="false"
              >
                <div ng-message="required" class="my-message">
                  {{'setting.message.PORT_REQUIRED' | translate}}
                </div>
                <div ng-message="min" class="my-message">
                  {{'setting.message.PORT_RANGE' | translate}}
                </div>
                <div ng-message="max" class="my-message">
                  {{'setting.message.PORT_RANGE' | translate}}
                </div>
              </div>
            </md-input-container>
          </div>

          <div class="col-sm-3">
            <md-input-container flex-gt-sm>
              <label translate="{{'setting.LEVEL'}}"/>
              <md-select
                ng-model="sysCtrl.config.syslogLevel"
                ng-disabled="!sysCtrl.config.syslogEnabled || !isSyslogAuthorized"
                ng-change="sysCtrl.changeFieldValue()"
              >
                <md-option
                  ng-repeat="level in sysCtrl.levels" value="{{level}}"
                >{{level}}
                </md-option>
              </md-select>
            </md-input-container>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="col-lg-2">
            <label
              class="text-muted"
            >{{'setting.LOG_CATEGORIES' | translate}}
            </label>
          </div>
          <div class="col-lg-7" layout-gt-sm="row">
            <div ng-repeat="cat in sysCtrl.syslogCategories" flex-gt-sm>
              <md-checkbox
                class="md-primary"
                ng-checked="sysCtrl.exists(cat.id, sysCtrl.config.syslogCategories)"
                ng-click="sysCtrl.toggle(cat.id, sysCtrl.config.syslogCategories); sysCtrl.catDirty=true"
                ng-disabled="!sysCtrl.config.syslogEnabled || !isSyslogAuthorized"
              >{{ cat.name }}
              </md-checkbox>
            </div>
          </div>
          <div class="col-lg-2">
            <label
              class="text-muted mr-lg"
            >{{'setting.LOG_IN_JSON' | translate}}
            </label>
            <md-checkbox
              class="md-primary"
              ng-model="sysCtrl.config.syslog_in_json"
              ng-click="sysCtrl.changeFieldValue(); sysCtrl.catDirty=true"
              ng-disabled="!sysCtrl.config.syslogEnabled || !isSyslogAuthorized"
            >
            </md-checkbox>
          </div>
          <div class="col-lg-12 mt">
            <md-checkbox
              class="md-primary"
              ng-model="sysCtrl.config.single_cve_per_syslog"
              ng-click="sysCtrl.changeFieldValue(); sysCtrl.catDirty=true"
              ng-disabled="!sysCtrl.config.syslogEnabled || !isSyslogAuthorized"
            >
            </md-checkbox>
            <label
              class="text-muted mr-lg"
            >{{'setting.SEND_SYSLOG_PER_CVE' | translate}}
            </label>
          </div>
        </div>
        <div ng-if="!isRemote" class="col-sm-12 mb-sm sub-line">
          <hr class="dashed"/>
        </div>
        <div class="col-sm-12">
          <div ng-if="!isRemote">
            <div class="md-switch2">
              <label class="form-title pull-left">
                {{'setting.IBM_INTEGRATE' | translate}}
                <input
                  type="checkbox"
                  ng-model="sysCtrl.ibmsa_ep_enabled"
                  ng-disabled="!isIbmSaAuthorized"
                  ng-click="sysCtrl.toggleIbmSA()"
                />
                <span class="toggle"></span>
              </label>
              <div
                ng-if="sysCtrl.config.ibmsa_ep_start===1" class="label label-success pull-left"
                style="font-size: 12px; line-height: 18px; margin-top: 3px;"
              ><span class="fa fa-check-circle-o text-white"></span>&nbsp;{{sysCtrl.connectionState}}
              </div>
            </div>
            <div class="row mb0 mt p0">
              <div class="col-sm-10 dashboard-url">
                <md-input-container class="md-block mb0" flex-gt-sm>
                  <label translate="{{'setting.DASHBOARD_URL'}}"/>
                  <input
                    ng-model="sysCtrl.config.ibmsa_ep_dashboard_url"
                    type="text"
                    ng-disabled="sysCtrl.config.ibmsa_ep_start===1 || !isIbmSaAuthorized"
                    ng-change="sysCtrl.changeFieldValue()"
                  />
                </md-input-container>
              </div>
              <!--            <div class="col-sm-1 pl0">-->
              <!--              <button-->
              <!--                      clipboard class="btn btn-default ml0 pull-left" style="margin-top: 15px; padding: 6px 10px;" text="sysCtrl.config.ibmsa_ep_dashboard_url"-->
              <!--                      ng-if="sysCtrl.config.ibmsa_ep_dashboard_url"-->
              <!--                      on-copied="sysCtrl.success('dashboard_url')" uib-tooltip="{{'license.COPY_CODE' | translate}}" style="padding: 3px 8px;"-->
              <!--              >-->
              <!--                <i class="fa fa-clipboard"></i>-->
              <!--              </button>-->
              <!--            </div>-->
            </div>
            <div
              class="row mb0 mt p0"
              ng-if="sysCtrl.config.ibmsa_ep_enabled && sysCtrl.config.ibmsa_ep_start!==1 && isIbmSaAuthorized"
            >
              <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
                <button
                  type="submit"
                  class="btn btn-xs btn-default pull-left"
                  style="margin-top: 25px;"
                  ng-click="sysCtrl.getIbmSetupUrl();"
                >
                  {{'setting.GET_URL' | translate}}
                </button>
              </div>
              <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9 dashboard-url">
                <md-input-container class="md-block mb0" flex-gt-sm>
                  <label translate="{{'partner.setting.IBM_SETUP_URL'}}"/>
                  <input
                    ng-model="sysCtrl.ibmsa_setup_url"
                    type="text"
                    disabled
                  />
                </md-input-container>
                <div class="text-danger pt-sm ml-sm" style="min-height: 26px;">
                  {{sysCtrl.expiringTime}}
                </div>
              </div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 pl0">
                <button
                  clipboard class="btn btn-default ml0 pull-left"
                  style="margin-top: 15px; padding: 6px 10px;" text="sysCtrl.ibmsa_setup_url"
                  ng-if="sysCtrl.ibmsa_setup_url && isIbmSaAuthorized"
                  on-copied="sysCtrl.success('ibmsa_setup_url')"
                  uib-tooltip="{{'license.COPY_CODE' | translate}}" style="padding: 3px 8px;"
                >
                  <i class="fa fa-clipboard"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="row mb0 mr0 ml0 mt pl0 pr-lg">
            <button
              type="submit"
              class="btn btn-primary btn-xs pull-right"
              ng-disabled="((!isSettingFormDirty && !sysCtrl.configForm.$dirty && !sysCtrl.configForm2.$dirty && !sysCtrl.catDirty && !sysCtrl.hookCatDirty && !sysCtrl.ibmsaEpEnabledDirty) ||
                           sysCtrl.config.syslogCategories.length===0 ||
                           sysCtrl.configForm2.clusterName.$invalid ||
                           sysCtrl.configForm.regHttpProxyUrl.$invalid ||
                           sysCtrl.configForm.regHttpsProxyUrl.$invalid ||
                           (sysCtrl.configForm.regHttpProxyUrl.length>0 && (sysCtrl.configForm.regHttpProxyUsername.$invalid || sysCtrl.configForm.regHttpProxyPassword.$invalid)) ||
                           (sysCtrl.configForm.regHttpsProxyUrl.length>0 && (sysCtrl.configForm.regHttpsProxyUsername.$invalid || sysCtrl.configForm.regHttpsProxyPassword.$invalid)) ||
                           (sysCtrl.config.syslogEnabled && (sysCtrl.configForm.ip.$invalid || sysCtrl.configForm.port.$invalid))) && !sysCtrl.groupAgeHourChanged"
              ng-click="sysCtrl.updateConfig();"
              ng-if="isConfigAuthorized"
            >
              {{'setting.SUBMIT' | translate}}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div
    class="panel"
    ng-if="isExportAuthorized || isImportAuthorized"
  >
    <div class="panel-body">
      <form name="exportForm" novalidate ng-if="isExportAuthorized">
        <div class="form-group">
          <div class="col-sm-12 mb-lg">
            <div class="form-title">{{'setting.EXPORT' | translate}}</div>
          </div>
          <div class="col-sm-12 ">
            <div class="col-sm-5 ">
              <label class="radio-inline c-radio">
                <input
                  id="expAll"
                  type="radio"
                  name="export"
                  ng-model="exportMode"
                  value="all"
                  required
                />
                <span class="fa fa-check"/>
                {{'setting.ALL' | translate}}
              </label>
              <label class="radio-inline c-radio">
                <input
                  id="expPolicy"
                  type="radio"
                  name="export"
                  ng-model="exportMode"
                  value="policy"
                  required
                />
                <span class="fa fa-check"/>
                {{'setting.POLICY' | translate}}
              </label>
            </div>
            <div class="col-sm-1 col-sm-offset-6">
              <button
                type="submit"
                class="btn btn-primary btn-xs pull-right"
                ng-disabled="!exportForm.$dirty || exportErr"
                target="_self"
                ng-href="{{ sysCtrl.exportUrl }}"
                ng-click="sysCtrl.export(exportMode)"
              >{{'setting.SUBMIT' | translate}}
              </button>
            </div>
          </div>
          <div
            class="col-sm-12 mb-sm"
            ng-if="isImportAuthorized || isDebugLogAuthorized"
          >
            <hr class="solid"/>
          </div>
        </div>
      </form>

      <div class="row m0" ng-if="isImportAuthorized">
        <div class="col-sm-12 mb">
          <label class="form-title" translate="{{'setting.IMPORT'}}"/>
        </div>
        <div class="col-sm-12 mb">
          <md-checkbox
            class="md-primary ml mb0"
            ng-model="asStandalone"
            ng-click="checkAsStandalone()"
          >
          </md-checkbox>
          <label
            class="text-muted mr-lg"
          >{{'setting.AS_STANDALONE' | translate}}
          </label>
        </div>
        <div class="col-sm-3">
          <div ng-show="sysCtrl.uploader.isHTML5">
            <div
              nv-file-over
              uploader="sysCtrl.uploader"
              over-class="bg-info"
              class="file-drop-zone"
              translate="{{'setting.DROP_ZONE'}}"
            ></div>
          </div>
          <hr/>

          <input
            filestyle
            type="file"
            data-button-text
            data-class-button="btn btn-default"
            data-classinput="form-control inline"
            data-placeholder="or select file..."
            nv-file-select
            uploader="sysCtrl.uploader"
            class="form-control"
          />
        </div>

        <div style="margin-bottom: 40px" class="col-sm-9">
          <div ng-if="sysCtrl.uploader.queue.length">
            <table ng-if="sysCtrl.uploader.queue.length" class="table">
              <thead>
              <tr class="text-muted">
                <th width="50%">{{'setting.FILE_NAME' | translate}}</th>
                <th ng-show="sysCtrl.uploader.isHTML5">
                  {{'setting.FILE_SIZE' | translate}}
                </th>
                <th ng-show="sysCtrl.uploader.isHTML5">
                  {{'setting.PROGRESS' | translate}}
                </th>
                <th>{{'setting.STATUS' | translate}}</th>
                <th>{{'setting.ACTIONS' | translate}}</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="item in sysCtrl.uploader.queue">
                <td>
                  <strong>{{ item.file.name | shorten2: 30}}</strong>
                </td>
                <td ng-show="sysCtrl.uploader.isHTML5" nowrap>
                  {{ item.file.size / 1024 | number:2 }} KB
                </td>
                <td ng-show="sysCtrl.uploader.isHTML5">
                  <div style="margin-bottom: 0;" class="progress progress-xs">
                    <div
                      role="progressbar"
                      ng-style="{ 'width': percentage + '%' }"
                      class="progress-bar"
                    ></div>
                  </div>
                  <div style="height: 12px;">
                    <div ng-if="!!percentage" class="text-center text-muted" style="font-size: 9px;">{{percentage}}%</div>
                  </div>
                </td>
                <td class="text-center">
                  <span ng-show="status === 'done'">
                    <em class="fa fa-check fa-fw text-success"/>
                  </span>
                  <span ng-show="status === 'preparing'">
                    <em class="fa fa-spinner fa-spin text-info"/>
                  </span>
                  <span ng-show="status === 'importing'">
                    <em class="fa fa-cog fa-spin text-info"/>
                  </span>
                  <span ng-show="item.isCancel">
                    <em class="fa fa-ban-circle fa-fw"/>
                  </span>
                  <span ng-show="status && status !== '' && status !== 'preparing' && status !== 'importing' && status !== 'done'">
                    <em class="fa fa-times fa-fw text-danger" uib-tooltip="{{status4Tooltip}}" tooltip-class="customClass"/>
                  </span>
                </td>
                <td nowrap>
                  <button
                    type="button"
                    ng-click="item.upload()"
                    ng-disabled="item.isReady || item.isUploading || item.isSuccess || item.isError"
                    class="btn btn-info btn-xs"
                  >
                    <span class="mr-sm"/>
                    {{'setting.UPLOAD' | translate}}
                  </button>
                  <button
                    type="button"
                    ng-click="item.remove(); removeFile()"
                    ng-disabled="(item.isReady || item.isUploading || item.isSuccess || isContinuelyImporting) && !hasImportError"
                    class="btn btn-default btn-xs"
                  >
                    <span class="mr-sm"/>
                    {{'setting.REMOVE' | translate}}
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-sm-12">
          <small class="text-muted mt-lg">
            <em class="fa fa-exclamation text-warning mr-sm"/>
            {{'setting.IMPORT_NOTICE' | translate}}
          </small>
        </div>
        <div
          class="col-sm-12 mv-sm"
          ng-if="isExportAuthorized"
        >
          <hr class="solid"/>
        </div>
      </div>
    </div>
  </div>

  <div
    class="panel"
    ng-if="isDebugLogAuthorized"
  >
    <div class="panel-body">
      <form name="exportForm" novalidate>
        <div class="form-group row m0">
          <div class="col-sm-12 ">
            <label class="form-title mt" translate="{{'setting.SUPPORT'}}"/>
          </div>
          <div class="ml-lg mt" style="position: relative;">
            <div ng-show="sysCtrl.isUpdatingConfig" style="position: absolute; top: 27px; left: 7px;">
              <em class="fa fa-spin fa-spinner fa-2x text-primary" aria-hidden="true"></em>
            </div>
            <md-checkbox
              class="md-primary ml mb0"
              ng-model="sysCtrl.controllerDebugEnabled"
              ng-click="sysCtrl.submitCpath()"
              ng-disabled="sysCtrl.isUpdatingConfig"
            >
            </md-checkbox>
            <label
              class="text-muted mr-lg"
            >{{'setting.ENABLED_CPATH' | translate}}
            </label>
          </div>
          <div class="mh-lg">
            <div class="col-sm-12" ng-show="sysCtrl.enforcers.length > 0">
              <div class="clearfix">
                <div class="text-muted pull-left mt-sm" ng-if="sysCtrl.enforcers.length > 0">{{enforcerHint}}</div>
                <div class="left-inner-addon pull-right" style="margin-bottom: 10px">
                  <em class="fa fa-filter text-filter"></em>
                  <input
                    class="search form-control"
                    placeholder="{{'general.FILTER' | translate}}"
                    type="text"
                    maxlength="{{'general.FILTER_MAX_LEN' | translate}}"
                    ng-model="search"
                    ng-paste="onFilterChanged(search)"
                    ng-keyup="onFilterChanged(search)"
                  />
                </div>
              </div>
              <div
                id="enforcerGrid"
                ag-grid="gridOptions4Enforcer"
                class="ag-grid mb-lg"
                style="width: 100%; height: 200px;"
              ></div>
            </div>
          </div>
          <div class="col-sm-12 mb-lg">
            <div class="col-sm-5">
              <div
                id="loadingBar"
                class="mt-lg"
                style="width: 100%"
                ng-if="sysCtrl.debugInProgress"
              >
                <md-progress-linear md-mode="indeterminate"/>
              </div>
            </div>
            <div class="col-sm-5 col-sm-offset-2">
              <button
                type="submit"
                class="btn btn-primary btn-xs ml pull-right"
                ng-click="sysCtrl.download()"
                ng-hide="!sysCtrl.logIsReady"
              >
                <span class="fa fa-cloud-download mr-sm"/>
                {{'network.DOWNLOAD' | translate}}
              </button>
              <button
                type="submit"
                class="btn btn-primary btn-xs ml pull-right"
                ng-click="sysCtrl.cancelCollect()"
                ng-hide="!sysCtrl.debugInProgress"
              >
                <span class="fa fa-stop-circle-o mr-sm"/>
                {{'setting.CANCEL' | translate}}
              </button>
              <button
                type="submit"
                class="btn btn-primary btn-xs ml pull-right"
                ng-hide="sysCtrl.debugInProgress"
                ng-click="sysCtrl.collectLog()"
              >
                {{'setting.COLLECT' | translate}}
                <span class="fa fa-play-circle-o ml-sm"/>
              </button>
              <button
                type="submit"
                class="btn btn-primary btn-xs pull-right"
                ng-hide="sysCtrl.debugInProgress && !sysCtrl.logIsReady"
                ng-click="sysCtrl.usageReport()"
              >
                {{'setting.USAGE_RPT' | translate}}
              </button>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="col-sm-9 pl0">
              <small
                class="text-muted pull-left"
                ng-show="sysCtrl.debugInProgress"
              >{{'setting.SUPPORT_IN_PROGRESS' | translate}}
              </small>
            </div>
            <div class="col-sm-3" style="padding-right: 25px;">
              <small
                class="text-muted pull-right" ng-show="sysCtrl.logIsReady"
              >{{'partner.setting.SUPPORT_INFO' | translate}}
              </small>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
