<div ng-controller="ContainerController" class="pt0">
  <div class="clearfix">
    <div ng-if="eof">
      <div class="pull-right mt-sm" ng-click="refresh()" ng-show="eof || containerErr">
        <em class="fa fa-refresh text-action"></em>
        <label class="text-gray-label hand"
          >{{'general.REFRESH' | translate}}</label
        >
      </div>
      <div class="pull-right mr-lg" style="position: relative">
        <div uib-dropdown auto-close="outsideClick" class="mt-sm">
          <div uib-dropdown-toggle>
            <div>
              <em class="fa fa-gear fa-lg text-action mr-sm"></em>
              <label class="text-gray-label hand">{{'network.SETTING' | translate}}</label>
              <em class="fa fa-caret-down text-action" ng-click="toggleCollapse()"></em>
            </div>
          </div>
          <ul class="dropdown-menu" uib-dropdown-menu style="position: absolute; top: 30px;"
              role="menu" aria-labelledby="single-button">
            <li role="menuitem">
              <md-checkbox class="md-primary mh-lg mt-lg"
                           ng-checked="!hideSystemNode"
                           ng-click="hideSystemNode = !hideSystemNode; toggleSystemNode(!hideSystemNode)">
                <label class="text-gray-label">{{'network.SHOW_SYS_PODS'
                  | translate}}
                </label>
              </md-checkbox>
            </li>
            <li role="menuitem">
              <md-checkbox class="md-primary mh-lg mt-lg"
                           ng-checked="showExitNode"
                           ng-click="showExitNode = !showExitNode; toggleExitNode(showExitNode)">
                <label class="text-gray-label">{{'network.SHOW_EXIT_PODS'
                  | translate}}
                </label>
              </md-checkbox>
            </li>
          </ul>
        </div>
      </div>
      <div
        class="pull-right mt-sm mr-lg ml text-muted"
        ng-if="hasQuarantineData && !containerErr"
      >
        <!--<em class="fa fa-file-text text-action"/>-->
        <span class="text-gray-label hand" ng-click="downloadPdf()"
          >{{'containers.report.title' | translate | uppercase}}</span
        >
        <span ng-click="downloadPdf()">
          <em
            class="fa fa-file-pdf-o pdf-color hand"
            style="margin-left: 10px;"
          ></em>
          <span class="text-gray-label link">PDF</span>
        </span>
      </div>
      <div
        class="pull-right mt-sm mr-lg"
        ng-show="!containerErr && workloads.length>0 && isAutoScanAuthorized"
      >
        <div class="md-switch2">
          <label class="text-gray-label">
            <input
              type="checkbox"
              ng-model="scanConfig.auto_scan"
              ng-change="configAutoScan(scanConfig)"
            />
            <span class="toggle mr-sm"></span>
            {{'scan.AUTO' | translate}}
          </label>
          <a>
            <em
              class="icon-info text-gray-label"
              uib-tooltip-template="'tooltipTemplate.html'"
              tooltip-placement="bottom"
            ></em>
          </a>
        </div>
      </div>
    </div>
    <div class="content-title">{{'sidebar.nav.CONTAINERS' | translate}}</div>
  </div>
  <div class="panel mb0">
    <div class="panel-body pb-sm">
      <div class="clearfix">
        <label class="text-primary" ng-show="!containerErr" style="position: relative;">{{count}}
          <div ng-if="workloads.length>0 && !eof" class="loader5" style="position: absolute; top: 6px; right: 20px;"></div>
        </label>
        <div class="left-inner-addon pull-right" style="margin-bottom: 10px;">
          <em class="fa fa-filter text-filter"></em>
          <input
            class="search form-control"
            placeholder="{{'general.FILTER' | translate}}"
            type="text"
            maxlength="{{'general.FILTER_MAX_LEN' | translate}}"
            ng-model="search"
            ng-paste="onFilterChanged(search)"
            ng-keyup="onFilterChanged(search)"
            ng-disabled="!eof"
          />
        </div>
        <div class="pull-right mr" style="margin-top: 2px;">
          <button
            type="button"
            style="padding: 3px 3px;"
            class="btn btn-default ph"
            ng-disabled="disableScan"
            ng-show="workloads.length>0"
            display-control="runtime_scan"
            ng-click="scan(workload.brief.id)"
          >
            {{'scan.SCAN' | translate}}
          </button>
        </div>
        <div class="pull-right mr-lg" ng-if="selectedIndex === 1">
          <label
            ng-if="compliance.docker_cis_version"
            class="pull-left text-primary mt-sm"
          >
            Docker &nbsp;{{'containers.CIS_VERSION' | translate}}:&nbsp;
            {{compliance.docker_cis_version}}&nbsp;&nbsp;
          </label>
          <label
            ng-if="compliance.kubernetes_cis_version"
            class="pull-left text-primary mt-sm"
          >
            {{cisLabel}}&nbsp;&nbsp;
          </label>
          <label class="pull-left text-primary mt-sm">
            <em
              ng-if="compliance.run_at"
              class="fa fa-info-circle"
              uib-tooltip="{{'scan.gridHeader.TIME' | translate}}: {{compliance.run_at | date:'MMM dd, y HH:mm:ss'}}"
            >
            </em>
          </label>
        </div>
        <div class="pull-right mr-lg" ng-if="selectedIndex === 2">
          <label
            ng-if="workload.security.scan_summary.scanner_version"
            class="pull-left text-primary mt-sm"
          >
            {{'audit.gridHeader.CVE_DB_VERSION' | translate}}:&nbsp;
            {{workload.security.scan_summary.scanner_version}}&nbsp;&nbsp;
            <em
              ng-if="workload.security.scan_summary.cvedb_create_time"
              class="fa fa-info-circle"
              uib-tooltip="{{'registry.CVE_DB_DATE' | translate}}: {{workload.security.scan_summary.cvedb_create_time | date:'MMM dd, y HH:mm:ss'}}"
            >
            </em>
          </label>
        </div>
      </div>
      <div
        ag-grid="gridOptions"
        class="ag-grid"
        style="width: 100%;"
        ng-style="{ height: gridHeight + 'px'}"
        style="position: relative;"
      >
        <div ng-class="{'sorting-mask': !eof}"></div>
      </div>
      <div
        style="
          visibility: hidden;
          position: absolute;
          top: -1000px;
          left: 1000px;
          width: 1180px;
          height: 680px;
        "
      >
        <canvas
          id="byQuarantineReason"
          class="chart chart-bar"
          chart-data="quarantineData4pdf"
          chart-labels="quarantineLabel"
          chart-options="quarantineOptions"
          chart-colors="quarantineColor"
        >
        </canvas>
      </div>
    </div>
  </div>
  <div class="text-center panel-divider" ng-if="!containerErr">
    <em class="fa fa-align-justify text-muted" aria-hidden="true" ng-mousedown="grabResizeBar($event)"></em>
  </div>
  <div class="panel mb0" ng-show="hasContainer">
    <div class="panel-body" style="position: relative;">
      <div style="position: absolute; right: 15px; top: 15px; z-index: 10;">
        <div class="left-inner-addon pull-right ml-sm"
             ng-show="selectedIndex >= 1 && selectedIndex <= 3"
        >
          <em class="fa fa-filter text-filter"></em>
          <input
            class="search form-control"
            placeholder="{{'general.FILTER' | translate}}"
            maxlength="{{'general.FILTER_MAX_LEN' | translate}}"
            ng-model="searchBottom"
            ng-paste="onFilterChangedOnBottom(selectedIndex, searchBottom)"
            ng-keyup="onFilterChangedOnBottom(selectedIndex, searchBottom)"
          />
        </div>
        <!-- <div class="pull-right" style="margin-top: 2px;">
          <button
            type="button"
            style="padding-top: 3px; padding-bottom: 3px;"
            class="btn btn-default"
            ng-disabled="disableScan"
            ng-show="workloads.length>0"
            display-control="runtime_scan"
            ng-click="scan(workload.brief.id)"
          >
            <em class="fa fa-search mr-sm"></em>{{'scan.SCAN' | translate}}
          </button>
        </div> -->
        <div class="pull-right mr" ng-if="selectedIndex === 2 && isVulsAuthorized">
          <div uib-dropdown dropdown-append-to-body class="mt-sm">
            <div uib-dropdown-toggle>
              <div>
                <label class="text-gray-label hand">{{'network.SETTING' | translate}}</label>
                <em class="fa fa-caret-down text-action"/>
              </div>
            </div>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
              <li role="menuitem" ng-if="isVulsAuthorized">
                <a ng-click="toggleShowingAcceptedVuls(isShowingAccepted)">
                  <em class="fa mr-sm" ng-class="{'fa-eye': !isShowingAccepted, 'fa-eye-slash': isShowingAccepted}"></em>
                  {{ isShowingAccepted ? 'enum.HIDE_ACCEPTED_VULS' : 'enum.SHOW_ACCEPTED_VULS' | translate}}
                </a>
              </li>
              <li role="menuitem" ng-if="cve && !isAccepted && isWriteVulsAuthorized">
                <a ng-click="acceptVulnerability($event, cve)">
                  <em class="fa fa-check-square-o mr"></em>{{ 'cveProfile.ACCEPT_VUL' | translate}}
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- <div class="pull-right mr" style="margin-top: 2px;" display-control="vuls_profile" ng-if="selectedIndex === 2" ng-show="!isSimpleButton">
          <button
            type="button"
            style="padding: 3px 3px;"
            class="btn btn-default pull-right"
            ng-click="toggleShowingAcceptedVuls(isShowingAccepted)"
          >
            <em class="fa mr-sm" ng-class="{'fa-eye': !isShowingAccepted, 'fa-eye-slash': isShowingAccepted}"></em>
            {{ isShowingAccepted ? 'enum.HIDE_ACCEPTED_VULS' : 'enum.SHOW_ACCEPTED_VULS' | translate}}
          </button>
        </div>
        <div
          class="pull-right mr mt-sm text-muted hand" ng-show="isSimpleButton"
          ng-if="selectedIndex === 2" display-control="vuls_profile"
          ng-click="toggleShowingAcceptedVuls(isShowingAccepted)"
        >
          <em class="fa" uib-tooltip="{{ isShowingAccepted ? 'enum.HIDE_ACCEPTED_VULS' : 'enum.SHOW_ACCEPTED_VULS' | translate }}"
            ng-class="{'fa-eye': !isShowingAccepted, 'fa-eye-slash': isShowingAccepted}"
          ></em>
        </div>
        <div class="pull-right mr" style="margin-top: 2px;" ng-if="selectedIndex === 2"
          ng-show="cve && !isAccepted && !isSimpleButton" display-control="write_vuls_profile">
          <button
            type="button"
            style="padding: 3px 3px;"
            class="btn btn-default pull-right"
            ng-click="acceptVulnerability($event, cve)"
          >
            <em class="fa fa-check-square-o mr-sm"></em>{{ 'cveProfile.ACCEPT' | translate}}
          </button>
        </div>
        <div role="button" ng-show="cve && !isAccepted && isSimpleButton" display-control="write_vuls_profile"
          class="pull-right text-muted mr mt-sm" ng-if="selectedIndex === 2"
          ng-click="acceptVulnerability($event, cve)"
        >
          <em class="fa fa-check-square-o" uib-tooltip="{{ 'cveProfile.ACCEPT' | translate }}"></em>
        </div>-->
        <div class="pull-right mt-sm mr" ng-if="selectedIndex === 2 && vulnerabilities && vulnerabilities.length" ng-click="exportCve()">
          <em
            class="fa fa-file-excel-o xls-color hand"
            style="margin-left:10px;"
          ></em>
          <span class="text-gray-label link">CSV</span>
        </div>
        <div class="pull-right mt-sm mr" ng-click="exportCsv()" ng-if="selectedIndex === 1 && compliance.items && compliance.items.length && !containerErr">
          <em
            class="fa fa-file-excel-o xls-color hand"
            style="margin-left:10px;"
          ></em>
          <span class="text-gray-label link">CSV</span>
        </div>
        <div class="pull-right" ng-if="selectedIndex === 3">
          <div
            class="clearfix mv-sm"
            ng-click="hideExitedProcess = !hideExitedProcess; toggleProcess(hideExitedProcess)"
          >
            <em
              class="fa text-action pull-right mr mt-sm"
              ng-class="hideExitedProcess ? 'fa-eye' : 'fa-eye-slash'"
              uib-tooltip="{{hideExitedProcess ? 'containers.process.SHOW_EXITED' :
              'containers.process.HIDE_EXITED' | translate}}"
            ></em>
          </div>
        </div>
      </div>
      <md-content>
        <md-tabs
          md-no-ink
          md-dynamic-height=""
          md-border-bottom=""
          md-selected="selectedIndex"
          class="p0"
        >
          <md-tab ng-click="stopRefresh()">
            <md-tab-label>
              <em class="fa fa-address-card-o" uib-tooltip="{{'containers.detail.TAB_TITLE' | translate}}" tooltip-enable="{{isSimpleTab}}"/>
              <span ng-show="!isSimpleTab">{{'containers.detail.TAB_TITLE' | translate}}</span>
            </md-tab-label>
            <md-tab-body>
              <md-content
                class="pb0 md-padding no-padding-l no-padding-r no-x-scroll"
                ng-style="{height: detailViewHeight + 'px'}"
              >
                <div class="no-padding-l no-padding-r" style="padding: 5px 22px;">
                  <div class="containers-detail-sec">
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="nv-resources-detail">
                          <div>{{'controllers.detail.ID' | translate}}</div>
                          <div class="icon">
                            <em class="fa fa-credit-card text-primary fa-lg"></em>
                          </div>
                          <div
                            class="auto-hide text-muted"
                            uib-tooltip="{{workload.brief.id}}"
                            tooltip-enable="false"
                            show-tooltip-on-text-overflow
                          >
                            {{workload.brief.id}}
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="nv-resources-detail">
                          <div>{{'network.gridHeader.SERVICE' | translate}}</div>
                          <div class="icon">
                            <em class="fa fa-gears text-primary fa-lg"></em>
                          </div>
                          <div
                            class="auto-hide text-muted"
                            uib-tooltip="{{workload.brief.service}}"
                            tooltip-enable="false"
                            show-tooltip-on-text-overflow
                          >
                            {{workload.brief.service}}
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4" ng-if="workload.rt_attributes.service_account">
                        <div class="nv-resources-detail">
                          <div>{{'network.gridHeader.SERVICE_ACCOUNT' | translate}}</div>
                          <div class="icon">
                            <em class="fa fa-credit-card text-primary fa-lg"></em>
                          </div>
                          <div
                            class="auto-hide text-muted"
                            uib-tooltip="{{workload.rt_attributes.service_account}}"
                            tooltip-enable="false"
                            show-tooltip-on-text-overflow
                          >
                            {{workload.rt_attributes.service_account}}
                          </div>
                        </div>
                      </div>
                    <!-- </div>
                    <div class="row"> -->
                      <div class="col-sm-4" ng-if="workload.rt_attributes.network_mode">
                        <div class="nv-resources-detail">
                          <div>
                            {{'containers.detail.NETWORK_MODE' | translate}}
                          </div>
                          <div class="icon">
                            <em class="fa fa-globe text-primary fa-lg"></em>
                          </div>
                          <div
                            class="auto-hide text-muted"
                            uib-tooltip="{{workload.rt_attributes.network_mode}}"
                            tooltip-enable="false"
                            show-tooltip-on-text-overflow
                          >
                            {{workload.rt_attributes.network_mode}}
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="nv-resources-detail">
                          <div>{{'containers.detail.IMAGE' | translate}}</div>
                          <div class="icon">
                            <em class="fa fa-archive text-primary fa-lg"></em>
                          </div>
                          <div
                            class="auto-hide text-muted"
                            uib-tooltip="{{workload.brief.image}}"
                            tooltip-enable="false"
                            show-tooltip-on-text-overflow
                          >
                            {{workload.brief.image}}
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4" ng-if="workload.security.scan_summary.base_os">
                        <div class="nv-resources-detail">
                          <div>{{'containers.detail.BASE_OS' | translate}}</div>
                          <div class="icon">
                            <em class="fa fa-archive text-primary fa-lg"></em>
                          </div>
                          <div
                            class="auto-hide text-muted"
                            uib-tooltip="{{workload.security.scan_summary.base_os}}"
                            tooltip-enable="false"
                            show-tooltip-on-text-overflow
                          >
                            {{workload.security.scan_summary.base_os}}
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="nv-resources-detail">
                          <div>
                            {{'containers.detail.ROOT_PRIVILEGED' | translate}}
                          </div>
                          <div class="icon">
                            <em
                              class="text-primary fa-lg"
                              ng-class="workload.rt_attributes.privileged ? 'icon-user-unfollow' : 'icon-user-following'"
                            ></em>
                          </div>
                          <div
                            class="auto-hide text-muted"
                            uib-tooltip="{{workload.rt_attributes.privileged}}"
                            tooltip-enable="false"
                            show-tooltip-on-text-overflow
                          >
                            {{workload.rt_attributes.privileged}}
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="nv-resources-detail">
                          <div>{{'containers.detail.ENFORCER' | translate}}</div>
                          <div class="icon">
                            <em class="fa fa-shield text-primary fa-lg"></em>
                          </div>
                          <div
                            class="auto-hide text-muted"
                            uib-tooltip="{{workload.enforcer_name}}"
                            tooltip-enable="false"
                            show-tooltip-on-text-overflow
                          >
                            {{workload.enforcer_name}}
                          </div>
                        </div>
                      </div>
                    <!-- </div>
                    <div class="row"> -->
                      <div class="col-sm-4" ng-if="workload.brief.state === 'exit'">
                        <div class="nv-resources-detail">
                          <div>
                            {{'enforcers.detail.DISCONNECTED_AT' | translate}}
                          </div>
                          <div class="icon">
                            <em class="fa fa-calendar text-warning fa-lg"></em>
                          </div>
                          <div class="auto-hide text-muted"
                          uib-tooltip="{{workload.finished_at | date:'MMM dd, y HH:mm:ss'}}"
                          tooltip-enable="false"
                          show-tooltip-on-text-overflow> {{workload.finished_at |
                            date:'MMM dd, y HH:mm:ss'}}
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                <div
                  ng-if="!isEmpty(workload.rt_attributes.interfaces)"
                  class="containers-detail-sec"
                >
                  <div class="title">
                    {{'containers.detail.NETWORK_INTERFACES' | translate}}
                  </div>
                  <div class="list-details">
                    <div
                      class="row"
                      ng-repeat="(name, nets) in workload.rt_attributes.interfaces"
                    >
                      <div class="col-sm-2 text-right" ng-class-even="'bg-gray'">
                        {{name}}
                      </div>
                      <div class="col-sm-1"></div>
                      <div class="col-sm-9" ng-class-even="'bg-gray'">
                        <div ng-repeat="net in nets" class="text-muted">
                          <div class="col-sm-4">
                            IP:{{net.ip}}/{{net.ip_prefix}}
                          </div>
                          <div class="col-sm-8">
                            {{"general.GATEWAY" | translate}}:{{net.gateway}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  ng-if="workload.rt_attributes.ports.length > 0"
                  class="containers-detail-sec"
                >
                  <div class="title">
                    {{'containers.detail.PORT_MAPPING' | translate}}
                  </div>
                  <div class="list-details">
                    <div
                      class="row m0"
                      ng-repeat="mapping in workload.rt_attributes.ports"
                      ng-class-even="'bg-gray-lighter-1'"
                    >
                      <div class="col-sm-2 text-right">
                        {{mapping.host_ip}}/{{mapping.host_port}}
                      </div>
                      <div class="col-sm-1 text-center">
                        <em
                          class="fa fa-long-arrow-right text-primary fa-lg"
                        ></em>
                      </div>
                      <div class="col-sm-9 text-muted">
                        {{mapping.ip_proto === 6 ? 'TCP' :
                        'UDP'}}/{{mapping.port}}
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  ng-if="!isEmpty(workload.rt_attributes.labels)"
                  class="containers-detail-sec"
                >
                  <div class="title">
                    {{'containers.detail.LABELS' | translate}}
                  </div>
                  <div class="list-details">
                    <div
                      class="table-row"
                      ng-repeat="(label, value) in workload.rt_attributes.labels"
                    >
                      <div class="row m0" ng-class-even="'bg-gray-lighter-1'">
                        <div
                          class="col-sm-4 text-right auto-hide"
                          uib-tooltip="{{label}}"
                          tooltip-enable="false"
                          show-tooltip-on-text-overflow
                        >
                          {{label}}
                        </div>
                        <div class="col-sm-8 text-muted">
                          {{value || "&nbsp;"}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </md-content>
            </md-tab-body>
          </md-tab>
          <md-tab ng-click="getCompliance(workload.brief.id)">
            <md-tab-label>
              <em class="fa fa-gavel" uib-tooltip="{{'cis.tab.COMPLIANCE' | translate}}" tooltip-enable="{{isSimpleTab}}"/>
              <span ng-show="!isSimpleTab">{{'cis.tab.COMPLIANCE' | translate}}</span>
            </md-tab-label>
            <md-tab-body>
              <md-content class="pb0">
                <div
                  ag-grid="complianceGridOptions"
                  class="ag-grid mb0 mt-sm"
                  style="width: 100%;"
                  ng-style="{ height: (detailViewHeight - 5) + 'px'}"
                ></div>
              </md-content>
            </md-tab-body>
          </md-tab>
          <md-tab ng-click="getScanReport(workload.brief.id)">
            <md-tab-label>
              <em class="fa fa-bug" uib-tooltip="{{'sidebar.nav.SCAN' | translate}}" tooltip-enable="{{isSimpleTab}}"/>
              <span ng-show="!isSimpleTab">{{'sidebar.nav.SCAN' | translate}}</span>
            </md-tab-label>
            <md-tab-body>
              <md-content class="pb0">
                <div
                  ag-grid="cveGridOptions"
                  class="ag-grid mb0 mt-sm"
                  style="width: 100%;"
                  ng-style="{height: (detailViewHeight - 5) + 'px'}"
                ></div>
              </md-content>
            </md-tab-body>
          </md-tab>
          <md-tab ng-click="getProcess(workload)">
            <md-tab-label>
              <em class="fa fa-terminal" uib-tooltip="{{'containers.process.TAB_TITLE' | translate}}" tooltip-enable="{{isSimpleTab}}"/>
              <span ng-show="!isSimpleTab">{{'containers.process.TAB_TITLE' | translate}}</span>
            </md-tab-label>
            <md-tab-body>
              <md-content style="padding-bottom: 0;">
                <div
                  ag-grid="procGridOptions"
                  class="ag-grid mb0 mt-sm"
                  style="width: 100%;"
                  ng-style="{height: (detailViewHeight - 5) + 'px'}"
                ></div>
              </md-content>
            </md-tab-body>
          </md-tab>
          <md-tab ng-click="refreshStats(workload.brief.id)">
            <md-tab-label>
              <em class="fa fa-line-chart" uib-tooltip="{{'containers.detail.TAB_STATS' | translate}}" tooltip-enable="{{isSimpleTab}}"/>
              <span ng-show="!isSimpleTab">{{'containers.detail.TAB_STATS' | translate}}</span>
            </md-tab-label>
            <md-tab-body>
              <md-content
                class="pb0"
                ng-style="{height: detailViewHeight + 'px'}"
              >
                <div class="nv-chart">
                  <div
                    class="row mt-xl"
                    ng-show="!statsError && !noStats"
                    style="margin-left: 0; margin-right: 0;"
                  >
                    <div
                      style="clear: right;"
                      id="statsChart"
                      class="col-lg-4"
                      height="300px"
                    >
                      <div class="example">
                        <i class="fa fa-stop chart-color-4" />&nbsp;&nbsp;<span
                          >{{'containers.stats.CPU' | translate}}:
                          {{currCpu}}</span
                        ><br />
                        <i class="fa fa-stop chart-color-5" />&nbsp;&nbsp;<span
                          >{{'containers.stats.MEMORY' | translate}}:
                          {{currMemory}}</span
                        >
                      </div>
                      <div style="height: 200px;">
                        <canvas
                          id="chart1"
                          class="chart chart-line"
                          chart-data="realTimeData1"
                          chart-options="realTimeOptions1"
                          chart-labels="labels1"
                          chart-series="series1"
                          chart-colors="colors"
                          chart-dataset-override="datasetOverride1"
                        />
                      </div>
                    </div>
                    <div
                      style="clear: right;"
                      id="statsChart3"
                      class="col-lg-4"
                      height="300px"
                    >
                      <div class="example">
                        <i class="fa fa-stop chart-color-4" />&nbsp;&nbsp;<span
                          >{{'containers.stats.INCOMING_BYTES' | translate}}:
                          {{currInByte}}</span
                        ><br />
                        <i class="fa fa-stop chart-color-5" />&nbsp;&nbsp;<span
                          >{{'containers.stats.OUTGOING_BYTES' | translate}}:
                          {{currOutByte}}</span
                        >
                      </div>
                      <div style="height: 200px;">
                        <canvas
                          id="chart3"
                          class="chart chart-line"
                          chart-data="realTimeData3"
                          chart-options="realTimeOptions3"
                          chart-labels="labels3"
                          chart-series="series3"
                          chart-colors="colors"
                          chart-dataset-override="datasetOverride3"
                        />
                      </div>
                    </div>
                    <div
                      style="clear: right;"
                      id="statsChart4"
                      class="col-lg-4"
                      height="300px"
                    >
                      <div class="example">
                        <i class="fa fa-stop chart-color-4" />&nbsp;&nbsp;<span
                          >{{'containers.stats.INCOMING_SESSIONS' | translate}}:
                          {{currInSession}}</span
                        ><br />
                        <i class="fa fa-stop chart-color-5" />&nbsp;&nbsp;<span
                          >{{'containers.stats.OUTGOING_SESSIONS' | translate}}:
                          {{currOutSession}}</span
                        >
                      </div>
                      <div style="height: 200px;">
                        <canvas
                          id="chart4"
                          class="chart chart-line"
                          chart-data="realTimeData4"
                          chart-options="realTimeOptions4"
                          chart-labels="labels4"
                          chart-series="series4"
                          chart-colors="colors"
                          chart-dataset-override="datasetOverride4"
                        />
                      </div>
                    </div>
                  </div>
                  <div ng-if="noStats">
                    <div class="nodata-panel">
                      {{'containers.message.NO_STATE' | translate}}
                    </div>
                  </div>
                  <div ng-show="statsError2" class="server-error">
                    <div>
                      <em
                        class="fa fa-times-circle error-signal"
                        aria-hidden="true"
                      ></em>
                    </div>
                    <div>
                      <span class="error-text">
                        {{statsErrMSG}}
                      </span>
                    </div>
                  </div>
                </div>
              </md-content>
            </md-tab-body>
          </md-tab>
        </md-tabs>
      </md-content>
    </div>
  </div>

  <div id="cve" class="dataBox middleLeft pl-sm" ng-show="onCVE">
    <em class="fa fa-times pull-right pr-sm pt-sm" ng-click="onCVE=false"></em>
    <h4>
      {{cveName}}
      <a ng-href="{{cveLink}}" target="_blank"
        ><em class="fa fa-external-link"></em
      ></a>
    </h4>
    <blockquote style="font-size: 13px;">
      <p>{{cveDescription}}</p>
    </blockquote>
  </div>

  <div id="compliance" class="dataBox middleRight pl-sm" style="z-index: 10;" ng-show="onCompliance">
    <em
      class="fa fa-times pull-right pr-sm pt-sm"
      ng-click="onCompliance=false"
    ></em>
    <h4 class="ml-lg">
      {{'cis.REMEDIATION' | translate}}
    </h4>
    <blockquote style="font-size: 13px;">
      <p>{{remediation}}</p>
    </blockquote>
  </div>

  <script type="text/ng-template" id="tooltipTemplate.html">
    <div translate="{{'scan.AUTO_TIP'}}">
    </div>
  </script>
</div>
