<div id="domainInfo" class="infoBox topLeftFloat-domain" cdkDrag>
  <div
    cdkDragHandle
    id="domainInfoHeader"
    class="d-flex align-items-center justify-content-between handle">
    <h4 mat-dialog-title>
      <img
        src="assets/img/icons/graph/domain.svg"
        aria-label="Namespace"
        style="width: 24px; height: 24px"
        alt="domainIcon" />
      {{ domainName }}
    </h4>
    <button
      id="closeGroupInfo"
      (click)="popupState.leave()"
      aria-label="Close icon button"
      class="d-flex align-items-center justify-content-center"
      mat-icon-button>
      <i class="eos-icons">close</i>
    </button>
  </div>
  <hr class="fancy" />
  <ag-grid-angular
    id="domainGrid"
    class="ag-theme-alpine"
    style="width: 100%; height: 213px; margin-top: 10px"
    [rowData]="members"
    [gridOptions]="gridOptions">
  </ag-grid-angular>
</div>
