<div *ngIf="noChartData; then nodata else chart"></div>

<ng-template #chart>
  <div style="height: 250px;">
    <canvas
      [data]="topVulnerableAssetsBarChartConfig.data"
      [labels]="topVulnerableAssetsBarChartConfig.data.labels"
      [options]="topVulnerableAssetsBarChartConfig.options"
      [type]="topVulnerableAssetsBarChartConfig.type"
      baseChart>
    </canvas>
  </div>
</ng-template>

<ng-template #nodata>
  <app-empty-data-chart-replacement
    type="safe"
    [message]="'dashboard.body.message.NO_VULNERABLE_CONTAINER' | translate"
  >
  </app-empty-data-chart-replacement>
</ng-template>
