.nav-item {
  height: 72px;
}

.nav-white {
  color: #fff !important;
}

.nav-border {
  border-left: 1px solid rgba(241, 241, 248, 0.2);
}

.text-gray-light {
  color: #e4eaec;
}

.selected-cluster-text {
  font-size: 16px;
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-weight: bold;
  color: whitesmoke;
  margin-left: 1rem;
}

.skip-to-content {
  background: white;
  height: 30px;
  left: 50%;
  padding: 8px;
  position: absolute;
  transform: translateY(-200%);
  transition: transform 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skip-to-content:focus {
  transform: translateY(0%);
}

.divider {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.4);
}

.profile-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 50%;
}
.avatar {
  margin: 10px;
}

.info{
  margin: auto 0;
  font-size: 0.875em;
  line-height: 2em;
}

.cluster-menu-width {
  width: 210px;
}

.menu-width {
  width: 180px;
}

.brightness-70 {
  filter: brightness(70%);
}

.no-pointer {
  cursor: default;
}
