<div class="nv-dialog screen-area">
  <div class="d-flex justify-content-between align-items-center">
    <h4 mat-dialog-title class="mb-2">
      {{ 'admissionControl.MATCHING_TEST' | translate }}
    </h4>
    <button
      (click)="onCancel()"
      class="mb-2"
      aria-label="Close dialog"
      mat-icon-button>
      <i class="eos-icons">close</i>
    </button>
  </div>
  <hr class="fancy mb-2" />
  <app-import-test-file
    [importUrl]="importUrl"
    [alias]="'matchingTest'"
    (getImportResult)="getImportResult($event)">
  </app-import-test-file>
  <div
    *ngIf="configAssessmentResult && configAssessmentResult.results.length > 0">
    <hr class="my-2" />
    <div (click)="exportCsv()" class="pull-right">
      <em class="eos-icons icon-18 hand margin-right-s">csv_file</em>
    </div>
    <div (click)="exportPdf()" class="pull-right me-2">
      <em class="eos-icons icon-18 hand margin-right-s">print</em>
    </div>
    <div class="d-flex mb-2">
      <div>
        <span class="text-bold me-2"
          >{{ 'admissionControl.GLOBAL_MODE' | translate }}:</span
        >
        <span
          class="type-label policy_mode {{
            MapConstant.colourMap[configAssessmentResult.global_mode]
          }}"
          >{{ utils.getI18Name(configAssessmentResult.global_mode) }}</span
        >
      </div>
    </div>
    <ag-grid-angular
      #agGrid
      id="configuration-assessment-result-grid"
      style="width: 100%; height: 300px"
      class="ag-theme-balham"
      [gridOptions]="gridOptions"
      [rowData]="admissionTestResults">
    </ag-grid-angular>
    <div class="text-muted">
      *&nbsp;{{
        'admissionControl.matchingTestGrid.UNAVAILABLE_PROP'
          | translate
            : {
                propsUnavailable:
                  configAssessmentResult.props_unavailable.join(', '),
              }
      }}
    </div>
  </div>
</div>
