<div class="d-flex align-items-center justify-content-between">
  <h4 mat-dialog-title class="mb-2">
    {{
      (data.isReadOnly ? 'apikey.VIEW' : 'apikey.addApikey.TITLE') | translate
    }}
  </h4>
  <button
    (click)="onNoClick()"
    class="mb-2"
    aria-label="Close dialog"
    mat-icon-button>
    <i class="eos-icons">close</i>
  </button>
</div>
<hr class="fancy" />
<ng-container *ngIf="!apikeyInit; else apikeySuccessTemplate">
  <form (ngSubmit)="submit()" [formGroup]="form">
    <div class="apikey__container">
      <div class="apikey__field">
        <mat-icon
          aria-hidden="false"
          aria-label="API key name icon"
          class="me-3 mb-3 apikey__icon"
          >key
        </mat-icon>
        <mat-form-field class="w-100 mb-0">
          <mat-label>{{ 'apikey.gridHeader.NAME' | translate }}</mat-label>
          <input matInput formControlName="apikey_name" />
          <mat-error *ngIf="form.controls.apikey_name.hasError('required')">
            {{ 'general.REQUIRED' | translate }}
          </mat-error>
          <mat-error *ngIf="form.controls.apikey_name.hasError('pattern')">
            {{ 'apikey.addApikey.NAME_ERROR' | translate }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="apikey__field full">
        <mat-icon
          aria-hidden="false"
          aria-label="Description icon"
          class="me-3 mb-3 apikey__icon"
          >person
        </mat-icon>
        <mat-form-field class="w-100 mb-0">
          <mat-label>{{
            'apikey.gridHeader.DESCRIPTION' | translate
          }}</mat-label>
          <input matInput formControlName="description" />
        </mat-form-field>
      </div>
      <div class="apikey__field">
        <mat-icon
          aria-hidden="false"
          aria-label="Expiration icon"
          class="me-3 mb-3 apikey__icon"
          fontSet="fa"
          fontIcon="fa-calendar-times">
        </mat-icon>
        <mat-form-field
          [ngClass]="selectedExpiration === 'hours' ? 'w-75' : 'w-100'"
          class="mb-0">
          <mat-label>{{ 'apikey.addApikey.EXPIRE' | translate }}</mat-label>
          <mat-select
            formControlName="expiration_type"
            (selectionChange)="changeExpiration(selectedExpiration)">
            <mat-option
              *ngFor="let expOption of expirationOptions"
              [value]="expOption">
              {{ 'apikey.expires.' + expOption.toUpperCase() | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <ng-container *ngIf="selectedExpiration === 'hours'">
          <mat-form-field class="w-10 ms-2 mb-0 mt-4">
            <input matInput formControlName="expiration_hours" />
          </mat-form-field>
          <mat-form-field class="w-15 ms-2 mb-0 mt-3">
            <mat-select
              [(ngModel)]="customExpUnit"
              [ngModelOptions]="{ standalone: true }"
              [disabled]="!!data.isReadOnly"
              (selectionChange)="changeExpUnit()">
              <mat-option
                *ngFor="let expUnit of customExpUnits"
                [value]="expUnit">
                {{ 'apikey.expires.time.' + expUnit.toUpperCase() | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>
      </div>
      <div class="apikey__field ms-3">
        <mat-icon
          aria-hidden="false"
          aria-label="Role icon"
          class="me-3 mb-3 apikey__icon"
          fontSet="fa"
          fontIcon="fa-user-secret">
        </mat-icon>
        <mat-form-field class="w-25 mb-0">
          <mat-label>{{ 'apikey.gridHeader.ROLE' | translate }}</mat-label>
          <mat-select formControlName="role">
            <mat-option *ngFor="let role of data.globalRoles" [value]="role">
              {{ role ? role : 'none' }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div
        class="apikey__field full no-gap"
        *ngIf="selectedExpiration === 'never'">
        <mat-hint class="type-label px-1 view-permission mb-2">
          {{ 'apikey.expires.WARNING' | translate }}
        </mat-hint>
      </div>
    </div>
    <button
      (click)="toggleAdvSetting = !toggleAdvSetting"
      class="me-2 my-2"
      id="add-apikey-dialog-adv-setting"
      mat-stroked-button
      type="button"
      *ngIf="
        isKube && !['admin', 'fedAdmin', ''].includes(form.controls.role.value)
      ">
      {{
        (toggleAdvSetting ? 'user.HIDE_ADV_SETTING' : 'user.SHOW_ADV_SETTING')
          | translate
      }}
    </button>
    <app-group-domain-role-table
      [activeRole]="activeRole"
      [dataSource]="domainTableSource"
      [domains]="data.domains"
      [global_role]="selectedRole"
      [group_roles]="data.domainRoles"
      [hidden]="!showAdvSetting"
      [isReadOnly]="data.isReadOnly || false"></app-group-domain-role-table>
    <div class="d-flex justify-content-end" *ngIf="!data.isReadOnly">
      <button
        (click)="onNoClick()"
        class="me-2"
        id="add-apikey-dialog-cancel"
        mat-button
        type="button">
        {{ 'apikey.addApikey.CANCEL' | translate }}
      </button>
      <app-loading-button
        [disabled]="
          form.invalid ||
          (selectedRole === '' && domainTableEmpty) ||
          !!(saving$ | async)
        "
        [loading]="!!(saving$ | async)"
        [text]="'apikey.addApikey.ADD' | translate"
        appearance="mat-raised-button"
        buttonClasses="me-1"
        color="primary"
        id="add-apikey-dialog-submit"
        type="submit">
      </app-loading-button>
    </div>
  </form>
</ng-container>
<ng-template #apikeySuccessTemplate>
  <div class="apikey__container">
    <div class="apikey__field full">
      {{ 'apikey.msg.CREATED' | translate }}
    </div>
    <div class="apikey__field full">
      <mat-icon
        aria-hidden="false"
        aria-label="API key name icon"
        class="me-3 mb-3 apikey__icon"
        >key
      </mat-icon>
      <mat-form-field class="w-75" appearance="outline">
        <mat-label>{{ 'apikey.gridHeader.NAME' | translate }}</mat-label>
        <input
          matInput
          [ngModel]="apikeyInit.apikey_name"
          [ngModelOptions]="{ standalone: true }"
          readonly />
        <button
          matSuffix
          [cdkCopyToClipboard]="apikeyInit.apikey_name"
          class="d-flex justify-content-center align-items-center"
          mat-stroked-button
          type="button">
          <i class="eos-icons">content_copy</i>
          {{ 'apikey.addApikey.COPY' | translate }}
        </button>
      </mat-form-field>
    </div>
    <div class="apikey__field full">
      <mat-icon
        aria-hidden="false"
        aria-label="Secret Key icon"
        class="me-3 mb-3 apikey__icon"
        >key
      </mat-icon>
      <mat-form-field class="w-75" appearance="outline">
        <mat-label>{{ 'apikey.addApikey.SECRET' | translate }}</mat-label>
        <input
          matInput
          [ngModel]="apikeyInit.apikey_secret"
          [ngModelOptions]="{ standalone: true }"
          readonly />
        <button
          matSuffix
          [cdkCopyToClipboard]="apikeyInit.apikey_secret"
          class="d-flex justify-content-center align-items-center"
          mat-stroked-button
          type="button">
          <i class="eos-icons">content_copy</i>
          {{ 'apikey.addApikey.COPY' | translate }}
        </button>
      </mat-form-field>
    </div>
    <div class="apikey__field full no-gap flex-col">
      {{ 'apikey.msg.AUTH_INSTRUCTION' | translate }}
      <code class="mt-1">{{
        'apikey.msg.AUTH_CODE' | translate : { apikey: bearerToken }
      }}</code>
    </div>
    <div class="apikey__field full">
      <mat-icon
        aria-hidden="false"
        aria-label="Bearer Token icon"
        class="me-3 mb-3 apikey__icon"
        >key
      </mat-icon>
      <mat-form-field class="w-75" appearance="outline">
        <mat-label>{{ 'apikey.addApikey.TOKEN' | translate }}</mat-label>
        <input
          matInput
          [ngModel]="bearerToken"
          [ngModelOptions]="{ standalone: true }"
          readonly />
        <button
          matSuffix
          [cdkCopyToClipboard]="bearerToken"
          class="d-flex justify-content-center align-items-center"
          mat-stroked-button
          type="button">
          <i class="eos-icons">content_copy</i>
          {{ 'apikey.addApikey.COPY' | translate }}
        </button>
      </mat-form-field>
    </div>
    <div class="apikey__field full">
      <mat-hint class="type-label px-1 view-permission">
        {{ 'apikey.msg.SAVE_WARNING' | translate }}
      </mat-hint>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <button
      (click)="onNoClick(true)"
      class="me-1"
      id="add-apikey-dialog-done"
      mat-raised-button
      color="primary"
      type="button">
      {{ 'apikey.addApikey.DONE' | translate }}
    </button>
  </div>
</ng-template>
