<div class="d-flex flex-row justify-content-end align-items-center">
  <button
    (click)="onToggleSafeModules()"
    class="d-flex align-items-center"
    mat-button>
    <i class="eos-icons me-2">{{
      hideSafeModules ? 'visibility' : 'visibility_off'
    }}</i
    >{{
      hideSafeModules
        ? ('registry.SHOW_ALL_MODULES' | translate)
        : ('registry.HIDE_SAFE_MODULES' | translate)
    }}
  </button>
  <button (click)="exportCSV()" mat-button>
    <i class="eos-icons icon-18">csv_file</i>
  </button>
</div>
<div class="row registry-modules-row me-0">
  <div class="col-12">
    <app-modules-charts [modules]="modules"></app-modules-charts>
  </div>
  <div class="col-12 row">
    <div class="col-12 col-lg-8 mt-2">
      <app-modules-table
        (moduleSelected)="moduleSelected($event)"
        [resize]="resize"
        [rowData]="modules"
        [hideSafeModules]="hideSafeModules"></app-modules-table>
    </div>
    <div class="col-12 col-lg-4 mt-2">
      <app-vulnerabilities-table
        [resize]="resize"
        [rowData]="cves"
        [vulnerabilities]="vulnerabilities"></app-vulnerabilities-table>
    </div>
  </div>
</div>
