<ng-container *ngIf="status === 'failed'; else Default">
  <div class="row" style="width: 100%;">
    <div class="col-7">
      <span class="badge" [class]="'badge-' + labelCode"
        [matMenuTriggerFor]="errorMessageInfoMenu">
        {{ status | titlecase }}
      </span>
    </div>
    <div class="col-5">
      <button mat-button class="error-message-info" [matMenuTriggerFor]="errorMessageInfoMenu">
        <em class="eos-icons icon-18 text-muted">info</em>
      </button>
    </div>
  </div>
</ng-container>
<ng-template #Default>
  <span class="badge" [class]="'badge-' + labelCode">
    {{ status | titlecase }}
  </span>
</ng-template>

<mat-menu #errorMessageInfoMenu="matMenu" class="error-message">
  <div class="error-message-content" (click)="onMenuClick($event)">
    <span>
      {{ result }}
    </span>
  </div>
</mat-menu>
