<div class="d-flex align-items-center justify-content-start">
  <h1 mat-dialog-title>{{ 'registry.TEST_REPO' | translate }}</h1>
</div>
<formly-form
  [fields]="fields"
  [form]="form"
  [model]="model"
  [options]="options"></formly-form>
<div class="mt-4" style="height: 4px">
  <mat-progress-bar
    *ngIf="testingSwitch"
    mode="indeterminate"></mat-progress-bar>
</div>
<ag-grid-angular
  [gridOptions]="gridOptions"
  class="ag-theme-alpine mb-4"
  style="width: 100%; height: 350px">
</ag-grid-angular>
<div class="d-flex justify-content-between align-items-center">
  <button
    (click)="downloadTxt()"
    [disabled]="testingSwitch || !gridData.length"
    class="d-flex justify-content-center align-items-center"
    mat-button>
    <i class="eos-icons" id="test-connection-download-text-button">
      description
    </i>
    TXT
  </button>
  <div class="d-flex">
    <button
      (click)="onNoClick()"
      class="me-2"
      id="test-connection-cancel-button"
      mat-stroked-button
      type="button">
      {{ 'registry.BACK' | translate }}
    </button>
    <button
      *ngIf="options.formState.filtersChanged"
      (click)="onNoClick(true)"
      class="me-2"
      id="test-connection-copy-filters-button"
      mat-stroked-button
      type="button">
      {{ 'registry.BACK_COPY_FILTER' | translate }}
    </button>
    <button
      (click)="testConnection()"
      *ngIf="!testingSwitch"
      class="me-1 d-flex justify-content-center align-items-center"
      color="primary"
      id="test-connection-start-test-button"
      mat-raised-button
      type="button">
      <i class="eos-icons me-2">flask</i>{{ 'registry.START_TEST' | translate }}
    </button>
    <button
      (click)="stopTest()"
      *ngIf="testingSwitch"
      class="me-1 d-flex justify-content-center align-items-center"
      color="primary"
      id="test-connection-stop-test-button"
      mat-raised-button
      type="button">
      <i class="eos-icons me-2">block</i>{{ 'registry.STOP_TEST' | translate }}
    </button>
  </div>
</div>
